@import '@zendesk/garden-css-variables';

:root {
  --zd-backdrop-background-color: color(var(--zd-color-black) alpha(65%));
  --zd-backdrop-z-index: 400;
}

.l-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zd-backdrop-z-index);
  background-color: var(--zd-backdrop-background-color);
  overflow: auto;
  -webkit-overflow-scrolling: touch; /* smooth iOS scrolling */
}

.l-backdrop.is-visible {
  /* stylelint-disable no-unknown-animations */
  animation: zd-backdrop-visible .15s ease-in;
  /* stylelint-enable no-unknown-animations */
}
