@import 'zd-css-variables';

:root {
  --zd-dialog__body-color: var(--zd-color-aluminum);
  --zd-dialog__body-font-size: var(--zd-font-size-epsilon);
  --zd-dialog__body-line-height: 1.42857;
}

.c-dialog__body {
  line-height: var(--zd-dialog__body-line-height);
  color: var(--zd-dialog__body-color);
  font-size: var(--zd-dialog__body-font-size);
}
