@import '@zendesk/garden-css-variables';

:root {
  /* stylelint-disable no-unsupported-browser-features */
  --zd-dialog__close-background-image: svg-load('14-remove.svg', color: var(--zd-color-gainsboro));
  --zd-dialog__close-background:
    no-repeat
    center/var(--zd-spacing)
    var(--zd-dialog__close-background-image)
    transparent; /* [1] */
  --zd-dialog__close-right: var(--zd-spacing);
  --zd-dialog__close-size: var(--zd-spacing-xl);
  --zd-dialog__close-top: var(--zd-spacing-sm);
  --zd-dialog__close-transition:
    background-color .1s ease-in-out,
    background-image .25s ease-in-out;
  --zd-dialog__close-hovered-background-image: svg-load('14-remove.svg', color: var(--zd-color-dark-gray));
  --zd-dialog__close-focused-background-color: var(--zd-color-platinum);
  /* stylelint-enable no-unsupported-browser-features */
}

/* 1. Reset for <button> element.
 * 2. Reset for <a>nchor element.
 */
.c-dialog__close {
  display: block;
  position: absolute;
  top: var(--zd-dialog__close-top);
  right: var(--zd-dialog__close-right);
  transition: var(--zd-dialog__close-transition);
  border: none; /* [1] */
  border-radius: 50%;
  background: var(--zd-dialog__close-background);
  cursor: pointer;
  width: var(--zd-dialog__close-size);
  height: var(--zd-dialog__close-size);
  overflow: hidden;
  text-decoration: none; /* [2] */
  font-size: 0; /* [2] */
  user-select: none;
}

@custom-selector :--hovered
  .is-hovered,
  .is-focused,
  :hover;

.c-dialog__close:--hovered {
  background-image: var(--zd-dialog__close-hovered-background-image);
}

@custom-selector :--focused
  .is-focused,
  :focus;

.c-dialog__close:--focused {
  outline: none;
  background-color: var(--zd-dialog__close-focused-background-color);
}

@custom-selector :--active
  .is-active,
  :active;

.c-dialog__close:active {
  background-color: transparent;
}

.c-dialog.is-rtl .c-dialog__close {
  right: auto;
  left: var(--zd-dialog__close-right);
}
