@import 'zd-css-variables';

:root {
  --zd-dialog__footer-margin-top: var(--zd-spacing-lg);
  --zd-dialog__footer-text-align: right;
}

.c-dialog__footer {
  display: block;
  margin-top: var(--zd-dialog__footer-margin-top);
  text-align: var(--zd-dialog__footer-text-align);
}
