@import 'zd-css-variables';

:root {
  --zd-dialog__footer-padding: 0 var(--zd-spacing-xl) var(--zd-spacing-lg);
}

.c-dialog__footer {
  display: block;
  padding: var(--zd-dialog__footer-padding);
  text-align: right;
}

.c-dialog.is-rtl .c-dialog__footer {
  text-align: left;
}
