@import 'zd-css-variables';

:root {
  --zd-dialog__footer-margin-top: var(--zd-dialog-padding-bottom);
}

.c-dialog__footer {
  display: block;
  margin-top: var(--zd-dialog__footer-margin-top);
  text-align: right;
}

.c-dialog.is-rtl .c-dialog__footer {
  text-align: left;
}
