:root {
  --zd-dialog-animation-transform: scale(1.05);
}

@keyframes zd-backdrop-visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zd-dialog-open {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: var(--zd-dialog-animation-transform);
  }

  100% {
    opacity: 1;
  }
}

@keyframes zd-dialog--center-open {
  0% {
    transform: scale(0) var(--zd-dialog--center-transform);
    opacity: 0;
  }

  50% {
    transform:
      var(--zd-dialog-animation-transform)
      var(--zd-dialog--center-transform);
  }

  100% {
    opacity: 1;
  }
}

@keyframes zd-dialog--center-small-height-open {
  0% {
    transform: scale(0) var(--zd-dialog--center-small-height-transform);
    opacity: 0;
  }

  50% {
    transform:
      var(--zd-dialog-animation-transform)
      var(--zd-dialog--center-small-height-transform);
  }

  100% {
    opacity: 1;
  }
}

@keyframes zd-dialog--center-small-width-open {
  0% {
    transform: scale(0) var(--zd-dialog--center-small-width-transform);
    opacity: 0;
  }

  50% {
    transform:
      var(--zd-dialog-animation-transform)
      var(--zd-dialog--center-small-width-transform);
  }

  100% {
    opacity: 1;
  }
}

@keyframes zd-dialog--center-small-open {
  0% {
    transform: scale(0) var(--zd-dialog--center-small-transform);
    opacity: 0;
  }

  50% {
    transform:
      var(--zd-dialog-animation-transform)
      var(--zd-dialog--center-small-transform);
  }

  100% {
    opacity: 1;
  }
}
