@import '@zendeskgarden/css-variables';

:root {
  --zd-forms-accent-color: var(--zd-color-blue-600);
  --zd-forms-border-color: var(--zd-color-grey-300);
  --zd-forms-disabled-color: var(--zd-color-grey-400);
  --zd-forms-disabled-background-color: var(--zd-color-grey-100);
  --zd-forms-focused-box-shadow-spread-radius: 3px;
  --zd-forms-focused-box-shadow:
    0 0 0 var(--zd-forms-focused-box-shadow-spread-radius)
    color-mod(var(--zd-forms-accent-color) alpha(35%));
  --zd-forms-hovered-border-color: var(--zd-color-blue-400);
  --zd-forms-error-color: var(--zd-color-red-400);
  --zd-forms-success-color: var(--zd-color-green-400);
  --zd-forms-warning-color: var(--zd-color-yellow-400);
  --zd-input__hint-color: var(--zd-color-grey-600);
  --zd-input__hint-font-size: var(--zd-font-size-md);
  --zd-input__label-color: var(--zd-color-grey-800);
  --zd-input__label-font-size: var(--zd-font-size-md);
  --zd-input__label-font-weight: var(--zd-font-weight-semibold);
  --zd-input__message-color: var(--zd-color-grey-700);
  --zd-input__message-font-size: var(--zd-font-size-sm);
  --zd-input__message--error-background-image: svg-load('16/alert-error-stroke.svg', color: var(--zd-color-red-600));
  --zd-input__message--error-color: var(--zd-color-red-600);
  --zd-input__message--success-background-image: svg-load('16/check-circle-stroke.svg', color: var(--zd-color-green-600));
  --zd-input__message--success-color: var(--zd-color-green-600);
  --zd-input__message--warning-background-image: svg-load('16/alert-warning-stroke.svg', color: var(--zd-color-yellow-700));
  --zd-input__message--warning-color: var(--zd-color-yellow-700);
}
