/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';
@import '_checkbox/_selectors';
@import '_range/_selectors';
@import '_text/_selectors';

:root {
  --zd-forms--custom-accent-color: var(--zd-color-guide-pink);
  --zd-forms--custom-accent-color-active: color-mod(var(--zd-forms--custom-accent-color) blackness(+10%));
  --zd-forms--custom-box-shadow:
    0 0 0 3px
    color-mod(var(--zd-forms--custom-accent-color) alpha(40%));
  --zd-forms--custom-box-shadow-inset: inset var(--zd-forms--custom-box-shadow);
  --zd-range--custom-track-background-image: linear-gradient(var(--zd-forms--custom-accent-color), var(--zd-forms--custom-accent-color));
}

/* HACK [jtz] until postcss/postcss-custom-selectors#40 is fixed */
/* stylelint-disable selector-list-comma-space-after, max-line-length */
:--chk-checked-enabled.c-chk__label--custom::before,:--chk-indeterminate-enabled.c-chk__label--custom::before {
  border-color: var(--zd-forms--custom-accent-color);
  background-color: var(--zd-forms--custom-accent-color);
}

:--chk-hovered.c-chk__label--custom::before {
  border-color: var(--zd-forms--custom-accent-color);
}

:--chk-focused.c-chk__label--custom::before {
  border-color: var(--zd-forms--custom-accent-color);
  box-shadow: var(--zd-forms--custom-box-shadow);
}

:--chk-active.c-chk__label--custom::before {
  border-color: var(--zd-forms--custom-accent-color);
}

/* HACK [jtz] until postcss/postcss-custom-selectors#40 is fixed */
:--chk-checked-active.c-chk__label--custom::before,:--chk-indeterminate-active.c-chk__label--custom::before {
  border-color: var(--zd-forms--custom-accent-color-active);
  background-color: var(--zd-forms--custom-accent-color-active);
}
/* stylelint-enable selector-list-comma-space-after, max-line-length */

/* stylelint-disable selector-pseudo-element-no-unknown */

.c-range__input--custom::range-track {
  background-image: var(--zd-range--custom-track-background-image);
}

.c-range__slider--custom .c-range__slider__track {
  background-image: var(--zd-range--custom-track-background-image);
}

.c-range__input--custom::range-thumb {
  border-color: var(--zd-forms--custom-accent-color);
  background-color: var(--zd-forms--custom-accent-color);
}

.c-range__slider--custom .c-range__slider__track__rail__thumb {
  border-color: var(--zd-forms--custom-accent-color);
  background-color: var(--zd-forms--custom-accent-color);
}

.c-range__input--custom::range-lower {
  background-color: var(--zd-forms--custom-accent-color);
}

.c-range__input--custom:--range-focused::range-thumb {
  box-shadow: var(--zd-forms--custom-box-shadow);
}

/* stylelint-disable max-line-length, selector-max-specificity */

.c-range__slider--custom:not(.is-disabled) .c-range__slider__track__rail__thumb.is-focused {
  box-shadow: var(--zd-forms--custom-box-shadow);
}

.c-range__input--custom:--range-active::range-thumb {
  background-color: var(--zd-forms--custom-accent-color-active);
}

.c-range__slider--custom:not(.is-disabled) .c-range__slider__track__rail__thumb:active,
.c-range__slider--custom.is-active:not(.is-disabled) .c-range__slider__track__rail__thumb:first-of-type {
  background-color: var(--zd-forms--custom-accent-color-active);
}

/* stylelint-enable selector-pseudo-element-no-unknown */

.c-txt__input--custom:not(.c-txt__input--error):not(.c-txt__input--success):not(.c-txt__input--warning):--txt-hovered:not(.c-txt__input--bare),
.c-txt__input--custom:not(.c-txt__input--error):not(.c-txt__input--success):not(.c-txt__input--warning):--txt-focused:not(.c-txt__input--bare) {
  border-color: var(--zd-forms--custom-accent-color);
}

.c-txt__input--custom:not(.c-txt__input--error):not(.c-txt__input--success):not(.c-txt__input--warning):--txt-focused:not(.c-txt__input--bare) {
  box-shadow: var(--zd-forms--custom-box-shadow);
}

.c-txt__input--custom.c-txt__input--focus-inset:not(.c-txt__input--error):not(.c-txt__input--success):not(.c-txt__input--warning):--txt-focused:not(.c-txt__input--bare) {
  box-shadow: var(--zd-forms--custom-box-shadow-inset);
}

/* stylelint-enable max-line-length, selector-max-specificity */
