@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-din-next-rounded-bold-fallback-woff: 490183da704b891561b64e4eedec76c2.woff;
  --zd-din-next-rounded-bold-fallback-woff2: 8cb6eabaf8520452b8d05d81d8a055b5.woff2;
  --zd-din-next-rounded-bold-latin-ext-woff: 6762c81072ff2cf2e0a1a43e5f89d8f0.woff;
  --zd-din-next-rounded-bold-latin-ext-woff2: 85161783bcfa6951fef38831237a0ba1.woff2;
  --zd-din-next-rounded-bold-latin-woff: b36fbc90c20503563a14d945db8a397a.woff;
  --zd-din-next-rounded-bold-latin-woff2: 9416e728fa0d66efaaeaddae84f14c80.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-bold-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-bold-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-bold-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-bold-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-bold-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-bold-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
