@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-din-next-rounded-light-fallback-woff: a47033b737afce1e86bf9622d108d60f.woff;
  --zd-din-next-rounded-light-fallback-woff2: afa923796cc9e60502f8322343eb4ded.woff2;
  --zd-din-next-rounded-light-latin-ext-woff: 611ca7ef6fa631676296f84c90968e70.woff;
  --zd-din-next-rounded-light-latin-ext-woff2: 653e1e1195589287c074c78047c58373.woff2;
  --zd-din-next-rounded-light-latin-woff: 8fc71e6a6e180b5eb4c7a10e0ee50370.woff;
  --zd-din-next-rounded-light-latin-woff2: 124318a0c0d6b4dc891282183480ee38.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-light-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-light-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-light-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-light-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-light-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-light-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
