@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-din-next-rounded-medium-fallback-woff: 4c88f27bd4e6e5a8836a1a20f07a558d.woff;
  --zd-din-next-rounded-medium-fallback-woff2: 41cba937daf4df71e8ba66ec75c47801.woff2;
  --zd-din-next-rounded-medium-latin-ext-woff: 50c69b482ce808e0b4394eb7808adb14.woff;
  --zd-din-next-rounded-medium-latin-ext-woff2: c82c1e4f2b7c4ee964b541a65dfdccbc.woff2;
  --zd-din-next-rounded-medium-latin-woff: 84031a94955aebf62ee57375ef786940.woff;
  --zd-din-next-rounded-medium-latin-woff2: f26ee78ae78ab317dcf8497693d76ea2.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-medium-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-medium-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-medium);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-medium-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-medium-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-medium);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-medium-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-medium-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-medium);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
