@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-din-next-rounded-regular-fallback-woff: 53d8f7db7229b8ee02acc366a8b96247.woff;
  --zd-din-next-rounded-regular-fallback-woff2: a87129e1a59f45bcd6a54000f29f5b88.woff2;
  --zd-din-next-rounded-regular-latin-ext-woff: 33b870208f38a823b95138e0039e911e.woff;
  --zd-din-next-rounded-regular-latin-ext-woff2: e2b0aa58313c5e08e25b7596bb42caa8.woff2;
  --zd-din-next-rounded-regular-latin-woff: 7e61b0a1f6085f85e6493db3a144eb59.woff;
  --zd-din-next-rounded-regular-latin-woff2: a27beb1ffe62c2834a0d04b36918e40d.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-regular-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-regular-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-regular-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-regular-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-din-next-rounded);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-regular-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-rounded-regular-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
