/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

/* stylelint-disable declaration-no-important */
.u-border { border: 1px solid !important; }

.u-border-b { border-bottom: 1px solid !important; }

.u-border-h {
  border-right: 1px solid !important;
  border-left: 1px solid !important;
}

.u-border-l { border-left: 1px solid !important; }

.u-border-r { border-right: 1px solid !important; }

.u-border-t { border-top: 1px solid !important; }

.u-border-v {
  border-top: 1px solid !important;
  border-bottom: 1px solid !important;
}
/* stylelint-enable declaration-no-important */
