/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';

/* stylelint-disable declaration-no-important */

/* Background Colors */

.u-bg-algae { background-color: var(--zd-color-algae) !important; }

.u-bg-aluminum { background-color: var(--zd-color-aluminum) !important; }

.u-bg-anti-flash-white { background-color: var(--zd-color-anti-flash-white) !important; }

.u-bg-apple-green { background-color: var(--zd-color-apple-green) !important; }

.u-bg-apricot { background-color: var(--zd-color-apricot) !important; }

.u-bg-black { background-color: var(--zd-color-black) !important; }

.u-bg-breaker-bay { background-color: var(--zd-color-breaker-bay) !important; }

.u-bg-buttermilk { background-color: var(--zd-color-buttermilk) !important; }

.u-bg-chateau-green { background-color: var(--zd-color-chateau-green) !important; }

.u-bg-columbia-blue { background-color: var(--zd-color-columbia-blue) !important; }

.u-bg-cool-blue { background-color: var(--zd-color-cool-blue) !important; }

.u-bg-creme-brulee { background-color: var(--zd-color-creme-brulee) !important; }

.u-bg-cupid { background-color: var(--zd-color-cupid) !important; }

.u-bg-current-color { background-color: currentColor !important; }

.u-bg-daintree { background-color: var(--zd-color-daintree) !important; }

.u-bg-dandelion { background-color: var(--zd-color-dandelion) !important; }

.u-bg-dark-gray { background-color: var(--zd-color-dark-gray) !important; }

.u-bg-flamingo { background-color: var(--zd-color-flamingo) !important; }

.u-bg-gainsboro { background-color: var(--zd-color-gainsboro) !important; }

.u-bg-golden-dream { background-color: var(--zd-color-golden-dream) !important; }

.u-bg-inherit { background-color: inherit !important; }

.u-bg-iron { background-color: var(--zd-color-iron) !important; }

.u-bg-karl { background-color: var(--zd-color-karl) !important; }

.u-bg-light-crimson { background-color: var(--zd-color-light-crimson) !important; }

.u-bg-magic-mint { background-color: var(--zd-color-magic-mint) !important; }

.u-bg-mandy { background-color: var(--zd-color-mandy) !important; }

.u-bg-marigold { background-color: var(--zd-color-marigold) !important; }

.u-bg-maya-blue { background-color: var(--zd-color-maya-blue) !important; }

.u-bg-monsoon { background-color: var(--zd-color-monsoon) !important; }

.u-bg-nero { background-color: var(--zd-color-nero) !important; }

.u-bg-oil { background-color: var(--zd-color-oil) !important; }

.u-bg-orange-peel { background-color: var(--zd-color-orange-peel) !important; }

.u-bg-palatinate-blue { background-color: var(--zd-color-palatinate-blue) !important; }

.u-bg-pale-turquoise { background-color: var(--zd-color-pale-turquoise) !important; }

.u-bg-pelorous { background-color: var(--zd-color-pelorous) !important; }

.u-bg-perano { background-color: var(--zd-color-perano) !important; }

.u-bg-persian-green { background-color: var(--zd-color-persian-green) !important; }

.u-bg-persimmon { background-color: var(--zd-color-persimmon) !important; }

.u-bg-pink-orange { background-color: var(--zd-color-pink-orange) !important; }

.u-bg-platinum { background-color: var(--zd-color-platinum) !important; }

.u-bg-portland-orange { background-color: var(--zd-color-portland-orange) !important; }

.u-bg-razzmatazz { background-color: var(--zd-color-razzmatazz) !important; }

.u-bg-saffron-mango { background-color: var(--zd-color-saffron-mango) !important; }

.u-bg-sea-buckthorn { background-color: var(--zd-color-sea-buckthorn) !important; }

.u-bg-shamrock { background-color: var(--zd-color-shamrock) !important; }

.u-bg-sherpa-blue { background-color: var(--zd-color-sherpa-blue) !important; }

.u-bg-silver-sand { background-color: var(--zd-color-silver-sand) !important; }

.u-bg-snow { background-color: var(--zd-color-snow) !important; }

.u-bg-submarine { background-color: var(--zd-color-submarine) !important; }

.u-bg-transparent { background-color: transparent !important; }

.u-bg-ultramarine-blue { background-color: var(--zd-color-ultramarine-blue) !important; }

.u-bg-verdigris { background-color: var(--zd-color-verdigris) !important; }

.u-bg-viking { background-color: var(--zd-color-viking) !important; }

.u-bg-white { background-color: var(--zd-color-white) !important; }

.u-bg-white-smoke { background-color: var(--zd-color-white-smoke) !important; }

/* Foreground Colors */

.u-fg-algae { color: var(--zd-color-algae) !important; }

.u-fg-aluminum { color: var(--zd-color-aluminum) !important; }

.u-fg-anti-flash-white { color: var(--zd-color-anti-flash-white) !important; }

.u-fg-apple-green { color: var(--zd-color-apple-green) !important; }

.u-fg-apricot { color: var(--zd-color-apricot) !important; }

.u-fg-black { color: var(--zd-color-black) !important; }

.u-fg-breaker-bay { color: var(--zd-color-breaker-bay) !important; }

.u-fg-buttermilk { color: var(--zd-color-buttermilk) !important; }

.u-fg-chateau-green { color: var(--zd-color-chateau-green) !important; }

.u-fg-columbia-blue { color: var(--zd-color-columbia-blue) !important; }

.u-fg-cool-blue { color: var(--zd-color-cool-blue) !important; }

.u-fg-creme-brulee { color: var(--zd-color-creme-brulee) !important; }

.u-fg-cupid { color: var(--zd-color-cupid) !important; }

.u-fg-daintree { color: var(--zd-color-daintree) !important; }

.u-fg-dandelion { color: var(--zd-color-dandelion) !important; }

.u-fg-dark-gray { color: var(--zd-color-dark-gray) !important; }

.u-fg-flamingo { color: var(--zd-color-flamingo) !important; }

.u-fg-gainsboro { color: var(--zd-color-gainsboro) !important; }

.u-fg-golden-dream { color: var(--zd-color-golden-dream) !important; }

.u-fg-inherit { color: inherit !important; }

.u-fg-iron { color: var(--zd-color-iron) !important; }

.u-fg-karl { color: var(--zd-color-karl) !important; }

.u-fg-light-crimson { color: var(--zd-color-light-crimson) !important; }

.u-fg-magic-mint { color: var(--zd-color-magic-mint) !important; }

.u-fg-mandy { color: var(--zd-color-mandy) !important; }

.u-fg-marigold { color: var(--zd-color-marigold) !important; }

.u-fg-maya-blue { color: var(--zd-color-maya-blue) !important; }

.u-fg-monsoon { color: var(--zd-color-monsoon) !important; }

.u-fg-nero { color: var(--zd-color-nero) !important; }

.u-fg-oil { color: var(--zd-color-oil) !important; }

.u-fg-orange-peel { color: var(--zd-color-orange-peel) !important; }

.u-fg-palatinate-blue { color: var(--zd-color-palatinate-blue) !important; }

.u-fg-pale-turquoise { color: var(--zd-color-pale-turquoise) !important; }

.u-fg-pelorous { color: var(--zd-color-pelorous) !important; }

.u-fg-perano { color: var(--zd-color-perano) !important; }

.u-fg-persian-green { color: var(--zd-color-persian-green) !important; }

.u-fg-persimmon { color: var(--zd-color-persimmon) !important; }

.u-fg-pink-orange { color: var(--zd-color-pink-orange) !important; }

.u-fg-platinum { color: var(--zd-color-platinum) !important; }

.u-fg-portland-orange { color: var(--zd-color-portland-orange) !important; }

.u-fg-razzmatazz { color: var(--zd-color-razzmatazz) !important; }

.u-fg-saffron-mango { color: var(--zd-color-saffron-mango) !important; }

.u-fg-sea-buckthorn { color: var(--zd-color-sea-buckthorn) !important; }

.u-fg-shamrock { color: var(--zd-color-shamrock) !important; }

.u-fg-sherpa-blue { color: var(--zd-color-sherpa-blue) !important; }

.u-fg-silver-sand { color: var(--zd-color-silver-sand) !important; }

.u-fg-snow { color: var(--zd-color-snow) !important; }

.u-fg-submarine { color: var(--zd-color-submarine) !important; }

.u-fg-transparent { color: transparent !important; }

.u-fg-ultramarine-blue { color: var(--zd-color-ultramarine-blue) !important; }

.u-fg-verdigris { color: var(--zd-color-verdigris) !important; }

.u-fg-viking { color: var(--zd-color-viking) !important; }

.u-fg-white { color: var(--zd-color-white) !important; }

.u-fg-white-smoke { color: var(--zd-color-white-smoke) !important; }

/* Border Colors */

.u-bc-algae { border-color: var(--zd-color-algae) !important; }

.u-bc-aluminum { border-color: var(--zd-color-aluminum) !important; }

.u-bc-anti-flash-white { border-color: var(--zd-color-anti-flash-white) !important; }

.u-bc-apple-green { border-color: var(--zd-color-apple-green) !important; }

.u-bc-apricot { border-color: var(--zd-color-apricot) !important; }

.u-bc-black { border-color: var(--zd-color-black) !important; }

.u-bc-breaker-bay { border-color: var(--zd-color-breaker-bay) !important; }

.u-bc-buttermilk { border-color: var(--zd-color-buttermilk) !important; }

.u-bc-chateau-green { border-color: var(--zd-color-chateau-green) !important; }

.u-bc-columbia-blue { border-color: var(--zd-color-columbia-blue) !important; }

.u-bc-cool-blue { border-color: var(--zd-color-cool-blue) !important; }

.u-bc-creme-brulee { border-color: var(--zd-color-creme-brulee) !important; }

.u-bc-cupid { border-color: var(--zd-color-cupid) !important; }

.u-bc-current-color { border-color: currentColor !important; }

.u-bc-daintree { border-color: var(--zd-color-daintree) !important; }

.u-bc-dandelion { border-color: var(--zd-color-dandelion) !important; }

.u-bc-dark-gray { border-color: var(--zd-color-dark-gray) !important; }

.u-bc-flamingo { border-color: var(--zd-color-flamingo) !important; }

.u-bc-gainsboro { border-color: var(--zd-color-gainsboro) !important; }

.u-bc-golden-dream { border-color: var(--zd-color-golden-dream) !important; }

.u-bc-inherit { border-color: inherit !important; }

.u-bc-iron { border-color: var(--zd-color-iron) !important; }

.u-bc-karl { border-color: var(--zd-color-karl) !important; }

.u-bc-light-crimson { border-color: var(--zd-color-light-crimson) !important; }

.u-bc-magic-mint { border-color: var(--zd-color-magic-mint) !important; }

.u-bc-mandy { border-color: var(--zd-color-mandy) !important; }

.u-bc-marigold { border-color: var(--zd-color-marigold) !important; }

.u-bc-maya-blue { border-color: var(--zd-color-maya-blue) !important; }

.u-bc-monsoon { border-color: var(--zd-color-monsoon) !important; }

.u-bc-nero { border-color: var(--zd-color-nero) !important; }

.u-bc-oil { border-color: var(--zd-color-oil) !important; }

.u-bc-orange-peel { border-color: var(--zd-color-orange-peel) !important; }

.u-bc-palatinate-blue { border-color: var(--zd-color-palatinate-blue) !important; }

.u-bc-pale-turquoise { border-color: var(--zd-color-pale-turquoise) !important; }

.u-bc-pelorous { border-color: var(--zd-color-pelorous) !important; }

.u-bc-perano { border-color: var(--zd-color-perano) !important; }

.u-bc-persian-green { border-color: var(--zd-color-persian-green) !important; }

.u-bc-persimmon { border-color: var(--zd-color-persimmon) !important; }

.u-bc-pink-orange { border-color: var(--zd-color-pink-orange) !important; }

.u-bc-platinum { border-color: var(--zd-color-platinum) !important; }

.u-bc-portland-orange { border-color: var(--zd-color-portland-orange) !important; }

.u-bc-razzmatazz { border-color: var(--zd-color-razzmatazz) !important; }

.u-bc-saffron-mango { border-color: var(--zd-color-saffron-mango) !important; }

.u-bc-sea-buckthorn { border-color: var(--zd-color-sea-buckthorn) !important; }

.u-bc-shamrock { border-color: var(--zd-color-shamrock) !important; }

.u-bc-sherpa-blue { border-color: var(--zd-color-sherpa-blue) !important; }

.u-bc-silver-sand { border-color: var(--zd-color-silver-sand) !important; }

.u-bc-snow { border-color: var(--zd-color-snow) !important; }

.u-bc-submarine { border-color: var(--zd-color-submarine) !important; }

.u-bc-transparent { border-color: transparent !important; }

.u-bc-ultramarine-blue { border-color: var(--zd-color-ultramarine-blue) !important; }

.u-bc-verdigris { border-color: var(--zd-color-verdigris) !important; }

.u-bc-viking { border-color: var(--zd-color-viking) !important; }

.u-bc-white { border-color: var(--zd-color-white) !important; }

.u-bc-white-smoke { border-color: var(--zd-color-white-smoke) !important; }
/* stylelint-enable declaration-no-important */
