/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';

/* stylelint-disable declaration-no-important */

/* Background Colors */

.u-bg-green-100 { background-color: var(--zd-color-green-100) !important; }

.u-bg-green-200 { background-color: var(--zd-color-green-200) !important; }

.u-bg-green-300 { background-color: var(--zd-color-green-300) !important; }

.u-bg-green-400 { background-color: var(--zd-color-green-400) !important; }

.u-bg-green-500 { background-color: var(--zd-color-green-500) !important; }

.u-bg-green-600 { background-color: var(--zd-color-green-600) !important; }

.u-bg-green-700 { background-color: var(--zd-color-green-700) !important; }

.u-bg-green-800 { background-color: var(--zd-color-green-800) !important; }

.u-bg-grey-100 { background-color: var(--zd-color-grey-100) !important; }

.u-bg-grey-200 { background-color: var(--zd-color-grey-200) !important; }

.u-bg-grey-300 { background-color: var(--zd-color-grey-300) !important; }

.u-bg-grey-400 { background-color: var(--zd-color-grey-400) !important; }

.u-bg-grey-500 { background-color: var(--zd-color-grey-500) !important; }

.u-bg-grey-600 { background-color: var(--zd-color-grey-600) !important; }

.u-bg-grey-700 { background-color: var(--zd-color-grey-700) !important; }

.u-bg-grey-800 { background-color: var(--zd-color-grey-800) !important; }

.u-bg-blue-100 { background-color: var(--zd-color-blue-100) !important; }

.u-bg-blue-200 { background-color: var(--zd-color-blue-200) !important; }

.u-bg-blue-300 { background-color: var(--zd-color-blue-300) !important; }

.u-bg-blue-400 { background-color: var(--zd-color-blue-400) !important; }

.u-bg-blue-500 { background-color: var(--zd-color-blue-500) !important; }

.u-bg-blue-600 { background-color: var(--zd-color-blue-600) !important; }

.u-bg-blue-700 { background-color: var(--zd-color-blue-700) !important; }

.u-bg-blue-800 { background-color: var(--zd-color-blue-800) !important; }

.u-bg-kale-100 { background-color: var(--zd-color-kale-100) !important; }

.u-bg-kale-200 { background-color: var(--zd-color-kale-200) !important; }

.u-bg-kale-300 { background-color: var(--zd-color-kale-300) !important; }

.u-bg-kale-400 { background-color: var(--zd-color-kale-400) !important; }

.u-bg-kale-500 { background-color: var(--zd-color-kale-500) !important; }

.u-bg-kale-600 { background-color: var(--zd-color-kale-600) !important; }

.u-bg-kale-700 { background-color: var(--zd-color-kale-700) !important; }

.u-bg-kale-800 { background-color: var(--zd-color-kale-800) !important; }

.u-bg-red-100 { background-color: var(--zd-color-red-100) !important; }

.u-bg-red-200 { background-color: var(--zd-color-red-200) !important; }

.u-bg-red-300 { background-color: var(--zd-color-red-300) !important; }

.u-bg-red-400 { background-color: var(--zd-color-red-400) !important; }

.u-bg-red-500 { background-color: var(--zd-color-red-500) !important; }

.u-bg-red-600 { background-color: var(--zd-color-red-600) !important; }

.u-bg-red-700 { background-color: var(--zd-color-red-700) !important; }

.u-bg-red-800 { background-color: var(--zd-color-red-800) !important; }

.u-bg-yellow-100 { background-color: var(--zd-color-yellow-100) !important; }

.u-bg-yellow-200 { background-color: var(--zd-color-yellow-200) !important; }

.u-bg-yellow-300 { background-color: var(--zd-color-yellow-300) !important; }

.u-bg-yellow-400 { background-color: var(--zd-color-yellow-400) !important; }

.u-bg-yellow-500 { background-color: var(--zd-color-yellow-500) !important; }

.u-bg-yellow-600 { background-color: var(--zd-color-yellow-600) !important; }

.u-bg-yellow-700 { background-color: var(--zd-color-yellow-700) !important; }

.u-bg-yellow-800 { background-color: var(--zd-color-yellow-800) !important; }

/* Background Colors (standard) */

.u-bg-black { background-color: var(--zd-color-black) !important; }

.u-bg-current-color { background-color: currentColor !important; }

.u-bg-inherit { background-color: inherit !important; }

.u-bg-transparent { background-color: transparent !important; }

.u-bg-white { background-color: var(--zd-color-white) !important; }

/* Background Colors (product) */

.u-bg-chat-orange { background-color: var(--zd-color-chat-orange) !important; }

.u-bg-connect-red { background-color: var(--zd-color-connect-red) !important; }

.u-bg-explore-blue { background-color: var(--zd-color-explore-blue) !important; }

.u-bg-guide-pink { background-color: var(--zd-color-guide-pink) !important; }

.u-bg-message-green { background-color: var(--zd-color-message-green) !important; }

.u-bg-sell-gold { background-color: var(--zd-color-sell-gold) !important; }

.u-bg-support-green { background-color: var(--zd-color-support-green) !important; }

.u-bg-talk-yellow { background-color: var(--zd-color-talk-yellow) !important; }

/* Foreground Colors */

.u-fg-green-100 { color: var(--zd-color-green-100) !important; }

.u-fg-green-200 { color: var(--zd-color-green-200) !important; }

.u-fg-green-300 { color: var(--zd-color-green-300) !important; }

.u-fg-green-400 { color: var(--zd-color-green-400) !important; }

.u-fg-green-500 { color: var(--zd-color-green-500) !important; }

.u-fg-green-600 { color: var(--zd-color-green-600) !important; }

.u-fg-green-700 { color: var(--zd-color-green-700) !important; }

.u-fg-green-800 { color: var(--zd-color-green-800) !important; }

.u-fg-grey-100 { color: var(--zd-color-grey-100) !important; }

.u-fg-grey-200 { color: var(--zd-color-grey-200) !important; }

.u-fg-grey-300 { color: var(--zd-color-grey-300) !important; }

.u-fg-grey-400 { color: var(--zd-color-grey-400) !important; }

.u-fg-grey-500 { color: var(--zd-color-grey-500) !important; }

.u-fg-grey-600 { color: var(--zd-color-grey-600) !important; }

.u-fg-grey-700 { color: var(--zd-color-grey-700) !important; }

.u-fg-grey-800 { color: var(--zd-color-grey-800) !important; }

.u-fg-blue-100 { color: var(--zd-color-blue-100) !important; }

.u-fg-blue-200 { color: var(--zd-color-blue-200) !important; }

.u-fg-blue-300 { color: var(--zd-color-blue-300) !important; }

.u-fg-blue-400 { color: var(--zd-color-blue-400) !important; }

.u-fg-blue-500 { color: var(--zd-color-blue-500) !important; }

.u-fg-blue-600 { color: var(--zd-color-blue-600) !important; }

.u-fg-blue-700 { color: var(--zd-color-blue-700) !important; }

.u-fg-blue-800 { color: var(--zd-color-blue-800) !important; }

.u-fg-kale-100 { color: var(--zd-color-kale-100) !important; }

.u-fg-kale-200 { color: var(--zd-color-kale-200) !important; }

.u-fg-kale-300 { color: var(--zd-color-kale-300) !important; }

.u-fg-kale-400 { color: var(--zd-color-kale-400) !important; }

.u-fg-kale-500 { color: var(--zd-color-kale-500) !important; }

.u-fg-kale-600 { color: var(--zd-color-kale-600) !important; }

.u-fg-kale-700 { color: var(--zd-color-kale-700) !important; }

.u-fg-kale-800 { color: var(--zd-color-kale-800) !important; }

.u-fg-red-100 { color: var(--zd-color-red-100) !important; }

.u-fg-red-200 { color: var(--zd-color-red-200) !important; }

.u-fg-red-300 { color: var(--zd-color-red-300) !important; }

.u-fg-red-400 { color: var(--zd-color-red-400) !important; }

.u-fg-red-500 { color: var(--zd-color-red-500) !important; }

.u-fg-red-600 { color: var(--zd-color-red-600) !important; }

.u-fg-red-700 { color: var(--zd-color-red-700) !important; }

.u-fg-red-800 { color: var(--zd-color-red-800) !important; }

.u-fg-yellow-100 { color: var(--zd-color-yellow-100) !important; }

.u-fg-yellow-200 { color: var(--zd-color-yellow-200) !important; }

.u-fg-yellow-300 { color: var(--zd-color-yellow-300) !important; }

.u-fg-yellow-400 { color: var(--zd-color-yellow-400) !important; }

.u-fg-yellow-500 { color: var(--zd-color-yellow-500) !important; }

.u-fg-yellow-600 { color: var(--zd-color-yellow-600) !important; }

.u-fg-yellow-700 { color: var(--zd-color-yellow-700) !important; }

.u-fg-yellow-800 { color: var(--zd-color-yellow-800) !important; }

/* Foreground Colors (standard) */

.u-fg-black { color: var(--zd-color-black) !important; }

.u-fg-inherit { color: inherit !important; }

.u-fg-transparent { color: transparent !important; }

.u-fg-white { color: var(--zd-color-white) !important; }

/* Foreground Colors (product) */

.u-fg-chat-orange { color: var(--zd-color-chat-orange) !important; }

.u-fg-connect-red { color: var(--zd-color-connect-red) !important; }

.u-fg-explore-blue { color: var(--zd-color-explore-blue) !important; }

.u-fg-guide-pink { color: var(--zd-color-guide-pink) !important; }

.u-fg-message-green { color: var(--zd-color-message-green) !important; }

.u-fg-sell-gold { color: var(--zd-color-sell-gold) !important; }

.u-fg-support-green { color: var(--zd-color-support-green) !important; }

.u-fg-talk-yellow { color: var(--zd-color-talk-yellow) !important; }

/* Border Colors */

.u-bc-green-100 { border-color: var(--zd-color-green-100) !important; }

.u-bc-green-200 { border-color: var(--zd-color-green-200) !important; }

.u-bc-green-300 { border-color: var(--zd-color-green-300) !important; }

.u-bc-green-400 { border-color: var(--zd-color-green-400) !important; }

.u-bc-green-500 { border-color: var(--zd-color-green-500) !important; }

.u-bc-green-600 { border-color: var(--zd-color-green-600) !important; }

.u-bc-green-700 { border-color: var(--zd-color-green-700) !important; }

.u-bc-green-800 { border-color: var(--zd-color-green-800) !important; }

.u-bc-grey-100 { border-color: var(--zd-color-grey-100) !important; }

.u-bc-grey-200 { border-color: var(--zd-color-grey-200) !important; }

.u-bc-grey-300 { border-color: var(--zd-color-grey-300) !important; }

.u-bc-grey-400 { border-color: var(--zd-color-grey-400) !important; }

.u-bc-grey-500 { border-color: var(--zd-color-grey-500) !important; }

.u-bc-grey-600 { border-color: var(--zd-color-grey-600) !important; }

.u-bc-grey-700 { border-color: var(--zd-color-grey-700) !important; }

.u-bc-grey-800 { border-color: var(--zd-color-grey-800) !important; }

.u-bc-blue-100 { border-color: var(--zd-color-blue-100) !important; }

.u-bc-blue-200 { border-color: var(--zd-color-blue-200) !important; }

.u-bc-blue-300 { border-color: var(--zd-color-blue-300) !important; }

.u-bc-blue-400 { border-color: var(--zd-color-blue-400) !important; }

.u-bc-blue-500 { border-color: var(--zd-color-blue-500) !important; }

.u-bc-blue-600 { border-color: var(--zd-color-blue-600) !important; }

.u-bc-blue-700 { border-color: var(--zd-color-blue-700) !important; }

.u-bc-blue-800 { border-color: var(--zd-color-blue-800) !important; }

.u-bc-kale-100 { border-color: var(--zd-color-kale-100) !important; }

.u-bc-kale-200 { border-color: var(--zd-color-kale-200) !important; }

.u-bc-kale-300 { border-color: var(--zd-color-kale-300) !important; }

.u-bc-kale-400 { border-color: var(--zd-color-kale-400) !important; }

.u-bc-kale-500 { border-color: var(--zd-color-kale-500) !important; }

.u-bc-kale-600 { border-color: var(--zd-color-kale-600) !important; }

.u-bc-kale-700 { border-color: var(--zd-color-kale-700) !important; }

.u-bc-kale-800 { border-color: var(--zd-color-kale-800) !important; }

.u-bc-red-100 { border-color: var(--zd-color-red-100) !important; }

.u-bc-red-200 { border-color: var(--zd-color-red-200) !important; }

.u-bc-red-300 { border-color: var(--zd-color-red-300) !important; }

.u-bc-red-400 { border-color: var(--zd-color-red-400) !important; }

.u-bc-red-500 { border-color: var(--zd-color-red-500) !important; }

.u-bc-red-600 { border-color: var(--zd-color-red-600) !important; }

.u-bc-red-700 { border-color: var(--zd-color-red-700) !important; }

.u-bc-red-800 { border-color: var(--zd-color-red-800) !important; }

.u-bc-yellow-100 { border-color: var(--zd-color-yellow-100) !important; }

.u-bc-yellow-200 { border-color: var(--zd-color-yellow-200) !important; }

.u-bc-yellow-300 { border-color: var(--zd-color-yellow-300) !important; }

.u-bc-yellow-400 { border-color: var(--zd-color-yellow-400) !important; }

.u-bc-yellow-500 { border-color: var(--zd-color-yellow-500) !important; }

.u-bc-yellow-600 { border-color: var(--zd-color-yellow-600) !important; }

.u-bc-yellow-700 { border-color: var(--zd-color-yellow-700) !important; }

.u-bc-yellow-800 { border-color: var(--zd-color-yellow-800) !important; }

/* Border Colors (standard) */

.u-bc-black { border-color: var(--zd-color-black) !important; }

.u-bc-current-color { border-color: currentColor !important; }

.u-bc-inherit { border-color: inherit !important; }

.u-bc-transparent { border-color: transparent !important; }

.u-bc-white { border-color: var(--zd-color-white) !important; }

/* Border Colors (product) */

.u-bc-chat-orange { border-color: var(--zd-color-chat-orange) !important; }

.u-bc-connect-red { border-color: var(--zd-color-connect-red) !important; }

.u-bc-explore-blue { border-color: var(--zd-color-explore-blue) !important; }

.u-bc-guide-pink { border-color: var(--zd-color-guide-pink) !important; }

.u-bc-message-green { border-color: var(--zd-color-message-green) !important; }

.u-bc-sell-gold { border-color: var(--zd-color-sell-gold) !important; }

.u-bc-support-green { border-color: var(--zd-color-support-green) !important; }

.u-bc-talk-yellow { border-color: var(--zd-color-talk-yellow) !important; }

/* stylelint-enable declaration-no-important */
