/* stylelint-disable declaration-no-important */
.u-float-left { float: left !important; }

.u-float-none { float: none !important; }

.u-float-right { float: right !important; }
/* stylelint-enable declaration-no-important */
