/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';

/* stylelint-disable declaration-no-important */

/* Font Sizes */

.u-fs-sm { font-size: var(--zd-font-size-sm) !important; }

.u-fs-md { font-size: var(--zd-font-size-md) !important; }

.u-fs-lg { font-size: var(--zd-font-size-lg) !important; }

.u-fs-xl { font-size: var(--zd-font-size-xl) !important; }

.u-fs-xxl { font-size: var(--zd-font-size-xxl) !important; }

.u-fs-xxxl { font-size: var(--zd-font-size-xxxl) !important; }

/* stylelint-enable declaration-no-important */
