/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';

/* stylelint-disable declaration-no-important */
.u-thin { font-weight: var(--zd-font-weight-thin) !important; }

.u-extralight { font-weight: var(--zd-font-weight-extralight) !important; }

.u-light { font-weight: var(--zd-font-weight-light) !important; }

.u-regular { font-weight: var(--zd-font-weight-regular) !important; }

.u-medium { font-weight: var(--zd-font-weight-medium) !important; }

.u-semibold { font-weight: var(--zd-font-weight-semibold) !important; }

.u-bold { font-weight: var(--zd-font-weight-bold) !important; }

.u-extrabold { font-weight: var(--zd-font-weight-extrabold) !important; }

.u-black { font-weight: var(--zd-font-weight-black) !important; }

.u-ultralight { font-weight: var(--zd-font-weight-ultralight) !important; }

.u-ultrabold { font-weight: var(--zd-font-weight-ultrabold) !important; }

.u-heavy { font-weight: var(--zd-font-weight-heavy) !important; }
/* stylelint-enable declaration-no-important */
