/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';

/* stylelint-disable declaration-no-important */

/* Font sizes */

.u-fs-sm { font-size: var(--zd-font-size-sm) !important; }

.u-fs-md { font-size: var(--zd-font-size-md) !important; }

.u-fs-lg { font-size: var(--zd-font-size-lg) !important; }

.u-fs-xl { font-size: var(--zd-font-size-xl) !important; }

.u-fs-xxl { font-size: var(--zd-font-size-xxl) !important; }

.u-fs-xxxl { font-size: var(--zd-font-size-xxxl) !important; }

/* Font sizes (deprecated) */

.u-giga { font-size: var(--zd-font-size-giga) !important; }

.u-mega { font-size: var(--zd-font-size-mega) !important; }

.u-kilo { font-size: var(--zd-font-size-kilo) !important; }

.u-alpha { font-size: var(--zd-font-size-alpha) !important; }

.u-beta { font-size: var(--zd-font-size-beta) !important; }

.u-gamma { font-size: var(--zd-font-size-gamma) !important; }

.u-delta { font-size: var(--zd-font-size-delta) !important; }

.u-epsilon { font-size: var(--zd-font-size-epsilon) !important; }

.u-zeta { font-size: var(--zd-font-size-zeta) !important; }

.u-milli { font-size: var(--zd-font-size-milli) !important; }

.u-micro { font-size: var(--zd-font-size-micro) !important; }

.u-nano { font-size: var(--zd-font-size-nano) !important; }
/* stylelint-enable declaration-no-important */
