/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';

/* Reserve space for transitioning to weighted text.
 * stackoverflow.com/a/20249560 */

:root {
  --zd-jitterfix-content: attr(data-text);
}

.u-jitterfix {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.u-jitterfix::after {
  display: block;
  visibility: hidden;
  line-height: 0;
  content: var(--zd-jitterfix-content);
}

/* stylelint-disable declaration-no-important, max-line-length */
.u-jitterfix--regular::after { font-weight: var(--zd-font-weight-regular); }
.u-jitterfix--semibold::after { font-weight: var(--zd-font-weight-semibold); }
/* stylelint-enable declaration-no-important */
