/* stylelint-disable declaration-no-important */
.u-position-absolute { position: absolute !important; }

.u-position-fixed { position: fixed !important; }

.u-position-inherit { position: inherit !important; }

.u-position-relative { position: relative !important; }

.u-position-static { position: static !important; }
/* stylelint-enable declaration-no-important */
