/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

/* stylelint-disable declaration-no-important */
.u-ta-center { text-align: center !important; }

.u-ta-inherit { text-align: inherit !important; }

.u-ta-justify { text-align: justify !important; }

.u-ta-left { text-align: left !important; }

.u-ta-right { text-align: right !important; }
/* stylelint-enable declaration-no-important */
