@import '@zendeskgarden/css-variables';
@import '_variables';
@import '_selectors';

:root {
  --zd-chrome__body__footer-background-color: var(--zd-chrome__body__header-background-color);
  --zd-chrome__body__footer-border-top: var(--zd-chrome__body__header-border-bottom);
  --zd-chrome__body__footer-height: 80px;
  --zd-chrome__body__footer-padding-horizontal: 40px;
  --zd-chrome__body__footer-padding: 0 calc(var(--zd-chrome__body__footer-padding-horizontal) - var(--zd-chrome__body__footer__item-margin-horizontal));
  --zd-chrome__body__footer__item-margin-horizontal: 4px;
  --zd-chrome__body__footer__item-margin: 0 var(--zd-chrome__body__footer__item-margin-horizontal);
}

.c-chrome__body__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-top: var(--zd-chrome__body__footer-border-top);
  background-color: var(--zd-chrome__body__footer-background-color);
  padding: var(--zd-chrome__body__footer-padding);
  height: var(--zd-chrome__body__footer-height);
}

.c-chrome__body__footer__item {
  margin: var(--zd-chrome__body__footer__item-margin);
}
