@import '@zendesk/garden-css-variables';
@import '_variables';
@import '_selectors';

:root {
  --zd-chrome__body__header-background-color: var(--zd-color-white);
  --zd-chrome__body__header-border-color: var(--zd-color-gainsboro);
  --zd-chrome__body__header-border-bottom: 1px solid var(--zd-chrome__body__header-border-color);
  --zd-chrome__body__header-color: var(--zd-color-monsoon);
  --zd-chrome__body__header-font-size: var(--zd-font-size-epsilon);
  --zd-chrome__body__header-height: var(--zd-chrome__nav__item-height);
  --zd-chrome__body__header-padding-horizontal: 4px;
  --zd-chrome__body__header-padding: 0 var(--zd-chrome__body__header-padding-horizontal);
  --zd-chrome__body__header--standalone-box-shadow:
    0 0 10px 0
    color(var(--zd-color-chathams-blue) alpha(15%));
  --zd-chrome__body__header__item-border-radius: 4px;
  --zd-chrome__body__header__item-line-height: calc(30 / 14);
  --zd-chrome__body__header__item-margin: 0 12px;
  --zd-chrome__body__header__item-size: 30px;
  --zd-chrome__body__header__item-padding: 0 calc(calc(var(--zd-chrome__body__header__item-size) - var(--zd-chrome__body__header__item__icon-size)) / 4);
  --zd-chrome__body__header__item-transition:
    box-shadow .1s ease-in-out,
    color .1s ease-in-out;
  --zd-chrome__body__header__item-active-color: var(--zd-color-algae);
  --zd-chrome__body__header__item-focused-box-shadow-color: color(var(--zd-chrome-accent-color) alpha(40%));
  --zd-chrome__body__header__item-focused-box-shadow:
    0 0 0 3px
    var(--zd-chrome__body__header__item-focused-box-shadow-color);
  --zd-chrome__body__header__item-hovered-color: var(--zd-chrome__body__header__item-active-color);
  --zd-chrome__body__header__item__icon-margin: var(--zd-chrome__body__header__item-padding);
  --zd-chrome__body__header__item__icon-size: 14px;
  --zd-chrome__body__header__item__icon-transition: transform .25s ease-in-out;
  --zd-chrome__body__header__item--img__icon-border-radius: calc(var(--zd-chrome__body__header__item-border-radius) - 1px);
  --zd-chrome__body__header__item--img__icon-size: 22px;
  --zd-chrome__body__header__item__text-margin: var(--zd-chrome__body__header__item__icon-margin);
  --zd-chrome__body__header__item--logo-border: 1px solid var(--zd-chrome__body__header-border-color);
  --zd-chrome__body__header__item--logo-fill: var(--zd-color-algae);
  --zd-chrome__body__header__item--logo-margin: calc(var(--zd-chrome__body__header-padding-horizontal) * -1);
  --zd-chrome__body__header__item--logo-width: var(--zd-chrome__nav-width);
  --zd-chrome__body__header__item--logo__icon-size: var(--zd-chrome__nav__item__icon-size);
  --zd-chrome__body__header__item--max-y-focused-box-shadow:
    inset 0 3px 0 0 var(--zd-chrome__body__header__item-focused-box-shadow-color),
    3px 0 0 0 var(--zd-chrome__body__header__item-focused-box-shadow-color),
    inset 0 -3px 0 0 var(--zd-chrome__body__header__item-focused-box-shadow-color),
    -3px 0 0 0 var(--zd-chrome__body__header__item-focused-box-shadow-color);
  --zd-chrome-space: 0 4px;
}

/* 1. Reset the stacking context for embedded menus.
 * 2. Button element reset.
 * 3. Anchor reset. */

.c-chrome__body__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-bottom: var(--zd-chrome__body__header-border-bottom);
  background-color: var(--zd-chrome__body__header-background-color);
  padding: var(--zd-chrome__body__header-padding);
  height: var(--zd-chrome__body__header-height);
  color: var(--zd-chrome__body__header-color);
  font-size: var(--zd-chrome__body__header-font-size);
}

.c-chrome__body__header--standalone {
  box-shadow: var(--zd-chrome__body__header--standalone-box-shadow);
}

.c-chrome__body__header__item {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  order: var(--zd-chrome__body__header__item-order);
  transition: var(--zd-chrome__body__header__item-transition);
  z-index: 0; /* [1] */
  margin: var(--zd-chrome__body__header__item-margin);
  border: none; /* [2] */
  border-radius: var(--zd-chrome__body__header__item-border-radius);
  background: transparent; /* [2] */
  padding: var(--zd-chrome__body__header__item-padding);
  min-width: var(--zd-chrome__body__header__item-size);
  height: var(--zd-chrome__body__header__item-size);
  line-height: var(--zd-chrome__body__header__item-line-height);
  white-space: nowrap;
  font-size: inherit; /* [2] */
}

.c-chrome__body__header__item,
.c-chrome__body__header__item:hover,
.c-chrome__body__header__item:focus {
  text-decoration: none; /* [3] */
  color: inherit; /* [3] */
}

.c-chrome__body__header__item:focus {
  outline: none; /* [3] */
}

/* stylelint-disable max-line-length */
.c-chrome__body__header__item:not(.c-chrome__body__header__item--logo):--chrome-focused {
  box-shadow: var(--zd-chrome__body__header__item-focused-box-shadow);
}

/* stylelint-disable selector-max-specificity */
.c-chrome__body__header__item:not(.c-chrome__body__header__item--logo):active:--chrome-focused {
  box-shadow: none;
}
/* stylelint-enable selector-max-specificity */

.c-chrome__body__header__item--max-x {
  flex: 1;
  justify-content: start;
}

.c-chrome__body__header__item--logo {
  display: none;
  order: var(--zd-chrome__body__header__item--logo-order);
  margin-right: auto;
  margin-left: var(--zd-chrome__body__header__item--logo-margin);
  border-right: var(--zd-chrome__body__header__item--logo-border);
  padding: 0;
  width: var(--zd-chrome__body__header__item--logo-width);
  overflow: hidden;
  fill: var(--zd-chrome__body__header__item--logo-fill);
}

.c-chrome__body__header__item--logo,
.c-chrome__body__header__item--max-y {
  border-radius: 0;
  height: 100%;
}

.c-chrome__body__header--standalone .c-chrome__body__header__item--logo {
  display: inline-flex;
}

.c-chrome.is-rtl .c-chrome__body__header__item--logo {
  margin-right: var(--zd-chrome__body__header__item--logo-margin);
  margin-left: auto;
  border-right: none;
  border-left: var(--zd-chrome__body__header__item--logo-border);
}

.c-chrome__body__header__item.c-chrome__body__header__item--max-y:--chrome-focused {
  box-shadow: var(--zd-chrome__body__header__item--max-y-focused-box-shadow);
}

.c-chrome__body__header__item__icon {
  transition: var(--zd-chrome__body__header__item__icon-transition);
  margin: var(--zd-chrome__body__header__item__icon-margin);
  width: var(--zd-chrome__body__header__item__icon-size);
  height: var(--zd-chrome__body__header__item__icon-size);
}

.c-chrome__body__header__item--logo .c-chrome__body__header__item__icon {
  margin: 0;
  width: var(--zd-chrome__body__header__item--logo__icon-size);
  height: var(--zd-chrome__body__header__item--logo__icon-size);
}

img.c-chrome__body__header__item__icon {
  margin: 0;
  border-radius: var(--zd-chrome__body__header__item--img__icon-border-radius);
  width: var(--zd-chrome__body__header__item--img__icon-size);
  height: var(--zd-chrome__body__header__item--img__icon-size);
}

.c-chrome__body__header__item.c-chrome__body__header__item--round,
.c-chrome__body__header__item.c-chrome__body__header__item--round .c-chrome__body__header__item__icon {
  border-radius: 100px;
}

.c-chrome__body__header__item__text {
  margin: var(--zd-chrome__body__header__item__text-margin);
}

.c-chrome__body__header__item__text.is-clipped,
.c-chrome__body__header__item--logo .c-chrome__body__header__item__text {
  margin: 0;
  @apply --zd-chrome__item__text-clipped;
}

/* stylelint-disable selector-max-specificity */

.c-chrome__body__header__item:not(.c-chrome__body__header__item--logo):--chrome-hovered .c-chrome__body__header__item__icon,
.c-chrome__body__header__item:not(.c-chrome__body__header__item--logo):--chrome-hovered .c-chrome__body__header__item__text {
  color: var(--zd-chrome__body__header__item-hovered-color);
}

.c-chrome__body__header__item:not(.c-chrome__body__header__item--logo):--chrome-active .c-chrome__body__header__item__icon,
.c-chrome__body__header__item:not(.c-chrome__body__header__item--logo):--chrome-active .c-chrome__body__header__item__text {
  color: var(--zd-chrome__body__header__item-active-color);
}
/* stylelint-enable max-line-length, selector-max-specificity */
