/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';
@import '_selectors';

:root {
  --zd-chrome--custom-accent-color: var(--zd-color-mandy);
  --zd-chrome--custom__body__header__item-focused-box-shadow-color: color(var(--zd-chrome--custom-accent-color) alpha(40%));
  --zd-chrome--custom__body__header__item-focused-box-shadow:
    0 0 0 3px
    var(--zd-chrome--custom__body__header__item-focused-box-shadow-color);
  --zd-chrome--custom__nav__item-current-background-color: var(--zd-chrome--custom-accent-color);
  --zd-chrome--custom__body__header__item--max-focused-box-shadow:
    inset 0 3px 0 0 var(--zd-chrome--custom__body__header__item-focused-box-shadow-color),
    3px 0 0 0 var(--zd-chrome--custom__body__header__item-focused-box-shadow-color),
    inset 0 -3px 0 0 var(--zd-chrome--custom__body__header__item-focused-box-shadow-color),
    -3px 0 0 0 var(--zd-chrome--custom__body__header__item-focused-box-shadow-color);
}

/* stylelint-disable max-line-length, selector-max-specificity */
.c-chrome--custom .c-chrome__nav__item:not(.c-chrome__nav__item--logo):--chrome-current {
  background-color: var(--zd-chrome--custom__nav__item-current-background-color);
}

.c-chrome--custom .c-chrome__body__header__item:--chrome-focused {
  box-shadow: var(--zd-chrome--custom__body__header__item-focused-box-shadow);
}

.c-chrome--custom .c-chrome__body__header__item--max:--chrome-focused {
  box-shadow: var(--zd-chrome--custom__body__header__item--max-focused-box-shadow);
}
/* stylelint-enable max-line-length, selector-max-specificity */
