@import 'zd-css-variables';

:root {
  --zd-grid-gutter: var(--zd-spacing);
  --zd-grid--lg-gutter: var(--zd-spacing-lg);
  --zd-grid--sm-gutter: var(--zd-spacing-sm);
  --zd-grid--xl-gutter: var(--zd-spacing-xl);
  --zd-grid--xs-gutter: var(--zd-spacing-xs);
}

.l-grid {
  margin: 0 0 0 calc(var(--zd-grid-gutter) * -1);
  padding: 0;
  list-style: none;
}

/* 1. Cause columns to stack side-by-side.
 * 2. Required to combine fluid widths and fixed gutters.
 * 3. Space columns apart.
 */
.l-grid__item {
  display: inline-block; /* [1] */
  box-sizing: border-box; /* [2] */
  padding-left: var(--zd-grid-gutter); /* [3] */
  width: 100%;
  vertical-align: top;
}

/* No Gutters */

.l-grid--0 {
  margin-left: 0;
}

.l-grid--0 > .l-grid__item {
  padding-left: 0;
}

/* Large Gutters */

.l-grid--lg {
  margin-left: calc(var(--zd-grid--lg-gutter) * -1);
}

.l-grid--lg > .l-grid__item {
  padding-left: var(--zd-grid--lg-gutter);
}

/* Small Gutters */

.l-grid--sm {
  margin-left: calc(var(--zd-grid--sm-gutter) * -1);
}

.l-grid--sm > .l-grid__item {
  padding-left: var(--zd-grid--sm-gutter);
}

/* Extra-Large Gutters */

.l-grid--xl {
  margin-left: calc(var(--zd-grid--xl-gutter) * -1);
}

.l-grid--xl > .l-grid__item {
  padding-left: var(--zd-grid--xl-gutter);
}

/* Extra-Small Gutters */

.l-grid--xs {
  margin-left: calc(var(--zd-grid--xs-gutter) * -1);
}

.l-grid--xs > .l-grid__item {
  padding-left: var(--zd-grid--xs-gutter);
}
