@import 'zd-css-variables';

:root {
  --zd-wrapper-max-width: 960px;
  --zd-wrapper-padding: var(--zd-spacing);
}

.l-wrapper {
  margin: 0 auto;
  padding: 0 var(--zd-wrapper-padding);
  max-width: var(--zd-wrapper-max-width);
}
