@import '@zendeskgarden/css-variables';
@import '_variables';
@import '_selectors';

:root {
  --zd-tag--blue-background-color: var(--zd-color-blue-600);
  --zd-tag--green-background-color: var(--zd-color-green-600);
  --zd-tag--grey-background-color: var(--zd-color-grey-600);
  --zd-tag--kale-background-color: var(--zd-color-kale-600);
  --zd-tag--red-background-color: var(--zd-color-red-600);
  --zd-tag--yellow-background-color: var(--zd-color-yellow-400);
  --zd-tag--color-color: var(--zd-color-white);
  --zd-tag--yellow-color: var(--zd-color-yellow-800);
  --zd-tag--blue-focused-box-shadow:
    var(--zd-tag-focused-box-shadow)
    color(var(--zd-tag--blue-background-color) alpha(35%));
  --zd-tag--green-focused-box-shadow:
    var(--zd-tag-focused-box-shadow)
    color(var(--zd-tag--green-background-color) alpha(35%));
  --zd-tag--grey-focused-box-shadow:
    var(--zd-tag-focused-box-shadow)
    color(var(--zd-tag--grey-background-color) alpha(35%));
  --zd-tag--kale-focused-box-shadow:
    var(--zd-tag-focused-box-shadow)
    color(var(--zd-tag--kale-background-color) alpha(35%));
  --zd-tag--red-focused-box-shadow:
    var(--zd-tag-focused-box-shadow)
    color(var(--zd-tag--red-background-color) alpha(35%));
  --zd-tag--yellow-focused-box-shadow:
    var(--zd-tag-focused-box-shadow)
    color(var(--zd-tag--yellow-background-color) alpha(35%));
}

.c-tag.c-tag--blue {
  background-color: var(--zd-tag--blue-background-color);
  color: var(--zd-tag--color-color);
}

.c-tag.c-tag--green {
  background-color: var(--zd-tag--green-background-color);
  color: var(--zd-tag--color-color);
}

.c-tag.c-tag--grey {
  background-color: var(--zd-tag--grey-background-color);
  color: var(--zd-tag--color-color);
}

.c-tag.c-tag--kale {
  background-color: var(--zd-tag--kale-background-color);
  color: var(--zd-tag--color-color);
}

.c-tag.c-tag--red {
  background-color: var(--zd-tag--red-background-color);
  color: var(--zd-tag--color-color);
}

.c-tag.c-tag--yellow {
  background-color: var(--zd-tag--yellow-background-color);
  color: var(--zd-tag--yellow-color);
}

.c-tag.c-tag--blue:--tag-focused {
  box-shadow: var(--zd-tag--blue-focused-box-shadow);
}

.c-tag.c-tag--green:--tag-focused {
  box-shadow: var(--zd-tag--green-focused-box-shadow);
}

.c-tag.c-tag--grey:--tag-focused {
  box-shadow: var(--zd-tag--grey-focused-box-shadow);
}

.c-tag.c-tag--kale:--tag-focused {
  box-shadow: var(--zd-tag--kale-focused-box-shadow);
}

.c-tag.c-tag--red:--tag-focused {
  box-shadow: var(--zd-tag--red-focused-box-shadow);
}

.c-tag.c-tag--yellow:--tag-focused {
  box-shadow: var(--zd-tag--yellow-focused-box-shadow);
}

.c-tag.c-tag--yellow:hover,
.c-tag.c-tag--yellow:--tag-focused {
  color: var(--zd-tag--yellow-color);
}
