@import '@zendesk/garden-css-variables';
@import '_selectors';

:root {
  --zd-tag--dark-background-color: var(--zd-color-algae);
  --zd-tag--dark-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-color-breaker-bay) alpha(40%));
  --zd-tag--error-background-color: var(--zd-color-flamingo);
  --zd-tag--error-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-tag--error-background-color) alpha(40%));
  --zd-tag--light-background-color: var(--zd-color-anti-flash-white);
  --zd-tag--light-color: var(--zd-color-monsoon);
  --zd-tag--light-font-weight: var(--zd-font-weight-semibold);
  --zd-tag--light-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-color-silver-sand) alpha(40%));
  --zd-tag--success-background-color: var(--zd-color-chateau-green);
  --zd-tag--success-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-tag--success-background-color) alpha(40%));
  --zd-tag--warning-background-color: var(--zd-color-marigold);
  --zd-tag--warning-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-tag--warning-background-color) alpha(40%));
}

.c-tag.c-tag--light {
  background-color: var(--zd-tag--light-background-color);
  color: var(--zd-tag--light-color);
  font-weight: var(--zd-tag--light-font-weight);
}

.c-tag.c-tag--light:hover {
  color: var(--zd-tag--light-color);
}

.c-tag.c-tag--light:--tag-focused {
  box-shadow: var(--zd-tag--light-focused-box-shadow);
}

.c-tag.c-tag--dark {
  background-color: var(--zd-tag--dark-background-color);
}

.c-tag.c-tag--dark:--tag-focused {
  box-shadow: var(--zd-tag--dark-focused-box-shadow);
}

.c-tag.c-tag--error {
  background-color: var(--zd-tag--error-background-color);
}

.c-tag.c-tag--error:--tag-focused {
  box-shadow: var(--zd-tag--error-focused-box-shadow);
}

.c-tag.c-tag--success {
  background-color: var(--zd-tag--success-background-color);
}

.c-tag.c-tag--success:--tag-focused {
  box-shadow: var(--zd-tag--success-focused-box-shadow);
}

.c-tag.c-tag--warning {
  background-color: var(--zd-tag--warning-background-color);
}

.c-tag.c-tag--warning:--tag-focused {
  box-shadow: var(--zd-tag--warning-focused-box-shadow);
}
