/* stylelint-disable no-unsupported-browser-features */
@import '@zendeskgarden/css-variables';

:root {
  --zd-tag__remove-background-image: svg-load('12/x-stroke.svg', color: var(--zd-color-grey-600));
  --zd-tag__remove-background:
    no-repeat
    center
    var(--zd-tag__remove-background-image)
    transparent; /* [1] */
  --zd-tag__remove-margin: calc(var(--zd-tag-padding-horizontal) * -1);
  --zd-tag__remove-opacity: .8;
  --zd-tag__remove-size: var(--zd-spacing);
  --zd-tag__remove-transition: opacity .25s ease-in-out;
  --zd-tag__remove-hovered-opacity: .9;
  --zd-tag--lg__remove-background-size: 16px;
  --zd-tag--lg__remove-size: var(--zd-tag--lg-height);
  --zd-tag--lg__remove-margin: calc(var(--zd-tag--lg-padding-horizontal) * -1);
  --zd-tag--color__remove-background-image: svg-load('12/x-stroke.svg', color: var(--zd-tag--color-color));
  --zd-tag--yellow__remove-background-image: svg-load('12/x-stroke.svg', color: var(--zd-tag--yellow-color));
  --zd-tag--sm__remove-margin: calc(var(--zd-tag--sm-padding-horizontal) * -1);
  --zd-tag--sm__remove-size: var(--zd-tag--sm-height);
}

/* 1. Reset for <button> element.
 * 2. Reset for text content. */

.c-tag__remove {
  flex-shrink: 0;
  transition: var(--zd-tag__remove-transition);
  opacity: var(--zd-tag__remove-opacity);
  margin-right: var(--zd-tag__remove-margin);
  border: 0; /* [1] */
  border-radius: var(--zd-tag-border-radius);
  background: var(--zd-tag__remove-background);
  cursor: pointer;
  padding: 0; /* [1] */
  width: var(--zd-tag__remove-size);
  height: var(--zd-tag__remove-size);
  font-size: 0; /* [2] */
}

@custom-selector :--tag-hovered
  .is-hovered,
  :hover;

.c-tag__remove:--tag-hovered {
  opacity: var(--zd-tag__remove-hovered-opacity);
}

.c-tag__remove:focus {
  outline: none;
}

.c-tag--lg .c-tag__remove {
  margin-right: var(--zd-tag--lg__remove-margin);
  background-size: var(--zd-tag--lg__remove-background-size);
  width: var(--zd-tag--lg__remove-size);
  height: var(--zd-tag--lg__remove-size);
}

.c-tag--sm .c-tag__remove {
  margin-right: var(--zd-tag--sm__remove-margin);
  width: var(--zd-tag--sm__remove-size);
  height: var(--zd-tag--sm__remove-size);
}

.c-tag--pill .c-tag__remove {
  border-radius: 50%;
}

.c-tag--round .c-tag__remove {
  display: none;
}

.c-tag:matches(
.c-tag--blue,
.c-tag--green,
.c-tag--grey,
.c-tag--kale,
.c-tag--red
) .c-tag__remove {
  background-image: var(--zd-tag--color__remove-background-image);
}

.c-tag.c-tag--yellow .c-tag__remove {
  background-image: var(--zd-tag--yellow__remove-background-image);
}

.c-tag.is-rtl .c-tag__remove {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: var(--zd-tag__remove-margin);
}

.c-tag--lg.is-rtl .c-tag__remove {
  margin-left: var(--zd-tag--lg__remove-margin);
}

.c-tag--sm.is-rtl .c-tag__remove {
  margin-left: var(--zd-tag--sm__remove-margin);
}
/* stylelint-enable no-unsupported-browser-features */
