@import '@zendeskgarden/css-variables';

:root {
  --zd-tag--round-min-width: var(--zd-spacing);
}

.c-tag--pill {
  border-radius: 100px;
}

.c-tag--round {
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  min-width: var(--zd-tag--round-min-width);
}

.c-tag--round > * {
  min-width: var(--zd-tag--round-min-width);
  text-align: center;
}
