@import '@zendeskgarden/css-variables';

:root {
  --zd-tag--lg-border-radius: 4px;
  --zd-tag--lg-height: 32px;
  --zd-tag--lg-line-height: calc(32 / 12);
  --zd-tag--lg-padding-horizontal: 12px;
  --zd-tag--lg-padding: 0 var(--zd-tag--lg-padding-horizontal);
  --zd-tag--sm-font-size: var(--zd-font-size-micro);
  --zd-tag--sm-height: 16px;
  --zd-tag--sm-line-height: calc(16 / 10);
  --zd-tag--sm-padding-horizontal: 4px;
  --zd-tag--sm-padding: 0 var(--zd-tag--sm-padding-horizontal);
  --zd-tag--pill--lg-min-width: 48px;
  --zd-tag--pill--sm-min-width: 24px;
  --zd-tag--pill--sm-padding-horizontal: 8px;
  --zd-tag--pill--sm-padding: 0 var(--zd-tag--pill--sm-padding-horizontal);
  --zd-tag--pill--lg__-min-widht: calc(var(--zd-tag--pill--lg-min-width) - calc(var(--zd-tag--lg-padding-horizontal) * 2));
  --zd-tag--pill--sm__-min-width: calc(var(--zd-tag--pill--sm-min-width) - calc(var(--zd-tag--pill--sm-padding-horizontal) * 2));
  --zd-tag--round--lg-min-width: var(--zd-tag--lg-height);
  --zd-tag--round--sm-min-width: var(--zd-tag--sm-height);
}

.c-tag--sm {
  padding: var(--zd-tag--sm-padding);
  height: var(--zd-tag--sm-height);
  line-height: var(--zd-tag--sm-line-height);
  font-size: var(--zd-tag--sm-font-size);
}

.c-tag--lg {
  border-radius: var(--zd-tag--lg-border-radius);
  padding: var(--zd-tag--lg-padding);
  height: var(--zd-tag--lg-height);
  line-height: var(--zd-tag--lg-line-height);
}

.c-tag--pill.c-tag--sm {
  padding: var(--zd-tag--pill--sm-padding);
  min-width: var(--zd-tag--pill--sm-min-width);
}

.c-tag--pill.c-tag--sm > * {
  min-width: var(--zd-tag--pill--sm__-min-width);
}

.c-tag--pill.c-tag--lg {
  min-width: var(--zd-tag--pill--lg-min-width);
}

.c-tag--pill.c-tag--lg > * {
  min-width: var(--zd-tag--pill--lg__-min-width);
}

.c-tag--round.c-tag--sm,
.c-tag--round.c-tag--sm > * {
  min-width: var(--zd-tag--round--sm-min-width);
}

.c-tag--round.c-tag--lg,
.c-tag--round.c-tag--lg > * {
  min-width: var(--zd-tag--round--lg-min-width);
}
