/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-btn--custom{
  border-color:#eb4962;
}

.c-btn--custom,.c-btn--custom.c-btn--anchor{
  color:#eb4962;
}

.c-btn--custom.c-btn--basic{
  border-color:transparent;
}

.c-btn--custom.c-btn--primary,.c-btn--custom.is-selected{
  background-color:#eb4962;
}

.c-btn--custom.c-btn--muted{
  border-color:#68737d;
  color:#68737d;
}

.c-btn--custom.is-hovered.is-hovered,.c-btn--custom:hover:hover{
  background-color:#f86f84;
}

.c-btn--custom.c-btn--anchor.is-hovered.is-hovered,.c-btn--custom.c-btn--anchor:hover:hover{
  background-color:transparent;
  color:#eb4962;
}

.c-btn--custom.is-focused{
  box-shadow:0 0 0 3px rgba(235, 73, 98, .4);
}

.c-btn--custom.is-active.is-active,.c-btn--custom:active:active{
  background-color:#d2495e;
}

.c-btn--custom.c-btn--anchor.is-active.is-active,.c-btn--custom.c-btn--anchor:active:active{
  color:#eb4962;
}

.c-btn--custom.is-disabled.is-disabled,.c-btn--custom:disabled:disabled{
  background-color:#e9ebed;
}

.c-btn--custom.c-btn--anchor.is-disabled.is-disabled,.c-btn--custom.c-btn--anchor:disabled:disabled{
  color:#87929d;
}

.c-btn--custom.c-btn--focus-inset.is-focused,.l-btn-group .c-btn--custom.is-focused{
  box-shadow:inset 0 0 0 3px rgba(235, 73, 98, .4);
}

.c-btn--custom.c-btn--anchor.is-focused,.c-btn--custom.c-btn--muted.is-focused{
  box-shadow:none;
}
