/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-btn--custom{
  border-color:#eb4962;
}

.c-btn--custom,.c-btn--custom.c-btn--anchor{
  color:#eb4962;
}

.c-btn--custom.c-btn--basic{
  border-color:transparent;
}

.c-btn--custom.c-btn--primary,.c-btn--custom.is-selected{
  background-color:#eb4962;
}

.c-btn--custom.c-btn--muted{
  border-color:#999;
  color:#999;
}

.c-btn--custom.is-hovered.is-hovered,.c-btn--custom:hover:hover{
  background-color:#f76e82;
}

.c-btn--custom.c-btn--anchor.is-hovered.is-hovered,.c-btn--custom.c-btn--anchor:hover:hover{
  background-color:transparent;
  color:#eb4962;
}

.c-btn--custom.is-focused{
  -webkit-box-shadow:0 0 0 3px rgba(235,73,98,.4);
          box-shadow:0 0 0 3px rgba(235,73,98,.4);
}

.c-btn--custom.is-active.is-active,.c-btn--custom:active:active{
  background-color:#d14a5e;
}

.c-btn--custom.c-btn--anchor.is-active.is-active,.c-btn--custom.c-btn--anchor:active:active{
  color:#eb4962;
}

.c-btn--custom.is-disabled.is-disabled,.c-btn--custom:disabled:disabled{
  background-color:#ddd;
}

.c-btn--custom.c-btn--anchor.is-disabled.is-disabled,.c-btn--custom.c-btn--anchor:disabled:disabled{
  color:#999;
}

.l-btn-group .c-btn--custom.is-focused{
  -webkit-box-shadow:inset 0 0 0 3px rgba(235,73,98,.4);
          box-shadow:inset 0 0 0 3px rgba(235,73,98,.4);
}
