/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-btn{
  display:inline-block;
  -webkit-transition:border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  margin:0;
  border:1px solid #5293c7;
  border-radius:4px;
  background-color:transparent;
  cursor:pointer;
  padding:0 1.92857em;
  min-width:8.57143em;
  overflow:visible;
  vertical-align:middle;
  text-align:center;
  text-decoration:none;
  line-height:38px;
  white-space:nowrap;
  color:#1f73b7;
  font-family:inherit;
  font-size:14px;
  font-weight:400;
  -webkit-font-smoothing:subpixel-antialiased;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  -webkit-touch-callout:none;
}

.c-btn::-moz-focus-inner{
  border:0;
  padding:0;
}

.c-btn--pill{ border-radius:100px; }

.c-btn--sm{
  padding:0 2.25em;
  min-width:8.33333em;
  line-height:30px;
  font-size:12px;
}

.c-btn--lg{
  padding:0 1.92857em;
  min-width:10em;
  line-height:46px;
  font-size:14px;
}

.c-btn--full{
  width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

.c-btn.c-btn--danger{
  border-color:#e35b66;
  color:#cc3340;
}

.c-btn--basic.c-btn--basic{
  border-color:transparent;
  background-color:transparent;
}

.l-btn-group{
  position:relative;
  z-index:0;
  white-space:nowrap;
}

.l-btn-group .c-btn{
  position:relative;
  margin-left:-1px;
  border-radius:0;
}

.l-btn-group .c-btn.is-active.is-active,.l-btn-group .c-btn.is-hovered.is-hovered,.l-btn-group .c-btn:active:active,.l-btn-group .c-btn:hover:hover{
  z-index:1;
}

.l-btn-group .c-btn.is-focused{
  -webkit-box-shadow:inset 0 0 0 3px rgba(31,115,183,.35);
          box-shadow:inset 0 0 0 3px rgba(31,115,183,.35);
}

.l-btn-group .c-btn.is-disabled.is-disabled,.l-btn-group .c-btn:disabled:disabled{
  z-index:-1;
}

.l-btn-group .c-btn.c-btn--primary.is-focused,.l-btn-group .c-btn.is-selected.is-focused{
  -webkit-box-shadow:inset 0 0 0 3px hsla(0,0%,100%,.35);
          box-shadow:inset 0 0 0 3px hsla(0,0%,100%,.35);
}

.l-btn-group .c-btn--primary.c-btn--primary,.l-btn-group .c-btn--primary.is-active.is-active,.l-btn-group .c-btn--primary.is-hovered.is-hovered,.l-btn-group .c-btn--primary:active:active,.l-btn-group .c-btn--primary:hover:hover,.l-btn-group .c-btn.is-disabled.is-disabled,.l-btn-group .c-btn:disabled:disabled{
  border-right-color:#f8f9f9;
  border-left-color:#f8f9f9;
}

.l-btn-group .c-btn.c-btn--primary,.l-btn-group .c-btn.is-disabled.is-disabled,.l-btn-group .c-btn.is-selected,.l-btn-group .c-btn:disabled:disabled{
  border-top-width:0;
  border-bottom-width:0;
  line-height:40px;
}

.l-btn-group .c-btn--sm.c-btn.c-btn--primary,.l-btn-group .c-btn--sm.c-btn.is-selected,.l-btn-group .c-btn--sm.is-disabled.is-disabled,.l-btn-group .c-btn--sm:disabled:disabled{
  line-height:32px;
}

.l-btn-group .c-btn--lg.c-btn.c-btn--primary,.l-btn-group .c-btn--lg.c-btn.is-selected,.l-btn-group .c-btn--lg.is-disabled.is-disabled,.l-btn-group .c-btn--lg:disabled:disabled{
  line-height:48px;
}

.l-btn-group.is-rtl{
  direction:rtl;
}

.l-btn-group.is-rtl .c-btn{
  margin-right:-1px;
  margin-left:0;
  border-radius:0;
}

.l-btn-group.is-rtl .c-btn:last-of-type,.l-btn-group:not(.is-rtl) .c-btn:first-of-type{
  margin-left:0;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.l-btn-group.is-rtl .c-btn:first-of-type,.l-btn-group:not(.is-rtl) .c-btn:last-of-type{
  margin-right:0;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}

.l-btn-group.is-rtl .c-btn--pill:last-of-type,.l-btn-group:not(.is-rtl) .c-btn--pill:first-of-type{
  border-top-left-radius:100px;
  border-bottom-left-radius:100px;
}

.l-btn-group.is-rtl .c-btn--pill:last-of-type .c-btn__icon,.l-btn-group:not(.is-rtl) .c-btn--pill:first-of-type .c-btn__icon{
  margin-right:-2px;
}

.l-btn-group.is-rtl .c-btn--pill:first-of-type,.l-btn-group:not(.is-rtl) .c-btn--pill:last-of-type{
  border-top-right-radius:100px;
  border-bottom-right-radius:100px;
}

.l-btn-group.is-rtl .c-btn--pill:first-of-type .c-btn__icon,.l-btn-group:not(.is-rtl) .c-btn--pill:last-of-type .c-btn__icon{
  margin-left:-2px;
}

.l-btn-group.is-rtl .c-btn.c-btn--primary:last-of-type,.l-btn-group.is-rtl .c-btn.is-disabled.is-disabled:last-of-type,.l-btn-group.is-rtl .c-btn.is-selected:last-of-type,.l-btn-group.is-rtl .c-btn:disabled:disabled:last-of-type,.l-btn-group:not(.is-rtl) .c-btn.c-btn--primary:first-of-type,.l-btn-group:not(.is-rtl) .c-btn.is-disabled.is-disabled:first-of-type,.l-btn-group:not(.is-rtl) .c-btn.is-selected:first-of-type,.l-btn-group:not(.is-rtl) .c-btn:disabled:disabled:first-of-type{
  border-left-color:transparent;
}

.l-btn-group.is-rtl .c-btn.c-btn--primary:first-of-type,.l-btn-group.is-rtl .c-btn.is-disabled.is-disabled:first-of-type,.l-btn-group.is-rtl .c-btn.is-selected:first-of-type,.l-btn-group.is-rtl .c-btn:disabled:disabled:first-of-type,.l-btn-group:not(.is-rtl) .c-btn.c-btn--primary:last-of-type,.l-btn-group:not(.is-rtl) .c-btn.is-disabled.is-disabled:last-of-type,.l-btn-group:not(.is-rtl) .c-btn.is-selected:last-of-type,.l-btn-group:not(.is-rtl) .c-btn:disabled:disabled:last-of-type{
  border-right-color:transparent;
}

.c-btn.is-hovered.is-hovered,.c-btn:hover:hover{
  border-color:transparent;
  background-color:#5293c7;
  text-decoration:none;
  color:#fff;
}

.c-btn.c-btn--danger.is-hovered.is-hovered,.c-btn.c-btn--danger:hover:hover{
  background-color:#e35b66;
}

.c-btn:focus{
  outline:none;
  text-decoration:none;
}

.c-btn.is-focused{
  -webkit-box-shadow:0 0 0 3px rgba(31,115,183,.35);
          box-shadow:0 0 0 3px rgba(31,115,183,.35);
}

.c-btn.c-btn--danger.is-focused{
  -webkit-box-shadow:0 0 0 3px rgba(204,51,64,.35);
          box-shadow:0 0 0 3px rgba(204,51,64,.35);
}

.c-btn.is-active.is-active,.c-btn:active:active{
  -webkit-transition:border-color .1s ease-in-out,background-color .1s ease-in-out,color .1s ease-in-out;
  transition:border-color .1s ease-in-out,background-color .1s ease-in-out,color .1s ease-in-out;
  border-color:transparent;
  background-color:#144a75;
  text-decoration:none;
  color:#fff;
}

.c-btn.c-btn--danger.is-active.is-active,.c-btn.c-btn--danger:active:active{
  background-color:#8c232c;
}

.c-btn.is-focused.is-active.is-active,.c-btn.is-focused:active:active,.c-btn.is-hovered.is-hovered.is-active.is-active,.c-btn.is-hovered.is-hovered:active:active,.c-btn:hover:hover.is-active.is-active,.c-btn:hover:hover:active:active{
  -webkit-box-shadow:none;
          box-shadow:none;
}

.c-btn.is-disabled.is-disabled,.c-btn:disabled:disabled{
  border-color:transparent;
  -webkit-box-shadow:none;
          box-shadow:none;
  background-color:#e9ebed;
  cursor:default;
  color:#c2c8cc;
}

.c-btn--anchor{
  display:inline;
  border:none;
  border-radius:0;
  background-color:transparent;
  cursor:pointer;
  padding:0;
  min-width:0;
  vertical-align:baseline;
  text-decoration:none;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
  line-height:normal;
  white-space:normal;
  color:#1f73b7;
  font-size:inherit;
  font-weight:inherit;
}

.c-btn--anchor.c-btn--anchor.is-hovered.is-hovered,.c-btn--anchor.c-btn--anchor:hover:hover{
  background-color:transparent;
  text-decoration:underline;
  color:#1f73b7;
}

.c-btn.c-btn--anchor.c-btn--danger,.c-btn.c-btn--anchor.c-btn--danger.is-hovered.is-hovered,.c-btn.c-btn--anchor.c-btn--danger:hover:hover{
  color:#cc3340;
}

.c-btn--anchor.c-btn--anchor.is-focused{
  -webkit-box-shadow:none;
          box-shadow:none;
  text-decoration:underline;
}

.c-btn--anchor.c-btn--anchor.is-active.is-active,.c-btn--anchor.c-btn--anchor:active:active{
  background-color:transparent;
  text-decoration:underline;
  color:#1f73b7;
}

.c-btn.c-btn--anchor.c-btn--danger.is-active.is-active,.c-btn.c-btn--anchor.c-btn--danger:active:active{
  color:#cc3340;
}

.c-btn--anchor.c-btn--anchor.is-disabled.is-disabled,.c-btn--anchor.c-btn--anchor:disabled:disabled{
  background-color:transparent;
  text-decoration:none;
  color:#87929d;
}

.c-btn.c-btn--primary,.c-btn.is-selected{
  border-color:transparent;
  background-color:#1f73b7;
  color:#fff;
}

.c-btn.c-btn--danger.c-btn--primary,.c-btn.c-btn--danger.is-selected{
  background-color:#cc3340;
}

.c-btn--icon{
  padding:0;
  width:40px;
  min-width:0;
  height:40px;
}

.c-btn--icon.c-btn--sm{
  width:32px;
  height:32px;
}

.c-btn--icon.c-btn--lg{
  width:48px;
  height:48px;
}

.c-btn__icon{
  -webkit-transition:-webkit-transform .25s ease-in-out;
  transition:-webkit-transform .25s ease-in-out;
  transition:transform .25s ease-in-out;
  transition:transform .25s ease-in-out,-webkit-transform .25s ease-in-out;
  margin-top:-2px;
  width:18px;
  height:18px;
  vertical-align:middle;
}

.c-btn--sm .c-btn__icon{
  width:14px;
  height:14px;
}

.c-btn--lg .c-btn__icon{
  width:24px;
  height:24px;
}

.c-btn__icon.is-rotated{
  -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
}

.is-rtl .c-btn__icon.is-rotated{
  -webkit-transform:rotate(-180deg);
          transform:rotate(-180deg);
}

.c-btn--muted{
  border-color:#68737d;
  background-color:transparent;
  color:#68737d;
}

.c-btn.c-btn--muted.is-focused{
  outline:none;
  -webkit-box-shadow:none;
          box-shadow:none;
  background-color:hsla(209,9%,45%,.15);
  color:#2f3941;
}

.c-btn.c-btn--muted.is-active.is-active,.c-btn.c-btn--muted.is-hovered.is-hovered,.c-btn.c-btn--muted:active:active,.c-btn.c-btn--muted:hover:hover{
  border-color:#68737d;
  background-color:transparent;
  color:#2f3941;
}

.c-btn.c-btn--muted.is-disabled.is-disabled,.c-btn.c-btn--muted:disabled:disabled{
  border-color:transparent;
  background-color:#e9ebed;
  color:#c2c8cc;
}

.c-btn--muted.c-btn--basic{
  border:none;
}
