@import 'zd-css-variables';

:root {
  --zd-arrow-size: 1em;
  --zd-arrow-transform: rotate(45deg);
  --zd-arrow-position: calc(var(--zd-arrow-size) / -2);
}

.c-arrow {
  /* set base positioning for an arrow */
  position: relative;
}

.c-arrow:before {
  /* allow any border inherited by :after to show through */
  border-width: inherit;
  border-style: inherit;
  border-color: transparent;
  background-clip: content-box;
}

.c-arrow:after {
  /* styling and z-space positioning for arrow :after. Border styling and
  box-shadow will be automatically inherited from the parent element */
  z-index: -1;
  border: inherit;
  box-shadow: inherit;
  background-color: inherit;
}

@custom-selector :--around :before, :after;

.c-arrow:--around {
  /* apply shared position and sizing properties to :before and :after */
  position: absolute;
  transform: var(--zd-arrow-transform);
  background-color: inherit;
  width: var(--zd-arrow-size);
  height: var(--zd-arrow-size);
  content: '';
}

.c-arrow--t:--around {
  /* Positions an arrow at the top(v) center(h) of the parent element */
  top: var(--zd-arrow-position);
  left: 50%;
  margin-left: var(--zd-arrow-position);
}

.c-arrow--tl:--around {
  /* Positions an arrow at the top(v) left(h) of the parent element */
  top: var(--zd-arrow-position);
  left: var(--zd-arrow-size);
}

.c-arrow--tr:--around {
  /* Positions an arrow at the top(v) right(h) of the parent element */
  top: var(--zd-arrow-position);
  right: var(--zd-arrow-size);
}

.c-arrow--r:--around {
  /* Positions an arrow at the center(v) right(h) of the parent element */
  top: 50%;
  right: var(--zd-arrow-position);
  margin-top: var(--zd-arrow-position);
}

.c-arrow--l:--around {
  /* Positions an arrow at the center(v) left(h) of the parent element */
  top: 50%;
  left: var(--zd-arrow-position);
  margin-top: var(--zd-arrow-position);
}

.c-arrow--b:--around {
  /* Positions an arrow at the bottom(v) center(h) of the parent element */
  bottom: var(--zd-arrow-position);
  left: 50%;
  margin-left: var(--zd-arrow-position);
}

.c-arrow--bl:--around {
  /* Positions an arrow at the bottom(v) left(h) of the parent element */
  bottom: var(--zd-arrow-position);
  left: var(--zd-arrow-size);
}

.c-arrow--br:--around {
  /* Positions an arrow at the bottom(v) right(h) of the parent element */
  right: var(--zd-arrow-size);
  bottom: var(--zd-arrow-position);
}
