{
  "extends": "@zendeskgarden/stylelint-config",
  "rules": {
    "at-rule-no-unknown": [true, { "ignoreAtRules": ["apply", "tailwind"] }],
    "function-no-unknown": [
      true,
      { "ignoreFunctions": ["alpha", "blackness", "color-mod", "svg-inline", "svg-load"] }
    ],
    "no-unknown-custom-properties": null
  }
}
