@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-tab__list--accent-color: #2db1ba; /* override this variable with your product's accent color */
  --zd-tab__list--accent__item-active-border-color: color(var(--zd-tab__list--accent-color) alpha(25%));
  --zd-tab__list--accent__item-disabled-color: var(--zd-tab__list__item-disabled-color);
  --zd-tab__list--accent__item-focused-box-shadow: inset 0 0 0 2px color(var(--zd-tab__list--accent-color) alpha(30%));
  /* stylelint-enable max-line-length */
}

.c-tab__list--accent .c-tab__list__item:--hovered {
  color: var(--zd-tab__list--accent-color);
}

.c-tab__list--accent .c-tab__list__item:--focused {
  box-shadow: var(--zd-tab__list--accent__item-focused-box-shadow);
}

.c-tab__list--accent .c-tab__list__item:--active {
  border-color: var(--zd-tab__list--accent__item-active-border-color);
  box-shadow: inherit;
  color: var(--zd-tab__list--accent-color);
}

.c-tab__list--accent .c-tab__list__item:--selected {
  color: var(--zd-tab__list--accent-color);
}

.c-tab__list--accent .c-tab__list__item:--disabled {
  border-color: transparent;
  color: var(--zd-tab__list--accent__item-disabled-color);
}
