@import 'zd-css-variables';

:root {
  --zd-tab__list__item-active-border-color: currentColor;
  --zd-tab__list__item-active-color: var(--zd-color-dark-gray);
  --zd-tab__list__item-activating-border-color: var(--zd-color-lily-white);
}

@custom-selector :--activating :active, :active:hover;

.c-tab__list__item:--activating {
  border-color: var(--zd-color-lily-white);
}

@custom-selector :--active .is-active, .is-active:hover, .is-active:focus;

.c-tab__list__item:--active,
.is-rtl .c-tab__list__item:--active {
  border-color: var(--zd-tab__list__item-active-border-color);
  color: var(--zd-tab__list__item-active-color);
}
