@import 'zd-css-variables';

:root {
  --zd-tab__list-border-color: var(--zd-color-anti-flash-white);
  --zd-tab__list-color: var(--zd-color-steel);
  --zd-tab__list-font-size: var(--zd-font-size-epsilon);
  --zd-tab__list-line-height: 1.43;
  --zd-tab__list-margin-bottom: var(--zd-spacing);
  --zd-tab__list__item-border-width: 3px;
  --zd-tab__list__item-margin: 50px;
  --zd-tab__list__item-padding: 0 .3571em;
}

.c-tab {
  display: block;
  overflow: hidden;
}

.c-tab.is-rtl {
  direction: rtl;
}

/* 1. List element reset. */
.c-tab__list {
  display: block;
  margin-top: 0; /* [1] */
  margin-bottom: var(--zd-tab__list-margin-bottom);
  border-bottom: 1px solid var(--zd-tab__list-border-color);
  padding: 0; /* [1] */
  line-height: var(--zd-tab__list-line-height);
  white-space: nowrap;
  color: var(--zd-tab__list-color);
  font-size: var(--zd-tab__list-font-size);
}

/* 1. Text truncation (requires `max-width`).
 * 2. Overflow compensation.
 * 3. Anchor element reset. */
.c-tab__list__item {
  display: inline-block;
  margin-left: var(--zd-tab__list__item-margin);
  border-width: var(--zd-tab__list__item-border-width);
  border-bottom-style: solid;
  border-bottom-color: transparent;
  cursor: pointer;
  padding: var(--zd-tab__list__item-padding);
  overflow: hidden; /* [1] */
  vertical-align: top; /* [2] */
  user-select: none;
  text-align: center;
  text-decoration: none; /* [3] */
  text-overflow: ellipsis; /* [1] */
  color: inherit; /* [3] */
}

.c-tab__list__item:first-of-type {
  margin-left: 0;
}

.is-rtl .c-tab__list__item:first-of-type {
  margin-left: var(--zd-tab__list__item-margin);
}

.is-rtl .c-tab__list__item:last-of-type {
  margin-left: 0;
}

.c-tab__panel {
  display: block;
}
