@import '@zendesk/garden-css-variables';

:root {
  --zd-tab__list-border-color: var(--zd-color-gainsboro);
  --zd-tab__list-color: var(--zd-color-aluminum);
  --zd-tab__list-font-size: var(--zd-font-size-epsilon);
  --zd-tab__list-line-height: calc(20 / 14);
  --zd-tab__list-margin-bottom: var(--zd-spacing);
  --zd-tab__list__item-border-width: 3px;
  --zd-tab__list__item-margin: 50px;
  --zd-tab__list__item-padding: calc(5 / 14 * 1em);
  --zd-tab__list__item-transition:
    border-color .1s ease-in-out,
    box-shadow .1s ease-in-out,
    color .25s ease-in-out;
  --zd-tab__list__item__a-margin: calc(5 / 14 * -1em);
}

.c-tab {
  display: block;
  overflow: hidden;
}

.c-tab.is-rtl {
  direction: rtl;
}

/* 1. List element reset. */
.c-tab__list {
  display: block;
  margin-top: 0; /* [1] */
  margin-bottom: var(--zd-tab__list-margin-bottom);
  border-bottom: 1px solid var(--zd-tab__list-border-color);
  padding: 0; /* [1] */
  line-height: var(--zd-tab__list-line-height);
  white-space: nowrap;
  color: var(--zd-tab__list-color);
  font-size: var(--zd-tab__list-font-size);
}

/* 1. Text truncation (requires `max-width`).
 * 2. Overflow compensation.
 * 3. Anchor element reset. */
.c-tab__list__item {
  display: inline-block;
  position: relative;
  transition: var(--zd-tab__list__item-transition);
  margin-left: var(--zd-tab__list__item-margin);
  border-width: var(--zd-tab__list__item-border-width);
  border-bottom-style: solid;
  border-bottom-color: transparent;
  cursor: pointer;
  padding: var(--zd-tab__list__item-padding);
  overflow: hidden; /* [1] */
  vertical-align: top; /* [2] */
  user-select: none;
  text-align: center;
  text-decoration: none; /* [3] */
  text-overflow: ellipsis; /* [1] */
  color: inherit; /* [3] */
}

.c-tab__list__item a {
  display: block;
  margin: var(--zd-tab__list__item__a-margin);
  padding: var(--zd-tab__list__item-padding);
  color: inherit;
}

/* stylelint-disable selector-pseudo-class-no-unknown */
@custom-selector :--tab-first
  .is-first,
  :first-of-type;

.c-tab__list__item:--tab-first {
  margin-left: 0;
}

.is-rtl .c-tab__list__item:--tab-first {
  margin-left: var(--zd-tab__list__item-margin);
}

@custom-selector :--tab-last
  .is-last,
  :last-of-type;

.is-rtl .c-tab__list__item:--tab-last {
  margin-left: 0;
}

.c-tab__panel {
  display: block;
}
/* stylelint-enable selector-pseudo-class-no-unknown */
