:root {
  --zd-tab--block__list__item-margin-bottom: 20px;
  --zd-tab--block__list__item-padding: 0 calc(10 / 14 * 1em);
  --zd-tab--block__list__item__a-margin: 0 calc(10 / 14 * -1em);
  --zd-tab--block__panel-margin: var(--zd-spacing-lg);
}

.c-tab--block {
  display: table;
}

.c-tab--block .c-tab__list {
  display: table-cell;
  margin-bottom: 0;
  border-bottom: none;
  vertical-align: top;
}

.c-tab--block .c-tab__list__item {
  display: block;
  margin-bottom: var(--zd-tab--block__list__item-margin-bottom);
  margin-left: 0;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-color: transparent;
  padding: var(--zd-tab--block__list__item-padding);
  text-align: left;
}

.c-tab--block .c-tab__list__item a {
  margin: var(--zd-tab--block__list__item__a-margin);
  padding: var(--zd-tab--block__list__item-padding);
}

/* stylelint-disable selector-pseudo-class-no-unknown */
.c-tab--block .c-tab__list__item:--last {
  margin-bottom: 0;
}
/* stylelint-enable selector-pseudo-class-no-unknown */

.c-tab--block.is-rtl .c-tab__list__item {
  margin-left: 0;
  border-left: 0;
  border-right-style: solid;
  border-right-color: transparent;
  text-align: right;
}

.c-tab--block .c-tab__panel {
  margin-left: var(--zd-tab--block__panel-margin);
  vertical-align: top;
}

.c-tab--block.is-rtl .c-tab__panel {
  margin-right: var(--zd-tab--block__panel-margin);
  margin-left: 0;
}
