@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-tab__list__item-active-border-color: var(--zd-color-gainsboro);
  --zd-tab__list__item-disabled-color: var(--zd-color-gainsboro);
  --zd-tab__list__item-focused-box-shadow: inset 0 0 0 2px var(--zd-color-gainsboro);
  --zd-tab__list__item-hovered-color: var(--zd-color-oil);
  --zd-tab__list__item-selected-border-color: currentColor;
  --zd-tab__list__item-selected-color: var(--zd-color-oil);
  /* stylelint-enable max-line-length */
}

/* 1. Specificity hack for border color.
 * 2. No [aria-selected] styling due to behavioral timing delay between
 *    selection and expansion. */

@custom-selector :--hovered .is-hovered, :hover;

.c-tab__list__item:--hovered {
  color: var(--zd-tab__list__item-hovered-color);
}

@custom-selector :--focused .is-focused, :focus;

.c-tab__list__item:--focused {
  outline: none;
  box-shadow: var(--zd-tab__list__item-focused-box-shadow);
}

@custom-selector :--active .is-active, :active;

.c-tab__list__item.c-tab__list__item:--active { /* [1] */
  border-color: var(--zd-tab__list__item-active-border-color);
  box-shadow: none;
}

@custom-selector :--selected .is-selected; /* [2] */

.c-tab__list__item.c-tab__list__item:--selected { /* [1] */
  border-color: var(--zd-tab__list__item-selected-border-color);
  color: var(--zd-tab__list__item-selected-color);
}

@custom-selector :--disabled .is-disabled, [disabled], [aria-disabled='true'];

.c-tab__list__item.c-tab__list__item:--disabled {
  border-color: transparent;
  cursor: default;
  color: var(--zd-tab__list__item-disabled-color);
}

@custom-selector :--hidden .is-hidden, [aria-hidden='true'];

.c-tab__panel:--hidden {
  display: none;
}
