@import 'zd-css-variables';

:root {
  --zd-tab__list-border-color: var(--zd-color-lily-white);
  --zd-tab__list-font-size: var(--zd-font-size-epsilon);
  --zd-tab__list-line-height: 1.43;
  --zd-tab__list-margin-bottom: 20px;
  --zd-tab__list__item-border-width: 3px;
  --zd-tab__list__item-margin-left: 40px;
  --zd-tab__list__item-active-border-color: currentColor;
  --zd-tab__list__item-active-font-weight: var(--zd-font-weight-semibold);
  --zd-tab__list__item-focused-border-color: var(--zd-color-lily-white);
}

.c-tab {
  display: block;
  overflow: hidden;
}

/* 1. List element reset. */
.c-tab__list {
  display: block;
  margin-top: 0; /* [1] */
  margin-bottom: var(--zd-tab__list-margin-bottom);
  border-bottom: 1px solid var(--zd-tab__list-border-color);
  padding: 0; /* [1] */
  line-height: var(--zd-tab__list-line-height);
  white-space: nowrap;
  font-size: var(--zd-tab__list-font-size);
}

/* 1. Text truncation (requires `max-width`).
 * 2. Overflow compensation.
 * 3. Anchor element reset. */
.c-tab__list__item {
  display: inline-block;
  margin-left: var(--zd-tab__list__item-margin-left);
  border-width: var(--zd-tab__list__item-border-width);
  border-bottom-style: solid;
  border-bottom-color: transparent;
  cursor: pointer;
  overflow: hidden; /* [1] */
  vertical-align: top; /* [2] */
  user-select: none;
  text-align: center;
  text-decoration: none; /* [3] */
  text-overflow: ellipsis; /* [1] */
  color: inherit; /* [3] */
}

.c-tab__list__item:first-of-type {
  margin-left: 0;
}

@custom-selector :--focused :hover, :focus, .is-focused;

.c-tab__list__item:--focused {
  border-color: var(--zd-tab__list__item-focused-border-color);
}

@custom-selector :--activating :active, :active:hover;

.c-tab__list__item:--activating {
  font-weight: var(--zd-tab__list__item-active-font-weight);
}

@custom-selector :--active .is-active, .is-active:hover, .is-active:focus;

.c-tab__list__item:--active {
  border-color: var(--zd-tab__list__item-active-border-color);
  font-weight: var(--zd-tab__list__item-active-font-weight);
}

.c-tab__panel {
  display: block;
}
