@import 'zd-css-variables';

:root {
  --zd-chk-active-border-color: var(--zd-color-aluminum);
}

@custom-selector :--active :active, :active:hover, .is-active, .is-active:hover, .is-active:focus;

.c-chk:--active {
  border-color: var(--zd-chk-active-border-color);
}
