@import 'zd-css-variables';

:root {
  --zd-chk-background-color: var(--zd-color-white);
  --zd-chk-border: 1px solid currentColor;
  --zd-chk-border-radius: 4px;
  --zd-chk-color: var(--zd-color-aluminum);
  --zd-chk-font-size: var(--zd-font-size-zeta);
  --zd-chk-line-height: var(--zd-spacing);
  --zd-chk-size: var(--zd-font-size-epsilon);
  --zd-chk__label-padding: calc(var(--zd-chk-font-size) + var(--zd-spacing-sm));
}

/* 1. Reset for <fieldset> element.
   2. Hide <input type="checkbox"> but retain accessibility.
   3. Vertical centering. */

.c-chk {
  margin: 0; /* [1] */
  border: 0; /* [1] */
  padding: 0; /* [1] */
  line-height: var(--zd-chk-line-height);
  font-size: var(--zd-chk-font-size);
}

.c-chk__input {
  position: absolute; /* [2] */
  clip: rect(1px, 1px, 1px, 1px); /* [2] */
}

.c-chk__label {
  position: relative;
  cursor: pointer;
  padding-left: var(--zd-chk__label-padding);
  color: var(--zd-chk-color);
  user-select: none;
}

.c-chk__label:before,
.c-chk__label:after {
  position: absolute;
  top: 50%; /* [3] */
  left: 0;
  margin-top: calc(var(--zd-chk-size) / 2 * -1); /* [3] */
  border: var(--zd-chk-border);
  border-radius: var(--zd-chk-border-radius);
  width: var(--zd-chk-size);
  height: var(--zd-chk-size);
  box-sizing: border-box;
  color: inherit;
  content: '';
}

.c-chk__label:before {
  background-color: var(--zd-chk-background-color);
}

.c-chk__label:after {
  border-color: transparent;
}
