@import '@zendesk/garden-css-variables';

:root {
  --zd-chk-background-color: var(--zd-color-white);
  --zd-chk-border: 1px solid var(--zd-color-gainsboro);
  --zd-chk-border-radius: 4px;
  --zd-chk-size: var(--zd-font-size-epsilon);
  --zd-chk-transition:
    border-color .25s ease-in-out,
    box-shadow .1s ease-in-out,
    background-color .25s ease-in-out,
    background-image .25s ease-in-out,
    color .25s ease-in-out;
  --zd-chk__label-padding: calc(var(--zd-chk-size) + var(--zd-spacing-sm));
}

/* 1. Reset for <fieldset> element.
   2. Hide <input type="checkbox"> but retain accessibility.
   3. Vertical centering. */

.c-chk {
  position: relative;
  margin: 0; /* [1] */
  border: 0; /* [1] */
  padding: 0; /* [1] */
}

.c-chk__input {
  position: absolute; /* [2] */
  clip: rect(1px, 1px, 1px, 1px); /* [2] */
}

.c-chk__label {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

.c-chk__label.c-chk__label {
  display: inline;
}

/* stylelint-disable selector-max-specificity */
.c-chk__label,
.c-chk__hint,
.c-chk__message,
.c-chk.has-error .c-chk__message.c-chk__message,
.c-chk.has-success .c-chk__message.c-chk__message,
.c-chk.has-warning .c-chk__message.c-chk__message {
  padding-left: var(--zd-chk__label-padding);
}
/* stylelint-enable selector-max-specificity */

.c-chk__label::before {
  position: absolute;
  top: 50%; /* [3] */
  left: 0;
  transition: var(--zd-chk-transition);
  margin-top: calc(var(--zd-chk-size) / 2 * -1); /* [3] */
  border: var(--zd-chk-border);
  border-radius: var(--zd-chk-border-radius);
  background-color: var(--zd-chk-background-color);
  width: var(--zd-chk-size);
  height: var(--zd-chk-size);
  box-sizing: border-box;
  color: inherit;
  content: '';
}

.c-chk.is-rtl {
  direction: rtl;
}

/* stylelint-disable selector-max-specificity */
.c-chk.is-rtl .c-chk__label,
.c-chk.is-rtl .c-chk__hint,
.c-chk.is-rtl .c-chk__message,
.c-chk.is-rtl.has-error .c-chk__message,
.c-chk.is-rtl.has-success .c-chk__message,
.c-chk.is-rtl.has-warning .c-chk__message {
  padding-right: var(--zd-chk__label-padding);
  padding-left: 0;
}
/* stylelint-enable selector-max-specificity */

.c-chk.is-rtl .c-chk__label::before {
  right: 0;
  left: auto;
}
