@import '@zendesk/garden-css-variables';

/* stylelint-disable */
@svg-load circle url('14-circle.svg') {
  color: var(--zd-color-algae);
  circle {
    r: 4.5;
  }
}
/* stylelint-enable */

:root {
  /* stylelint-disable max-line-length */
  --zd-chk--dark-background-color: var(--zd-color-sherpa-blue);
  --zd-chk--dark-active-background-color: color(var(--zd-chk--dark-background-color) blackness(+5%));
  --zd-chk--dark-disabled-background-color: var(--zd-color-breaker-bay);
  --zd-chk--dark-disabled-background-image: svg-load('14-checkmark.svg', color: var(--zd-color-algae));
  --zd-chk--dark-indeterminate-disabled-background-image: svg-load('14-dash.svg', color: var(--zd-color-algae));
  --zd-chk--dark--radio-disabled-background-image: svg-inline(circle);
  --zd-chk--dark--toggle-background-color: var(--zd-color-breaker-bay);
  --zd-chk--dark--toggle-active-background-color: color(var(--zd-chk--dark--toggle-background-color) blackness(+5%));
  --zd-chk--dark--toggle-disabled-background-image: svg-load('14-circle.svg', color: var(--zd-color-algae));
  /* stylelint-enable max-line-length */
}

.c-chk--dark .c-chk__label::before {
  border-color: transparent;
  background-color: var(--zd-chk--dark-background-color);
}

.c-chk--dark:--chk-active::before {
  background-color: var(--zd-chk--dark-active-background-color);
}

.c-chk--dark:--chk-disabled::before {
  background-color: var(--zd-chk--dark-disabled-background-color);
}

.c-chk--dark:--chk-checked-disabled::before {
  background-image: var(--zd-chk--dark-disabled-background-image);
}

.c-chk--dark:--chk-indeterminate-disabled::before {
  background-image: var(--zd-chk--dark-indeterminate-disabled-background-image);
}

.c-chk--dark.c-chk--radio:--chk-checked-disabled::before {
  background-image: var(--zd-chk--dark--radio-disabled-background-image);
}

.c-chk--dark.c-chk--toggle:--chk-active::before {
  background-color: var(--zd-chk--dark--toggle-active-background-color);
}

.c-chk--dark.c-chk--toggle .c-chk__label::before {
  background-color: var(--zd-chk--dark--toggle-background-color);
}

.c-chk--dark.c-chk--toggle:--chk-disabled::before {
  background-image: var(--zd-chk--dark--toggle-disabled-background-image);
}
