:root {
  --zd-chk-disabled-background-color: var(--zd-color-gainsboro);
  --zd-chk-disabled-border-color: var(--zd-chk-disabled-background-color);
  --zd-chk-disabled-color: var(--zd-color-white);
  --zd-chk-disabled-checked-focused-box-shadow-color: var(--zd-color-platinum);
}

@custom-selector :--disabled [disabled], .is-disabled;

.c-chk:--disabled,
.c-chk:--disabled:--focused,
.c-chk:--disabled:--checked,
.c-chk:--disabled:--active {
  background-color: var(--zd-chk-disabled-background-color);
  border-color: var(--zd-chk-disabled-border-color);
  cursor: default;
}

.c-chk:--disabled:--checked:--focused {
  box-shadow: 0 0 var(--zd-chk-focused-box-shadow-blur-radius) var(--zd-chk-focused-box-shadow-spread-radius) var(--zd-chk-disabled-checked-focused-box-shadow-color);
}
