:root {
  --zd-chk--radio-checked-background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%224.5%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
  --zd-chk--radio-checked-active-background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%224.5%22%20fill%3D%22%23999%22%2F%3E%3C%2Fsvg%3E');
}

.c-chk--radio > .c-chk__label::before,
.c-chk--radio > .c-chk__label::after {
  border-radius: var(--zd-chk-line-height);
}

.c-chk--radio:--chk-checked::after {
  background-image: var(--zd-chk--radio-checked-background-image);
}

.c-chk--radio:--chk-checked-active::after {
  background-image: var(--zd-chk--radio-checked-active-background-image);
}
