/* stylelint-disable */
@svg-load circle url('14-circle.svg') {
  color: var(--zd-color-white);
  circle {
    r: 4.5;
  }
}
/* stylelint-enable */

:root {
  --zd-chk--radio-checked-background-image: svg-inline(circle);
}

.c-chk--radio .c-chk__label::before,
.c-chk--radio .c-chk__label::after {
  border-radius: 50%;
}

.c-chk--radio:--chk-checked::after {
  background-image: var(--zd-chk--radio-checked-background-image);
}
