/* stylelint-disable at-rule-empty-line-before, max-line-length */

@custom-selector :--chk-checked
  .c-chk.is-checked .c-chk__label,
  .c-chk .c-chk__input:checked ~ .c-chk__label;

@custom-selector :--chk-checked-enabled
  .c-chk.is-checked:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label,
  .c-chk:not(.is-disabled) .c-chk__input:enabled:checked ~ .c-chk__label;

@custom-selector :--chk-indeterminate
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-indeterminate .c-chk__label,
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle) .c-chk__input:indeterminate ~ .c-chk__label;

@custom-selector :--chk-indeterminate-enabled
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-indeterminate:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label,
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle):not(.is-disabled) .c-chk__input:enabled:indeterminate ~ .c-chk__label;

@custom-selector :--chk-hovered
  .c-chk.is-hovered:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label,
  .c-chk:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label:hover;

@custom-selector :--chk-focused
  .c-chk.is-focused:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label;

@custom-selector :--chk-active
  .c-chk.is-active:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label,
  .c-chk:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label:active;

/* 1. Class = checked/indeterminate & active.
 * 2. Class = checked/indeterminate; psuedo = active.
 * 3. Class = active; psuedo = checked/indeterminate.
 * 4. Psuedo = checked/indeterminate & active. */

@custom-selector :--chk-checked-active
  .c-chk.is-checked.is-active:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label, /* [1] */
  .c-chk.is-checked:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label:active, /* [2] */
  .c-chk.is-active:not(.is-disabled) .c-chk__input:enabled:checked ~ .c-chk__label, /* [3] */
  .c-chk:not(.is-disabled) .c-chk__input:enabled:checked ~ .c-chk__label:active; /* [4] */

@custom-selector :--chk-indeterminate-active
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-indeterminate.is-active:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label, /* [1] */
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-indeterminate:not(.is-disabled) .c-chk__input:enabled ~ .c-chk__label:active, /* [2] */
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-active:not(.is-disabled) .c-chk__input:enabled:indeterminate ~ .c-chk__label, /* [3] */
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle):not(.is-disabled) .c-chk__input:enabled:indeterminate ~ .c-chk__label:active; /* [4] */

@custom-selector :--chk-disabled
  .c-chk.is-disabled .c-chk__label,
  .c-chk .c-chk__input[disabled] ~ .c-chk__label;

/* 1. Class = checked/indeterminate & disabled.
 * 2. Class = checked/indeterminate; attribute = disabled.
 * 3. Class = disabled; psuedo = checked/indeterminate.
 * 4. Psuedo = checked/indeterminate; attribute = disabled. */

@custom-selector :--chk-checked-disabled
  .c-chk.is-checked.is-disabled .c-chk__label, /* [1] */
  .c-chk.is-checked .c-chk__input[disabled] ~ .c-chk__label, /* [2] */
  .c-chk.is-disabled .c-chk__input:checked ~ .c-chk__label, /* [3] */
  .c-chk .c-chk__input:checked[disabled] ~ .c-chk__label; /* [4] */

@custom-selector :--chk-indeterminate-disabled
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-indeterminate.is-disabled .c-chk__label, /* [1] */
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-indeterminate .c-chk__input[disabled] ~ .c-chk__label, /* [2] */
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle).is-disabled .c-chk__input:indeterminate ~ .c-chk__label, /* [3] */
  .c-chk:not(.c-chk--radio):not(.c-chk--toggle) .c-chk__input:indeterminate[disabled] ~ .c-chk__label; /* [4] */

/* stylelint-enable at-rule-empty-line-before, max-line-length */
