:root {
  /* stylelint-disable max-line-length */
  --zd-chk--toggle-background-color: var(--zd-color-aluminum);
  --zd-chk--toggle-active-background-color: color(var(--zd-chk--toggle-background-color) blackness(+10%));
  --zd-chk--toggle-checked-active-background-color: var(--zd-chk-checked-active-background-color);
  --zd-chk--toggle-disabled-background-color: var(--zd-chk-disabled-background-color);
  --zd-chk--toggle-background-image: svg-load('14-circle.svg', color: var(--zd-color-white));
  --zd-chk--toggle-height: var(--zd-spacing);
  --zd-chk--toggle-transition:
    box-shadow .1s ease-in-out,
    background-color .15s ease-in-out,
    background-position .15s ease-in-out,
    color .25s ease-in-out;
  --zd-chk--toggle-width: var(--zd-spacing-xl);
  --zd-chk--toggle__label-padding: calc(var(--zd-chk--toggle-width) + var(--zd-spacing-sm));
  /* stylelint-enable max-line-length */
}

.c-chk--toggle .c-chk__label {
  padding-left: var(--zd-chk--toggle__label-padding);
}

.c-chk--toggle .c-chk__label::before,
.c-chk--toggle .c-chk__label::after {
  top: 0;
  margin-top: 0;
  border: none;
  border-radius: 100px;
  background-color: var(--zd-chk--toggle-background-color);
  width: var(--zd-chk--toggle-width);
  height: var(--zd-chk--toggle-height);
}

.c-chk--toggle .c-chk__label::after {
  transition: var(--zd-chk--toggle-transition);
  background-image: var(--zd-chk--toggle-background-image);
  background-repeat: no-repeat;
  background-position: 10%;
}

.c-chk--toggle:--chk-checked::after {
  background-image: var(--zd-chk--toggle-background-image);
  background-position: 90%;
  background-size: auto;
}

.c-chk--toggle:--chk-active::after {
  background-color: var(--zd-chk--toggle-active-background-color);
}

.c-chk--toggle:--chk-checked-active::after {
  background-color: var(--zd-chk--toggle-checked-active-background-color);
}

.c-chk--toggle:--chk-disabled::before,
.c-chk--toggle:--chk-disabled::after {
  background-color: var(--zd-chk--toggle-disabled-background-color);
}

.c-chk--toggle.is-rtl .c-chk__label {
  padding-right: var(--zd-chk--toggle__label-padding);
}

.c-chk--toggle.is-rtl .c-chk__label::after {
  background-position: 90%;
}

.c-chk--toggle.is-rtl:--chk-checked::after {
  background-position: 10%;
}
