:root {
  /* stylelint-disable max-line-length */
  --zd-chk--toggle-background-color: var(--zd-color-gainsboro);
  --zd-chk--toggle-active-background-color: color(var(--zd-chk--toggle-background-color) blackness(+20%));
  --zd-chk--toggle-checked-active-background-color: color(var(--zd-color-aluminum) blackness(+20%));
  --zd-chk--toggle-disabled-background-color: var(--zd-color-anti-flash-white);
  --zd-chk--toggle-disabled-background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%226%22%20fill%3D%22%23ddd%22%2F%3E%3C%2Fsvg%3E');
  --zd-chk--toggle-background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Ccircle%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%226%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
  --zd-chk--toggle-focused-box-shadow: 0 0 0 2px var(--zd-color-anti-flash-white);
  --zd-chk--toggle-height: var(--zd-spacing);
  --zd-chk--toggle-width: var(--zd-spacing-xl);
  --zd-chk--toggle__label-padding: calc(var(--zd-chk--toggle-width) + var(--zd-spacing-sm));
  /* stylelint-enable max-line-length */
}

.c-chk--toggle > .c-chk__label {
  padding-left: var(--zd-chk--toggle__label-padding);
}

.c-chk--toggle > .c-chk__label::before,
.c-chk--toggle > .c-chk__label::after {
  top: 0;
  margin-top: -1px;
  border: none;
  border-radius: 100px;
  background-color: var(--zd-chk--toggle-background-color);
  width: var(--zd-chk--toggle-width);
  height: var(--zd-chk--toggle-height);
}

.c-chk--toggle > .c-chk__label::after {
  transition: background-position .15s ease-in-out;
  background-image: var(--zd-chk--toggle-background-image);
  background-repeat: no-repeat;
  background-position: 0;
}

.c-chk--toggle:--chk-checked::after {
  background-image: var(--zd-chk--toggle-background-image);
  background-position: 100%;
  background-size: auto;
}

.c-chk--toggle:--chk-focused::after {
  box-shadow: var(--zd-chk--toggle-focused-box-shadow);
}

.c-chk--toggle:--chk-active::after {
  background-color: var(--zd-chk--toggle-active-background-color);
}

.c-chk--toggle:--chk-checked-active::after {
  background-color: var(--zd-chk--toggle-checked-active-background-color);
  background-image: var(--zd-chk--toggle-background-image);
}

.c-chk--toggle:--chk-disabled::after {
  background-color: var(--zd-chk--toggle-disabled-background-color);
  background-image: var(--zd-chk--toggle-disabled-background-image);
}

.c-chk--toggle.is-rtl > .c-chk__label {
  padding-right: var(--zd-chk--toggle__label-padding);
}

.c-chk--toggle.is-rtl > .c-chk__label::after {
  background-position: 100%;
}

.c-chk--toggle.is-rtl:--chk-checked::after {
  background-position: 0;
}
