@import '_variables';
@import '_selectors';

:root {
  --zd-table__row__cell__sortable-padding: 17px;
  --zd-table__row__cell__sortable-transition: opacity .25s ease-in-out;
  --zd-table__row__cell__sortable-font-weight: var(--zd-font-weight-semibold);
  --zd-table__row__cell__sortable-ascending-background-image: svg-load('14-sort.svg', color: var(--zd-table-font-color), fill: var(--zd-color-silver-sand));
  --zd-table__row__cell__sortable-descending-background-image: svg-load('14-sort.svg', color: var(--zd-color-silver-sand), fill: var(--zd-table-font-color));
  --zd-table__row__cell__sortable-hover-background-image: svg-load('14-sort.svg', color: color(var(--zd-table-color) alpha(40%)), fill: color(var(--zd-table-color) alpha(40%)));
  --zd-table__row__cell__sortable-hover-color: var(--zd-table-color);
  --zd-table__row__cell__sortable-hover-ascending-background-image: svg-load('14-sort.svg', color: var(--zd-table-color), fill: color(var(--zd-table-color) alpha(40%)));
  --zd-table__row__cell__sortable-hover-descending-background-image: svg-load('14-sort.svg', color: color(var(--zd-table-color) alpha(40%)), fill: var(--zd-table-color));
  --zd-table--dark__row__cell__sortable-ascending-background-image: svg-load('14-sort.svg', color: var(--zd-color-karl), fill: var(--zd-color-breaker-bay));
  --zd-table--dark__row__cell__sortable-descending-background-image: svg-load('14-sort.svg', color: var(--zd-color-breaker-bay), fill: var(--zd-color-karl));
}

/* 1. Reset for <button> element.
 * 2. Reset for <a>nchor element.  */
.c-table__row__cell__sortable {
  position: relative;
  border: none; /* [1] */
  background-color: transparent; /* [1] */
  cursor: pointer;
  padding: 0; /* [1] */
  padding-right: var(--zd-table__row__cell__sortable-padding);
  text-decoration: none; /* [2] */
  color: inherit;
  font-family: inherit; /* [1] */
  font-size: inherit; /* [1] */
  font-weight: var(--zd-table__row__cell__sortable-font-weight);
}

/* stylelint-disable no-descending-specificity */

.c-table:not(.c-table--dark) .c-table__row__cell__sortable {
  color: var(--zd-table-font-color);
}

.c-table__row__cell__sortable::before {
  position: absolute;
  top: 0;
  right: 0;
  transition: var(--zd-table__row__cell__sortable-transition);
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  width: var(--zd-table-font-size);
  height: 100%;
  content: '';
}

.c-table__row__cell__sortable.is-ascending::before {
  opacity: 1;
  background-image: var(--zd-table__row__cell__sortable-ascending-background-image);
}

.c-table__row__cell__sortable.is-descending::before {
  opacity: 1;
  background-image: var(--zd-table__row__cell__sortable-descending-background-image);
}

.c-table--dark .c-table__row__cell__sortable.is-ascending::before {
  background-image: var(--zd-table--dark__row__cell__sortable-ascending-background-image);
}

.c-table--dark .c-table__row__cell__sortable.is-descending::before {
  background-image: var(--zd-table--dark__row__cell__sortable-descending-background-image);
}

.c-table__row__cell__sortable:--table__row__cell__sortable-hovered {
  text-decoration: none;
}

.c-table .c-table__row__cell__sortable:--table__row__cell__sortable-hovered,
.c-table .c-table__row__cell__sortable:--table__row__cell__sortable-focused {
  color: var(--zd-table__row__cell__sortable-hover-color);
}

.c-table__row__cell__sortable:--table__row__cell__sortable-hovered::before,
.c-table__row__cell__sortable:--table__row__cell__sortable-focused::before {
  opacity: 1;
  background-image: var(--zd-table__row__cell__sortable-hover-background-image);
}

/* stylelint-disable max-line-length */

.c-table__row__cell__sortable.is-ascending:--table__row__cell__sortable-hovered::before,
.c-table__row__cell__sortable.is-ascending:--table__row__cell__sortable-focused::before {
  background-image: var(--zd-table__row__cell__sortable-hover-ascending-background-image);
}

.c-table__row__cell__sortable.is-descending:--table__row__cell__sortable-hovered::before,
.c-table__row__cell__sortable.is-descending:--table__row__cell__sortable-focused::before {
  background-image: var(--zd-table__row__cell__sortable-hover-descending-background-image);
}

.c-table__row__cell__sortable:focus {
  outline: none;
  text-decoration: none;
}

.c-table__row__cell__sortable.is-focused {
  text-decoration: underline;
}

/* stylelint-enable max-line-length, no-descending-specificity */
