@import '@zendesk/garden-css-variables';

:root {
  --zd-dialog--dark-background-color: var(--zd-color-algae);
  --zd-dialog--dark-border-color: var(--zd-color-sherpa-blue);
  --zd-dialog--dark-box-shadow:
    0 var(--zd-dialog-box-shadow-offset-y) var(--zd-dialog-box-shadow-blur-radius) 0
    color(var(--zd-color-black) alpha(15%));
  --zd-dialog--dark__body-color: var(--zd-color-submarine);
  --zd-dialog--dark__close-background-image: svg-load('14-remove.svg', color: var(--zd-color-breaker-bay));
  --zd-dialog--dark__close-focused-background-color: var(--zd-color-sherpa-blue);
  --zd-dialog--dark__close-hovered-background-image: svg-load('14-remove.svg', color: var(--zd-color-submarine));
  --zd-dialog--dark__header-color: var(--zd-color-white);
}

.c-dialog--dark {
  border-color: transparent;
  box-shadow: var(--zd-dialog--dark-box-shadow);
  background-color: var(--zd-dialog--dark-background-color);
}

.c-dialog--dark .c-dialog__body {
  color: var(--zd-dialog--dark__body-color);
}

.c-dialog--dark .c-dialog__close::before {
  background-image: var(--zd-dialog--dark__close-background-image);
}

.c-dialog--dark .c-dialog__close::after {
  background-image: var(--zd-dialog--dark__close-hovered-background-image);
}

.c-dialog--dark .c-dialog__close.is-focused {
  background-color: var(--zd-dialog--dark__close-focused-background-color);
}

.c-dialog--dark .c-dialog__header {
  border-bottom-color: var(--zd-dialog--dark-border-color);
  color: var(--zd-dialog--dark__header-color);
}

.c-dialog--dark.c-dialog--large .c-dialog__footer {
  border-top-color: var(--zd-dialog--dark-border-color);
}
