@import '@zendeskgarden/css-variables';

:root {
  --zd-dialog__footer-padding: 0 var(--zd-spacing-xl) 32px;
  --zd-dialog__footer__btn-margin: 20px;
  --zd-dialog--large__footer-padding: 32px var(--zd-spacing-xl);
  --zd-dialog--large__footer-border-top: var(--zd-dialog__header-border-bottom);
}

.c-dialog__footer {
  display: block;
  padding: var(--zd-dialog__footer-padding);
  text-align: right;
}

.c-dialog--large .c-dialog__footer {
  border-top: var(--zd-dialog--large__footer-border-top);
  padding: var(--zd-dialog--large__footer-padding);
}

.c-dialog__footer__item {
  display: inline-block;
  margin-left: var(--zd-dialog__footer__btn-margin);
}

.c-dialog.is-rtl .c-dialog__footer {
  text-align: left;
}

.c-dialog.is-rtl .c-dialog__footer__item {
  margin-right: var(--zd-dialog__footer__btn-margin);
  margin-left: 0;
}
