@import '@zendeskgarden/css-variables';

:root {
  --zd-dialog__footer-padding-top: var(--zd-spacing-xl);
  --zd-dialog__footer-padding: var(--zd-dialog__footer-padding-top) var(--zd-spacing-xl) 32px;
  --zd-dialog__footer__item-margin: 20px;
  --zd-dialog--large__footer-padding: 32px var(--zd-spacing-xl);
  --zd-dialog--large__footer-border-top: var(--zd-dialog__header-border-bottom);
}

.c-dialog__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--zd-dialog__footer-padding);
}

.c-dialog--large .c-dialog__footer {
  border-top: var(--zd-dialog--large__footer-border-top);
  padding: var(--zd-dialog--large__footer-padding);
}

.c-dialog__footer__item {
  display: flex;
  margin-left: var(--zd-dialog__footer__item-margin);
  min-width: 0;
}

.c-dialog__footer__item:first-child {
  margin-left: 0;
}

.c-dialog.is-rtl .c-dialog__footer__item {
  margin-right: var(--zd-dialog__footer__item-margin);
  margin-left: 0;
}

/* stylelint-disable selector-max-specificity */
.c-dialog.is-rtl .c-dialog__footer__item:first-child {
  margin-right: 0;
}
/* stylelint-enable selector-max-specificity */
