/* 1. Override for <input> & <button> elements.
 * 2. FF <input type="submit" fix. */

.c-btn {
  @apply inline-block;
  /* prettier-ignore */
  transition:
    border-color .25s ease-in-out,
    box-shadow .1s ease-in-out,
    background-color .25s ease-in-out,
    color .25s ease-in-out;
  @apply m-0;
  border: 1px solid;
  @apply border-transparent;
  @apply rounded;
  @apply cursor-pointer;
  @apply overflow-hidden;
  @apply align-middle;
  @apply text-center;
  @apply text-ellipsis;
  @apply whitespace-nowrap;
  @apply font-[inherit]; /* [1] */
  @apply font-normal;
  @apply subpixel-antialiased;
  @apply box-border;
  @apply select-none;
  -webkit-touch-callout: none;

  @apply disabled:cursor-default;
}

.c-btn--pill {
  @apply rounded-full;
}

.c-btn::-moz-focus-inner {
  /* [2] */
  border: 0;
  @apply p-0;
}

.c-btn:focus {
  outline: none;
}

.c-btn__icon {
  @apply align-middle;
}
