@import '@zendeskgarden/css-variables';
@import '_variables';

:root {
  --zd-btn-font-size: var(--zd-font-size-epsilon);
  --zd-btn-font-weight: var(--zd-font-weight-regular);
  --zd-btn-background-color: transparent;
  --zd-btn-border-radius: 4px;
  --zd-btn-border-width: 1px;
  --zd-btn-line-height: 38px;
  --zd-btn-padding: calc(27 / 14 * 1em);
  --zd-btn-min-width: calc(calc(66 / 14 * 1em) + calc(var(--zd-btn-padding) * 2));
  --zd-btn-transition:
    border-color .25s ease-in-out,
    box-shadow .1s ease-in-out,
    background-color .25s ease-in-out,
    color .25s ease-in-out;
  --zd-btn--lg-font-size: var(--zd-font-size-epsilon);
  --zd-btn--lg-line-height: 46px;
  --zd-btn--lg-padding: calc(27 / 14 * 1em);
  --zd-btn--lg-min-width: calc(calc(86 / 14 * 1em) + calc(var(--zd-btn--lg-padding) * 2));
  --zd-btn--pill-border-radius: 100px;
  --zd-btn--sm-font-size: var(--zd-font-size-zeta);
  --zd-btn--sm-line-height: 30px;
  --zd-btn--sm-padding: calc(27 / 12 * 1em);
  --zd-btn--sm-min-width: calc(calc(46 / 12 * 1em) + calc(var(--zd-btn--sm-padding) * 2));
}

/* 1. IE inner spacing fix.
 * 2. Anchor tag reset.
 * 3. Override for <input> & <button> elements.
 * 4. FF <input type="submit" fix. */

.c-btn {
  display: inline-block;
  transition: var(--zd-btn-transition);
  margin: 0;
  border: var(--zd-btn-border-width) solid var(--zd-btn-border-color);
  border-radius: var(--zd-btn-border-radius);
  background-color: var(--zd-btn-background-color);
  cursor: pointer;
  padding: 0 var(--zd-btn-padding);
  min-width: var(--zd-btn-min-width);
  overflow: visible; /* [1] */
  vertical-align: middle;
  text-align: center;
  text-decoration: none; /* [2] */
  line-height: var(--zd-btn-line-height);
  white-space: nowrap;
  color: var(--zd-btn-color);
  font-family: inherit; /* [3] */
  font-size: var(--zd-btn-font-size);
  font-weight: var(--zd-btn-font-weight);
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
}

.c-btn::-moz-focus-inner { /* [4] */
  border: 0;
  padding: 0;
}

.c-btn--pill { border-radius: var(--zd-btn--pill-border-radius); }

.c-btn--sm {
  padding: 0 var(--zd-btn--sm-padding);
  min-width: var(--zd-btn--sm-min-width);
  line-height: var(--zd-btn--sm-line-height);
  font-size: var(--zd-btn--sm-font-size);
}

.c-btn--lg {
  padding: 0 var(--zd-btn--lg-padding);
  min-width: var(--zd-btn--lg-min-width);
  line-height: var(--zd-btn--lg-line-height);
  font-size: var(--zd-btn--lg-font-size);
}

.c-btn--full {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-btn.c-btn--danger {
  border-color: var(--zd-btn--danger-border-color);
  color: var(--zd-btn--danger-color);
}
