@import '@zendeskgarden/css-variables';
@import '_selectors';

:root {
  --zd-btn-color: var(--zd-color-blue-600);
  --zd-btn-color_hover: var(--zd-color-blue-700);
  --zd-btn-color_active: var(--zd-color-blue-800);
  --zd-btn--danger-color: var(--zd-color-red-600);
  --zd-btn--danger-color_hover: var(--zd-color-red-700);
  --zd-btn--danger-color_active: var(--zd-color-red-800);
}

.c-btn {
  border-color: var(--zd-btn-color);
  background-color: transparent;
  color: var(--zd-btn-color);
}

.c-btn--danger {
  border-color: var(--zd-btn--danger-color);
  color: var(--zd-btn--danger-color);
}

.c-btn--primary {
  border-color: transparent;
  background-color: var(--zd-btn-color);
  color: var(--zd-color-white);
}

.c-btn--primary.c-btn--danger {
  background-color: var(--zd-btn--danger-color);
}

.c-btn--basic {
  border-color: transparent;
}

.c-btn--basic.c-btn--icon {
  color: var(--zd-color-grey-600);
}

.c-btn--anchor {
  border-color: transparent;
}

.c-btn:--btn-hover {
  border-color: var(--zd-btn-color_hover);
  background-color: color-mod(var(--zd-btn-color) alpha(8%));
  color: var(--zd-btn-color_hover);
}

.c-btn--danger:--btn-hover {
  border-color: var(--zd-btn--danger-color_hover);
  background-color: color-mod(var(--zd-btn--danger-color) alpha(8%));
  color: var(--zd-btn--danger-color_hover);
}

.c-btn--primary:--btn-hover {
  border-color: transparent;
  background-color: var(--zd-btn-color_hover);
  color: var(--zd-color-white);
}

.c-btn--primary.c-btn--danger:--btn-hover {
  background-color: var(--zd-btn--danger-color_hover);
}

.c-btn--basic:--btn-hover {
  border-color: transparent;
}

.c-btn--basic.c-btn--icon:--btn-hover {
  color: var(--zd-color-grey-700);
}

.c-btn--anchor:--btn-hover {
  border-color: transparent;
  background-color: transparent;
}

.c-btn:--btn-focus {
  box-shadow: 0 0 0 3px color-mod(var(--zd-btn-color) alpha(35%));
}

.c-btn--danger:--btn-focus {
  box-shadow: 0 0 0 3px color-mod(var(--zd-btn--danger-color) alpha(35%));
}

.c-btn--anchor:--btn-focus {
  box-shadow: none;
}

.c-btn:--btn-active {
  border-color: var(--zd-btn-color_active);
  background-color: color-mod(var(--zd-btn-color) alpha(20%));
  color: var(--zd-btn-color_active);
}

.c-btn--danger:--btn-active {
  border-color: var(--zd-btn--danger-color_active);
  background-color: color-mod(var(--zd-btn--danger-color) alpha(20%));
  color: var(--zd-btn--danger-color_active);
}

.c-btn--primary:--btn-active {
  border-color: transparent;
  background-color: var(--zd-btn-color_active);
  color: var(--zd-color-white);
}

.c-btn--primary.c-btn--danger:--btn-active {
  background-color: var(--zd-btn--danger-color_active);
}

.c-btn--basic:--btn-active {
  border-color: transparent;
}

.c-btn--basic.c-btn--icon:--btn-active {
  color: var(--zd-color-grey-800);
}

.c-btn--anchor:--btn-active {
  border-color: none;
  background-color: transparent;
}

.c-btn:--btn-disabled {
  border-color: transparent;
  background-color: var(--zd-color-grey-200);
  color: var(--zd-color-grey-400);
}

.c-btn--anchor:--btn-disabled {
  background-color: transparent;
}
