/* stylelint-disable no-descending-specificity, selector-max-specificity */
@import '@zendesk/garden-css-variables';

:root {
  --zd-btn-group--light-border-color: color(var(--zd-color-white) alpha(40%));
  --zd-btn-group--primary-focused-box-shadow:
    inset 0 0 0 3px
    color(var(--zd-color-white) alpha(30%));
  --zd-btn-group--primary-line-height: var(--zd-btn--icon-size);
  --zd-btn-group--primary--large-line-height: var(--zd-btn--icon--large-size);
  --zd-btn-group--primary--medium-line-height: var(--zd-btn--icon--medium-size);
}

.l-btn-group {
  position: relative;
  z-index: 0;
  white-space: nowrap;
}

.l-btn-group .c-btn {
  position: relative;
  margin-left: calc(var(--zd-btn-border-width) * -1);
  border-radius: 0;
}

.l-btn-group .c-btn:--btn-hovered,
.l-btn-group .c-btn:--btn-active {
  z-index: 1;
}

.l-btn-group .c-btn:--btn-focused {
  box-shadow: inset var(--zd-btn-focused-box-shadow);
}

.l-btn-group .c-btn:--btn-disabled {
  z-index: -1;
}

.l-btn-group .c-btn:--btn-primary:--btn-focused {
  box-shadow: var(--zd-btn-group--primary-focused-box-shadow);
}

.l-btn-group .c-btn--primary.c-btn--primary,
.l-btn-group .c-btn--primary:--btn-hovered,
.l-btn-group .c-btn--primary:--btn-active,
.l-btn-group .c-btn:--btn-disabled {
  border-right-color: var(--zd-btn-group--light-border-color);
  border-left-color: var(--zd-btn-group--light-border-color);
}

.l-btn-group .c-btn:--btn-primary,
.l-btn-group .c-btn:--btn-disabled {
  border-top-width: 0;
  border-bottom-width: 0;
  line-height: var(--zd-btn-group--primary-line-height);
}

.l-btn-group .c-btn--medium.c-btn:--btn-primary,
.l-btn-group .c-btn--medium:--btn-disabled {
  line-height: var(--zd-btn-group--primary--medium-line-height);
}

.l-btn-group .c-btn--large.c-btn:--btn-primary,
.l-btn-group .c-btn--large:--btn-disabled {
  line-height: var(--zd-btn-group--primary--large-line-height);
}

.l-btn-group.is-rtl {
  direction: rtl;
}

.l-btn-group.is-rtl .c-btn {
  margin-right: calc(var(--zd-btn-border-width) * -1);
  margin-left: 0;
  border-radius: 0;
}

@custom-selector :--btn-first
  :first-of-type;
@custom-selector :--btn-last
  :last-of-type;

.l-btn-group:not(.is-rtl) .c-btn:--btn-first,
.l-btn-group.is-rtl .c-btn:--btn-last {
  margin-left: 0;
  border-top-left-radius: var(--zd-btn-border-radius);
  border-bottom-left-radius: var(--zd-btn-border-radius);
}

.l-btn-group:not(.is-rtl) .c-btn:--btn-last,
.l-btn-group.is-rtl .c-btn:--btn-first {
  margin-right: 0;
  border-top-right-radius: var(--zd-btn-border-radius);
  border-bottom-right-radius: var(--zd-btn-border-radius);
}

/* 1. Optical illusion for centering icon inside a pill-rounded button. */

.l-btn-group:not(.is-rtl) .c-btn--pill:--btn-first,
.l-btn-group.is-rtl .c-btn--pill:--btn-last {
  border-top-left-radius: var(--zd-btn--pill-border-radius);
  border-bottom-left-radius: var(--zd-btn--pill-border-radius);
}

.l-btn-group:not(.is-rtl) .c-btn--pill:--btn-first .c-btn__icon,
.l-btn-group.is-rtl .c-btn--pill:--btn-last .c-btn__icon {
  margin-right: -2px; /* [1] */
}

.l-btn-group:not(.is-rtl) .c-btn--pill:--btn-last,
.l-btn-group.is-rtl .c-btn--pill:--btn-first {
  border-top-right-radius: var(--zd-btn--pill-border-radius);
  border-bottom-right-radius: var(--zd-btn--pill-border-radius);
}

.l-btn-group:not(.is-rtl) .c-btn--pill:--btn-last .c-btn__icon,
.l-btn-group.is-rtl .c-btn--pill:--btn-first .c-btn__icon {
  margin-left: -2px; /* [1] */
}

/* stylelint-disable max-line-length */

.l-btn-group:not(.is-rtl) .c-btn:--btn-primary:--btn-first,
.l-btn-group:not(.is-rtl) .c-btn:--btn-disabled:--btn-first,
.l-btn-group.is-rtl .c-btn:--btn-primary:--btn-last,
.l-btn-group.is-rtl .c-btn:--btn-disabled:--btn-last,
.l-btn-group:not(.is-rtl) .c-btn:--btn-disabled:--btn-first + .c-btn:--btn-primary:--btn-last {
  border-left-color: transparent;
}

.l-btn-group:not(.is-rtl) .c-btn:--btn-primary:--btn-last,
.l-btn-group:not(.is-rtl) .c-btn:--btn-disabled:--btn-last,
.l-btn-group.is-rtl .c-btn:--btn-primary:--btn-first,
.l-btn-group.is-rtl .c-btn:--btn-disabled:--btn-first,
.l-btn-group.is-rtl .c-btn:--btn-disabled:--btn-first + .c-btn:--btn-primary:--btn-last {
  border-right-color: transparent;
}

/* stylelint-enable max-line-length, no-descending-specificity, selector-max-specificity */
