.c-btn__icon {
  /* prettier-ignore */
  transition: transform .25s ease-in-out;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.c-btn--lg .c-btn__icon {
  width: 24px;
  height: 24px;
}

.c-btn__icon.is-rotated {
  transform: rotate(180deg);
}

.is-rtl .c-btn__icon.is-rotated {
  transform: rotate(-180deg);
}
