@import '@zendeskgarden/css-variables';
@import '_variables';

:root {
  --zd-btn--muted-background-color: color(var(--zd-btn--muted-color) alpha(15%));
  --zd-btn--muted-color-active: var(--zd-color-grey-800);
}

.c-btn--muted {
  border-color: var(--zd-btn--muted-color);
  background-color: transparent;
  color: var(--zd-btn--muted-color);
}

.c-btn.c-btn--muted:--btn-focused {
  outline: none;
  box-shadow: none;
  background-color: var(--zd-btn--muted-background-color);
  color: var(--zd-btn--muted-color-active);
}

.c-btn.c-btn--muted:--btn-hovered {
  border-color: var(--zd-btn--muted-color);
  background-color: transparent;
  color: var(--zd-btn--muted-color-active);
}

.c-btn.c-btn--muted:--btn-active {
  border-color: var(--zd-btn--muted-color);
  background-color: transparent;
  color: var(--zd-btn--muted-color-active);
}

.c-btn.c-btn--muted:--btn-disabled {
  border-color: transparent;
  background-color: var(--zd-btn-disabled-background-color);
  color: var(--zd-btn-disabled-color);
}

.c-btn--muted.c-btn--basic {
  border: none;
}
