@import '@zendesk/garden-css-variables';
@import '_variables';

:root {
  --zd-btn--muted-background-color: var(--zd-color-platinum);
  --zd-btn--muted-color: var(--zd-color-aluminum);
  --zd-btn--muted-color-active: var(--zd-color-dark-gray);
  --zd-btn--muted-color-disabled: var(--zd-color-aluminum);
}

.c-btn--muted {
  border: none;
  background-color: transparent;
  color: var(--zd-btn--muted-color);
}

.c-btn--muted.c-btn--muted:--btn-focused {
  outline: none;
  box-shadow: none;
  background-color: var(--zd-btn--muted-background-color);
  color: var(--zd-btn--muted-color-active);
}

.c-btn--muted.c-btn--muted:--btn-hovered {
  background-color: transparent;
  color: var(--zd-btn--muted-color-active);
}

.c-btn--muted.c-btn--muted:--btn-active {
  background-color: transparent;
  color: var(--zd-btn--muted-color-active);
}

.c-btn--muted.c-btn--muted:--btn-disabled {
  background-color: var(--zd-btn-disabled-background-color);
  color: var(--zd-btn--muted-color-disabled);
}
