@import '@zendesk/garden-css-variables';
@import '_variables';

:root {
  --zd-btn--primary-background-color: var(--zd-btn-color);
  --zd-btn--primary-color: var(--zd-color-white);
}

@custom-selector :--btn-primary
  .c-btn--primary,
  .is-selected;

.c-btn:--btn-primary {
  border-color: transparent;
  background-color: var(--zd-btn--primary-background-color);
  color: var(--zd-btn--primary-color);
}

.c-btn.c-btn--danger:--btn-primary {
  background-color: var(--zd-btn--danger-color);
}
