@custom-selector :--btn-hover
  :hover,
  .is-hovered;

@custom-selector :--btn-focus
  :focus-visible,
  .is-focused;

@custom-selector :--btn-active
  :active,
  .is-active;

@custom-selector :--btn-disabled
  :disabled,
  .is-disabled;
