/* stylelint-disable no-descending-specificity */
@import '@zendeskgarden/css-variables';
@import '_variables';
@import '_selectors';

:root {
  --zd-btn-active-color: var(--zd-color-white);
  --zd-btn-active-transition:
    border-color .1s ease-in-out,
    background-color .1s ease-in-out,
    color .1s ease-in-out;
  --zd-btn-hovered-color: var(--zd-color-white);
}

/* 1. Anchor tag reset. */

.c-btn:--btn-hovered {
  border-color: transparent;
  background-color: var(--zd-btn-hovered-background-color);
  text-decoration: none; /* [1] */
  color: var(--zd-btn-hovered-color);
}

.c-btn.c-btn--danger:--btn-hovered {
  background-color: var(--zd-btn--danger-hovered-background-color);
}

.c-btn:focus {
  outline: none;
  text-decoration: none; /* [1] */
}

.c-btn:--btn-focused {
  box-shadow: var(--zd-btn-focused-box-shadow);
}

.c-btn.c-btn--danger:--btn-focused {
  box-shadow: var(--zd-btn--danger-focused-box-shadow);
}

.c-btn--focus-inset:--btn-focused {
  box-shadow: inset var(--zd-btn-focused-box-shadow);
}

.c-btn--focus-inset.c-btn--danger:--btn-focused {
  box-shadow: inset var(--zd-btn--danger-focused-box-shadow);
}

.c-btn--focus-inset:--btn-hovered:--btn-focused,
.c-btn--focus-inset:--btn-primary:--btn-focused {
  box-shadow: var(--zd-btn-group--primary-focused-box-shadow);
}

.c-btn:--btn-active {
  transition: var(--zd-btn-active-transition);
  border-color: transparent;
  background-color: var(--zd-btn-active-background-color);
  text-decoration: none; /* [1] */
  color: var(--zd-btn-active-color);
}

.c-btn.c-btn--danger:--btn-active {
  background-color: var(--zd-btn--danger-active-background-color);
}

/* stylelint-disable selector-max-specificity */
.c-btn:--btn-hovered:--btn-active,
.c-btn:--btn-focused:--btn-active {
  box-shadow: none;
}
/* stylelint-enable selector-max-specificity */

.c-btn:--btn-disabled {
  border-color: transparent;
  box-shadow: none;
  background-color: var(--zd-btn-disabled-background-color);
  cursor: default;
  color: var(--zd-btn-disabled-color);
}
/* stylelint-enable no-descending-specificity */
