@import '@zendeskgarden/css-variables';

:root {
  --zd-btn-color: var(--zd-color-blue-600);
  --zd-btn-border-color: var(--zd-color-blue-400);
  --zd-btn-active-background-color: var(--zd-color-blue-700);
  --zd-btn-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-btn-color) alpha(35%));
  --zd-btn-hovered-background-color: var(--zd-btn-border-color);
  --zd-btn-disabled-background-color: var(--zd-color-grey-200);
  --zd-btn-disabled-color: var(--zd-color-grey-400);
  --zd-btn--anchor-disabled-color: var(--zd-color-grey-500);
  --zd-btn--danger-color: var(--zd-color-red-600);
  --zd-btn--danger-border-color: var(--zd-color-red-400);
  --zd-btn--danger-active-background-color: var(--zd-color-red-700);
  --zd-btn--danger-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-btn--danger-color) alpha(35%));
  --zd-btn--danger-hovered-background-color: var(--zd-btn--danger-border-color);
  --zd-btn--muted-color: var(--zd-color-grey-600);
}
