@import 'zd-css-variables';

:root {
  --zd-dark-input__hint-color: var(--zd-color-breaker-bay);
  --zd-dark-input__label-color: var(--zd-color-white);
}

.c-chk--dark .c-chk__label,
.c-range--dark .c-range__label,
.c-txt--dark .c-txt__label,
.c-input-label--dark {
  color: var(--zd-dark-input__label-color);
}

.c-chk--dark .c-chk__hint,
.c-range--dark .c-range__hint,
.c-txt--dark .c-txt__hint,
.c-input-hint--dark {
  color: var(--zd-dark-input__hint-color);
}
