@import 'zd-css-variables';

:root {
  --zd-dark-hint-color: var(--zd-color-breaker-bay);
  --zd-dark-label-color: var(--zd-color-white);
}

.c-range--dark .c-range__hint,
.c-txt--dark .c-txt__hint {
  color: var(--zd-dark-hint-color);
}

.c-range--dark .c-range__label,
.c-txt--dark .c-txt__label {
  color: var(--zd-dark-label-color);
}
