/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-menu{
  display:inline-block;
  position:absolute;
  margin:0;
  box-sizing:border-box;
  border:1px solid #d8dcde;
  border-radius:4px;
  box-shadow:0 20px 30px 0 rgba(23, 73, 77, .15);
  background-color:#fff;
  cursor:default;
  padding:0;
  min-width:180px;
  text-align:left;
  white-space:normal;
  font-size:14px;
  font-weight:400;
}

.c-menu.is-open{
  -webkit-animation:.2s cubic-bezier(.15, .85, .35, 1.2);
          animation:.2s cubic-bezier(.15, .85, .35, 1.2);
}

.c-menu.is-open:after,.c-menu.is-open:before{
  -webkit-animation:.3s ease-in-out;
          animation:.3s ease-in-out;
}

.c-menu--down.is-open{
  -webkit-animation-name:zd-menu--down-open;
          animation-name:zd-menu--down-open;
}

.c-menu--down.is-open:after,.c-menu--down.is-open:before{
  -webkit-animation-name:zd-menu--down-open-arrow;
          animation-name:zd-menu--down-open-arrow;
}

.c-menu--left.is-open{
  -webkit-animation-name:zd-menu--left-open;
          animation-name:zd-menu--left-open;
}

.c-menu--left.is-open:after,.c-menu--left.is-open:before{
  -webkit-animation-name:zd-menu--left-open-arrow;
          animation-name:zd-menu--left-open-arrow;
}

.c-menu--right.is-open{
  -webkit-animation-name:zd-menu--right-open;
          animation-name:zd-menu--right-open;
}

.c-menu--right.is-open:after,.c-menu--right.is-open:before{
  -webkit-animation-name:zd-menu--right-open-arrow;
          animation-name:zd-menu--right-open-arrow;
}

.c-menu--up.is-open{
  -webkit-animation-name:zd-menu--up-open;
          animation-name:zd-menu--up-open;
}

.c-menu--up.is-open:after,.c-menu--up.is-open:before{
  -webkit-animation-name:zd-menu--up-open-arrow;
          animation-name:zd-menu--up-open-arrow;
}

.c-menu.is-rtl{
  direction:rtl;
  text-align:right;
}

.c-menu__item{
  display:block;
  position:relative;
  z-index:0;
  cursor:pointer;
  padding:10px 32px;
  text-decoration:none;
  line-height:20px;
  word-wrap:break-word;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}

.c-menu__item:first-child{
  margin-top:8px;
}

.c-menu__item:last-child{
  margin-bottom:8px;
}

.c-menu__item:before{
  position:absolute;
  top:0;
  left:0;
  -webkit-transition:opacity .1s ease-in-out;
  transition:opacity .1s ease-in-out;
  opacity:0;
  background:no-repeat
    50% / 16px
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%231f73b7'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='M1 9l4 4L15 3'/%3E%3C/svg%3E");
  width:32px;
  height:40px;
  content:"";
}

.c-menu--sm .c-menu__item{
  padding:6px 24px;
}

.c-menu--sm .c-menu__item:before{
  background-size:12px;
  width:24px;
  height:32px;
}

.c-menu__item:not(.c-menu__item--add){
  color:#2f3941;
}

.c-menu__item.c-menu__item--add{
  color:#1f73b7;
}

.c-menu__item.c-menu__item--header{
  cursor:default;
}

.c-menu__item.c-menu__item--header,.c-menu__item.c-menu__item--previous{
  font-weight:600;
}

.c-menu__item.c-menu__item--header:not(.c-menu__item--header--icon){
  padding-right:16px;
  padding-left:16px;
}

.c-menu__item--header--icon .c-menu__item--header__icon{
  position:absolute;
  top:12px;
  left:8px;
  width:16px;
  height:16px;
}

.c-menu--sm .c-menu__item--header:not(.c-menu__item--header--icon){
  padding-right:12px;
  padding-left:12px;
}

.c-menu--sm .c-menu__item--header--icon .c-menu__item--header__icon{
  top:10px;
  left:6px;
  width:12px;
  height:12px;
}

.c-menu.is-rtl .c-menu__item--header--icon .c-menu__item--header__icon{
  right:8px;
  left:auto;
}

.c-menu--sm.is-rtl .c-menu__item--header--icon .c-menu__item--header__icon{
  right:6px;
  left:auto;
}

.c-menu__item.c-menu__item--add:before,.c-menu__item.c-menu__item--next:before,.c-menu__item.c-menu__item--previous:before,.c-menu__item.is-checked:before,.c-menu__item[aria-checked=true]:before{
  opacity:1;
}

.c-menu__item.c-menu__item--add:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%231f73b7'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M7.5 2.5v12m6-6h-12'/%3E%3C/svg%3E");
}

.c-menu__item.c-menu__item--next:before{
  right:0;
  left:auto;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%2368737d'%3E%3Cpath fill='currentColor' d='M5.61 3.312a.5.5 0 01.718-.69l.062.066 4 5a.5.5 0 01.054.542l-.054.082-4 5a.5.5 0 01-.83-.55l.05-.074L9.359 8l-3.75-4.688z'/%3E%3C/svg%3E");
}

.c-menu__item.c-menu__item--previous:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%2368737d'%3E%3Cpath fill='currentColor' d='M10.39 12.688a.5.5 0 01-.718.69l-.062-.066-4-5a.5.5 0 01-.054-.542l.054-.082 4-5a.5.5 0 01.83.55l-.05.074L6.641 8l3.75 4.688z'/%3E%3C/svg%3E");
}

.c-menu.is-rtl .c-menu__item:before{
  right:0;
  left:auto;
}

.c-menu.is-rtl .c-menu__item.c-menu__item--next:before{
  right:auto;
  left:0;
}

.c-menu.is-rtl .c-menu__item.c-menu__item--next:before,.c-menu.is-rtl .c-menu__item.c-menu__item--previous:before{
  -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
}

.c-menu__item__meta{
  display:block;
  line-height:16px;
  color:#68737d;
  font-size:12px;
}

.c-menu__item--media:before{
  height:54px;
}

.c-menu__item--media:after{
  display:table;
  clear:both;
  content:"";
}

.c-menu__item--media__figure{
  float:left;
  margin-top:1px;
  margin-right:8px;
  width:32px;
  height:32px;
}

.c-menu__item--media__body{
  display:block;
  overflow:hidden;
}

.c-menu--sm .c-menu__item--media:before{
  height:36px;
}

.c-menu--sm .c-menu__item--media__body{
  margin-top:2px;
}

.c-menu--sm .c-menu__item--media__body .c-menu__item__meta{
  display:none;
}

.c-menu--sm .c-menu__item--media__figure{
  margin-top:0;
  margin-right:4px;
  width:24px;
  height:24px;
}

.c-menu.is-rtl .c-menu__item--media__figure{
  float:right;
  margin-right:0;
  margin-left:8px;
}

.c-menu--sm.is-rtl .c-menu__item--media__figure{
  margin-left:4px;
}

.c-menu__item.is-focused,.c-menu__item.is-hovered,.c-menu__item:not(.c-menu__item--header):focus,.c-menu__item:not(.c-menu__item--header):hover{
  background-color:#edf7ff;
  text-decoration:none;
}

.c-menu__item.is-focused,.c-menu__item:not(.c-menu__item--header):focus{
  outline:none;
}

.c-menu .c-menu__item.is-disabled,.c-menu .c-menu__item[aria-disabled=true],.c-menu .c-menu__item[disabled]{
  cursor:default;
  color:#c2c8cc;
}

.c-menu .c-menu__item.is-disabled.is-focused,.c-menu .c-menu__item.is-disabled.is-hovered,.c-menu .c-menu__item.is-disabled:not(.c-menu__item--header):focus,.c-menu .c-menu__item.is-disabled:not(.c-menu__item--header):hover,.c-menu .c-menu__item[aria-disabled=true].is-focused,.c-menu .c-menu__item[aria-disabled=true].is-hovered,.c-menu .c-menu__item[aria-disabled=true]:not(.c-menu__item--header):focus,.c-menu .c-menu__item[aria-disabled=true]:not(.c-menu__item--header):hover,.c-menu .c-menu__item[disabled].is-focused,.c-menu .c-menu__item[disabled].is-hovered,.c-menu .c-menu__item[disabled]:not(.c-menu__item--header):focus,.c-menu .c-menu__item[disabled]:not(.c-menu__item--header):hover{
  background-color:inherit;
}

.c-menu .c-menu__item.is-checked.is-disabled:before,.c-menu .c-menu__item.is-checked[aria-disabled=true]:before,.c-menu .c-menu__item.is-checked[disabled]:before,.c-menu .c-menu__item[aria-checked=true].is-disabled:before,.c-menu .c-menu__item[aria-checked=true][aria-disabled=true]:before,.c-menu .c-menu__item[aria-checked=true][disabled]:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23c2c8cc'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' d='M1 9l4 4L15 3'/%3E%3C/svg%3E");
}

.c-menu .c-menu__item.c-menu__item--add.is-disabled:before,.c-menu .c-menu__item.c-menu__item--add[aria-disabled=true]:before,.c-menu .c-menu__item.c-menu__item--add[disabled]:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23c2c8cc'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M7.5 2.5v12m6-6h-12'/%3E%3C/svg%3E");
}

.c-menu .c-menu__item.c-menu__item--next.is-disabled:before,.c-menu .c-menu__item.c-menu__item--next[aria-disabled=true]:before,.c-menu .c-menu__item.c-menu__item--next[disabled]:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23c2c8cc'%3E%3Cpath fill='currentColor' d='M5.61 3.312a.5.5 0 01.718-.69l.062.066 4 5a.5.5 0 01.054.542l-.054.082-4 5a.5.5 0 01-.83-.55l.05-.074L9.359 8l-3.75-4.688z'/%3E%3C/svg%3E");
}

.c-menu .c-menu__item.c-menu__item--previous.is-disabled:before,.c-menu .c-menu__item.c-menu__item--previous[aria-disabled=true]:before,.c-menu .c-menu__item.c-menu__item--previous[disabled]:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23c2c8cc'%3E%3Cpath fill='currentColor' d='M10.39 12.688a.5.5 0 01-.718.69l-.062-.066-4-5a.5.5 0 01-.054-.542l.054-.082 4-5a.5.5 0 01.83.55l-.05.074L6.641 8l3.75 4.688z'/%3E%3C/svg%3E");
}

.c-menu__item.is-expanded{
  z-index:1;
}

.c-menu.is-hidden,.c-menu[aria-hidden=true]{
  display:inline-block;
  -webkit-transition:opacity .2s ease-in-out,visibility .2s linear 0s;
  transition:opacity .2s ease-in-out,visibility .2s linear 0s;
  visibility:hidden;
  opacity:0;
}

.c-menu.is-hidden:after,.c-menu.is-hidden:before,.c-menu[aria-hidden=true]:after,.c-menu[aria-hidden=true]:before{
  display:none;
}

.c-menu__separator{
  display:block;
  margin:4px 0;
  border-bottom:1px solid #e9ebed;
}

@-webkit-keyframes zd-menu--up-open{
  0%{
    bottom:-20px;
  }

  to{
    bottom:0;
  }
}

@keyframes zd-menu--up-open{
  0%{
    bottom:-20px;
  }

  to{
    bottom:0;
  }
}

@-webkit-keyframes zd-menu--up-open-arrow{
  0%,66%{
    bottom:2px;
  }
}

@keyframes zd-menu--up-open-arrow{
  0%,66%{
    bottom:2px;
  }
}

@-webkit-keyframes zd-menu--right-open{
  0%{
    left:-20px;
  }

  to{
    left:0;
  }
}

@keyframes zd-menu--right-open{
  0%{
    left:-20px;
  }

  to{
    left:0;
  }
}

@-webkit-keyframes zd-menu--right-open-arrow{
  0%,66%{
    left:2px;
  }
}

@keyframes zd-menu--right-open-arrow{
  0%,66%{
    left:2px;
  }
}

@-webkit-keyframes zd-menu--down-open{
  0%{
    top:-20px;
  }

  to{
    top:0;
  }
}

@keyframes zd-menu--down-open{
  0%{
    top:-20px;
  }

  to{
    top:0;
  }
}

@-webkit-keyframes zd-menu--down-open-arrow{
  0%,66%{
    top:2px;
  }
}

@keyframes zd-menu--down-open-arrow{
  0%,66%{
    top:2px;
  }
}

@-webkit-keyframes zd-menu--left-open{
  0%{
    right:-20px;
  }

  to{
    right:0;
  }
}

@keyframes zd-menu--left-open{
  0%{
    right:-20px;
  }

  to{
    right:0;
  }
}

@-webkit-keyframes zd-menu--left-open-arrow{
  0%,66%{
    right:2px;
  }
}

@keyframes zd-menu--left-open-arrow{
  0%,66%{
    right:2px;
  }
}
