@import '@zendeskgarden/css-variables';

:root {
  --zd-input--error-color: var(--zd-color-flamingo);
  --zd-input--success-color: var(--zd-color-chateau-green);
  --zd-input--warning-color: var(--zd-color-marigold);
  --zd-input__hint-color: var(--zd-color-aluminum);
  --zd-input__hint-font-size: var(--zd-font-size-epsilon);
  --zd-input__hint-line-height: calc(20 / 14);
  --zd-input__hint-margin-top: 8px;
  --zd-input__label-color: var(--zd-color-dark-gray);
  --zd-input__label-font-size: var(--zd-font-size-epsilon);
  --zd-input__label-font-weight: var(--zd-font-weight-semibold);
  --zd-input__label-line-height: calc(30 / 14);
  --zd-input__label--regular-font-weight: var(--zd-font-weight-regular);
  --zd-input__message-color: var(--zd-color-monsoon);
  --zd-input__message-font-size: var(--zd-font-size-zeta);
  --zd-input__message-line-height: calc(16 / 12);
  --zd-input__message-margin-top: 8px;
  --zd-input__message-padding: var(--zd-spacing);
  --zd-input__message--error-background-image: svg-load('14-error-fill.svg', color: var(--zd-input--error-color));
  --zd-input__message--success-background-image: svg-load('14-checkmark-fill.svg', color: var(--zd-input--success-color));
  --zd-input__message--warning-background-image: svg-load('14-error-fill.svg', color: var(--zd-input--warning-color));
}

/* 1. Support label inline with input layout. */

.c-chk__hint,
.c-range__hint,
.c-txt__hint {
  display: block;
}

.c-chk__hint,
.c-range__hint,
.c-txt__hint,
.c-input-hint {
  line-height: var(--zd-input__hint-line-height);
  color: var(--zd-input__hint-color);
  font-size: var(--zd-input__hint-font-size);
}

.c-chk__label,
.c-range__label,
.c-txt__label,
.c-chk__message,
.c-range__message,
.c-txt__message {
  vertical-align: middle; /* [1] */
}

.c-chk__label,
.c-range__label,
.c-txt__label,
.c-input-label {
  color: var(--zd-input__label-color);
  font-size: var(--zd-input__label-font-size);
  font-weight: var(--zd-input__label-font-weight);
}

.c-chk__label--regular,
.c-range__label--regular,
.c-txt__label--regular,
.c-input-label--regular {
  font-weight: var(--zd-input__label--regular-font-weight);
}

.c-chk__label {
  line-height: var(--zd-input__hint-line-height);
}

.c-range__label,
.c-txt__label,
.c-input-label {
  line-height: var(--zd-input__label-line-height);
}

.c-range__hint + .c-range__input,
.c-range__hint + .c-range__slider,
.c-range__input + .c-range__hint,
.c-range__slider + .c-range__hint,
.c-txt__hint + .c-txt__input,
.c-txt__input + .c-txt__hint {
  margin-top: var(--zd-input__hint-margin-top);
}

.c-range__label + .c-range__hint,
.c-txt__label + .c-txt__hint {
  margin-top: calc(var(--zd-input__hint-margin-top) / 2 * -1);
}

.c-chk__message,
.c-range__message,
.c-txt__message {
  display: inline-block;
  line-height: var(--zd-input__message-line-height);
  color: var(--zd-input__message-color);
  font-size: var(--zd-input__message-font-size);
}

.has-error.c-chk .c-chk__message,
.has-error.c-range .c-range__message,
.has-error.c-txt .c-txt__message,
.has-success.c-chk .c-chk__message,
.has-success.c-range .c-range__message,
.has-success.c-txt .c-txt__message,
.has-warning.c-chk .c-chk__message,
.has-warning.c-range .c-range__message,
.has-warning.c-txt .c-txt__message {
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: var(--zd-input__message-padding);
}

.has-error.c-chk .c-chk__message,
.has-error.c-range .c-range__message,
.has-error.c-txt .c-txt__message {
  background-image: var(--zd-input__message--error-background-image);
  color: var(--zd-input--error-color);
}

.has-success.c-chk .c-chk__message,
.has-success.c-range .c-range__message,
.has-success.c-txt .c-txt__message {
  background-image: var(--zd-input__message--success-background-image);
  color: var(--zd-input--success-color);
}

.has-warning.c-chk .c-chk__message,
.has-warning.c-range .c-range__message,
.has-warning.c-txt .c-txt__message {
  background-image: var(--zd-input__message--warning-background-image);
  padding-left: var(--zd-input__message-padding);
}

.has-warning.c-chk--dark .c-chk__message,
.has-warning.c-range--dark .c-range__message,
.has-warning.c-txt--dark .c-txt__message {
  color: var(--zd-input--warning-color);
}

.is-rtl.has-error .c-chk__message,
.is-rtl.has-error .c-range__message,
.is-rtl.has-error .c-txt__message,
.is-rtl.has-success .c-chk__message,
.is-rtl.has-success .c-range__message,
.is-rtl.has-success .c-txt__message,
.is-rtl.has-warning .c-chk__message,
.is-rtl.has-warning .c-range__message,
.is-rtl.has-warning .c-txt__message {
  background-position: top right;
  padding-right: var(--zd-input__message-padding);
  padding-left: 0;
}

/* stylelint-disable selector-max-specificity */
.c-range:not(.c-range--inline) .c-range__input + .c-range__message,
.c-range:not(.c-range--inline) .c-range__slider + .c-range__message,
.c-txt:not(.c-txt--inline) .c-txt__input + .c-txt__message {
  margin-top: var(--zd-input__message-margin-top);
}
/* stylelint-enable selector-max-specificity */
