@import '@zendesk/garden-css-variables';

:root {
  --zd-dark-input__hint-color: var(--zd-color-breaker-bay);
  --zd-dark-input__label-color: var(--zd-color-white);
}

.c-range__label--dark {
  color: var(--zd-dark-input__label-color);
}

.c-range__hint--dark {
  color: var(--zd-dark-input__hint-color);
}

.c-range__message--dark.c-range__message--warning {
  color: var(--zd-forms-warning-color);
}
