@import '@zendesk/garden-css-variables';

:root {
  --zd-dark-input__hint-color: var(--zd-color-breaker-bay);
  --zd-dark-input__label-color: var(--zd-color-white);
}

.c-chk__label--dark,
.c-range__label--dark,
.c-txt__label--dark {
  color: var(--zd-dark-input__label-color);
}

.c-chk__hint--dark,
.c-range__hint--dark,
.c-txt__hint--dark {
  color: var(--zd-dark-input__hint-color);
}

.c-chk__message--dark.c-chk__message--warning,
.c-range__message--dark.c-range__message--warning,
.c-txt__message--dark.c-txt__message--warning {
  color: var(--zd-input--warning-color);
}
