:root {
  --zd-input--sm__hint-margin-top: 4px;
  --zd-input--sm__label-line-height: calc(28 / 14);
}

.c-range__label--sm {
  line-height: var(--zd-input--sm__label-line-height);
}

.c-range__hint--sm + .c-range__input--sm,
.c-range__hint--sm + .c-range__slider--sm,
.c-range__input--sm + .c-range__hint--sm,
.c-range__slider--sm + .c-range__hint--sm {
  margin-top: var(--zd-input--sm__hint-margin-top);
}
