@import '@zendesk/garden-css-variables';

:root {
  --zd-chrome-font-family: var(--zd-font-family-system);
  --zd-chrome-min-height: 100vh;
  --zd-chrome__body-color: var(--zd-color-snow);
  --zd-chrome__body__header-background-color: var(--zd-color-white);
  --zd-chrome__body__header-border-bottom: 1px solid var(--zd-color-anti-flash-white);
  --zd-chrome__body__header-color: var(--zd-color-monsoon);
  --zd-chrome__body__header-font-size: var(--zd-font-size-epsilon);
  --zd-chrome__body__header-height: var(--zd-chrome__nav__item-height);
  --zd-chrome__body__header-padding: 0 20px;
  --zd-chrome__body__header--solo-box-shadow:
    0 0 10px 0
    color(var(--zd-color-chathams-blue) alpha(15%));
  --zd-chrome__body__header__item-line-height: calc(30 / 14);
  --zd-chrome__body__header__item-margin: 0 12px;
  --zd-chrome__body__header__item--icon-border-radius: 4px;
  --zd-chrome__body__header__item--icon-size: 30px;
  --zd-chrome__subnav-background-color: var(--zd-color-daintree);
  --zd-chrome__subnav-color: var(--zd-color-white);
  --zd-chrome__subnav-min-width: 180px;
}

/* 1. Prevent "bounce" overscroll. */

.c-chrome {
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden; /* [1] */
  font-family: var(--zd-chrome-font-family);
}

.c-chrome.is-rtl {
  direction: rtl;
}

.c-chrome__body {
  flex: 1;
  flex-direction: column;
  order: 1;
  background-color: var(--zd-chrome__body-color);
}

.c-chrome__subnav {
  flex-direction: column;
  order: 0;
  background-color: var(--zd-chrome__subnav-background-color);
  min-width: var(--zd-chrome__subnav-min-width);
  color: var(--zd-chrome__subnav-color);
}
