@import '@zendesk/garden-css-variables';
@import '_variables';
@import '_selectors';

:root {
  --zd-chrome__nav-width: 60px;
  --zd-chrome__nav__item-height: 50px;
  --zd-chrome__nav__item-opacity: .5;
  --zd-chrome__nav__item-transition:
    box-shadow .1s ease-in-out,
    background-color .1s ease-in-out,
    opacity .1s ease-in-out;
  --zd-chrome__nav__item-current-background-color: var(--zd-chrome-accent-color);
  --zd-chrome__nav__item-focused-box-shadow:
    inset 0 0 0 3px
    color(var(--zd-color-white) alpha(20%));
  --zd-chrome__nav__item-hovered-background-color: color(var(--zd-color-black) alpha(10%));
  --zd-chrome__nav__item__icon-border-radius: 4px;
  --zd-chrome__nav__item__icon-size: 26px;
  --zd-chrome__nav--expanded-width: 200px;
  --zd-chrome__nav--expanded__item-padding: 0 10px;
  --zd-chrome__nav--expanded__item__-margin: var(--zd-chrome__nav--expanded__item-padding);
}

/* 1. Anchor reset. */

.c-chrome__nav {
  flex-direction: column;
  order: -1;
  background-color: var(--zd-chrome__nav-background-color);
  width: var(--zd-chrome__nav-width);
  overflow: hidden;
  color: var(--zd-chrome__nav-color);
}

.c-chrome__nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--zd-chrome__nav__item-transition);
  opacity: var(--zd-chrome__nav__item-opacity);
  height: var(--zd-chrome__nav__item-height);
}

.c-chrome__nav__item,
.c-chrome__nav__item:hover,
.c-chrome__nav__item:focus {
  text-decoration: none; /* [1] */
  color: inherit; /* [1] */
}

.c-chrome__nav__item:focus {
  outline: none; /* [1] */
}

.c-chrome__nav__item:--chrome-hovered {
  background-color: var(--zd-chrome__nav__item-hovered-background-color);
}

.c-chrome__nav__item:--chrome-hovered,
.c-chrome__nav__item:--chrome-focused,
.c-chrome__nav__item:--chrome-current {
  opacity: 1;
}

.c-chrome__nav__item:--chrome-focused {
  box-shadow: var(--zd-chrome__nav__item-focused-box-shadow);
}

.c-chrome__nav__item:--chrome-current {
  background-color: var(--zd-chrome__nav__item-current-background-color);
}

.c-chrome__nav__item__icon {
  order: 0;
  border-radius: var(--zd-chrome__nav__item__icon-border-radius);
  min-width: var(--zd-chrome__nav__item__icon-size);
  height: var(--zd-chrome__nav__item__icon-size);
}

.c-chrome__nav__item__text {
  position: absolute;
  order: 1;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.c-chrome__nav--expanded {
  width: var(--zd-chrome__nav--expanded-width);
}

.c-chrome__nav--expanded .c-chrome__nav__item {
  justify-content: start;
  padding: var(--zd-chrome__nav--expanded__item-padding);
}

.c-chrome__nav--expanded .c-chrome__nav__item__icon,
.c-chrome__nav--expanded .c-chrome__nav__item__text {
  margin: var(--zd-chrome__nav--expanded__item__-margin);
}

.c-chrome__nav--expanded .c-chrome__nav__item__text {
  position: static;
  flex: 1;
  clip: auto;
  width: auto;
  height: auto;
  text-overflow: ellipsis;
}
