/* stylelint-disable at-rule-empty-line-before */

@custom-selector :--chrome-hovered
  .is-hovered,
  :hover;

@custom-selector :--chrome-focused
  .is-focused;

@custom-selector :--chrome-active
  .is-active,
  :active;

@custom-selector :--chrome-current
  .is-current,
  [aria-current='true'];

/* stylelint-enable at-rule-empty-line-before */
