@import '@zendesk/garden-css-variables';
@import '_selectors';

:root {
  --zd-chrome--custom-accent-color: var(--zd-color-mandy);
  --zd-chrome--custom__body__header__item-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-chrome--custom-accent-color) alpha(40%));
  --zd-chrome--custom__nav__item-current-background-color: var(--zd-chrome--custom-accent-color);
}

/* stylelint-disable max-line-length */
.c-chrome--custom .c-chrome__nav__item:not(.c-chrome__nav__item--logo):--chrome-current {
  background-color: var(--zd-chrome--custom__nav__item-current-background-color);
}

.c-chrome--custom .c-chrome__body__header__item:--chrome-focused {
  box-shadow: var(--zd-chrome--custom__body__header__item-focused-box-shadow);
}
/* stylelint-enable max-line-length */
