:root {
  --zd-table-color--dark: var(--zd-color-white);
  --zd-table--dark__row-border-bottom: var(--zd-table__row-border) var(--zd-color-sherpa-blue);
  --zd-table--dark__row--group-color: var(--zd-color-karl);
  --zd-table--dark__row--header-border-color: var(--zd-color-breaker-bay);
  --zd-table--dark__row--stripe-background-color: var(--zd-color-algae);
  --zd-table--dark__row-hovered-background-color: var(--zd-color-sherpa-blue);
  --zd-table--dark__row-selected-background-color: var(--zd-color-breaker-bay);
  --zd-table--dark__row-selected-border-color: var(--zd-color-sherpa-blue);
  --zd-table--dark__row__cell__overflow-background-image: svg-load('26/ellipsis.svg', color: var(--zd-color-breaker-bay));
  --zd-table--dark__row__cell__overflow-focused-background-color: var(--zd-color-sherpa-blue);
  --zd-table--dark__row-selected__cell__overflow-background-image: svg-load('26/ellipsis.svg', color: var(--zd-color-submarine));
}

.c-table--dark {
  color: var(--zd-table-color--dark);
}

.c-table--dark .c-table__row {
  border-bottom: var(--zd-table--dark__row-border-bottom);
}

.c-table--dark .c-table__row--header .c-table__row {
  border-bottom-color: var(--zd-table--dark__row--header-border-color);
}

.c-table--dark .c-table__row--group,
.c-table--dark .c-table__row--stripe {
  background-color: var(--zd-table--dark__row--stripe-background-color);
}

.c-table--dark .c-table__row--group {
  color: var(--zd-table--dark__row--group-color);
}

.c-table--dark .c-table__row__cell__overflow::before {
  background-image: var(--zd-table--dark__row__cell__overflow-background-image);
}

.c-table--dark .c-table__row:--table__row-hovered {
  background-color: var(--zd-table--dark__row-hovered-background-color);
}

.c-table--dark .c-table__row:--table__row-selected {
  border-color: var(--zd-table--dark__row-selected-border-color);
  background-color: var(--zd-table--dark__row-selected-background-color);
}

/* stylelint-disable max-line-length, no-descending-specificity, selector-max-specificity */

.c-table--dark .c-table__row__cell__overflow::after,
.c-table--dark .c-table__row:--table__row-selected .c-table__row__cell__overflow::after {
  background-image: var(--zd-table--dark__row-selected__cell__overflow-background-image);
}

.c-table--dark .c-table__row__cell__overflow:--table__row__cell__overflow-focused::before,
.c-table--dark .c-table__row__cell__overflow:--table__row__cell__overflow-focused::after {
  background-color: var(--zd-table--dark__row__cell__overflow-focused-background-color);
}

.c-table--dark .c-table__row:--table__row-selected .c-table__row__cell__overflow::before {
  opacity: 0;
}

.c-table--dark .c-table__row:--table__row-selected .c-table__row__cell__overflow::after {
  opacity: 1;
}

/* stylelint-enable max-line-length, no-descending-specificity, selector-max-specificity */
