@import '_variables';

:root {
  --zd-table--rtl__row-focused-box-shadow:
    inset -3px 0 0 0
    var(--zd-table-color);
}

.c-table.is-rtl {
  direction: rtl;
}

.c-table.is-rtl .c-table__caption {
  text-align: right;
}

.c-table.is-rtl .c-table__row__cell--min {
  padding-right: var(--zd-table__row__cell-padding-horizontal);
  padding-left: 0;
}

/* stylelint-disable max-line-length, selector-max-specificity */

.c-table.is-rtl .c-table__row--header .c-table__row__cell:not(.c-table__row__cell--overflow) {
  text-align: right;
}

.c-table.is-rtl .c-table__row__cell__sortable {
  padding-right: 0;
  padding-left: var(--zd-table__row__cell__sortable-padding);
}

.c-table.is-rtl .c-table__row__cell__sortable::before,
.c-table.is-rtl .c-table__row__cell__sortable::after {
  right: auto;
  left: 0;
}

.c-table.is-rtl .c-table__row__cell__overflow .c-menu {
  right: auto;
  left: calc(100% - var(--zd-table__row__cell__overflow-size));
}

.c-table.is-rtl .c-table__row:--table__row-focused .c-table__row__cell:first-of-type {
  box-shadow: var(--zd-table--rtl__row-focused-box-shadow);
}

/* stylelint-enable max-line-length, selector-max-specificity */
