/* stylelint-disable at-rule-empty-line-before */

@custom-selector :--table__row-hovered
  :not(.c-table__row--header):not(.c-table__row--group).is-hovered,
  :not(.c-table__row--header):not(.c-table__row--group):hover;

@custom-selector :--table__row-focused
  :not(.c-table__row--header):not(.c-table__row--group).is-focused,
  :not(.c-table__row--header):not(.c-table__row--group):focus;

@custom-selector :--table__row-selected
  :not(.c-table__row--header).is-selected,
  :not(.c-table__row--header)[aria-selected];

@custom-selector :--table__row__cell__sortable-hovered
  :hover,
  .is-hovered;

@custom-selector :--table__row__cell__sortable-focused
  :focus,
  .is-focused;

/* stylelint-enable at-rule-empty-line-before */
