@import '@zendeskgarden/css-variables';
@import '_selectors';
@import '_variables';

:root {
  --zd-table__row-focused-box-shadow:
    inset 3px 0 0 0
    var(--zd-table-color);
  --zd-table__row-hovered-background-color: var(--zd-color-blue-100);
  --zd-table__row-selected-background-color: var(--zd-color-blue-200);
  --zd-table__row-selected-border-color: var(--zd-color-blue-300);
}

/* stylelint-disable selector-max-specificity, no-descending-specificity */

.c-table__row:--table__row-hovered {
  background-color: var(--zd-table__row-hovered-background-color);
}

.c-table__row:focus {
  outline: none;
}

.c-table__row:--table__row-focused .c-table__row__cell:first-of-type {
  box-shadow: var(--zd-table__row-focused-box-shadow);
}

.c-table__row:--table__row-selected {
  border-bottom-color: var(--zd-table__row-selected-border-color);
  background-color: var(--zd-table__row-selected-background-color);
}

/* stylelint-enable selector-max-specificity, no-descending-specificity */
