/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendesk/garden-css-variables';
@import '_selectors';

:root {
  --zd-table--custom-color: var(--zd-color-mandy);
  --zd-table--custom__row-focused-box-shadow:
    inset 3px 0 0 0
    var(--zd-table--custom-color);
  --zd-table--custom__row__cell__sortable-hover-background-image: svg-load('14-sort.svg', color: color(var(--zd-table--custom-color) alpha(40%)), fill: color(var(--zd-table--custom-color) alpha(40%)));
  --zd-table--custom__row__cell__sortable-hover-color: var(--zd-table--custom-color);
  --zd-table--custom__row__cell__sortable-hover-ascending-background-image: svg-load('14-sort.svg', color: var(--zd-table--custom-color), fill: color(var(--zd-table--custom-color) alpha(40%)));
  --zd-table--custom__row__cell__sortable-hover-descending-background-image: svg-load('14-sort.svg', color: color(var(--zd-table--custom-color) alpha(40%)), fill: var(--zd-table--custom-color));
  --zd-table--custom--rtl__row-focused-box-shadow:
    inset -3px 0 0 0
    var(--zd-table--custom-color);
}

/* stylelint-disable selector-max-specificity, max-line-length */

.c-table--custom .c-table__row:--table__row-focused .c-table__row__cell:first-of-type {
  box-shadow: var(--zd-table--custom__row-focused-box-shadow);
}

.c-table--custom .c-table__row__cell__sortable:--table__row__cell__sortable-hovered,
.c-table--custom .c-table__row__cell__sortable:--table__row__cell__sortable-focused {
  color: var(--zd-table--custom__row__cell__sortable-hover-color);
}

.c-table--custom .c-table__row__cell__sortable:--table__row__cell__sortable-hovered::before,
.c-table--custom .c-table__row__cell__sortable:--table__row__cell__sortable-focused::before {
  background-image: var(--zd-table--custom__row__cell__sortable-hover-background-image);
}

.c-table--custom .c-table__row__cell__sortable.is-ascending:--table__row__cell__sortable-hovered::before,
.c-table--custom .c-table__row__cell__sortable.is-ascending:--table__row__cell__sortable-focused::before {
  background-image: var(--zd-table--custom__row__cell__sortable-hover-ascending-background-image);
}

.c-table--custom .c-table__row__cell__sortable.is-descending:--table__row__cell__sortable-hovered::before,
.c-table--custom .c-table__row__cell__sortable.is-descending:--table__row__cell__sortable-focused::before {
  background-image: var(--zd-table--custom__row__cell__sortable-hover-descending-background-image);
}

.c-table--custom.is-rtl .c-table__row:--table__row-focused .c-table__row__cell:first-of-type {
  box-shadow: var(--zd-table--custom--rtl__row-focused-box-shadow);
}

/* stylelint-enable selector-max-specificity, max-line-length */
