version: 2.1
orbs:
  node: circleci/node@4.0.0

references:
  executor: &executor
    executor:
      name: node/default
      tag: lts

  workspace_root: &workspace_root ~/project

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build:
    <<: *executor
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn --frozen-lockfile --ignore-scripts
      - run: yarn lerna bootstrap
      - run: yarn lerna run build --concurrency=2 # prevent out-of-memory
      - persist_to_workspace:
          root: *workspace_root
          paths: .

  test:
    <<: *executor
    steps:
      - *attach_workspace
      - run: yarn test

  deploy:
    <<: *executor
    environment:
      NODE_DEBUG: gh-pages
    steps:
      - *attach_workspace
      - run: find demo -type l | xargs sed -i '' || true # convert symlinks to regular files
      - run: scripts/deploy.js

  publish:
    <<: *executor
    steps:
      - *attach_workspace
      - run: npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run: yarn lerna publish from-git --ignore-scripts --no-verify-access --yes

workflows:
  main:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          context: writer
      - publish:
          requires:
            - test
          context: maintainer
          filters:
            branches:
              only: main
