version: 2.1
orbs:
  node: circleci/node@2.0.2

references:
  workspace_root: &workspace_root ~/project

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build:
    executor: node/default
    steps:
      - checkout
      - node/with-cache:
          cache-key: yarn.lock
          steps:
            - run: yarn --frozen-lockfile --ignore-scripts
            - run: yarn lerna bootstrap
            - run: yarn lerna run build --concurrency=2 # prevent out-of-memory
      - persist_to_workspace:
          root: *workspace_root
          paths: .

  test:
    executor: node/default
    steps:
      - *attach_workspace
      - run: yarn test

  deploy:
    executor: node/default
    environment:
      NODE_DEBUG: gh-pages
    steps:
      - *attach_workspace
      - run: find demo -type l | xargs sed -i '' || true # convert symlinks to regular files
      - run: scripts/gh-pages.js

  publish:
    executor: node/default
    steps:
      - *attach_workspace
      - run: npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
      - run: yarn lerna publish from-git --ignore-scripts --no-verify-access --yes

workflows:
  main:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          context: maintainer
          filters:
            branches:
              only: master
      - publish:
          requires:
            - test
          context: maintainer
          filters:
            branches:
              only: master
