<!doctype html>
<html>
<head>
  <title>Zendesk Garden / Bedrock / Media</title>
  <link href="http://garden.zendesk.com/index.css" rel="stylesheet">
  <link href="../../index.css" rel="stylesheet">
</head>
<body>
  <header class="c-header">
    <figure class="c-header__logo">
      <a class="u-fg-inherit" href="http://garden.zendesk.com">
        <svg class="c-header__logo__svg svg-square">
          <use xlink:href="http://garden.zendesk.com/index.svg#zd-svg-icon-26-zendesk">
        </svg>
      </a
    ></figure
    ><h1 class="c-header__title"
      ><a class="u-fg-inherit" href="../..">Bedrock</a>
      <span>/ Media</span>
    </h1>
    <ul class="c-ctl c-ctl--header">
      <li class="c-ctl__item">
        <fieldset class="c-chk c-chk--toggle">
          <input class="c-chk__input js-dark" id="nav.ctl.dark" type="checkbox">
          <label class="c-chk__label" for="nav.ctl.dark">Dark Mode</label>
        </fieldset>
      </li>
    </ul>
  </header>
  <main class="c-main c-main--page">
    <h1 class="c-main__title">Media Layout</h1>
    <div class="c-main__body">
      <p class="u-mb">The
        <code class="c-code">.l-media</code>
        layout is used to position content next to an image.</p>
      <div class="l-media u-mb">
        <img class="l-media__figure u-mr" src="http://placehold.it/200x150/dddddd/4a8ec2">
        <div class="l-media__body">
          <p>Brunch aesthetic fingerstache, fanny pack asymmetrical flannel photo
          booth ennui. Irony 90's ethical, distillery semiotics meh asymmetrical
          listicle fanny pack single-origin coffee wayfarers. Butcher hammock
          90's, YOLO narwhal semiotics celiac paleo neutra crucifix. Polaroid
          schlitz distillery kombucha, twee tote bag crucifix. Trust fund
          readymade squid, irony gastropub chia crucifix selvage flannel freegan
          cliche green juice.  Schlitz everyday carry umami, viral brunch
          fingerstache wolf quinoa. Twee cray pitchfork authentic, heirloom
          hammock thundercats.</p>
        </div>
      </div>

      <div class="l-media u-mb">
        <img class="l-media__figure u-float-right u-ml" src="http://placehold.it/200x150/dddddd/4a8ec2">
        <div class="l-media__body">
          <p class="u-mb">Scenester cred small batch chicharrones offal vinyl.
          Distillery hashtag asymmetrical DIY paleo dreamcatcher, marfa vice echo
          park banjo leggings jean shorts godard street art kombucha. Vinyl
          keytar XOXO austin. Flexitarian brooklyn etsy, jean shorts shabby chic
          master cleanse heirloom deep v pickled small batch. Yuccie fap selfies
          marfa, YOLO kitsch mumblecore cray asymmetrical waistcoat. Swag four
          dollar toast umami, freegan bicycle rights forage pitchfork gochujang
          whatever scenester meditation church-key small batch. Banh mi small
          batch kale chips, tilde kinfolk williamsburg letterpress kogi meggings
          banjo vinyl.</p>
          <p>Tousled flannel try-hard seitan, selvage +1 biodiesel post-ironic
          cray vinyl YOLO jean shorts umami stumptown. Vinyl kickstarter fashion
          axe literally. Mustache occupy portland, banh mi iPhone dreamcatcher
          plaid YOLO cred you probably haven't heard of them banjo tattooed
          selfies VHS. Dreamcatcher bushwick fingerstache, forage franzen
          thundercats cornhole godard heirloom sartorial asymmetrical kickstarter
          quinoa. Stumptown tousled tattooed disrupt, dreamcatcher literally
          street art ugh gastropub blog sriracha messenger bag. XOXO master
          cleanse vice, DIY food truck dreamcatcher gentrify cardigan vinyl
          yuccie small batch iPhone selfies. Chillwave ugh paleo meditation, cray
          shabby chic four loko retro waistcoat seitan venmo.</p>
        </div>
      </div>
    </div>
  </main>
  <script src="http://garden.zendesk.com/jquery.js"></script>
  <script src="http://garden.zendesk.com/svg4everybody.js"></script>
  <script src="http://garden.zendesk.com/index.js"></script>
</body>
</html>
