@import '@zendeskgarden/css-variables';

:root {
  --zd-avatar__badge-border-radius: 100px;
  --zd-avatar__badge-color: var(--zd-color-white);
  --zd-avatar__badge-font-size: 10px;
  --zd-avatar__badge-font-weight: var(--zd-font-weight-semibold);
  --zd-avatar__badge-position: calc(var(--zd-avatar--online__badge-size) / 2 + var(--zd-avatar--online__badge-position));
  --zd-avatar__badge-transition-duration: var(--zd-avatar-transition-duration);
  --zd-avatar__badge-transition:
    all var(--zd-avatar__badge-transition-duration) ease-in-out,
    color 0s;
  --zd-avatar--active__badge-animation: zd-avatar--active__badge calc(var(--zd-avatar-transition-duration) * 1.5) ease-in-out;
  --zd-avatar--active__badge-min-width: var(--zd-avatar__badge-font-size);
  --zd-avatar--active__badge-padding: 0 5px;
  --zd-avatar--active__badge-position: -4px;
  --zd-avatar--active__badge-size: 20px;
  --zd-avatar--online__badge-position: -4px;
  --zd-avatar--online__badge-size: 12px;
  --zd-avatar--lg__badge-position: calc(var(--zd-avatar--lg--online__badge-size) / 2 + var(--zd-avatar--online__badge-position));
  --zd-avatar--lg--active__badge-padding: 0 5px;
  --zd-avatar--lg--online__badge-size: calc(var(--zd-avatar--online__badge-size) + 2px);
  --zd-avatar--sm--active__badge-padding: 0 3px;
  --zd-avatar--sm--active__badge-size: calc(var(--zd-avatar--active__badge-size) - 4px);
  --zd-avatar--sm--online__badge-size: calc(var(--zd-avatar--online__badge-size) - 2px);
  --zd-avatar--sm__badge-position: calc(var(--zd-avatar--sm--online__badge-size) / 2 + var(--zd-avatar--online__badge-position));
  --zd-avatar--xs--active__badge-min-width: var(--zd-avatar--xs--active__badge-size);
  --zd-avatar--xs--active__badge-size: 8px;
  --zd-avatar--xs--online__badge-size: calc(var(--zd-avatar--online__badge-size) - 4px);
  --zd-avatar--xs__badge-position: calc(var(--zd-avatar--xs--online__badge-size) / 2 + var(--zd-avatar--online__badge-position));
}

/* 1. Use `color` to manipulate inner box shadow and badge.
   2. Set text color without altering border.
   3. Fallback for IE 11 (which will set border).
   4. Improve animation easing. */

.c-avatar__badge {
  display: inline-block;
  position: absolute;
  right: var(--zd-avatar__badge-position);
  bottom: var(--zd-avatar__badge-position);
  transition: var(--zd-avatar__badge-transition);
  opacity: 0;
  border: 2px solid; /* [1] */
  border-radius: var(--zd-avatar__badge-border-radius);
  background-color: transparent;
  padding: 0;
  min-width: 0;
  height: 0;
  box-sizing: content-box;
  text-align: center;
  line-height: 1px; /* [4] */
  font-size: 0;
  font-weight: var(--zd-avatar__badge-font-weight);
  -webkit-text-fill-color: var(--zd-avatar__badge-color); /* [2] */
}

/* stylelint-disable selector-type-no-unknown, selector-no-vendor-prefix */
_:-ms-input-placeholder, .c-avatar__badge {
  color: var(--zd-avatar__badge-color); /* [3] */
}
/* stylelint-enable selector-type-no-unknown, selector-no-vendor-prefix */

.c-avatar--lg .c-avatar__badge {
  right: var(--zd-avatar--lg__badge-position);
  bottom: var(--zd-avatar--lg__badge-position);
}

.c-avatar--sm .c-avatar__badge {
  right: var(--zd-avatar--sm__badge-position);
  bottom: var(--zd-avatar--sm__badge-position);
}

.c-avatar--xs .c-avatar__badge {
  right: var(--zd-avatar--xs__badge-position);
  bottom: var(--zd-avatar--xs__badge-position);
}

.c-avatar.is-active .c-avatar__badge,
.c-avatar.is-online .c-avatar__badge {
  opacity: 1;
}

.c-avatar.is-active .c-avatar__badge {
  right: var(--zd-avatar--active__badge-position);
  bottom: var(--zd-avatar--active__badge-position);
  animation: var(--zd-avatar--active__badge-animation);
  background-color: var(--zd-avatar--active-color);
  padding: var(--zd-avatar--active__badge-padding);
  min-width: var(--zd-avatar--active__badge-min-width);
  height: var(--zd-avatar--active__badge-size);
  line-height: var(--zd-avatar--active__badge-size);
}

.c-avatar.is-online .c-avatar__badge {
  right: var(--zd-avatar--online__badge-position);
  bottom: var(--zd-avatar--online__badge-position);
  background-color: var(--zd-avatar--online-color);
  min-width: var(--zd-avatar--online__badge-size);
  height: var(--zd-avatar--online__badge-size);
  line-height: var(--zd-avatar--online__badge-size); /* [4] */
}

.c-avatar--xs.is-active .c-avatar__badge {
  padding: 0;
  min-width: var(--zd-avatar--xs--active__badge-min-width);
  height: var(--zd-avatar--xs--active__badge-size);
  line-height: var(--zd-avatar--xs--active__badge-size);
}

.c-avatar--xs.is-online .c-avatar__badge {
  min-width: var(--zd-avatar--xs--online__badge-size);
  height: var(--zd-avatar--xs--online__badge-size);
  line-height: var(--zd-avatar--xs--online__badge-size); /* [4] */
}

.c-avatar--sm.is-active .c-avatar__badge {
  padding: var(--zd-avatar--sm--active__badge-padding);
  height: var(--zd-avatar--sm--active__badge-size);
  line-height: var(--zd-avatar--sm--active__badge-size);
}

.c-avatar--sm.is-online .c-avatar__badge {
  min-width: var(--zd-avatar--sm--online__badge-size);
  height: var(--zd-avatar--sm--online__badge-size);
  line-height: var(--zd-avatar--sm--online__badge-size); /* [4] */
}

.c-avatar--lg.is-active .c-avatar__badge {
  padding: var(--zd-avatar--lg--active__badge-padding);
}

.c-avatar--lg.is-online .c-avatar__badge {
  min-width: var(--zd-avatar--lg--online__badge-size);
  height: var(--zd-avatar--lg--online__badge-size);
  line-height: var(--zd-avatar--lg--online__badge-size); /* [4] */
}

.c-avatar.is-rtl .c-avatar__badge {
  right: auto;
  left: var(--zd-avatar__badge-position);
}

.c-avatar--lg.is-rtl .c-avatar__badge {
  left: var(--zd-avatar--lg__badge-position);
}

.c-avatar--sm.is-rtl .c-avatar__badge {
  left: var(--zd-avatar--sm__badge-position);
}

.c-avatar--xs.is-rtl .c-avatar__badge {
  left: var(--zd-avatar--xs__badge-position);
}

/* stylelint-disable selector-max-specificity */

.c-avatar.is-active.is-rtl .c-avatar__badge {
  left: var(--zd-avatar--active__badge-position);
}

.c-avatar.is-online.is-rtl .c-avatar__badge {
  left: var(--zd-avatar--online__badge-position);
}

.c-avatar:not(.c-avatar--xs).is-active .c-avatar__badge {
  max-width: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--zd-avatar__badge-font-size);
}
