@import '@zendeskgarden/css-variables';

:root {
  --zd-avatar-border-radius: 50%;
  --zd-avatar-transition-duration: .25s;
  --zd-avatar-transition:
    box-shadow var(--zd-avatar-transition-duration) ease-in-out,
    color var(--zd-avatar-transition-duration) ease-in-out;
  --zd-avatar-size: 40px;
  --zd-avatar__img-background-color: var(--zd-color-white);
  --zd-avatar__img-border-radius: 50%;
}

/* 1. Reset for <figure> element.
   2. Use `color` to manipulate inner box shadow and badge. */

.c-avatar {
  display: inline-block;
  position: relative;
  transition: var(--zd-avatar-transition);
  margin: 0; /* [1] */
  border-radius: var(--zd-avatar-border-radius);
  width: var(--zd-avatar-size);
  height: var(--zd-avatar-size);
  box-sizing: border-box;
  color: transparent; /* [2] */
}

/* inner ring */
.c-avatar::before {
  position: absolute;
  top: 0;
  left: 0;
  transition: box-shadow var(--zd-avatar-transition-duration) ease-in-out;
  border-radius: inherit;
  box-shadow: inset 0 0 0 2px; /* [2] */
  width: 100%;
  height: 100%;
  content: '';
}

.c-avatar__img,
.c-avatar > img {
  border-radius: inherit;
  background-color: var(--zd-avatar__img-background-color);
  width: 100%;
  height: 100%;
  box-sizing: inherit;
  vertical-align: bottom;
}
