@import '@zendeskgarden/css-variables';

:root {
  --zd-avatar-box-shadow: 0 0 0 2px;
  --zd-avatar--active-color: var(--zd-color-red-400);
  --zd-avatar--away-color: var(--zd-color-yellow-400);
  --zd-avatar--online-color: var(--zd-color-secondary-mint-400);
}

.c-avatar.is-active,
.c-avatar.is-away,
.c-avatar.is-online {
  color: var(--zd-color-white);
}

.c-avatar.is-active {
  box-shadow: var(--zd-avatar-box-shadow) var(--zd-avatar--active-color);
}

.c-avatar.is-away {
  box-shadow: var(--zd-avatar-box-shadow) var(--zd-avatar--away-color);
}

.c-avatar.is-online {
  box-shadow: var(--zd-avatar-box-shadow) var(--zd-avatar--online-color);
}
