@import '@zendeskgarden/css-variables';

/* stylelint-disable no-unsupported-browser-features */
:root {
  --zd-avatar-active-background-color: var(--zd-color-malibu);
  --zd-avatar-in-background-color: var(--zd-color-apple-green);
  --zd-avatar-out-background-color: var(--zd-color-gainsboro);
  --zd-avatar-out-filter-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="grayscale"><feColorMatrix values=".3333 .3333 .3333 0 0 .3333 .3333 .3333 0 0 .3333 .3333 .3333 0 0 0 0 0 1 0"/></filter></svg>#grayscale');
  --zd-avatar-out-opacity: .5;
}
/* stylelint-enable, no-unsupported-browser-features */

.c-avatar.is-active {
  background-color: var(--zd-avatar-active-background-color);
}

.c-avatar.is-in {
  background-color: var(--zd-avatar-in-background-color);
}

.c-avatar.is-out {
  background-color: var(--zd-avatar-out-background-color);
}

.c-avatar.is-active .c-avatar__img,
.c-avatar.is-in .c-avatar__img,
.c-avatar.is-out .c-avatar__img,
.c-avatar.is-active > img,
.c-avatar.is-in > img,
.c-avatar.is-out > img {
  border-color: transparent;
}

/* stylelint-disable declaration-block-no-duplicate-properties,
                     order/properties-order,
                     color-named,
                     property-no-vendor-prefix,
                     no-unsupported-browser-features */
.c-avatar.is-out .c-avatar__img,
.c-avatar.is-out > img {
  transform: translateZ(0); /* Fix CSS3 filter blur for retina */
  filter: var(--zd-avatar-out-filter-url); /* Support for Firefox 10+ */
  filter: gray; /* Support for IE 6-9 (IE 10 dropped DX filter support) */
  -webkit-filter: grayscale(100%);
  opacity: var(--zd-avatar-out-opacity);
}
/* stylelint-enable */
