@import '@zendeskgarden/css-variables';

:root {
  --zd-avatar--system-border-radius: 4px;
  --zd-avatar--system--lg-border-radius: 5px;
  --zd-avatar--system--sm-border-radius: 3px;
}

.c-avatar--system {
  border-radius: var(--zd-avatar--system-border-radius);
}

.c-avatar--system.c-avatar--lg {
  border-radius: var(--zd-avatar--system--lg-border-radius);
}

.c-avatar--system.c-avatar--sm {
  border-radius: var(--zd-avatar--system--sm-border-radius);
}
