@import '../variables';
@import 'zd-css-variables';

:root {
  --zd-din-next-black-cyrillic-woff: fe1d86ed02ba93a12200d6490bb03c71.woff;
  --zd-din-next-black-cyrillic-woff2: bf6cdac350c916439e41f6dd2557b84c.woff2;
  --zd-din-next-black-fallback-woff: 7298a065da70a873ecba59f1659ca9ea.woff;
  --zd-din-next-black-fallback-woff2: 6e9031dd062ec4a0f36a7a343e3d4f66.woff2;
  --zd-din-next-black-greek-woff: e786e6fe75aa4adacf305d91083efee1.woff;
  --zd-din-next-black-greek-woff2: e7fb64eb2a7130d30eaff522afdd6442.woff2;
  --zd-din-next-black-latin-ext-woff: bb693c2b2495be779a973e7ee666f737.woff;
  --zd-din-next-black-latin-ext-woff2: 3bc7108a58a005e7a22a9391d38d321d.woff2;
  --zd-din-next-black-latin-woff: 71a443659c57f01ff9e5ee8f21adf183.woff;
  --zd-din-next-black-latin-woff2: b16b47e761615d8248ffb1935a4112fb.woff2;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-black-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-black-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-black-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-black-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-black-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-black-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-black-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-black-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-black-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-black-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-latin);
}
