@import '../variables';
@import 'zd-css-variables';

:root {
  --zd-din-next-bold-italic-cyrillic-woff: 72585b27c8db4e19e049edebc6cec49b.woff;
  --zd-din-next-bold-italic-cyrillic-woff2: b0f5c06d6cfd150fb3e251ff83b4b1e8.woff2;
  --zd-din-next-bold-italic-fallback-woff: dcdc0ec99f6562376a0d1389a13214ad.woff;
  --zd-din-next-bold-italic-fallback-woff2: dde1dd64b72d5e50925ccf5b7ca0f6cb.woff2;
  --zd-din-next-bold-italic-greek-woff: 9ecd929f4141ec907395293bd56f0b1f.woff;
  --zd-din-next-bold-italic-greek-woff2: dbe298803dcd33e43ad7f2ad165ec87b.woff2;
  --zd-din-next-bold-italic-latin-ext-woff: 41cd6438a103bced5f8ddba637c91173.woff;
  --zd-din-next-bold-italic-latin-ext-woff2: c9780c5b68598493196f5571e3a31bbb.woff2;
  --zd-din-next-bold-italic-latin-woff: 9e47e5cf00637ed0091f42312deed107.woff;
  --zd-din-next-bold-italic-latin-woff2: b179511ed14dc643abb2ef9262798e46.woff2;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-bold-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
