@import '../variables';
@import 'zd-css-variables';

:root {
  --zd-din-next-regular-italic-cyrillic-woff: din-next-regular-italic-cyrillic.9626389b0891dbbeb84a528f8511e9af.woff;
  --zd-din-next-regular-italic-cyrillic-woff2: din-next-regular-italic-cyrillic.2590e40dcd010e6aec02fbad9fb4395d.woff2;
  --zd-din-next-regular-italic-fallback-woff: din-next-regular-italic-fallback.91c2230e7fee2cbb2c2c3ec51c5e79c3.woff;
  --zd-din-next-regular-italic-fallback-woff2: din-next-regular-italic-fallback.ce2603e9e5ad68ca40921f419e5566b6.woff2;
  --zd-din-next-regular-italic-greek-woff: din-next-regular-italic-greek.ef2c7ba88362791d5e589fb856b96013.woff;
  --zd-din-next-regular-italic-greek-woff2: din-next-regular-italic-greek.365d2a47cc96b3e6ab649ef97aeafce1.woff2;
  --zd-din-next-regular-italic-latin-ext-woff: din-next-regular-italic-latin-ext.688b922826eb624d39e70451099c74aa.woff;
  --zd-din-next-regular-italic-latin-ext-woff2: din-next-regular-italic-latin-ext.372492e3c9b21a6a86502572ef58fd0f.woff2;
  --zd-din-next-regular-italic-latin-woff: din-next-regular-italic-latin.98fbd1753d885db3720dc3540bc4e776.woff;
  --zd-din-next-regular-italic-latin-woff2: din-next-regular-italic-latin.3c3b041cf9cd7b5ec43439f950b43676.woff2;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-regular-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
