@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-din-next-ultralight-italic-cyrillic-woff: 63425a18502fd3e6c0230324aac5b7e8.woff;
  --zd-din-next-ultralight-italic-cyrillic-woff2: 78aedd4e44f29e3fe159b4845e136004.woff2;
  --zd-din-next-ultralight-italic-fallback-woff: b4b25aa422246e77ce062477d6177876.woff;
  --zd-din-next-ultralight-italic-fallback-woff2: 1a392db385eb9caad08832f25f4a3570.woff2;
  --zd-din-next-ultralight-italic-greek-woff: f7ba5ee1d228743c40565094468b713e.woff;
  --zd-din-next-ultralight-italic-greek-woff2: dee6b3cd6ee69bf557738c93cb441b3a.woff2;
  --zd-din-next-ultralight-italic-latin-ext-woff: f2ea1db9d8da5e5c1862e5e7eae80ec5.woff;
  --zd-din-next-ultralight-italic-latin-ext-woff2: a7996c196fa9ec23fefc24022f884d7c.woff2;
  --zd-din-next-ultralight-italic-latin-woff: cb9cdb69d05231948980ba4ce1437d22.woff;
  --zd-din-next-ultralight-italic-latin-woff2: a68a532d6b393978b254b876d9bbdf83.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-ultralight);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-ultralight);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-ultralight);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-ultralight);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-din-next);
  src:
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-din-next-ultralight-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-ultralight);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
