@import '@zendeskgarden/css-variables';

.c-scrollbar {
  position: relative;
  /* stylelint-disable-next-line declaration-no-important */
  overflow: hidden !important;
  overflow-anchor: none;
  touch-action: auto;
}

.c-scrollbar.is-rtl {
  direction: rtl;
}
