/* stylelint-disable declaration-no-important */
.u-text-align-center { text-align: center !important; }

.u-text-align-inherit { text-align: inherit !important; }

.u-text-align-justify { text-align: justify !important; }

.u-text-align-left { text-align: left !important; }

.u-text-align-right { text-align: right !important; }
/* stylelint-enable */
