/* stylelint-disable declaration-no-important */
.u-va-baseline { vertical-align: baseline !important; }

.u-va-bottom { vertical-align: bottom !important; }

.u-va-inherit { vertical-align: inherit !important; }

.u-va-initial { vertical-align: initial !important; }

.u-va-middle { vertical-align: middle !important; }

.u-va-sub { vertical-align: sub !important; }

.u-va-super { vertical-align: super !important; }

.u-va-text-bottom { vertical-align: text-bottom !important; }

.u-va-text-top { vertical-align: text-top !important; }

.u-va-top { vertical-align: top !important; }
/* stylelint-enable */
