/* stylelint-disable declaration-no-important */
.u-1\/1,
.u-2\/2,
.u-3\/3,
.u-4\/4,
.u-5\/5,
.u-6\/6,
.u-8\/8,
.u-12\/12,
.u-24\/24 { width: 100% !important; }

/* 5ths-Based Units */

.u-1\/5 { width: calc(100% / 5) !important; }

.u-2\/5 { width: calc(200% / 5) !important; }

.u-3\/5 { width: calc(300% / 5) !important; }

.u-4\/5 { width: calc(400% / 5) !important; }

/* 24ths-Based Units */

.u-1\/24 { width: calc(100% / 24) !important; }

.u-2\/24,
.u-1\/12 { width: calc(200% / 24) !important; }

.u-3\/24,
.u-1\/8 { width: calc(300% / 24) !important; }

.u-4\/24,
.u-2\/12,
.u-1\/6 { width: calc(400% / 24) !important; }

.u-5\/24 { width: calc(500% / 24) !important; }

.u-6\/24,
.u-3\/12,
.u-2\/8,
.u-1\/4 { width: calc(600% / 24) !important; }

.u-7\/24 { width: calc(700% / 24) !important; }

.u-8\/24,
.u-4\/12,
.u-2\/6,
.u-1\/3 { width: calc(800% / 24) !important; }

.u-9\/24,
.u-3\/8 { width: calc(900% / 24) !important; }

.u-10\/24,
.u-5\/12 { width: calc(1000% / 24) !important; }

.u-11\/24 { width: calc(1100% / 24) !important; }

.u-12\/24,
.u-6\/12,
.u-4\/8,
.u-3\/6,
.u-2\/4,
.u-1\/2 { width: calc(1200% / 24) !important; }

.u-13\/24 { width: calc(1300% / 24) !important; }

.u-14\/24,
.u-7\/12 { width: calc(1400% / 24) !important; }

.u-15\/24,
.u-5\/8 { width: calc(1500% / 24) !important; }

.u-16\/24,
.u-8\/12,
.u-4\/6,
.u-2\/3 { width: calc(1600% / 24) !important; }

.u-17\/24 { width: calc(1700% / 24) !important; }

.u-18\/24,
.u-9\/12,
.u-6\/8,
.u-3\/4 { width: calc(1800% / 24) !important; }

.u-19\/24 { width: calc(1900% / 24) !important; }

.u-20\/24,
.u-10\/12,
.u-5\/6 { width: calc(2000% / 24) !important; }

.u-21\/24,
.u-7\/8 { width: calc(2100% / 24) !important; }

.u-22\/24,
.u-11\/12 { width: calc(2200% / 24) !important; }

.u-23\/24 { width: calc(2300% / 24) !important; }
/* stylelint-enable */
