@import 'zd-css-variables';

:root {
  /* Override these variables with your product's accent values. */
  --zd-txt--accent-focused-border-color: #2db1ba;
  --zd-txt--accent-focused-box-shadow: 0 0 0 3px #d4eff0;
}

.c-txt--accent:--txt-focused {
  border-color: var(--zd-txt--accent-focused-border-color);
  box-shadow: var(--zd-txt--accent-focused-box-shadow);
}
