/* stylelint-disable at-rule-empty-line-before, max-line-length */

@custom-selector :--txt-hovered
  .c-txt.is-hovered:not(.is-disabled) .c-txt__input:not([disabled]),
  .c-txt:not(.is-disabled) .c-txt__input:not([disabled]):hover;

@custom-selector :--txt-focused
  .c-txt.is-focused:not(.is-disabled) .c-txt__input:not([disabled]),
  .c-txt:not(.is-disabled) .c-txt__input:not([disabled]):focus;

@custom-selector :--txt-disabled
  .c-txt.is-disabled .c-txt__input,
  .c-txt .c-txt__input[disabled];

@custom-selector :--txt--select-open
  .c-txt.c-txt:not(.is-disabled) .c-txt__input.c-txt__input--select.is-open:not(select);

/* stylelint-enable at-rule-empty-line-before, max-line-length */
