:root {
  --zd-txt--sm__input-padding-horizontal: calc(12 / 14 * 1em);
  --zd-txt--sm__input-padding: calc(6 / 14 * 1em) var(--zd-txt--sm__input-padding-horizontal);
  --zd-txt--sm__input-min-height: 32px;
  --zd-txt--sm__input--select-padding-unit: 40;
  --zd-txt--sm__input--select-padding-right: calc(var(--zd-txt--sm__input--select-padding-unit) / 14 * 1em);
  --zd-txt--sm__input--select__chevron-background-position-x: calc((var(--zd-txt--sm__input--select-padding-unit) / 2 - 8 + 1) / 14 * 1em);
  --zd-txt--sm__input--select__chevron-background-position: right var(--zd-txt--sm__input--select__chevron-background-position-x) center;
  --zd-txt--sm__input--select__chevron-width: calc(var(--zd-txt--sm__input--select-padding-unit) * 1px);
  --zd-txt-rtl--sm__input--select__chevron-background-position: left var(--zd-txt--sm__input--select__chevron-background-position-x) center;
}

.c-txt--sm .c-txt__input {
  padding: var(--zd-txt--sm__input-padding);
  min-height: var(--zd-txt--sm__input-min-height);
}

.c-txt--sm .c-txt__input--select.c-txt__input--select {
  padding-right: var(--zd-txt--sm__input--select-padding-right);
}

.c-txt--sm .c-txt__input--select:not(select)::before {
  width: var(--zd-txt--sm__input--select__chevron-width);
}

.c-txt--sm .c-txt__input--select:not(select)::before,
.c-txt--sm select.c-txt__input--select {
  background-position: var(--zd-txt--sm__input--select__chevron-background-position);
}

.c-txt--sm.is-rtl .c-txt__input--select {
  padding-right: var(--zd-txt--sm__input-padding-horizontal);
}

/* stylelint-disable selector-max-specificity */
.c-txt--sm.is-rtl .c-txt__input--select.c-txt__input--select {
  padding-left: var(--zd-txt--sm__input--select-padding-right);
}
/* stylelint-enable selector-max-specificity */

.c-txt--sm.is-rtl .c-txt__input--select:not(select)::before,
.c-txt--sm.is-rtl select.c-txt__input--select {
  background-position: var(--zd-txt-rtl--sm__input--select__chevron-background-position);
}
