@import 'zd-css-variables';

:root {
  --zd-txt-disabled-background-color: var(--zd-color-gainsboro);
  --zd-txt-disabled-border-color: var(--zd-color-gainsboro);
  --zd-txt-disabled-color: var(--zd-color-monsoon);
  --zd-txt-disabled-color-placeholder: var(--zd-color-white);
  --zd-txt-focused-background-color: var(--zd-color-white);
  --zd-txt-focused-border-color: var(--zd-color-pelorous);
  --zd-txt-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-txt-focused-border-color) alpha(40%));
  --zd-txt-hovered-border-color: var(--zd-txt-focused-border-color);
  --zd-txt-hovered-color: var(--zd-color-dark-gray);
}

@custom-selector :--txt-hovered
  .c-txt.is-hovered > .c-txt__input,
  .c-txt > .c-txt__input:hover;

:--txt-hovered {
  border-color: var(--zd-txt-hovered-border-color);
  color: var(--zd-txt-hovered-color);
}

@custom-selector :--txt-focused
  .c-txt.is-focused > .c-txt__input,
  .c-txt > .c-txt__input:focus;

:--txt-focused {
  border-color: var(--zd-txt-focused-border-color);
  box-shadow: var(--zd-txt-focused-box-shadow);
  background-color: var(--zd-txt-focused-background-color);
}

@custom-selector :--txt-disabled
  .c-txt.is-disabled > .c-txt__input,
  .c-txt > .c-txt__input:disabled;

:--txt-disabled {
  border-color: var(--zd-txt-disabled-border-color);
  background-color: var(--zd-txt-disabled-background-color);
  cursor: default;
  color: var(--zd-txt-disabled-color);
}

:--txt-disabled::placeholder {
  color: var(--zd-txt-disabled-color-placeholder);
}
