<!doctype html>
<html>
<head>
  <title>Zendesk Garden / Bedrock / Flag</title>
  <link href="http://garden.zendesk.com/index.css" rel="stylesheet">
  <link href="../../index.css" rel="stylesheet">
</head>
<body>
  <header class="c-header">
    <figure class="c-header__logo">
      <a class="u-fg-inherit" href="http://garden.zendesk.com">
        <svg class="c-header__logo__svg svg-square">
          <use xlink:href="http://garden.zendesk.com/index.svg#zd-svg-icon-26-zendesk">
        </svg>
      </a
    ></figure
    ><h1 class="c-header__title"
      ><a class="u-fg-inherit" href="../..">Bedrock</a>
      <span>/ Flag</span>
    </h1>
    <ul class="c-ctl c-ctl--header">
      <li class="c-ctl__item">
        <fieldset class="c-chk c-chk--toggle">
          <input class="c-chk__input js-dark" id="nav.ctl.dark" type="checkbox">
          <label class="c-chk__label" for="nav.ctl.dark">Dark Mode</label>
        </fieldset>
      </li>
    </ul>
  </header>
  <main class="c-main c-main--page">
    <h1 class="c-main__title">Flag Layout</h1>
    <div class="c-main__body">
      <p class="u-mb">The
        <code class="c-code">.l-flag</code>
        layout is similar to
        <code class="c-code">.l-media</code>
        except that it provides the capability to align content vertically.</p>

      <h2 class="u-gamma u-mb">Middle Alignment</h2>
      <div class="l-flag u-mb-lg">
        <span class="l-flag__figure">
          <img class="u-mr" src="http://placehold.it/200x300/dddddd/4a8ec2">
        </span>
        <div class="l-flag__body">
          <p>Brunch aesthetic fingerstache, fanny pack asymmetrical flannel photo
          booth ennui. Irony 90's ethical, distillery semiotics meh asymmetrical
          listicle fanny pack single-origin coffee wayfarers. Butcher hammock
          90's, YOLO narwhal semiotics celiac paleo neutra crucifix. Polaroid
          schlitz distillery kombucha, twee tote bag crucifix. Trust fund
          readymade squid, irony gastropub chia crucifix selvage flannel freegan
          cliche green juice.  Schlitz everyday carry umami, viral brunch
          fingerstache wolf quinoa. Twee cray pitchfork authentic, heirloom
          hammock thundercats.</p>
        </div>
      </div>

      <h2 class="u-display-inline-block u-gamma u-mb">Top Alignment</h2>
      <code class="c-code">.l-flag--top</code>
      <div class="l-flag l-flag--top u-mb-lg">
        <span class="l-flag__figure">
          <img class="u-mr" src="http://placehold.it/200x300/dddddd/4a8ec2">
        </span>
        <div class="l-flag__body">
          <p>Brunch aesthetic fingerstache, fanny pack asymmetrical flannel photo
          booth ennui. Irony 90's ethical, distillery semiotics meh asymmetrical
          listicle fanny pack single-origin coffee wayfarers. Butcher hammock
          90's, YOLO narwhal semiotics celiac paleo neutra crucifix. Polaroid
          schlitz distillery kombucha, twee tote bag crucifix. Trust fund
          readymade squid, irony gastropub chia crucifix selvage flannel freegan
          cliche green juice.  Schlitz everyday carry umami, viral brunch
          fingerstache wolf quinoa. Twee cray pitchfork authentic, heirloom
          hammock thundercats.</p>
        </div>
      </div>

      <h2 class="u-display-inline-block u-gamma u-mb">Bottom Alignment</h2>
      <code class="c-code">.l-flag--bottom</code>
      <div class="l-flag l-flag--bottom u-mb-lg">
        <span class="l-flag__figure">
          <img class="u-mr" src="http://placehold.it/200x300/dddddd/4a8ec2">
        </span>
        <div class="l-flag__body">
          <p>Brunch aesthetic fingerstache, fanny pack asymmetrical flannel photo
          booth ennui. Irony 90's ethical, distillery semiotics meh asymmetrical
          listicle fanny pack single-origin coffee wayfarers. Butcher hammock
          90's, YOLO narwhal semiotics celiac paleo neutra crucifix. Polaroid
          schlitz distillery kombucha, twee tote bag crucifix. Trust fund
          readymade squid, irony gastropub chia crucifix selvage flannel freegan
          cliche green juice.  Schlitz everyday carry umami, viral brunch
          fingerstache wolf quinoa. Twee cray pitchfork authentic, heirloom
          hammock thundercats.</p>
        </div>
      </div>
    </div>
  </main>
  <script src="http://garden.zendesk.com/jquery.js"></script>
  <script src="http://garden.zendesk.com/svg4everybody.js"></script>
  <script src="http://garden.zendesk.com/index.js"></script>
</body>
</html>
