/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-tab--custom .c-tab__list__item.is-focused,.c-tab--custom .c-tab__list__item.is-hovered,.c-tab--custom .c-tab__list__item:focus,.c-tab--custom .c-tab__list__item:hover{
  color:#eb4962;
}

.c-tab--custom .c-tab__list__item.is-focused:before,.c-tab--custom .c-tab__list__item:focus:before{
  box-shadow:inset 0 0 0 2px rgba(235, 73, 98, .35);
}

.c-tab--custom .c-tab__list__item.c-tab__list__item.is-active,.c-tab--custom .c-tab__list__item.c-tab__list__item:active{
  border-color:#eb4962;
  color:#eb4962;
}

.c-tab--custom .c-tab__list__item.c-tab__list__item.is-selected{
  color:#eb4962;
}

.c-tab--custom .c-tab__list__item.c-tab__list__item.is-disabled,.c-tab--custom .c-tab__list__item.c-tab__list__item[aria-disabled=true],.c-tab--custom .c-tab__list__item.c-tab__list__item[disabled]{
  border-color:transparent;
  color:#c2c8cc;
}
