/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-range{
  margin:0;
  border:0;
  padding:0;
}

.c-range__input{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  margin:0;
  outline:none;
  background-color:inherit;
  background-size:0;
  cursor:pointer;
  padding:0;
  width:100%;
  vertical-align:middle;
}

.c-range__input::-moz-range-track{
  -moz-appearance:none;
       appearance:none;
  margin:10.5px 0;
  border-radius:5px;
  border-color:transparent;
  background-color:#e9ebed;
  background-image:linear-gradient(#1f73b7, #1f73b7);
  background-repeat:repeat-y;
  background-size:0;
  width:99.8%;
  height:5px;
  color:transparent;
  box-sizing:border-box;
}

.c-range__input::-ms-track{
  appearance:none;
  margin:10.5px 0;
  border-radius:5px;
  border-color:transparent;
  background-color:#e9ebed;
  background-image:linear-gradient(#1f73b7, #1f73b7);
  background-repeat:repeat-y;
  background-size:0;
  width:99.8%;
  height:5px;
  color:transparent;
  box-sizing:border-box;
}

.c-range__input::-webkit-slider-runnable-track{
  -webkit-appearance:none;
          appearance:none;
  margin:10.5px 0;
  border-radius:5px;
  border-color:transparent;
  background-color:#e9ebed;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#1f73b7), to(#1f73b7));
  background-image:linear-gradient(#1f73b7, #1f73b7);
  background-repeat:repeat-y;
  background-size:0;
  width:99.8%;
  height:5px;
  color:transparent;
  box-sizing:border-box;
}

.c-range__input::-moz-range-thumb{
  -moz-appearance:none;
       appearance:none;
  margin:-7.5px 0;
  border:3px solid #1f73b7;
  border-radius:100%;
  box-shadow:0 4px 8px 0 rgba(47, 57, 65, .24);
  background-color:#1f73b7;
  width:20px;
  height:20px;
  box-sizing:border-box;
}

.c-range__input::-ms-thumb{
  appearance:none;
  margin:-7.5px 0;
  border:3px solid #1f73b7;
  border-radius:100%;
  box-shadow:0 4px 8px 0 rgba(47, 57, 65, .24);
  background-color:#1f73b7;
  width:20px;
  height:20px;
  box-sizing:border-box;
}

.c-range__input::-webkit-slider-thumb{
  -webkit-appearance:none;
          appearance:none;
  margin:-7.5px 0;
  border:3px solid #1f73b7;
  border-radius:100%;
  box-shadow:0 4px 8px 0 rgba(47, 57, 65, .24);
  background-color:#1f73b7;
  width:20px;
  height:20px;
  box-sizing:border-box;
}

.c-range__input::-moz-range-progress{
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  background-color:#1f73b7;
  height:5px;
}

.c-range__input::-ms-fill-lower{
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  background-color:#1f73b7;
  height:5px;
}

.c-range__input::-moz-focus-outer{
  border:0;
}

.c-range__input::-ms-tooltip{
  display:none;
}

.c-range__input::-webkit-slider-container,.c-range__input::-webkit-slider-runnable-track{
  background-size:inherit;
}

.c-range.is-rtl,.c-range__hint.is-rtl,.c-range__input.is-rtl,.c-range__label.is-rtl,.c-range__message.is-rtl{
  direction:rtl;
}

.c-range__input.is-rtl::-moz-range-track{
  background-position:100% 100%;
}

.c-range__input.is-rtl::-ms-track{
  background-position:100% 100%;
}

.c-range__input.is-rtl::-webkit-slider-runnable-track{
  background-position:100% 100%;
}

.c-range__input.is-rtl::-moz-range-progress{
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.c-range__input.is-rtl::-ms-fill-lower{
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

.c-range--inline{
  display:inline-block;
}

.c-range--inline .c-range__input{
  width:auto;
}

.c-range__input.is-disabled,.c-range__input[disabled]{
  cursor:default;
}

.c-range__input.is-focused:not(.is-disabled):not([disabled])::-moz-range-thumb{
  box-shadow:0 0 0 3px rgba(31, 115, 183, .35);
}

.c-range__input.is-focused:not(.is-disabled):not([disabled])::-ms-thumb{
  box-shadow:0 0 0 3px rgba(31, 115, 183, .35);
}

.c-range__input.is-focused:not(.is-disabled):not([disabled])::-webkit-slider-thumb{
  box-shadow:0 0 0 3px rgba(31, 115, 183, .35);
}

.c-range__input.is-active:not(.is-disabled):not([disabled])::-moz-range-thumb,.c-range__input:active:not(.is-disabled):not([disabled])::-moz-range-thumb{
  background-color:#144a75;
}

.c-range__input.is-active:not(.is-disabled):not([disabled])::-ms-thumb,.c-range__input:active:not(.is-disabled):not([disabled])::-ms-thumb{
  background-color:#144a75;
}

.c-range__input.is-active:not(.is-disabled):not([disabled])::-webkit-slider-thumb,.c-range__input:active:not(.is-disabled):not([disabled])::-webkit-slider-thumb{
  background-color:#144a75;
}

.c-range__input.is-disabled::-moz-range-track,.c-range__input[disabled]::-moz-range-track{
  background-color:#e9ebed;
  background-image:linear-gradient(#d8dcde, #d8dcde);
}

.c-range__input.is-disabled::-ms-track,.c-range__input[disabled]::-ms-track{
  background-color:#e9ebed;
  background-image:linear-gradient(#d8dcde, #d8dcde);
}

.c-range__input.is-disabled::-webkit-slider-runnable-track,.c-range__input[disabled]::-webkit-slider-runnable-track{
  background-color:#e9ebed;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#d8dcde), to(#d8dcde));
  background-image:linear-gradient(#d8dcde, #d8dcde);
}

.c-range__input.is-disabled::-moz-range-thumb,.c-range__input[disabled]::-moz-range-thumb{
  border-color:#d8dcde;
  box-shadow:none;
  background-color:#d8dcde;
}

.c-range__input.is-disabled::-ms-thumb,.c-range__input[disabled]::-ms-thumb{
  border-color:#d8dcde;
  box-shadow:none;
  background-color:#d8dcde;
}

.c-range__input.is-disabled::-webkit-slider-thumb,.c-range__input[disabled]::-webkit-slider-thumb{
  border-color:#d8dcde;
  box-shadow:none;
  background-color:#d8dcde;
}

.c-range__input.is-disabled::-moz-range-progress,.c-range__input[disabled]::-moz-range-progress{
  background-color:#d8dcde;
}

.c-range__input.is-disabled::-ms-fill-lower,.c-range__input[disabled]::-ms-fill-lower{
  background-color:#d8dcde;
}

.c-range__slider{
  display:block;
  position:relative;
  z-index:0;
  cursor:pointer;
  height:26px;
}

.c-range__slider__track{
  position:absolute;
  top:50%;
  margin-top:-2.5px;
  border-radius:5px;
  background-color:#e9ebed;
  background-origin:content-box;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#1f73b7), to(#1f73b7));
  background-image:linear-gradient(#1f73b7, #1f73b7);
  background-repeat:repeat-y;
  padding:0 10px;
  width:100%;
}

.c-range__slider__track__rail{
  position:relative;
  margin:0 10px 0 -10px;
  height:5px;
}

.c-range__slider__track__rail__thumb{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  position:absolute;
  top:50%;
  z-index:1;
  margin-top:-10px;
  border:3px solid #1f73b7;
  border-radius:100%;
  box-shadow:0 4px 8px 0 rgba(47, 57, 65, .24);
  background-color:#1f73b7;
  cursor:inherit;
  width:20px;
  height:20px;
  box-sizing:border-box;
  font-size:0;
}

.c-range__slider__track__rail__thumb::-moz-range-track{
  -moz-appearance:none;
       appearance:none;
}

.c-range__slider__track__rail__thumb::-ms-track{
  appearance:none;
}

.c-range__slider__track__rail__thumb::-webkit-slider-runnable-track{
  -webkit-appearance:none;
          appearance:none;
}

.c-range__slider__track__rail__thumb::-moz-range-thumb{
  -moz-appearance:none;
       appearance:none;
}

.c-range__slider__track__rail__thumb::-ms-thumb{
  appearance:none;
}

.c-range__slider__track__rail__thumb::-webkit-slider-thumb{
  -webkit-appearance:none;
          appearance:none;
}

.c-range__slider__track__rail__thumb::-ms-tooltip{
  display:none;
}

.c-range__slider__track__rail__thumb:first-of-type{
  left:0;
}

.c-range__slider__track__rail__thumb:last-of-type{
  left:100%;
}

.c-range__slider__track__rail__thumb:focus{
  outline:none;
}

.c-range__slider__track__rail__thumb.is-focused{
  box-shadow:0 0 0 3px rgba(31, 115, 183, .35);
}

.c-range__slider.is-active .c-range__slider__track__rail__thumb:first-of-type,.c-range__slider:not(.is-disabled) .c-range__slider__track__rail__thumb:active{
  background-color:#144a75;
}

.c-range__slider__track__rail__thumb.is-focused:active{
  box-shadow:none;
}

.c-range__slider.is-disabled{
  cursor:default;
}

.c-range__slider.is-disabled .c-range__slider__track{
  background-color:#e9ebed;
  background-image:-webkit-gradient(linear, left top, left bottom, from(#d8dcde), to(#d8dcde));
  background-image:linear-gradient(#d8dcde, #d8dcde);
}

.c-range__slider.is-disabled .c-range__slider__track__rail__thumb{
  border-color:#d8dcde;
  box-shadow:none;
  background-color:#d8dcde;
}

.c-range--inline .c-range__slider{
  display:inline-block;
  vertical-align:middle;
  width:129px;
}

.c-range__slider.is-rtl .c-range__slider__track__rail{
  margin:0 -10px 0 10px;
}

.c-range__label{
  vertical-align:middle;
  line-height:2.14286;
  color:#2f3941;
  font-size:14px;
  font-weight:600;
}

.c-range__label--regular{
  font-weight:400;
}

.c-range__label--sm{
  line-height:2;
}

.c-range__hint{
  line-height:1.42857;
  color:#68737d;
  font-size:14px;
}

.c-range__message{
  display:inline-block;
  vertical-align:middle;
  line-height:1.33333;
  color:#49545c;
  font-size:12px;
}

.c-range__message--error,.c-range__message--success,.c-range__message--warning{
  background-repeat:no-repeat;
  background-position:0;
  padding-left:20px;
}

.c-range__message--error{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23cc3340'%3E%3Cg fill='none' stroke='currentColor'%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3Cpath stroke-linecap='round' d='M7.5 4.5V9'/%3E%3C/g%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#cc3340;
}

.c-range__message--success{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23038153'%3E%3Cg fill='none' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 9l2.5 2.5 5-5'/%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3C/g%3E%3C/svg%3E");
  color:#038153;
}

.c-range__message--warning{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23ad5918'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' d='M.88 13.77L7.06 1.86c.19-.36.7-.36.89 0l6.18 11.91c.17.33-.07.73-.44.73H1.32c-.37 0-.61-.4-.44-.73zM7.5 6v3.5'/%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#ad5918;
}

.is-rtl.c-range__message--error,.is-rtl.c-range__message--success,.is-rtl.c-range__message--warning{
  background-position:100%;
  padding-right:20px;
  padding-left:0;
}

.c-range__hint+.c-range__input,.c-range__hint+.c-range__slider,.c-range__input+.c-range__hint,.c-range__slider+.c-range__hint{
  margin-top:8px;
}

.c-range__hint--sm+.c-range__input--sm,.c-range__hint--sm+.c-range__slider--sm,.c-range__input--sm+.c-range__hint--sm,.c-range__slider--sm+.c-range__hint--sm{
  margin-top:4px;
}

.c-range__label+.c-range__hint{
  margin-top:-4px;
}

.c-range__input+.c-range__message,.c-range__slider+.c-range__message{
  margin-top:8px;
}

.c-range .c-range__hint{
  display:block;
}

.c-range--inline .c-range__input+.c-range__message,.c-range--inline .c-range__slider+.c-range__message{
  margin-top:0;
}
