/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-tooltip{
  display:inline-block;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  border-radius:2px;
  -webkit-box-shadow:0 4px 8px 0 rgba(36,83,107,.15);
          box-shadow:0 4px 8px 0 rgba(36,83,107,.15);
  background-color:#03363d;
  padding:0 1em;
  line-height:1.66667;
  white-space:nowrap;
  color:#ddd;
  font-size:12px;
  font-weight:400;
}

.c-tooltip.c-arrow:after,.c-tooltip.c-arrow:before{
  font-size:7px;
}

.c-tooltip--extra-large{
  border-radius:4px;
  padding:40px;
  max-width:460px;
  word-wrap:break-word;
  white-space:normal;
  font-size:14px;
}

.c-tooltip--extra-large.c-arrow:after,.c-tooltip--extra-large.c-arrow:before{
  font-size:16px;
}

.c-tooltip--large{
  border-radius:4px;
  padding:20px;
  max-width:270px;
  word-wrap:break-word;
  white-space:normal;
  font-size:14px;
}

.c-tooltip--large.c-arrow:after,.c-tooltip--large.c-arrow:before{
  font-size:12px;
}

.c-tooltip--medium{
  border-radius:4px;
  padding:1em;
  max-width:140px;
  word-wrap:break-word;
  line-height:1.33333;
  white-space:normal;
}

.c-tooltip--light{
  border:1px solid #eee;
  -webkit-box-shadow:0 10px 20px 0 rgba(36,83,107,.15);
          box-shadow:0 10px 20px 0 rgba(36,83,107,.15);
  background-color:#fff;
  color:#777;
}

.c-tooltip--light.c-arrow:after,.c-tooltip--light.c-arrow:before{
  font-size:9px;
}

.c-tooltip--light.c-tooltip--large.c-arrow:after,.c-tooltip--light.c-tooltip--large.c-arrow:before{
  font-size:14px;
}

.c-tooltip--light.c-tooltip--extra-large.c-arrow:after,.c-tooltip--light.c-tooltip--extra-large.c-arrow:before{
  font-size:18px;
}

.c-tooltip--dark{
  border-color:transparent;
  -webkit-box-shadow:0 10px 20px 0 rgba(0,0,0,.15);
          box-shadow:0 10px 20px 0 rgba(0,0,0,.15);
  background-color:#56777a;
  color:#fff;
}

.c-tooltip--dark.c-tooltip--light{
  background-color:#03363d;
  color:#819a9e;
}
