@import '@zendesk/garden-css-variables';
@import '_selectors';

/* stylelint-disable */
@svg-load circle url('14-circle.svg') {
  color: var(--zd-color-algae);
  circle {
    r: 4.5;
  }
}
/* stylelint-enable */

:root {
  /* stylelint-disable max-line-length */
  --zd-chk--dark-background-color: var(--zd-color-sherpa-blue);
  --zd-chk--dark-active-background-color: color(var(--zd-chk--dark-background-color) blackness(+5%));
  --zd-chk--dark-disabled-background-color: var(--zd-color-breaker-bay);
  --zd-chk--dark-disabled-background-image: svg-load('14-checkmark.svg', color: var(--zd-color-algae));
  --zd-chk--dark-indeterminate-disabled-background-image: svg-load('14-dash.svg', color: var(--zd-color-algae));
  --zd-chk--dark--radio-disabled-background-image: svg-inline(circle);
  --zd-chk--dark--toggle-background-color: var(--zd-color-breaker-bay);
  --zd-chk--dark--toggle-active-background-color: color(var(--zd-chk--dark--toggle-background-color) blackness(+5%));
  --zd-chk--dark--toggle-disabled-background-image: svg-load('14-circle.svg', color: var(--zd-color-algae));
  /* stylelint-enable max-line-length */
}

.c-chk__label--dark::before {
  border-color: transparent;
  background-color: var(--zd-chk--dark-background-color);
}

:--chk-active.c-chk__label--dark::before {
  background-color: var(--zd-chk--dark-active-background-color);
}

:--chk-checked-active.c-chk__label--dark::before,
:--chk-indeterminate-active.c-chk__label--dark::before {
  background-color: var(--zd-chk-checked-active-background-color);
}

:--chk-disabled.c-chk__label--dark::before {
  background-color: var(--zd-chk--dark-disabled-background-color);
}

:--chk-checked-disabled.c-chk__label--dark::before {
  background-image: var(--zd-chk--dark-disabled-background-image);
}

:--chk-indeterminate-disabled.c-chk__label--dark::before {
  background-image: var(--zd-chk--dark-indeterminate-disabled-background-image);
}

:--chk-checked-disabled.c-chk__label--dark.c-chk__label--radio::before {
  background-image: var(--zd-chk--dark--radio-disabled-background-image);
}

:--chk-active.c-chk__label--dark.c-chk__label--toggle::before {
  background-color: var(--zd-chk--dark--toggle-active-background-color);
}

:--chk-checked-active.c-chk__label--dark.c-chk__label--toggle::before,
:--chk-indeterminate-active.c-chk__label--dark.c-chk__label--toggle::before {
  background-color: var(--zd-chk-checked-active-background-color);
}

.c-chk__label--dark.c-chk__label--toggle::before {
  background-color: var(--zd-chk--dark--toggle-background-color);
}

:--chk-disabled.c-chk__label--dark.c-chk__label--toggle::before {
  background-image: var(--zd-chk--dark--toggle-disabled-background-image);
}
