/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

$grid-gutter-width: 20px !default;

@import '@zendeskgarden/css-variables/dist/index.scss';

/**
 * Bootstrap grid imports
 */
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/grid-framework';
@import 'bootstrap/scss/mixins/grid';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities/display';
@import 'bootstrap/scss/utilities/flex';

.container, .container-fluid {
  box-sizing: inherit;

  ::before,
  ::after {
    box-sizing: inherit;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

/**
 * RTL locale styling
 */
.container.is-rtl, .container-fluid.is-rtl {
  direction: rtl;
}

/**
 * Debug styling for columns
 */
.is-debug {
  .row > [class*='col'] {
    border: 1px solid rgba($zd-color-blue-400, .35);
    background-color: rgba($zd-color-blue-200, .35);
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}
