/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-scrollbar{
  position:relative;
  overflow:hidden !important;
  overflow-anchor:none;
  touch-action:auto;
}

.c-scrollbar.is-rtl{
  direction:rtl;
}

.c-scrollbar .ps__rail-x,.c-scrollbar .ps__rail-y,.c-scrollbar__track{
  display:block;
  position:absolute;
  -webkit-transition:background-color .2s linear,opacity .2s linear;
  transition:background-color .2s linear,opacity .2s linear;
  opacity:0;
}

.c-scrollbar .ps__rail-x,.c-scrollbar__track--horizontal{
  bottom:0;
  left:0;
  width:100%;
  height:15px;
}

.c-scrollbar .ps__rail-y,.c-scrollbar__track--vertical{
  top:0;
  right:0;
  width:15px;
  height:100%;
}

.c-scrollbar.ps--focus .ps__rail-x,.c-scrollbar.ps--focus .ps__rail-y,.c-scrollbar.ps--scrolling-x .ps__rail-x,.c-scrollbar.ps--scrolling-y .ps__rail-y,.c-scrollbar__track.is-scrolling{
  opacity:.6;
}

.c-scrollbar .ps__rail-x.is-active,.c-scrollbar .ps__rail-x.ps--clicking,.c-scrollbar .ps__rail-x:hover,.c-scrollbar .ps__rail-y.is-active,.c-scrollbar .ps__rail-y.ps--clicking,.c-scrollbar .ps__rail-y:hover,.c-scrollbar__track.is-active,.c-scrollbar__track.ps--clicking,.c-scrollbar__track:hover{
  opacity:.9;
  background-color:#e9ebed;
}

.c-scrollbar.is-rtl .c-scrollbar__track--horizontal{
  right:0;
  left:auto;
}

.c-scrollbar.is-rtl .c-scrollbar__track--vertical{
  right:auto;
  left:0;
}

.c-scrollbar .ps__thumb-x,.c-scrollbar .ps__thumb-y,.c-scrollbar__thumb{
  position:absolute;
  -webkit-transition:background-color .2s linear,box-shadow .1s ease-in-out,height .2s ease-in-out,width .2s ease-in-out;
  transition:background-color .2s linear,box-shadow .1s ease-in-out,height .2s ease-in-out,width .2s ease-in-out;
  border-radius:7px;
  background-color:#2f3941;
}

.c-scrollbar .ps__thumb-x,.c-scrollbar__track--horizontal .c-scrollbar__thumb{
  bottom:2px;
  min-width:15px;
  height:7px;
}

.c-scrollbar .ps__thumb-y,.c-scrollbar__track--vertical .c-scrollbar__thumb{
  right:2px;
  width:7px;
  min-height:15px;
}

.c-scrollbar .ps__thumb-x:focus,.c-scrollbar .ps__thumb-y:focus,.c-scrollbar__thumb:focus{
  outline:none;
}

.c-scrollbar .ps__rail-x.is-active .ps__thumb-x,.c-scrollbar .ps__rail-x.ps--clicking .ps__thumb-x,.c-scrollbar .ps__rail-x:hover .ps__thumb-x,.c-scrollbar .ps__rail-y.is-active .ps__thumb-y,.c-scrollbar .ps__rail-y.ps--clicking .ps__thumb-y,.c-scrollbar .ps__rail-y:hover .ps__thumb-y,.c-scrollbar__track.is-active .c-scrollbar__thumb,.c-scrollbar__track.ps--clicking .c-scrollbar__thumb,.c-scrollbar__track:hover .c-scrollbar__thumb{
  background-color:#68737d;
}

.c-scrollbar .ps__rail-x.is-active .ps__thumb-x,.c-scrollbar .ps__rail-x.ps--clicking .ps__thumb-x,.c-scrollbar .ps__rail-x:hover .ps__thumb-x,.c-scrollbar__track--horizontal.is-active .c-scrollbar__thumb,.c-scrollbar__track--horizontal.ps--clicking .c-scrollbar__thumb,.c-scrollbar__track--horizontal:hover .c-scrollbar__thumb{
  height:11px;
}

.c-scrollbar .ps__rail-y.is-active .ps__thumb-y,.c-scrollbar .ps__rail-y.ps--clicking .ps__thumb-y,.c-scrollbar .ps__rail-y:hover .ps__thumb-y,.c-scrollbar__track--vertical.is-active .c-scrollbar__thumb,.c-scrollbar__track--vertical.ps--clicking .c-scrollbar__thumb,.c-scrollbar__track--vertical:hover .c-scrollbar__thumb{
  width:11px;
}

.c-scrollbar--dark .c-scrollbar__track.is-active,.c-scrollbar--dark .c-scrollbar__track.ps--clicking,.c-scrollbar--dark .c-scrollbar__track:hover,.c-scrollbar--dark .ps__rail-x.is-active,.c-scrollbar--dark .ps__rail-x.ps--clicking,.c-scrollbar--dark .ps__rail-x:hover,.c-scrollbar--dark .ps__rail-y.is-active,.c-scrollbar--dark .ps__rail-y.ps--clicking,.c-scrollbar--dark .ps__rail-y:hover{
  background-color:#2f3941;
}

.c-scrollbar--dark .c-scrollbar__thumb,.c-scrollbar--dark .ps__thumb-x,.c-scrollbar--dark .ps__thumb-y{
  background-color:#c2c8cc;
}

.c-scrollbar--dark .c-scrollbar__track.is-active .c-scrollbar__thumb,.c-scrollbar--dark .c-scrollbar__track.ps--clicking .c-scrollbar__thumb,.c-scrollbar--dark .c-scrollbar__track:hover .c-scrollbar__thumb,.c-scrollbar--dark .ps__rail-x.is-active .ps__thumb-x,.c-scrollbar--dark .ps__rail-x.ps--clicking .ps__thumb-x,.c-scrollbar--dark .ps__rail-x:hover .ps__thumb-x,.c-scrollbar--dark .ps__rail-y.is-active .ps__thumb-y,.c-scrollbar--dark .ps__rail-y.ps--clicking .ps__thumb-y,.c-scrollbar--dark .ps__rail-y:hover .ps__thumb-y{
  background-color:#87929d;
}
