@import '@zendeskgarden/css-variables';

:root {
  --zd-callout__close-background-image: svg-load('14/remove.svg', color: var(--zd-color-grey-500));
  --zd-callout__close-position: 4px;
  --zd-callout__close-size: var(--zd-font-size-mega);
  --zd-callout__close-transition: background-color .1s ease-in-out;
  --zd-callout__close-focused-background-color: color-mod(var(--zd-color-grey-600) alpha(15%));
  --zd-callout__close-hovered-background-image: svg-load('14/remove.svg', color: var(--zd-color-grey-800));
  --zd-callout__close__icon-background-size: var(--zd-font-size-gamma);
  --zd-callout__close__icon-transition: opacity .25s ease-in-out;
  --zd-callout--error__close-background-image: svg-load('14/remove.svg', color: var(--zd-color-red-500));
  --zd-callout--error__close-focused-background-color: color-mod(var(--zd-color-red-600) alpha(15%));
  --zd-callout--error__close-hovered-background-image: svg-load('14/remove.svg', color: var(--zd-color-red-800));
  --zd-callout--success__close-background-image: svg-load('14/remove.svg', color: var(--zd-color-green-500));
  --zd-callout--success__close-focused-background-color: color-mod(var(--zd-color-green-600) alpha(15%));
  --zd-callout--success__close-hovered-background-image: svg-load('14/remove.svg', color: var(--zd-color-green-800));
  --zd-callout--warning__close-background-image: svg-load('14/remove.svg', color: var(--zd-color-yellow-600));
  --zd-callout--warning__close-focused-background-color: color-mod(var(--zd-color-yellow-600) alpha(15%));
  --zd-callout--warning__close-hovered-background-image: svg-load('14/remove.svg', color: var(--zd-color-yellow-800));
}

/* 1. Reset for <button> element.
 * 2. Reset for <a>nchor element. */

.c-callout__close {
  display: block;
  position: absolute;
  top: var(--zd-callout__close-position);
  right: var(--zd-callout__close-position);
  transition: var(--zd-callout__close-transition);
  border: none; /* [1] */
  border-radius: 50%;
  background-color: transparent; /* [1] */
  cursor: pointer;
  width: var(--zd-callout__close-size);
  height: var(--zd-callout__close-size);
  overflow: hidden;
  text-decoration: none; /* [2] */
  font-size: 0; /* [2] */
  user-select: none;
}

.c-callout__close::before,
.c-callout__close::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--zd-callout__close__icon-transition);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--zd-callout__close__icon-background-size);
  content: '';
}

.c-callout__close::before {
  opacity: 1;
  background-image: var(--zd-callout__close-background-image);
}

.c-callout__close::after {
  opacity: 0;
  background-image: var(--zd-callout__close-hovered-background-image);
}

@custom-selector :--callout-hovered
  .is-hovered,
  .is-focused,
  :hover,
  :focus;

.c-callout__close:--callout-hovered::before {
  opacity: 0;
}

.c-callout__close:--callout-hovered::after {
  opacity: 1;
}

@custom-selector :--callout-focused
  .is-focused,
  :focus;

.c-callout__close:--callout-focused {
  outline: none;
  background-color: var(--zd-callout__close-focused-background-color);
}

.c-callout.is-rtl .c-callout__close {
  right: auto;
  left: var(--zd-callout__close-position);
}

.c-callout--error:not(.c-callout--dialog) .c-callout__close::before {
  background-image: var(--zd-callout--error__close-background-image);
}

.c-callout--error:not(.c-callout--dialog) .c-callout__close::after {
  background-image: var(--zd-callout--error__close-hovered-background-image);
}

.c-callout--success:not(.c-callout--dialog) .c-callout__close::before {
  background-image: var(--zd-callout--success__close-background-image);
}

.c-callout--success:not(.c-callout--dialog) .c-callout__close::after {
  background-image: var(--zd-callout--success__close-hovered-background-image);
}

.c-callout--warning:not(.c-callout--dialog) .c-callout__close::before {
  background-image: var(--zd-callout--warning__close-background-image);
}

.c-callout--warning:not(.c-callout--dialog) .c-callout__close::after {
  background-image: var(--zd-callout--warning__close-hovered-background-image);
}

/* stylelint-disable selector-max-specificity, max-line-length */

.c-callout--error:not(.c-callout--dialog) .c-callout__close:--callout-focused {
  background-color: var(--zd-callout--error__close-focused-background-color);
}

.c-callout--success:not(.c-callout--dialog) .c-callout__close:--callout-focused {
  background-color: var(--zd-callout--success__close-focused-background-color);
}

.c-callout--warning:not(.c-callout--dialog) .c-callout__close:--callout-focused {
  background-color: var(--zd-callout--warning__close-focused-background-color);
}

.c-callout .c-callout__close:--callout-focused:active {
  background-color: transparent;
}

/* stylelint-enable selector-max-specificity, max-line-length */
