@import '@zendeskgarden/css-variables';

:root {
  --zd-callout--alert-padding: 50px;
  --zd-callout--alert-background-position-x: 24px;
  --zd-callout--alert-background-position-y: 22px;
  --zd-callout--alert-background-position: var(--zd-callout--alert-background-position-x) var(--zd-callout--alert-background-position-y);
  --zd-callout--alert-background-position-rtl: calc(100% - var(--zd-callout--alert-background-position-x)) var(--zd-callout--alert-background-position-y);
  --zd-callout--dialog-background-color: var(--zd-callout-background-color);
  --zd-callout--dialog-box-shadow:
    0 20px 28px 0
    color-mod(var(--zd-color-kale-600) alpha(15%));
  --zd-callout--dialog--alert-border-color: var(--zd-callout-border-color);
  --zd-callout--dialog--alert-color: var(--zd-color-grey-700);
  --zd-callout--dialog--error__title-color: var(--zd-color-red-600);
  --zd-callout--dialog--success__title-color: var(--zd-color-green-600);
  --zd-callout--dialog--warning__title-color: var(--zd-color-yellow-700);
  --zd-callout--error-background-color: var(--zd-color-red-100);
  --zd-callout--error-background-image: svg-load('16/alert-error-stroke.svg', color: var(--zd-color-red-600));
  --zd-callout--error-border-color: var(--zd-color-red-300);
  --zd-callout--error-color: var(--zd-color-red-700);
  --zd-callout--error__title-color: var(--zd-color-red-800);
  --zd-callout--recessed-background-color: var(--zd-color-grey-100);
  --zd-callout--success-background-color: var(--zd-color-green-100);
  --zd-callout--success-background-image: svg-load('16/check-circle-stroke.svg', color: var(--zd-color-green-600));
  --zd-callout--success-border-color: var(--zd-color-green-300);
  --zd-callout--success-color: var(--zd-color-green-700);
  --zd-callout--success__title-color: var(--zd-color-green-800);
  --zd-callout--warning-background-color: var(--zd-color-yellow-100);
  --zd-callout--warning-background-image: svg-load('16/alert-warning-stroke.svg', color: var(--zd-color-yellow-700));
  --zd-callout--warning-border-color: var(--zd-color-yellow-300);
  --zd-callout--warning-color: var(--zd-color-yellow-700);
  --zd-callout--warning__title-color: var(--zd-color-yellow-800);
}

.c-callout--recessed {
  background-color: var(--zd-callout--recessed-background-color);
}

.c-callout--error {
  border-color: var(--zd-callout--error-border-color);
  background-color: var(--zd-callout--error-background-color);
  background-image: var(--zd-callout--error-background-image);
  color: var(--zd-callout--error-color);
}

.c-callout--success {
  border-color: var(--zd-callout--success-border-color);
  background-color: var(--zd-callout--success-background-color);
  background-image: var(--zd-callout--success-background-image);
  color: var(--zd-callout--success-color);
}

.c-callout--warning {
  border-color: var(--zd-callout--warning-border-color);
  background-color: var(--zd-callout--warning-background-color);
  background-image: var(--zd-callout--warning-background-image);
  color: var(--zd-callout--warning-color);
}

.c-callout--error,
.c-callout--success,
.c-callout--warning {
  background-repeat: no-repeat;
  background-position: var(--zd-callout--alert-background-position);
  padding-left: var(--zd-callout--alert-padding);
}

.c-callout--dialog {
  box-shadow: var(--zd-callout--dialog-box-shadow);
}

.c-callout--dialog.c-callout--error,
.c-callout--dialog.c-callout--success,
.c-callout--dialog.c-callout--warning {
  border-color: var(--zd-callout--dialog--alert-border-color);
  background-color: var(--zd-callout--dialog-background-color);
  color: var(--zd-callout--dialog--alert-color);
}

.c-callout--error .c-callout__title {
  color: var(--zd-callout--error__title-color);
}

.c-callout--success .c-callout__title {
  color: var(--zd-callout--success__title-color);
}

.c-callout--warning .c-callout__title {
  color: var(--zd-callout--warning__title-color);
}

.c-callout--dialog.c-callout--error .c-callout__title {
  color: var(--zd-callout--dialog--error__title-color);
}

.c-callout--dialog.c-callout--success .c-callout__title {
  color: var(--zd-callout--dialog--success__title-color);
}

.c-callout--dialog.c-callout--warning .c-callout__title {
  color: var(--zd-callout--dialog--warning__title-color);
}

.c-callout--error.is-rtl,
.c-callout--success.is-rtl,
.c-callout--warning.is-rtl {
  background-position: var(--zd-callout--alert-background-position-rtl);
  padding-right: var(--zd-callout--alert-padding);
  padding-left: var(--zd-callout-padding-horizontal);
}
