@import '@zendeskgarden/css-variables';

:root {
  --zd-callout--dark-background-color: var(--zd-color-algae);
  --zd-callout--dark-border-color: transparent;
  --zd-callout--dark-color: var(--zd-color-submarine);
  --zd-callout--dark--dialog-box-shadow:
    0 var(--zd-spacing) var(--zd-spacing-lg) 0
    color(var(--zd-color-black) alpha(15%));
  --zd-callout--dark--recessed-background-color: var(--zd-color-daintree);
  --zd-callout--dark--recessed-border-color: var(--zd-color-sherpa-blue);
  --zd-callout--dark__close-background-image: svg-load('14/remove.svg', color: var(--zd-color-breaker-bay));
  --zd-callout--dark__close-focused-background-color: var(--zd-color-sherpa-blue);
  --zd-callout--dark__close-hovered-background-image: svg-load('14/remove.svg', color: var(--zd-color-submarine));
  --zd-callout--dark__title-color: var(--zd-color-white);
}

.c-callout--dark,
.c-callout--dark.c-callout--dialog {
  border-color: var(--zd-callout--dark-border-color);
  background-color: var(--zd-callout--dark-background-color);
  color: var(--zd-callout--dark-color);
}

.c-callout--dark .c-callout__close::before {
  background-image: var(--zd-callout--dark__close-background-image);
}

.c-callout--dark .c-callout__close::after {
  background-image: var(--zd-callout--dark__close-hovered-background-image);
}

.c-callout--dark .c-callout__close:--callout-focused {
  background-color: var(--zd-callout--dark__close-focused-background-color);
}

.c-callout--dark .c-callout__title {
  color: var(--zd-callout--dark__title-color);
}

.c-callout--dark.c-callout--dialog {
  box-shadow: var(--zd-callout--dark--dialog-box-shadow);
}

.c-callout--dark.c-callout--recessed {
  border-color: var(--zd-callout--dark--recessed-border-color);
  background-color: var(--zd-callout--dark--recessed-background-color);
}

.c-callout--dark.c-callout--recessed.c-callout--error {
  border-color: var(--zd-callout--error-color);
}

.c-callout--dark.c-callout--recessed.c-callout--success {
  border-color: var(--zd-callout--success-color);
}

.c-callout--dark.c-callout--recessed.c-callout--warning {
  border-color: var(--zd-callout--warning-color);
}

.c-callout--dark.c-callout--error .c-callout__title {
  color: var(--zd-callout--error-color);
}

.c-callout--dark.c-callout--success .c-callout__title {
  color: var(--zd-callout--success-color);
}

.c-callout--dark.c-callout--warning .c-callout__title {
  color: var(--zd-callout--warning-color);
}
