@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-menu--accent-border: 1px solid #2db1ba; /* Override this variable with your product's accent color */
  /* stylelint-enable max-line-length */
}

.c-menu--accent {
  border: var(--zd-menu--accent-border);
  box-sizing: border-box;
}
