@import 'zd-css-variables';

:root {
  --zd-menu-color: var(--zd-color-anti-flash-white);
  --zd-menu-border-color: var(--zd-color-anti-flash-white);
  --zd-menu-background-color: var(--zd-color-white);
  --zd-menu-border: 1px solid var(--zd-menu-border-color);
  --zd-menu-border-radius: 4px;
  --zd-menu-box-shadow:
    0 0 4px 0 rgba(0, 0, 0, .15),
    0 4px 10px 0 rgba(0, 0, 0, .1);
}

.c-menu {
  display: inline-block;
  border: var(--zd-menu-border);
  border-radius: var(--zd-menu-border-radius);
  box-shadow: var(--zd-menu-box-shadow);
  background-color: var(--zd-menu-background-color);
}

.c-menu--n {
  /* menu positioned directly north of caron */
}

.c-menu--ne {
  /* menu positioned northeast of caron */
}

.c-menu--nw {
  /* menu positioned northwest of caron */
}

.c-menu--s {
  /* menu positioned directly south of caret */
}

.c-menu--se {
  /* menu positioned southeast of caret */
}

.c-menu--sw {
  /* menu positioned southwest of caret */
}

.c-menu--e {
  /* menu positioned directly east of pointer */
}

.c-menu-w {
  /* menu positioned directly west of pointer */
}
