@import 'zd-css-variables';

:root {
  --zd-menu__item-disabled-color: var(--zd-color-iron);
  --zd-menu__item-focused-box-shadow:
    inset 0 4px 0 -2px var(--zd-color-gainsboro),
    inset 0 -4px 0 -2px var(--zd-color-gainsboro);
  --zd-menu__item--selected-color: var(--zd-color-oil);
  --zd-menu__item--selected-background-color: var(--zd-color-anti-flash-white);
}

/* 1. Bump stacking context in order to prevent sibling menu items from
 *    interfering with sub-menu pseudo styling. */

@custom-selector :--selected .is-selected, :hover;

.c-menu__item:--selected {
  background-color: var(--zd-menu__item--selected-background-color);
  color: var(--zd-menu__item--selected-color);
}

@custom-selector :--focused .is-focused, :focus;

.c-menu__item:--focused {
  outline: none;
  box-shadow: var(--zd-menu__item-focused-box-shadow);
}

@custom-selector :--active .is-active, :active;

.c-menu__item:--active {
  box-shadow: none;
}

@custom-selector :--disabled .is-disabled, [disabled], [aria-disabled='true'];

.c-menu__item:--disabled {
  background-color: inherit;
  cursor: default;
  color: var(--zd-menu__item-disabled-color);
}

@custom-selector :--expanded .is-expanded;

.c-menu__item:--expanded {
  z-index: 1; /* [1] */
}

@custom-selector :--hidden .is-hidden, [aria-hidden='true'];

.c-menu:--hidden {
  display: none;
}
