/* stylelint-disable no-descending-specificity */
@import 'zd-css-variables';

:root {
  --zd-menu__item-disabled-color: var(--zd-color-iron);
  --zd-menu__item-focused-box-shadow:
    inset 0 3px 0 color(var(--zd-color-gainsboro) alpha(40%)),
    inset 0 -3px 0 color(var(--zd-color-gainsboro) alpha(40%));
  --zd-menu__item--selected-color: var(--zd-color-dark-gray);
  --zd-menu__item--selected-background-color: var(--zd-color-white-smoke);
}

/* 1. Bump stacking context in order to prevent sibling menu items from
 *    interfering with sub-menu pseudo styling. */

@custom-selector :--menu-selected
  .is-selected,
  :hover;
@custom-selector :--menu-focused
  .is-focused,
  :focus;

.c-menu__item:--menu-selected,
.c-menu__item:--menu-focused {
  background-color: var(--zd-menu__item--selected-background-color);
  color: var(--zd-menu__item--selected-color);
}

.c-menu__item:--menu-focused {
  outline: none;
  box-shadow: var(--zd-menu__item-focused-box-shadow);
  text-decoration: none;
}

@custom-selector :--menu-active
  .is-active,
  :active;

.c-menu__item:--menu-active {
  box-shadow: none;
}

@custom-selector :--menu-disabled
  .is-disabled,
  [disabled],
  [aria-disabled='true'];

.c-menu .c-menu__item:--menu-disabled {
  background-color: inherit;
  cursor: default;
  color: var(--zd-menu__item-disabled-color);
}

@custom-selector :--menu-expanded
  .is-expanded;

.c-menu__item:--menu-expanded {
  z-index: 1; /* [1] */
}

@custom-selector :--menu-hidden
  .is-hidden,
  [aria-hidden='true'];

.c-menu:--menu-hidden {
  display: none;
}
/* stylelint-enable no-descending-specificity */
