@import 'zd-css-variables';

:root {
  --zd-btn--basic-active-background-color: var(--zd-color-platinum);
  --zd-btn--basic-hovered-background-color: var(--zd-color-anti-flash-white);
}

.c-btn--basic {
  border-color: transparent;
  background-color: transparent;
}

.c-btn--basic:--hovered {
  background-color: var(--zd-btn--basic-hovered-background-color);
}

.c-btn--basic:--active {
  background-color: var(--zd-btn--basic-active-background-color);
}
