@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-btn--medium-font-size: var(--zd-font-size-epsilon);
  --zd-btn--medium-line-height: 2.72;
  --zd-btn--medium-padding: 1.9286em;
  --zd-btn--medium-min-width: calc(4.7143em + calc(var(--zd-btn--medium-padding) * 2));
  /* stylelint-enable max-line-length */
}

.c-btn--medium {
  padding: 0 var(--zd-btn--medium-padding);
  min-width: var(--zd-btn--medium-min-width);
  line-height: var(--zd-btn--medium-line-height);
  font-size: var(--zd-btn--medium-font-size);
}
