@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-btn--primary-background-color: var(--zd-color-pelorous);
  --zd-btn--primary-color: var(--zd-color-white);
  /* stylelint-enable max-line-length */
}

.c-btn--primary {
  border-color: transparent;
  background-color: var(--zd-btn--primary-background-color);
  color: var(--zd-btn--primary-color);
}
