/* stylelint-disable no-descending-specificity */
@import 'zd-css-variables';

:root {
  --zd-btn-active-background-color: var(--zd-color-anti-flash-white);
  --zd-btn-active-color: var(--zd-color-oil);
  --zd-btn-disabled-background-color: var(--zd-color-gainsboro);
  --zd-btn-disabled-color: var(--zd-color-white);
  --zd-btn-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-color-black) alpha(10%));
  --zd-btn-hovered-background-color: var(--zd-color-snow);
  --zd-btn-hovered-color: var(--zd-color-oil);
}

/* 1. Anchor tag reset.
 * 2. No `.c-btn:focus` styling, since it prevents mimicking
 *    "focus-on-keyboard; blur-on-mouse" browser behavior.
 * 3. Class-chain specificity hack. */

@custom-selector :--hovered
  .is-hovered,
  :hover;

.c-btn:--hovered {
  background-color: var(--zd-btn-hovered-background-color);
  text-decoration: none; /* [1] */
  color: var(--zd-btn-hovered-color);
}

.c-btn:focus {
  outline: none;
}

@custom-selector :--focused /* [2] */
  .is-focused;

.c-btn:--focused {
  box-shadow: var(--zd-btn-focused-box-shadow);
}

@custom-selector :--active
  .is-active,
  :active;

.c-btn:--active {
  background-color: var(--zd-btn-active-background-color);
  text-decoration: none; /* [1] */
  color: var(--zd-btn-active-color);
}

/* stylelint-disable selector-max-specificity */
.c-btn:--hovered:--active,
.l-btn-group > .c-btn:--hovered:--active {
  box-shadow: none;
}
/* stylelint-enable selector-max-specificity */

@custom-selector :--disabled /* [3] */
  .is-disabled.is-disabled,
  :disabled:disabled;

.c-btn:--disabled {
  border-color: transparent;
  box-shadow: none;
  background-color: var(--zd-btn-disabled-background-color);
  cursor: default;
  color: var(--zd-btn-disabled-color);
}

.l-btn-group > .c-btn:--focused {
  box-shadow: inset var(--zd-btn-focused-box-shadow);
}
/* stylelint-enable no-descending-specificity */
