@import 'zd-css-variables';

:root {
  --zd-btn-active-background-color: var(--zd-color-anti-flash-white);
  --zd-btn-active-border-color: var(--zd-color-iron);
  --zd-btn-active-color: var(--zd-color-oil);
}

@custom-selector :--active :active, :active:hover, .is-active, .is-active:hover, .is-active:focus;

.c-btn:--active {
  background-color: var(--zd-btn-active-background-color);
  text-decoration: none; /* Anchor tag reset. */
  color: var(--zd-btn-active-color);
}
