:root {
  --zd-btn-disabled-background-color: var(--zd-color-gainsboro);
  --zd-btn-disabled-color: var(--zd-color-white);
}

@custom-selector :--disabled [disabled], .is-disabled;

.c-btn:--disabled,
.c-btn:--disabled:--focused,
.c-btn:--disabled:--active {
  border-color: transparent;
  background-color: var(--zd-btn-disabled-background-color);
  cursor: default;
  color: var(--zd-btn-disabled-color);
}
