@import '@zendeskgarden/css-variables';

:root {
  --zd-txt__input-background-color: var(--zd-color-white);
  --zd-txt__input-border: 1px solid var(--zd-forms-border-color);
  --zd-txt__input-border-radius: 4px;
  --zd-txt__input-color: var(--zd-color-grey-800);
  --zd-txt__input-color-placeholder: var(--zd-color-grey-400);
  --zd-txt__input-font-size: var(--zd-font-size-md);
  --zd-txt__input-line-height: calc(18 / 14);
  --zd-txt__input-height: var(--zd-spacing-xl);
  --zd-txt__input-padding-horizontal: calc(16 / 14 * 1em);
  --zd-txt__input-padding: calc(10 / 14 * 1em) var(--zd-txt__input-padding-horizontal);
  --zd-txt__input-transition:
    border-color .25s ease-in-out,
    box-shadow .1s ease-in-out,
    background-color .25s ease-in-out,
    color .25s ease-in-out;
}

/* 1. Reset for <fieldset> element.
 * 2. Use 100% input width vs. block diplay label to limit label mouse
 *    interaction area.
 * 3. Support label inline with input layout.
 * 4. Hack for browser <= IE10 which fails to render custom @font-face subsets
 *    for input fields.
 * 5. Remove clear button, password reveal, and file entry in IE.
 * 6. Remove non-standard browser features.
 * 7. Prevent FireFox validation styling.
 * 8. Remove number spinner in FireFox. */

.c-txt {
  margin: 0; /* [1] */
  border: 0; /* [1] */
  padding: 0; /* [1] */
}

.c-txt__input {
  appearance: none;
  transition: var(--zd-txt__input-transition);
  outline: none;
  border: var(--zd-txt__input-border);
  border-radius: var(--zd-txt__input-border-radius);
  background-color: var(--zd-txt__input-background-color);
  padding: var(--zd-txt__input-padding);
  width: 100%; /* [2] */
  min-height: var(--zd-txt__input-height);
  box-sizing: border-box;
  vertical-align: middle; /* [3] */
  line-height: var(--zd-txt__input-line-height);
  color: var(--zd-txt__input-color);
  font-family: inherit;
  font-size: var(--zd-txt__input-font-size);
}

@media screen\0 {
  .c-txt__input { font-family: sans-serif; } /* [4] */
}

.c-txt__input::-ms-browse {
  border-radius: calc(var(--zd-txt__input-border-radius) / 2);
  font-size: var(--zd-font-size-sm);
}

.c-txt__input::-ms-clear,
.c-txt__input::-ms-reveal {
  display: none; /* [5] */
}

.c-txt__input::-webkit-clear-button,
.c-txt__input::-webkit-inner-spin-button,
.c-txt__input::-webkit-search-cancel-button,
.c-txt__input::-webkit-search-results-button {
  display: none; /* [6] */
}

.c-txt__input::-webkit-datetime-edit {
  line-height: 1;
}

.c-txt__input::placeholder {
  opacity: 1;
  color: var(--zd-txt__input-color-placeholder);
}

.c-txt__input:invalid { box-shadow: none; } /* [7] */

.c-txt__input[type='date'],
.c-txt__input[type='datetime-local'],
.c-txt__input[type='file'],
.c-txt__input[type='month'],
.c-txt__input[type='time'],
.c-txt__input[type='week'] {
  max-height: var(--zd-txt__input-height);
}

.c-txt__input[type='file'] {
  line-height: 1;
}

.c-txt__input[type='file']::-ms-value {
  display: none; /* [5] */
}

/* stylelint-disable-next-line */
@media screen and (min--moz-device-pixel-ratio: 0) {
  .c-txt__input[type='number'] { appearance: textfield; } /* [8] */
}

.c-txt.is-rtl,
.c-txt__input.is-rtl,
.c-txt__label.is-rtl,
.c-txt__hint.is-rtl,
.c-txt__message.is-rtl {
  direction: rtl;
}

.c-txt__input.is-rtl::-webkit-datetime-edit {
  direction: rtl;
}

.c-txt--inline { display: inline-block; }

.c-txt--inline .c-txt__input { width: auto; }
