@import '@zendeskgarden/css-variables';
@import '../_variables';

:root {
  --zd-txt__label-line-height: calc(30 / 14);
  --zd-txt__label--regular-font-weight: var(--zd-font-weight-regular);
  --zd-txt__label--sm-line-height: calc(28 / 14);
  --zd-txt__hint-line-height: calc(20 / 14);
  --zd-txt__hint-margin-top: 8px;
  --zd-txt__hint--sm-margin-top: 4px;
  --zd-txt__message-line-height: calc(16 / 12);
  --zd-txt__message-margin-top: 8px;
  --zd-txt__message-padding: 20px;
}

/* 1. Support label inline with input layout. */

.c-txt__label {
  vertical-align: middle; /* [1] */
  line-height: var(--zd-txt__label-line-height);
  color: var(--zd-input__label-color);
  font-size: var(--zd-input__label-font-size);
  font-weight: var(--zd-input__label-font-weight);
}

.c-txt__label--regular {
  font-weight: var(--zd-txt__label--regular-font-weight);
}

.c-txt__label--sm {
  line-height: var(--zd-txt__label--sm-line-height);
}

.c-txt__hint {
  line-height: var(--zd-txt__hint-line-height);
  color: var(--zd-input__hint-color);
  font-size: var(--zd-input__hint-font-size);
}

.c-txt__message {
  display: inline-block;
  vertical-align: middle; /* [1] */
  line-height: var(--zd-txt__message-line-height);
  color: var(--zd-input__message-color);
  font-size: var(--zd-input__message-font-size);
}

.c-txt__message--error,
.c-txt__message--success,
.c-txt__message--warning {
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: var(--zd-txt__message-padding);
}

.c-txt__message--error {
  background-image: var(--zd-input__message--error-background-image);
  color: var(--zd-input__message--error-color);
}

.c-txt__message--success {
  background-image: var(--zd-input__message--success-background-image);
  color: var(--zd-input__message--success-color);
}

.c-txt__message--warning {
  background-image: var(--zd-input__message--warning-background-image);
  color: var(--zd-input__message--warning-color);
}

.is-rtl.c-txt__message--error,
.is-rtl.c-txt__message--success,
.is-rtl.c-txt__message--warning {
  background-position: center right;
  padding-right: var(--zd-txt__message-padding);
  padding-left: 0;
}

.c-txt__hint + .c-txt__input,
.c-txt__input + .c-txt__hint {
  margin-top: var(--zd-txt__hint-margin-top);
}

.c-txt__hint--sm + .c-txt__input--sm,
.c-txt__input--sm + .c-txt__hint--sm {
  margin-top: var(--zd-txt__hint--sm-margin-top);
}

.c-txt__label + .c-txt__hint {
  margin-top: calc(var(--zd-txt__hint-margin-top) / 2 * -1);
}

.c-txt__input + .c-txt__message {
  margin-top: var(--zd-txt__message-margin-top);
}

.c-txt .c-txt__hint {
  display: block;
}

.c-txt--inline .c-txt__input + .c-txt__message {
  margin-top: 0;
}
