:root {
  --zd-txt__input--media__figure-color: var(--zd-color-grey-400);
  --zd-txt__input--media__figure-margin: calc(var(--zd-txt__input-padding-horizontal) * (3 / 4));
  --zd-txt__input--media__figure-size: 16px;
  --zd-txt__input--sm--media__figure-size: 12px;
}

.c-txt__input--media {
  display: flex;
  align-items: baseline;
  cursor: text;
}

.c-txt__input--media__body {
  flex-grow: 1;
}

.c-txt__input--media__figure {
  margin: auto;
  max-height: var(--zd-txt__input--media__figure-size);
  color: var(--zd-txt__input--media__figure-color);
}

.c-txt__input--media__figure svg {
  width: var(--zd-txt__input--media__figure-size);
  height: var(--zd-txt__input--media__figure-size);
}

.c-txt__input--sm .c-txt__input--media__figure svg {
  width: var(--zd-txt__input--sm--media__figure-size);
  height: var(--zd-txt__input--sm--media__figure-size);
}

/* stylelint-disable no-descending-specificity */
.c-txt__input--media__figure:first-child,
.is-rtl .c-txt__input--media__figure:last-child {
  margin-right: var(--zd-txt__input--media__figure-margin);
  margin-left: 0;
}

.c-txt__input--media__figure:last-child,
.is-rtl .c-txt__input--media__figure:first-child {
  margin-right: 0;
  margin-left: var(--zd-txt__input--media__figure-margin);
}
/* stylelint-enable no-descending-specificity */
