:root {
  --zd-txt__media-start-margin: calc(var(--zd-txt__input-padding-horizontal));
  --zd-txt__media-end-margin: calc(var(--zd-txt__input-padding-horizontal) * (3 / 4));
  --zd-txt__input__media-size: 1em;
}

.c-txt__input--media {
  display: flex;
  align-items: baseline;
  padding-right: 0;
  padding-left: 0;
}

.c-txt__input--media__body {
  flex-grow: 1;
}

.c-txt__input--media__figure {
  max-height: var(--zd-txt__input__media-size);
  color: var(--zd-txt__input-color);
}

.c-txt__input--dark .c-txt__input--media__figure {
  color: var(--zd-txt--dark__input-color);
}

.c-txt__input--media__figure svg {
  width: var(--zd-txt__input__media-size);
  height: var(--zd-txt__input__media-size);
}

/* stylelint-disable no-descending-specificity */
.c-txt__input--media__figure:first-of-type,
.is-rtl .c-txt__input--media__figure:last-of-type {
  margin: auto var(--zd-txt__media-end-margin) auto var(--zd-txt__media-start-margin);
}

.c-txt__input--media__figure:last-of-type,
.is-rtl .c-txt__input--media__figure:first-of-type {
  margin: auto var(--zd-txt__media-start-margin) auto var(--zd-txt__media-end-margin);
}
/* stylelint-enable no-descending-specificity */
