@import '@zendeskgarden/css-variables';
@import '../_variables';
@import '_selectors';

:root {
  --zd-txt__input--select-padding-unit: 40;
  --zd-txt__input--select-padding-right: calc(var(--zd-txt__input--select-padding-unit) / 14 * 1em);
  --zd-txt__input--select-transition:
    background-image .25s ease-in-out,
    transform .25s ease-in-out,
    var(--zd-txt__input-transition);
  --zd-txt__input--select__chevron-background-image: svg-load('16/chevron-down-stroke.svg', color: var(--zd-color-grey-600));
  --zd-txt__input--select__chevron-background-position-x: calc((var(--zd-txt__input--select-padding-unit) / 2 - 8) / 14 * 1em);
  --zd-txt__input--select__chevron-background-position: right var(--zd-txt__input--select__chevron-background-position-x) center;
  --zd-txt__input--select__chevron-disabled-background-image: svg-load('16/chevron-down-stroke.svg', color: var(--zd-forms-disabled-color));
  --zd-txt__input--select__chevron-hovered-background-image: svg-load('16/chevron-down-stroke.svg', color: var(--zd-color-grey-700));
  --zd-txt__input--select__chevron-width: calc(var(--zd-txt__input--select-padding-unit) * 1px);
  --zd-txt__input--select__chevron-transform:
    rotate(180deg)
    translateY(-1px);
  --zd-txt-rtl__input--select__chevron-background-position: left var(--zd-txt__input--select__chevron-background-position-x) center;
  --zd-txt-rtl__input--select__chevron-transform:
    rotate(-180deg)
    translateY(-1px);
}

/* 1. Select reset.
 * 2. Button reset.
 * 3. Calendar picker reset (standalone ruleset prevents non-Chrome parsing
 *    errors). */

.c-txt__input--select {
  appearance: none; /* [1] */
  position: relative;
  padding-right: var(--zd-txt__input--select-padding-right);
  text-align: left; /* [2] */
}

.c-txt__input--select:not(select)::before {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: var(--zd-txt__input--select__chevron-width);
  height: var(--zd-txt__input-height);
  content: '';
}

.c-txt__input--select:not(select)::before,
select.c-txt__input--select {
  transition: var(--zd-txt__input--select-transition);
  background-image: var(--zd-txt__input--select__chevron-background-image);
  background-repeat: no-repeat;
  background-position: var(--zd-txt__input--select__chevron-background-position);
}

select.c-txt__input--select::-ms-expand {
  display: none; /* [1] */
}

select.c-txt__input--select::-ms-value {
  background-color: transparent; /* [1] */
  color: inherit; /* [1] */
}

select.c-txt__input--select:-moz-focusring {
  transition: none;
  text-shadow: 0 0 0 var(--zd-txt__input-color); /* [1] */
  color: transparent; /* [1] */
}

.c-txt__input--select::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent; /* [3] */
  cursor: pointer;
  padding: 0; /* [3] */
  width: var(--zd-txt__input--select__chevron-width);
  height: var(--zd-txt__input-height);
  color: transparent; /* [3] */
  content: '';
}

.c-txt__input--select:--txt-hovered:not(select)::before,
.c-txt__input--select:--txt-focused:not(select)::before,
select.c-txt__input--select:--txt-hovered,
select.c-txt__input--select:--txt-focused {
  background-image: var(--zd-txt__input--select__chevron-hovered-background-image);
}

/* stylelint-disable-next-line no-descending-specificity */
.c-txt__input--select:--txt--select-open::before {
  transform: var(--zd-txt__input--select__chevron-transform);
}

/* stylelint-disable selector-no-qualifying-type */
.c-txt__input--select:--txt-disabled:not(select)::before,
select.c-txt__input--select[disabled] {
  background-image: var(--zd-txt__input--select__chevron-disabled-background-image);
  cursor: default;
}
/* stylelint-enable selector-no-qualifying-type */

.is-rtl.c-txt__input--select {
  padding-right: var(--zd-txt__input-padding-horizontal);
  padding-left: var(--zd-txt__input--select-padding-right);
  text-align: right;
}

.is-rtl.c-txt__input--select:not(select)::before {
  right: auto;
  left: 0;
}

.is-rtl.c-txt__input--select::-webkit-calendar-picker-indicator {
  right: auto; /* [3] */
  left: 0; /* [3] */
}

.is-rtl.c-txt__input--select:not(select)::before,
select.is-rtl.c-txt__input--select {
  background-position: var(--zd-txt-rtl__input--select__chevron-background-position);
}

.is-rtl.c-txt__input--select:--txt--select-open::before {
  transform: var(--zd-txt-rtl__input--select__chevron-transform);
}
