/* stylelint-disable at-rule-empty-line-before */

@custom-selector :--txt-hovered
  .is-hovered:not(.is-disabled):not([disabled]),
  :hover:not(.is-disabled):not([disabled]);

@custom-selector :--txt-focused
  .is-focused:not(.is-disabled):not([disabled]),
  :focus:not(.is-disabled):not([disabled]);

@custom-selector :--txt-disabled
  .is-disabled,
  [disabled];

@custom-selector :--txt--select-open
  .is-open:not(.is-disabled):not([disabled]):not(select);

/* stylelint-enable at-rule-empty-line-before */
