:root {
  --zd-txt--sm__input-padding-horizontal: calc(12 / 14 * 1em);
  --zd-txt--sm__input-padding: calc(6 / 14 * 1em) var(--zd-txt--sm__input-padding-horizontal);
  --zd-txt--sm__input-height: 32px;
  --zd-txt--sm__input--select-padding-unit: 32;
  --zd-txt--sm__input--select-padding-right: calc(var(--zd-txt--sm__input--select-padding-unit) / 14 * 1em);
  --zd-txt--sm__input--select__chevron-background-position-x: calc((var(--zd-txt--sm__input--select-padding-unit) / 2 - 6) / 14 * 1em);
  --zd-txt--sm__input--select__chevron-background-position: right var(--zd-txt--sm__input--select__chevron-background-position-x) center;
  --zd-txt--sm__input--select__chevron-background-size: 12px;
  --zd-txt--sm__input--select__chevron-width: calc(var(--zd-txt--sm__input--select-padding-unit) * 1px);
  --zd-txt-rtl--sm__input--select__chevron-background-position: left var(--zd-txt--sm__input--select__chevron-background-position-x) center;
  --zd-txt--sm__media-end-margin: calc(var(--zd-txt--sm__input-padding-horizontal) * (3 / 4));
}

.c-txt__input--sm {
  padding: var(--zd-txt--sm__input-padding);
  min-height: var(--zd-txt--sm__input-height);
}

.c-txt__input--sm[type='date'],
.c-txt__input--sm[type='datetime-local'],
.c-txt__input--sm[type='file'],
.c-txt__input--sm[type='month'],
.c-txt__input--sm[type='time'],
.c-txt__input--sm[type='week'] {
  max-height: var(--zd-txt--sm__input-height);
}

.c-txt__input--sm::-ms-browse {
  font-size: 11px;
}

.c-txt__input--sm.c-txt__input--select {
  padding-right: var(--zd-txt--sm__input--select-padding-right);
}

.c-txt__input--sm.c-txt__input--select:not(select)::before {
  width: var(--zd-txt--sm__input--select__chevron-width);
}

.c-txt__input--sm.c-txt__input--select:not(select)::before,
select.c-txt__input--sm.c-txt__input--select {
  background-position: var(--zd-txt--sm__input--select__chevron-background-position);
  background-size: var(--zd-txt--sm__input--select__chevron-background-size);
  height: var(--zd-txt--sm__input-height);
}

.c-txt__input--sm.c-txt__input--select::-webkit-calendar-picker-indicator {
  width: var(--zd-txt--sm__input--select__chevron-width);
  height: var(--zd-txt--sm__input-height);
}

.is-rtl.c-txt__input--sm.c-txt__input--select {
  padding-right: var(--zd-txt--sm__input-padding-horizontal);
  padding-left: var(--zd-txt--sm__input--select-padding-right);
}

/* stylelint-disable no-descending-specificity, selector-max-specificity */
.is-rtl.c-txt__input--sm.c-txt__input--select:not(select)::before,
select.is-rtl.c-txt__input--sm.c-txt__input--select {
  background-position: var(--zd-txt-rtl--sm__input--select__chevron-background-position);
}

.c-txt__input--sm .c-txt__input--media__figure:first-child,
.is-rtl.c-txt__input--sm .c-txt__input--media__figure:last-child {
  margin: auto var(--zd-txt--sm__media-end-margin) auto 0;
}

.c-txt__input--sm .c-txt__input--media__figure:last-child,
.is-rtl.c-txt__input--sm .c-txt__input--media__figure:first-child {
  margin: auto 0 auto var(--zd-txt--sm__media-end-margin);
}
/* stylelint-enable no-descending-specificity, selector-max-specificity */
