@import '@zendeskgarden/css-variables';
@import '../_variables';
@import '_selectors';

:root {
  --zd-txt-disabled-background-color: var(--zd-color-grey-100);
  --zd-txt-disabled-border-color: var(--zd-color-grey-200);
  --zd-txt-disabled-color: var(--zd-forms-disabled-color);
  --zd-txt-focused-border-color: var(--zd-forms-accent-color);
  --zd-txt-focused-box-shadow: var(--zd-forms-focused-box-shadow);
  --zd-txt-focused-box-shadow-inset: inset var(--zd-forms-focused-box-shadow);
  --zd-txt-hovered-border-color: var(--zd-forms-hovered-border-color);
}

.c-txt__input:--txt-hovered {
  border-color: var(--zd-txt-hovered-border-color);
}

.c-txt__input:focus {
  outline: none;
}

.c-txt__input:--txt-focused {
  border-color: var(--zd-txt-focused-border-color);
  box-shadow: var(--zd-txt-focused-box-shadow);
}

.c-txt__input--focus-inset:--txt-focused {
  box-shadow: var(--zd-txt-focused-box-shadow-inset);
}

.c-txt__input:--txt-disabled {
  border-color: var(--zd-txt-disabled-border-color);
  box-shadow: none;
  background-color: var(--zd-txt-disabled-background-color);
  cursor: default;
  color: var(--zd-txt-disabled-color);
}

/* Necessary to override common bedrock placeholder styling */
.c-txt__input:--txt-disabled::placeholder {
  color: var(--zd-txt-disabled-color);
}
