:root {
  --zd-txt__input--tag-padding-horizontal: 8px;
  --zd-txt__input--tag-padding: 2px var(--zd-txt__input--tag-padding-horizontal);
  --zd-txt__input__tag-margin: 2px;
  --zd-txt__input--tag--sm-padding-vertical: 3px;
}

.c-txt__input--tag .c-label,
.c-txt__input--tag .c-tag {
  margin: var(--zd-txt__input__tag-margin);
}

.c-txt__input.c-txt__input--tag {
  display: flex;
  flex-wrap: wrap;
  padding: var(--zd-txt__input--tag-padding);
}

.c-txt__input--tag.c-txt__input--sm {
  padding-top: var(--zd-txt__input--tag--sm-padding-vertical);
  padding-bottom: var(--zd-txt__input--tag--sm-padding-vertical);
}

.c-txt__input--tag.c-txt__input--select {
  padding-right: var(--zd-txt__input--select-padding-right);
}

/* stylelint-disable-next-line selector-max-specificity */
.is-rtl.c-txt__input.c-txt__input--tag.c-txt__input--select {
  padding-right: var(--zd-txt__input--tag-padding-horizontal);
  padding-left: var(--zd-txt__input--select-padding-right);
}
