@import '@zendeskgarden/css-variables';

:root {
  --zd-txt--error-focused-border-color: var(--zd-color-red-600);
  --zd-txt--error-focused-box-shadow:
    0 0 0 3px
    color-mod(var(--zd-txt--error-focused-border-color) alpha(35%));
  --zd-txt--error-focused-box-shadow-inset: inset var(--zd-txt--error-focused-box-shadow);
  --zd-txt--success-focused-border-color: var(--zd-color-green-600);
  --zd-txt--success-focused-box-shadow:
    0 0 0 3px
    color-mod(var(--zd-txt--success-focused-border-color) alpha(35%));
  --zd-txt--success-focused-box-shadow-inset: inset var(--zd-txt--success-focused-box-shadow);
  --zd-txt--warning-focused-border-color: var(--zd-color-yellow-600);
  --zd-txt--warning-focused-box-shadow:
    0 0 0 3px
    color-mod(var(--zd-txt--warning-focused-border-color) alpha(35%));
  --zd-txt--warning-focused-box-shadow-inset: inset var(--zd-txt--warning-focused-box-shadow);
}

/* stylelint-disable selector-max-specificity */
.c-txt__input.c-txt__input--error:not(.is-disabled):not([disabled]) {
  border-color: var(--zd-forms-error-color);
}

.c-txt__input--error:--txt-focused {
  box-shadow: var(--zd-txt--error-focused-box-shadow);
}

.c-txt__input--focus-inset.c-txt__input--error:--txt-focused {
  box-shadow: var(--zd-txt--error-focused-box-shadow-inset);
}

.c-txt__input.c-txt__input--success:not(.is-disabled):not([disabled]) {
  border-color: var(--zd-forms-success-color);
}

.c-txt__input--success:--txt-focused {
  box-shadow: var(--zd-txt--success-focused-box-shadow);
}

.c-txt__input--focus-inset.c-txt__input--success:--txt-focused {
  box-shadow: var(--zd-txt--success-focused-box-shadow-inset);
}

.c-txt__input.c-txt__input--warning:not(.is-disabled):not([disabled]) {
  border-color: var(--zd-forms-warning-color);
}

.c-txt__input--warning:--txt-focused {
  box-shadow: var(--zd-txt--warning-focused-box-shadow);
}

.c-txt__input--focus-inset.c-txt__input--warning:--txt-focused {
  box-shadow: var(--zd-txt--warning-focused-box-shadow-inset);
}
/* stylelint-enable selector-max-specificity */
