/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-txt{
  margin:0;
  border:0;
  padding:0;
}

.c-txt__input{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  -webkit-transition:border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  outline:none;
  border:1px solid #ddd;
  border-radius:4px;
  background-color:#fff;
  padding:.71429em 1.14286em;
  width:100%;
  min-height:40px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  vertical-align:middle;
  line-height:1.28571;
  color:#777;
  font-family:inherit;
  font-size:14px;
}

@media screen\0 {
  .c-txt__input{ font-family:sans-serif; }
}

.c-txt__input::-ms-clear,.c-txt__input::-ms-reveal,.c-txt__input::-ms-value{
  display:none;
}

.c-txt__input::-ms-browse{
  border-radius:2px;
  font-size:12px;
}

.c-txt__input::-webkit-clear-button,.c-txt__input::-webkit-inner-spin-button,.c-txt__input::-webkit-search-cancel-button,.c-txt__input::-webkit-search-results-button{
  display:none;
}

.c-txt__input::-webkit-datetime-edit{
  line-height:1;
}

.c-txt__input::-webkit-input-placeholder{
  opacity:1;
  color:#ccc;
}

.c-txt__input:-ms-input-placeholder,.c-txt__input::-ms-input-placeholder{
  opacity:1;
  color:#ccc;
}

.c-txt__input::placeholder{
  opacity:1;
  color:#ccc;
}

.c-txt__input:invalid{ -webkit-box-shadow:none; box-shadow:none; }

.c-txt__input[type=date],.c-txt__input[type=datetime-local],.c-txt__input[type=file],.c-txt__input[type=month],.c-txt__input[type=time],.c-txt__input[type=week]{
  max-height:40px;
}

.c-txt__input[type=file]{
  line-height:1;
}

@media screen and (min--moz-device-pixel-ratio:0){
  .c-txt__input[type=number]{ -webkit-appearance:textfield; -moz-appearance:textfield; appearance:textfield; }
}

.c-txt.is-rtl,.c-txt__hint.is-rtl,.c-txt__input.is-rtl,.c-txt__input.is-rtl::-webkit-datetime-edit,.c-txt__label.is-rtl,.c-txt__message.is-rtl{
  direction:rtl;
}

.c-txt--inline{ display:inline-block; }

.c-txt--inline .c-txt__input{ width:auto; }

@supports (-ms-ime-align:auto){
  .c-txt__input[type=color]{ padding:1px 3px; }

  .c-txt--sm__input[type=color]{ padding:0 2px; }
}

.c-txt__input::-moz-color-swatch{
  margin-top:-5px;
  margin-left:-11px;
  border:none;
  border-radius:2px;
  width:calc(100% + 22px);
  height:28px;
}

.c-txt__input::-webkit-color-swatch{
  margin:-5px -11px;
  border:none;
  border-radius:2px;
}

.c-txt__input--sm::-webkit-color-swatch{
  margin:-3px -9px;
}

.c-txt__input--sm::-moz-color-swatch{
  margin-top:-3px;
  margin-left:-9px;
  width:calc(100% + 18px);
  height:24px;
}

.c-txt__input::-webkit-color-swatch-wrapper{ padding:0; }

.c-txt__input--area{
  resize:none;
  overflow:auto;
}

.c-txt__input--area.is-resizable{
  resize:vertical;
}

.c-txt__input--select{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  position:relative;
  padding-right:3.42857em;
  text-align:left;
}

.c-txt__input--select::-webkit-calendar-picker-indicator,.c-txt__input--select:not(select):before{
  position:absolute;
  top:0;
  right:0;
  width:48px;
  height:40px;
  content:"";
}

.c-txt__input--select:not(select):before,select.c-txt__input--select{
  -webkit-transition:background-image .25s ease-in-out,border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-transform .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:background-image .25s ease-in-out,border-color .25s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-transform .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:background-image .25s ease-in-out,transform .25s ease-in-out,border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  transition:background-image .25s ease-in-out,transform .25s ease-in-out,border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-transform .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23BBB'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 6l3 3 3-3'/%3E%3C/svg%3E");
  background-repeat:no-repeat;
  background-position:right 1.21429em center;
}

select.c-txt__input--select::-ms-expand{
  display:none;
}

select.c-txt__input--select::-ms-value{
  background-color:transparent;
  color:inherit;
}

select.c-txt__input--select:-moz-focusring{
  -webkit-transition:none;
  transition:none;
  text-shadow:0 0 0 #777;
  color:transparent;
}

.c-txt__input--select::-webkit-calendar-picker-indicator{
  background-color:transparent;
  padding:0;
  color:transparent;
}

.c-txt__input--select.is-focused:not(.is-disabled):not([disabled]):not(select):before,.c-txt__input--select.is-hovered:not(.is-disabled):not([disabled]):not(select):before,.c-txt__input--select:focus:not(.is-disabled):not([disabled]):not(select):before,.c-txt__input--select:hover:not(.is-disabled):not([disabled]):not(select):before,select.c-txt__input--select.is-focused:not(.is-disabled):not([disabled]),select.c-txt__input--select.is-hovered:not(.is-disabled):not([disabled]),select.c-txt__input--select:focus:not(.is-disabled):not([disabled]),select.c-txt__input--select:hover:not(.is-disabled):not([disabled]){
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23333'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 6l3 3 3-3'/%3E%3C/svg%3E");
}

.c-txt__input--select.is-open:not(.is-disabled):not([disabled]):not(select):before{
  -webkit-transform:rotate(180deg) translateY(-1px);
          transform:rotate(180deg) translateY(-1px);
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2330AABC'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 6l3 3 3-3'/%3E%3C/svg%3E");
}

.c-txt__input--select.is-disabled:not(select):before,.c-txt__input--select[disabled]:not(select):before,select.c-txt__input--select[disabled]{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23999'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 6l3 3 3-3'/%3E%3C/svg%3E");
}

.is-rtl.c-txt__input--select{
  padding-right:1.14286em;
  padding-left:3.42857em;
  text-align:right;
}

.is-rtl.c-txt__input--select::-webkit-calendar-picker-indicator,.is-rtl.c-txt__input--select:not(select):before{
  right:auto;
  left:0;
}

.is-rtl.c-txt__input--select:not(select):before,select.is-rtl.c-txt__input--select{
  background-position:left 1.21429em center;
}

.is-rtl.c-txt__input--select.is-open:not(.is-disabled):not([disabled]):not(select):before{
  -webkit-transform:rotate(-180deg) translateY(-1px);
          transform:rotate(-180deg) translateY(-1px);
}

.c-txt__input--tag .c-label,.c-txt__input--tag .c-tag{
  margin:2px;
}

.c-txt__input.c-txt__input--tag{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding:2px 8px;
}

.c-txt__input--tag.c-txt__input--sm{
  padding-top:3px;
  padding-bottom:3px;
}

.c-txt__input--tag.c-txt__input--select{
  padding-right:3.42857em;
}

.is-rtl.c-txt__input.c-txt__input--tag.c-txt__input--select{
  padding-right:8px;
  padding-left:3.42857em;
}

.c-txt__input.is-hovered:not(.is-disabled):not([disabled]),.c-txt__input:hover:not(.is-disabled):not([disabled]){
  border-color:#30aabc;
}

.c-txt__input:focus{
  outline:none;
}

.c-txt__input.is-focused:not(.is-disabled):not([disabled]),.c-txt__input:focus:not(.is-disabled):not([disabled]){
  border-color:#30aabc;
  -webkit-box-shadow:0 0 0 3px rgba(48,170,188,.4);
          box-shadow:0 0 0 3px rgba(48,170,188,.4);
}

.c-txt__input.is-disabled,.c-txt__input[disabled]{
  border-color:transparent;
  -webkit-box-shadow:none;
          box-shadow:none;
  background-color:#ddd;
  cursor:default;
  color:#999;
}

.c-txt__input.is-disabled::-webkit-input-placeholder,.c-txt__input[disabled]::-webkit-input-placeholder{
  color:#999;
}

.c-txt__input.is-disabled:-ms-input-placeholder,.c-txt__input.is-disabled::-ms-input-placeholder,.c-txt__input[disabled]:-ms-input-placeholder,.c-txt__input[disabled]::-ms-input-placeholder{
  color:#999;
}

.c-txt__input.is-disabled::placeholder,.c-txt__input[disabled]::placeholder{
  color:#999;
}

.c-txt__input--dark{
  border-color:transparent;
  background-color:#04444d;
  color:hsla(0,0%,100%,.75);
}

.c-txt__input--dark::-webkit-input-placeholder{
  color:#56777a;
}

.c-txt__input--dark:-ms-input-placeholder,.c-txt__input--dark::-ms-input-placeholder{
  color:#56777a;
}

.c-txt__input--dark::placeholder{
  color:#56777a;
}

.c-txt__input--dark.is-disabled,.c-txt__input--dark[disabled]{
  background-color:#819a9e;
  color:#03363d;
}

.c-txt__input--dark.is-disabled::-webkit-input-placeholder,.c-txt__input--dark[disabled]::-webkit-input-placeholder{
  color:#03363d;
}

.c-txt__input--dark.is-disabled:-ms-input-placeholder,.c-txt__input--dark.is-disabled::-ms-input-placeholder,.c-txt__input--dark[disabled]:-ms-input-placeholder,.c-txt__input--dark[disabled]::-ms-input-placeholder{
  color:#03363d;
}

.c-txt__input--dark.is-disabled::placeholder,.c-txt__input--dark[disabled]::placeholder{
  color:#03363d;
}

.c-txt__input--dark.is-focused:not(.is-disabled):not([disabled]).c-txt__input--select:not(select):before,.c-txt__input--dark.is-hovered:not(.is-disabled):not([disabled]).c-txt__input--select:not(select):before,.c-txt__input--dark:focus:not(.is-disabled):not([disabled]).c-txt__input--select:not(select):before,.c-txt__input--dark:hover:not(.is-disabled):not([disabled]).c-txt__input--select:not(select):before,select.c-txt__input--dark.is-focused:not(.is-disabled):not([disabled]).c-txt__input--select,select.c-txt__input--dark.is-hovered:not(.is-disabled):not([disabled]).c-txt__input--select,select.c-txt__input--dark:focus:not(.is-disabled):not([disabled]).c-txt__input--select,select.c-txt__input--dark:hover:not(.is-disabled):not([disabled]).c-txt__input--select{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2330AABC'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 6l3 3 3-3'/%3E%3C/svg%3E");
}

select.c-txt__input--dark.c-txt__input--select:-moz-focusring{
  text-shadow:0 0 0 hsla(0,0%,100%,.75);
}

.c-txt__input--dark.is-disabled.c-txt__input--select:not(select):before,.c-txt__input--dark[disabled].c-txt__input--select:not(select):before,select.c-txt__input--dark.is-disabled.c-txt__input--select,select.c-txt__input--dark[disabled].c-txt__input--select{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2304444D'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M4 6l3 3 3-3'/%3E%3C/svg%3E");
}

.c-txt__input.c-txt__input--error:not(.is-disabled):not([disabled]){
  border-color:#eb6651;
}

.c-txt__input--error.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--error:focus:not(.is-disabled):not([disabled]){
  -webkit-box-shadow:0 0 0 3px hsla(8,79%,62%,.4);
          box-shadow:0 0 0 3px hsla(8,79%,62%,.4);
}

.c-txt__input.c-txt__input--success:not(.is-disabled):not([disabled]){
  border-color:#16ba52;
}

.c-txt__input--success.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--success:focus:not(.is-disabled):not([disabled]){
  -webkit-box-shadow:0 0 0 3px rgba(22,186,82,.4);
          box-shadow:0 0 0 3px rgba(22,186,82,.4);
}

.c-txt__input.c-txt__input--warning:not(.is-disabled):not([disabled]){
  border-color:#ffc800;
}

.c-txt__input--warning.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--warning:focus:not(.is-disabled):not([disabled]){
  -webkit-box-shadow:0 0 0 3px rgba(255,200,0,.4);
          box-shadow:0 0 0 3px rgba(255,200,0,.4);
}

.c-txt__input--sm{
  padding:.42857em .85714em;
  min-height:32px;
}

.c-txt__input--sm[type=date],.c-txt__input--sm[type=datetime-local],.c-txt__input--sm[type=file],.c-txt__input--sm[type=month],.c-txt__input--sm[type=time],.c-txt__input--sm[type=week]{
  max-height:32px;
}

.c-txt__input--sm::-ms-browse{
  font-size:11px;
}

.c-txt__input--sm.c-txt__input--media{
  padding-right:0;
  padding-left:0;
}

.c-txt__input--sm.c-txt__input--select{
  padding-right:2.85714em;
}

.c-txt__input--sm.c-txt__input--select:not(select):before{
  width:40px;
}

.c-txt__input--sm.c-txt__input--select:not(select):before,select.c-txt__input--sm.c-txt__input--select{
  background-position:right .92857em center;
  height:32px;
}

.is-rtl.c-txt__input--sm.c-txt__input--select{
  padding-right:.85714em;
  padding-left:2.85714em;
}

.is-rtl.c-txt__input--sm.c-txt__input--select:not(select):before,select.is-rtl.c-txt__input--sm.c-txt__input--select{
  background-position:left .92857em center;
}

.c-txt__input--sm .c-txt__input--media__figure:first-of-type,.is-rtl.c-txt__input--sm .c-txt__input--media__figure:last-of-type{
  margin:auto .64285em auto .85714em;
}

.c-txt__input--sm .c-txt__input--media__figure:last-of-type,.is-rtl.c-txt__input--sm .c-txt__input--media__figure:first-of-type{
  margin:auto .85714em auto .64285em;
}

.c-txt__input.c-txt__input--bare{
  border:none;
  border-radius:0;
  background-color:transparent;
  padding:0;
  min-height:1em;
}

.c-txt__input.is-focused:not(.is-disabled):not([disabled]).c-txt__input--bare,.c-txt__input:focus:not(.is-disabled):not([disabled]).c-txt__input--bare{
  -webkit-box-shadow:none;
          box-shadow:none;
}

.c-txt__input.is-disabled.c-txt__input--bare,.c-txt__input[disabled].c-txt__input--bare{
  background-color:transparent;
}

.c-txt__input--media{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:baseline;
      -ms-flex-align:baseline;
          align-items:baseline;
  padding-right:0;
  padding-left:0;
}

.c-txt__input--media__body{
  -webkit-box-flex:1;
      -ms-flex-positive:1;
          flex-grow:1;
}

.c-txt__input--media__figure{
  max-height:1em;
  color:#777;
}

.c-txt__input--dark .c-txt__input--media__figure{
  color:hsla(0,0%,100%,.75);
}

.c-txt__input--media__figure svg{
  width:1em;
  height:1em;
}

.c-txt__input--media__figure:first-of-type,.is-rtl .c-txt__input--media__figure:last-of-type{
  margin:auto .85715em auto 1.14286em;
}

.c-txt__input--media__figure:last-of-type,.is-rtl .c-txt__input--media__figure:first-of-type{
  margin:auto 1.14286em auto .85715em;
}

.c-txt__label{
  vertical-align:middle;
  line-height:2.14286;
  color:#555;
  font-size:14px;
  font-weight:600;
}

.c-txt__label--dark{
  color:#fff;
}

.c-txt__label--regular{
  font-weight:400;
}

.c-txt__label--sm{
  line-height:2;
}

.c-txt__hint{
  line-height:1.42857;
  color:#999;
  font-size:14px;
}

.c-txt__hint--dark{
  color:#56777a;
}

.c-txt__message{
  display:inline-block;
  vertical-align:middle;
  line-height:1.33333;
  color:#777;
  font-size:12px;
}

.c-txt__message--error,.c-txt__message--success,.c-txt__message--warning{
  background-repeat:no-repeat;
  background-position:0 0;
  padding-left:20px;
}

.c-txt__message--error{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23EB6651'%3E%3Cpath fill='currentColor' d='M7 0C3.13 0 0 3.13 0 7s3.13 7 7 7 7-3.13 7-7-3.13-7-7-7zm-.75 3.75c0-.41.34-.75.75-.75s.75.34.75.75v2.5c0 .41-.34.75-.75.75s-.75-.34-.75-.75v-2.5zM7 11c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z'/%3E%3C/svg%3E");
  color:#eb6651;
}

.c-txt__message--success{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2316BA52'%3E%3Cpath fill='currentColor' d='M7 0C3.13 0 0 3.13 0 7s3.13 7 7 7 7-3.13 7-7-3.13-7-7-7zm3.09 5.363l-3.3 4.2a.75.75 0 0 1-.545.286H6.2a.748.748 0 0 1-.53-.22L3.97 7.93a.75.75 0 1 1 1.06-1.06l1.103 1.102L8.91 4.437a.75.75 0 0 1 1.18.926z'/%3E%3C/svg%3E");
  color:#16ba52;
}

.c-txt__message--warning{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23FFC800'%3E%3Cpath fill='currentColor' d='M7 0C3.13 0 0 3.13 0 7s3.13 7 7 7 7-3.13 7-7-3.13-7-7-7zm-.75 3.75c0-.41.34-.75.75-.75s.75.34.75.75v2.5c0 .41-.34.75-.75.75s-.75-.34-.75-.75v-2.5zM7 11c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z'/%3E%3C/svg%3E");
}

.c-txt__message--warning.c-txt__message--dark{
  color:#ffc800;
}

.is-rtl.c-txt__message--error,.is-rtl.c-txt__message--success,.is-rtl.c-txt__message--warning{
  background-position:100% 0;
  padding-right:20px;
  padding-left:0;
}

.c-txt__hint+.c-txt__input,.c-txt__input+.c-txt__hint{
  margin-top:8px;
}

.c-txt__hint--sm+.c-txt__input--sm,.c-txt__input--sm+.c-txt__hint--sm{
  margin-top:4px;
}

.c-txt__label+.c-txt__hint{
  margin-top:-4px;
}

.c-txt__input+.c-txt__message{
  margin-top:8px;
}

.c-txt .c-txt__hint{
  display:block;
}

.c-txt--inline .c-txt__input+.c-txt__message{
  margin-top:0;
}
