/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-txt{
  margin:0;
  border:0;
  padding:0;
}

.c-txt__input{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  -webkit-transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  outline:none;
  border:1px solid #d8dcde;
  border-radius:4px;
  background-color:#fff;
  padding:.71429em 1.14286em;
  width:100%;
  min-height:40px;
  box-sizing:border-box;
  vertical-align:middle;
  line-height:1.28571;
  color:#2f3941;
  font-family:inherit;
  font-size:14px;
}

@media screen\0 {
  .c-txt__input{ font-family:sans-serif; }
}

.c-txt__input::-ms-browse{
  border-radius:2px;
  font-size:12px;
}

.c-txt__input::-ms-clear,.c-txt__input::-ms-reveal{
  display:none;
}

.c-txt__input::-webkit-clear-button,.c-txt__input::-webkit-inner-spin-button,.c-txt__input::-webkit-search-cancel-button,.c-txt__input::-webkit-search-results-button{
  display:none;
}

.c-txt__input::-webkit-datetime-edit{
  line-height:1;
}

.c-txt__input::-webkit-input-placeholder{
  opacity:1;
  color:#c2c8cc;
}

.c-txt__input::-moz-placeholder{
  opacity:1;
  color:#c2c8cc;
}

.c-txt__input:-ms-input-placeholder{
  opacity:1;
  color:#c2c8cc;
}

.c-txt__input::-ms-input-placeholder{
  opacity:1;
  color:#c2c8cc;
}

.c-txt__input::placeholder{
  opacity:1;
  color:#c2c8cc;
}

.c-txt__input:invalid{ box-shadow:none; }

.c-txt__input[type=date],.c-txt__input[type=datetime-local],.c-txt__input[type=file],.c-txt__input[type=month],.c-txt__input[type=time],.c-txt__input[type=week]{
  max-height:40px;
}

.c-txt__input[type=file]{
  line-height:1;
}

.c-txt__input[type=file]::-ms-value{
  display:none;
}

@media screen and (min--moz-device-pixel-ratio:0){
  .c-txt__input[type=number]{ -webkit-appearance:textfield; -moz-appearance:textfield; appearance:textfield; }
}

.c-txt.is-rtl,.c-txt__hint.is-rtl,.c-txt__input.is-rtl,.c-txt__label.is-rtl,.c-txt__message.is-rtl{
  direction:rtl;
}

.c-txt__input.is-rtl::-webkit-datetime-edit{
  direction:rtl;
}

.c-txt--inline{ display:inline-block; }

.c-txt--inline .c-txt__input{ width:auto; }

@supports (-ms-ime-align:auto){
  .c-txt__input[type=color]{ padding:1px 3px; }

  .c-txt--sm__input[type=color]{ padding:0 2px; }
}

.c-txt__input::-moz-color-swatch{
  margin-top:-5px;
  margin-left:-11px;
  border:none;
  border-radius:2px;
  width:calc(100% + 22px);
  height:28px;
}

.c-txt__input::-webkit-color-swatch{
  margin:-5px -11px;
  border:none;
  border-radius:2px;
}

.c-txt__input--sm::-webkit-color-swatch{
  margin:-3px -9px;
}

.c-txt__input--sm::-moz-color-swatch{
  margin-top:-3px;
  margin-left:-9px;
  width:calc(100% + 18px);
  height:24px;
}

.c-txt__input::-webkit-color-swatch-wrapper{ padding:0; }

.c-txt__input--area{
  resize:none;
  overflow:auto;
}

.c-txt__input--area.is-resizable{
  resize:vertical;
}

.c-txt__input--select{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  position:relative;
  padding-right:2.85714em;
  text-align:left;
}

.c-txt__input--select:not(select):before{
  position:absolute;
  top:0;
  right:0;
  cursor:pointer;
  width:40px;
  height:40px;
  content:"";
}

.c-txt__input--select:not(select):before,select.c-txt__input--select{
  -webkit-transition:background-image .25s ease-in-out,border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-transform .25s ease-in-out;
  transition:background-image .25s ease-in-out,border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-transform .25s ease-in-out;
  transition:background-image .25s ease-in-out,transform .25s ease-in-out,border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out;
  transition:background-image .25s ease-in-out,transform .25s ease-in-out,border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,color .25s ease-in-out,-webkit-transform .25s ease-in-out;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%2368737d'%3E%3Cpath fill='currentColor' d='M12.688 5.61a.5.5 0 01.69.718l-.066.062-5 4a.5.5 0 01-.542.054l-.082-.054-5-4a.5.5 0 01.55-.83l.074.05L8 9.359l4.688-3.75z'/%3E%3C/svg%3E");
  background-repeat:no-repeat;
  background-position:right .85714em center;
}

select.c-txt__input--select::-ms-expand{
  display:none;
}

select.c-txt__input--select::-ms-value{
  background-color:transparent;
  color:inherit;
}

select.c-txt__input--select:-moz-focusring{
  -moz-transition:none;
  transition:none;
  text-shadow:0 0 0 #2f3941;
  color:transparent;
}

.c-txt__input--select::-webkit-calendar-picker-indicator{
  position:absolute;
  top:0;
  right:0;
  background-color:transparent;
  cursor:pointer;
  padding:0;
  width:40px;
  height:40px;
  color:transparent;
  content:"";
}

.c-txt__input--select.is-focused:not(.is-disabled):not([disabled]):not(select):before,.c-txt__input--select.is-hovered:not(.is-disabled):not([disabled]):not(select):before,.c-txt__input--select:focus:not(.is-disabled):not([disabled]):not(select):before,.c-txt__input--select:hover:not(.is-disabled):not([disabled]):not(select):before,select.c-txt__input--select.is-focused:not(.is-disabled):not([disabled]),select.c-txt__input--select.is-hovered:not(.is-disabled):not([disabled]),select.c-txt__input--select:focus:not(.is-disabled):not([disabled]),select.c-txt__input--select:hover:not(.is-disabled):not([disabled]){
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%2349545c'%3E%3Cpath fill='currentColor' d='M12.688 5.61a.5.5 0 01.69.718l-.066.062-5 4a.5.5 0 01-.542.054l-.082-.054-5-4a.5.5 0 01.55-.83l.074.05L8 9.359l4.688-3.75z'/%3E%3C/svg%3E");
}

.c-txt__input--select.is-open:not(.is-disabled):not([disabled]):not(select):before{
  -webkit-transform:rotate(180deg)
    translateY(-1px);
          transform:rotate(180deg)
    translateY(-1px);
}

.c-txt__input--select.is-disabled:not(select):before,.c-txt__input--select[disabled]:not(select):before,select.c-txt__input--select[disabled]{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23c2c8cc'%3E%3Cpath fill='currentColor' d='M12.688 5.61a.5.5 0 01.69.718l-.066.062-5 4a.5.5 0 01-.542.054l-.082-.054-5-4a.5.5 0 01.55-.83l.074.05L8 9.359l4.688-3.75z'/%3E%3C/svg%3E");
  cursor:default;
}

.is-rtl.c-txt__input--select{
  padding-right:1.14286em;
  padding-left:2.85714em;
  text-align:right;
}

.is-rtl.c-txt__input--select:not(select):before{
  right:auto;
  left:0;
}

.is-rtl.c-txt__input--select::-webkit-calendar-picker-indicator{
  right:auto;
  left:0;
}

.is-rtl.c-txt__input--select:not(select):before,select.is-rtl.c-txt__input--select{
  background-position:left .85714em center;
}

.is-rtl.c-txt__input--select.is-open:not(.is-disabled):not([disabled]):not(select):before{
  -webkit-transform:rotate(-180deg)
    translateY(-1px);
          transform:rotate(-180deg)
    translateY(-1px);
}

.c-txt__input--tag .c-label,.c-txt__input--tag .c-tag{
  margin:2px;
}

.c-txt__input.c-txt__input--tag{
  display:-webkit-box;
  display:flex;
  flex-wrap:wrap;
  padding:2px 8px;
}

.c-txt__input--tag.c-txt__input--sm{
  padding-top:3px;
  padding-bottom:3px;
}

.c-txt__input--tag.c-txt__input--select{
  padding-right:2.85714em;
}

.is-rtl.c-txt__input.c-txt__input--tag.c-txt__input--select{
  padding-right:8px;
  padding-left:2.85714em;
}

.c-txt__input.is-hovered:not(.is-disabled):not([disabled]),.c-txt__input:hover:not(.is-disabled):not([disabled]){
  border-color:#5293c7;
}

.c-txt__input:focus{
  outline:none;
}

.c-txt__input.is-focused:not(.is-disabled):not([disabled]),.c-txt__input:focus:not(.is-disabled):not([disabled]){
  border-color:#1f73b7;
  box-shadow:0 0 0 3px rgba(31, 115, 183, .35);
}

.c-txt__input--focus-inset.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--focus-inset:focus:not(.is-disabled):not([disabled]){
  box-shadow:inset 0 0 0 3px rgba(31, 115, 183, .35);
}

.c-txt__input.is-disabled,.c-txt__input[disabled]{
  border-color:#e9ebed;
  box-shadow:none;
  background-color:#f8f9f9;
  cursor:default;
  color:#c2c8cc;
}

.c-txt__input.is-disabled::-webkit-input-placeholder,.c-txt__input[disabled]::-webkit-input-placeholder{
  color:#c2c8cc;
}

.c-txt__input.is-disabled::-moz-placeholder,.c-txt__input[disabled]::-moz-placeholder{
  color:#c2c8cc;
}

.c-txt__input.is-disabled:-ms-input-placeholder,.c-txt__input[disabled]:-ms-input-placeholder{
  color:#c2c8cc;
}

.c-txt__input.is-disabled::-ms-input-placeholder,.c-txt__input[disabled]::-ms-input-placeholder{
  color:#c2c8cc;
}

.c-txt__input.is-disabled::placeholder,.c-txt__input[disabled]::placeholder{
  color:#c2c8cc;
}

.c-txt__input.c-txt__input--error:not(.is-disabled):not([disabled]){
  border-color:#e35b66;
}

.c-txt__input--error.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--error:focus:not(.is-disabled):not([disabled]){
  box-shadow:0 0 0 3px rgba(204, 51, 64, .35);
}

.c-txt__input--focus-inset.c-txt__input--error.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--focus-inset.c-txt__input--error:focus:not(.is-disabled):not([disabled]){
  box-shadow:inset 0 0 0 3px rgba(204, 51, 64, .35);
}

.c-txt__input.c-txt__input--success:not(.is-disabled):not([disabled]){
  border-color:#5eae91;
}

.c-txt__input--success.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--success:focus:not(.is-disabled):not([disabled]){
  box-shadow:0 0 0 3px rgba(3, 129, 83, .35);
}

.c-txt__input--focus-inset.c-txt__input--success.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--focus-inset.c-txt__input--success:focus:not(.is-disabled):not([disabled]){
  box-shadow:inset 0 0 0 3px rgba(3, 129, 83, .35);
}

.c-txt__input.c-txt__input--warning:not(.is-disabled):not([disabled]){
  border-color:#ffb057;
}

.c-txt__input--warning.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--warning:focus:not(.is-disabled):not([disabled]){
  box-shadow:0 0 0 3px rgba(237, 143, 28, .35);
}

.c-txt__input--focus-inset.c-txt__input--warning.is-focused:not(.is-disabled):not([disabled]),.c-txt__input--focus-inset.c-txt__input--warning:focus:not(.is-disabled):not([disabled]){
  box-shadow:inset 0 0 0 3px rgba(237, 143, 28, .35);
}

.c-txt__input--sm{
  padding:.42857em .85714em;
  min-height:32px;
}

.c-txt__input--sm[type=date],.c-txt__input--sm[type=datetime-local],.c-txt__input--sm[type=file],.c-txt__input--sm[type=month],.c-txt__input--sm[type=time],.c-txt__input--sm[type=week]{
  max-height:32px;
}

.c-txt__input--sm::-ms-browse{
  font-size:11px;
}

.c-txt__input--sm.c-txt__input--select{
  padding-right:2.28571em;
}

.c-txt__input--sm.c-txt__input--select:not(select):before{
  width:32px;
}

.c-txt__input--sm.c-txt__input--select:not(select):before,select.c-txt__input--sm.c-txt__input--select{
  background-position:right .71429em center;
  background-size:12px;
  height:32px;
}

.c-txt__input--sm.c-txt__input--select::-webkit-calendar-picker-indicator{
  width:32px;
  height:32px;
}

.is-rtl.c-txt__input--sm.c-txt__input--select{
  padding-right:.85714em;
  padding-left:2.28571em;
}

.is-rtl.c-txt__input--sm.c-txt__input--select:not(select):before,select.is-rtl.c-txt__input--sm.c-txt__input--select{
  background-position:left .71429em center;
}

.c-txt__input--sm .c-txt__input--media__figure:first-child,.is-rtl.c-txt__input--sm .c-txt__input--media__figure:last-child{
  margin:auto .64285em auto 0;
}

.c-txt__input--sm .c-txt__input--media__figure:last-child,.is-rtl.c-txt__input--sm .c-txt__input--media__figure:first-child{
  margin:auto 0 auto .64285em;
}

.c-txt__input.c-txt__input--bare{
  border:none;
  border-radius:0;
  background-color:transparent;
  padding:0;
  min-height:1em;
}

.c-txt__input.is-focused:not(.is-disabled):not([disabled]).c-txt__input--bare,.c-txt__input:focus:not(.is-disabled):not([disabled]).c-txt__input--bare{
  box-shadow:none;
}

.c-txt__input.is-disabled.c-txt__input--bare,.c-txt__input[disabled].c-txt__input--bare{
  background-color:transparent;
}

.c-txt__input--select.c-txt__input--bare:not(select):before{
  height:1.28571em;
}

.c-txt__input--select.c-txt__input--bare::-webkit-calendar-picker-indicator{
  height:1.28571em;
}

.c-txt__input--media{
  display:-webkit-box;
  display:flex;
  -webkit-box-align:baseline;
          align-items:baseline;
  cursor:text;
}

.c-txt__input--media__body{
  -webkit-box-flex:1;
          flex-grow:1;
}

.c-txt__input--media__figure{
  margin:auto;
  max-height:16px;
  color:#c2c8cc;
}

.c-txt__input--media__figure svg{
  width:16px;
  height:16px;
}

.c-txt__input--sm .c-txt__input--media__figure svg{
  width:12px;
  height:12px;
}

.c-txt__input--media__figure:first-child,.is-rtl .c-txt__input--media__figure:last-child{
  margin-right:.85715em;
  margin-left:0;
}

.c-txt__input--media__figure:last-child,.is-rtl .c-txt__input--media__figure:first-child{
  margin-right:0;
  margin-left:.85715em;
}

.c-txt__label{
  vertical-align:middle;
  line-height:2.14286;
  color:#2f3941;
  font-size:14px;
  font-weight:600;
}

.c-txt__label--regular{
  font-weight:400;
}

.c-txt__label--sm{
  line-height:2;
}

.c-txt__hint{
  line-height:1.42857;
  color:#68737d;
  font-size:14px;
}

.c-txt__message{
  display:inline-block;
  vertical-align:middle;
  line-height:1.33333;
  color:#49545c;
  font-size:12px;
}

.c-txt__message--error,.c-txt__message--success,.c-txt__message--warning{
  background-repeat:no-repeat;
  background-position:0;
  padding-left:20px;
}

.c-txt__message--error{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23cc3340'%3E%3Cg fill='none' stroke='currentColor'%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3Cpath stroke-linecap='round' d='M7.5 4.5V9'/%3E%3C/g%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#cc3340;
}

.c-txt__message--success{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23038153'%3E%3Cg fill='none' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 9l2.5 2.5 5-5'/%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3C/g%3E%3C/svg%3E");
  color:#038153;
}

.c-txt__message--warning{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23ad5918'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' d='M.88 13.77L7.06 1.86c.19-.36.7-.36.89 0l6.18 11.91c.17.33-.07.73-.44.73H1.32c-.37 0-.61-.4-.44-.73zM7.5 6v3.5'/%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#ad5918;
}

.is-rtl.c-txt__message--error,.is-rtl.c-txt__message--success,.is-rtl.c-txt__message--warning{
  background-position:100%;
  padding-right:20px;
  padding-left:0;
}

.c-txt__hint+.c-txt__input,.c-txt__input+.c-txt__hint{
  margin-top:8px;
}

.c-txt__hint--sm+.c-txt__input--sm,.c-txt__input--sm+.c-txt__hint--sm{
  margin-top:4px;
}

.c-txt__label+.c-txt__hint{
  margin-top:-4px;
}

.c-txt__input+.c-txt__message{
  margin-top:8px;
}

.c-txt .c-txt__hint{
  display:block;
}

.c-txt--inline .c-txt__input+.c-txt__message{
  margin-top:0;
}
