/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-breadcrumb{
  display:-webkit-box;
  display:flex;
  margin:0;
  padding:0;
  list-style:none;
  font-size:14px;
}

.c-breadcrumb.is-rtl{
  direction:rtl;
}

.c-breadcrumb__item{
  line-height:1.42857;
  white-space:nowrap;
  font-size:inherit;
}

.c-breadcrumb__item+.c-breadcrumb__item:before{
  display:inline-block;
  margin:0 .57143em;
  background:no-repeat 50% / 1em
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%2368737d'%3E%3Cpath fill='currentColor' d='M3.646 10.354a.5.5 0 01-.057-.638l.057-.07L7.293 6 3.646 2.354a.5.5 0 01-.057-.638l.057-.07a.5.5 0 01.638-.057l.07.057 4 4a.5.5 0 01.057.638l-.057.07-4 4a.5.5 0 01-.708 0z'/%3E%3C/svg%3E");
  width:1em;
  height:100%;
  vertical-align:top;
  content:"";
}

.c-breadcrumb__item>:link,.c-breadcrumb__item>:visited{
  white-space:inherit;
}

.c-breadcrumb__item>:-webkit-any-link{
  white-space:inherit;
}

.c-breadcrumb__item>:-moz-any-link{
  white-space:inherit;
}

.c-breadcrumb__item>:any-link{
  white-space:inherit;
}

.c-breadcrumb.is-rtl .c-breadcrumb__item:before{
  -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
}

.c-breadcrumb__item.is-current{
  color:#68737d;
}

.c-breadcrumb__item.is-current>:link,.c-breadcrumb__item.is-current>:link:focus,.c-breadcrumb__item.is-current>:link:hover,.c-breadcrumb__item.is-current>:visited,.c-breadcrumb__item.is-current>:visited:focus,.c-breadcrumb__item.is-current>:visited:hover{
  color:inherit;
}

.c-breadcrumb__item.is-current>:-webkit-any-link,.c-breadcrumb__item.is-current>:-webkit-any-link:focus,.c-breadcrumb__item.is-current>:-webkit-any-link:hover{
  color:inherit;
}

.c-breadcrumb__item.is-current>:-moz-any-link,.c-breadcrumb__item.is-current>:-moz-any-link:focus,.c-breadcrumb__item.is-current>:-moz-any-link:hover{
  color:inherit;
}

.c-breadcrumb__item.is-current>:any-link,.c-breadcrumb__item.is-current>:any-link:focus,.c-breadcrumb__item.is-current>:any-link:hover{
  color:inherit;
}
