/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-breadcrumb{
  display:flex;
  margin:0;
  padding:0;
  list-style:none;
  font-size:14px;
}

.c-breadcrumb.is-rtl{
  direction:rtl;
}

.c-breadcrumb__item{
  line-height:1.42857;
  white-space:nowrap;
  font-size:inherit;
}

.c-breadcrumb__item+.c-breadcrumb__item:before{
  display:inline-block;
  margin:0 .57143em;
  background:no-repeat 50% / 1em
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23C2C8CC'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11l4-4-4-4'/%3E%3C/svg%3E");
  width:1em;
  height:100%;
  vertical-align:top;
  content:"";
}

.c-breadcrumb__item>:link,.c-breadcrumb__item>:visited{
  white-space:inherit;
}

.c-breadcrumb__item>:-webkit-any-link{
  white-space:inherit;
}

.c-breadcrumb__item>:-moz-any-link{
  white-space:inherit;
}

.c-breadcrumb__item>:any-link{
  white-space:inherit;
}

.c-breadcrumb.is-rtl .c-breadcrumb__item:before{
  -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
}

.c-breadcrumb__item.is-current{
  color:#68737d;
}

.c-breadcrumb__item.is-current>:link,.c-breadcrumb__item.is-current>:visited{
  color:inherit;
}

.c-breadcrumb__item.is-current>:-webkit-any-link{
  color:inherit;
}

.c-breadcrumb__item.is-current>:-moz-any-link{
  color:inherit;
}

.c-breadcrumb__item.is-current>:any-link{
  color:inherit;
}
