@import '@zendesk/garden-css-variables';

:root {
  --zd-tooltip--dark-background-color: var(--zd-color-breaker-bay);
  --zd-tooltip--dark-box-shadow:
    0 10px 20px 0
    color(var(--zd-color-black) alpha(15%));
  --zd-tooltip--dark-color: var(--zd-color-white);
  --zd-tooltip--dark--light-background-color: var(--zd-color-algae);
  --zd-tooltip--dark--light-color: var(--zd-color-submarine);
}

.c-tooltip--dark {
  border-color: transparent;
  box-shadow: var(--zd-tooltip--dark-box-shadow);
  background-color: var(--zd-tooltip--dark-background-color);
  color: var(--zd-tooltip--dark-color);
}

.c-tooltip--dark.c-tooltip--light {
  background-color: var(--zd-tooltip--dark--light-background-color);
  color: var(--zd-tooltip--dark--light-color);
}
