/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-avatar{
  display:inline-block;
  transition:background-color .3s;
  margin:0;
  border:1px solid transparent;
  border-radius:50%;
  width:34px;
  height:34px;
  box-sizing:border-box;
}

.c-avatar>img,.c-avatar__img{
  transition:all .3s;
  border:1px solid #d8dcde;
  border-radius:50%;
  background-clip:content-box;
  background-color:#fff;
  width:100%;
  height:100%;
  box-sizing:inherit;
  vertical-align:bottom;
}

.c-avatar--large{
  border-width:2px;
  width:52px;
  height:52px;
}

.c-avatar--small{
  width:26px;
  height:26px;
}

.c-avatar.is-disabled{
  background-color:#d8dcde;
}

.c-avatar.is-disabled .c-avatar__img,.c-avatar.is-disabled>img{
  -webkit-transform:translateZ(0);
          transform:translateZ(0);
  filter:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="grayscale"><feColorMatrix values=".3333 .3333 .3333 0 0 .3333 .3333 .3333 0 0 .3333 .3333 .3333 0 0 0 0 0 1 0"/></filter></svg>#grayscale');
  filter:gray;
  -webkit-filter:grayscale(100%);
  border-color:transparent;
  opacity:.5;
}

.c-avatar--borderless .c-avatar__img,.c-avatar--borderless>img{
  border-color:transparent;
}

.c-avatar--system{
  border-radius:4px;
}

.c-avatar--system.c-avatar--large{
  border-radius:5px;
}

.c-avatar--system .c-avatar__img,.c-avatar--system>img{
  border-radius:3px;
}
