/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-avatar{
  display:inline-block;
  position:relative;
  transition:box-shadow .25s ease-in-out,color .1s ease-in-out;
  margin:0;
  border-radius:50%;
  width:40px;
  height:40px;
  box-sizing:border-box;
  color:transparent;
}

.c-avatar:before{
  position:absolute;
  top:0;
  left:0;
  transition:box-shadow .25s ease-in-out;
  border-radius:inherit;
  box-shadow:inset 0 0 0 2px;
  width:100%;
  height:100%;
  content:"";
}

.c-avatar__img{
  display:inline-block;
  overflow:hidden;
  text-align:center;
  line-height:40px;
  white-space:nowrap;
  color:#fff;
  font-size:18px;
}

.c-avatar>img,.c-avatar__img{
  border-radius:inherit;
  width:100%;
  height:100%;
  box-sizing:inherit;
  vertical-align:bottom;
}

.c-avatar--lg{
  width:48px;
  height:48px;
}

.c-avatar--lg .c-avatar__img{
  line-height:48px;
  font-size:22px;
}

.c-avatar--sm{
  width:32px;
  height:32px;
}

.c-avatar--sm .c-avatar__img{
  line-height:32px;
  font-size:14px;
}

.c-avatar--xs{
  width:24px;
  height:24px;
}

.c-avatar--xs .c-avatar__img{
  line-height:24px;
  font-size:12px;
}

.c-avatar.is-active,.c-avatar.is-away,.c-avatar.is-online{
  color:#fff;
}

.c-avatar.is-active{
  box-shadow:0 0 0 2px #e35b66;
}

.c-avatar.is-away{
  box-shadow:0 0 0 2px #ffb648;
}

.c-avatar.is-online{
  box-shadow:0 0 0 2px #00a656;
}

.c-avatar--system{
  border-radius:4px;
}

.c-avatar--system.c-avatar--large{
  border-radius:5px;
}

.c-avatar--system .c-avatar__img,.c-avatar--system:before,.c-avatar--system>img{
  border-radius:3px;
}

.c-avatar:after{
  display:inline-block;
  position:absolute;
  right:2px;
  bottom:2px;
  transition:all .25s ease-in-out,color 0s;
  opacity:0;
  border:2px solid;
  border-radius:100px;
  background-color:transparent;
  padding:0;
  min-width:0;
  height:0;
  box-sizing:content-box;
  text-align:center;
  font-size:0;
  font-weight:600;
  -webkit-text-fill-color:#fff;
  content:"";
}

.c-avatar:after,_:-ms-input-placeholder{
  color:#fff;
}

.c-avatar--lg:after{
  right:3px;
  bottom:3px;
}

.c-avatar--sm:after{
  right:1px;
  bottom:1px;
}

.c-avatar--xs:after{
  right:0;
  bottom:0;
}

.c-avatar.is-active:after,.c-avatar.is-online:after{
  -webkit-animation:zd-avatar__badge-scale .3s ease-in-out;
          animation:zd-avatar__badge-scale .3s ease-in-out;
  opacity:1;
}

.c-avatar.is-active:after{
  right:-4px;
  bottom:-4px;
  background-color:#cc3340;
  padding:0 5px;
  min-width:10px;
  height:20px;
  line-height:20px;
  font-size:10px;
}

.c-avatar.is-online:after{
  right:-4px;
  bottom:-4px;
  background-color:#00a656;
  min-width:12px;
  height:12px;
}

.c-avatar--xs.is-active:after{
  padding:0;
  line-height:8px;
}

.c-avatar--xs.is-active:after,.c-avatar--xs.is-online:after{
  min-width:8px;
  height:8px;
}

.c-avatar--sm.is-active:after{
  padding:0 3px;
  height:16px;
  line-height:16px;
}

.c-avatar--sm.is-online:after{
  min-width:10px;
  height:10px;
}

.c-avatar--lg.is-active:after{
  padding:0 5px;
}

.c-avatar--lg.is-online:after{
  min-width:14px;
  height:14px;
}

.c-avatar.is-rtl:after{
  right:auto;
  left:2px;
}

.c-avatar--lg.is-rtl:after{
  left:3px;
}

.c-avatar--sm.is-rtl:after{
  left:1px;
}

.c-avatar--xs.is-rtl:after{
  left:0;
}

.c-avatar.is-active.is-rtl:after,.c-avatar.is-online.is-rtl:after{
  left:-4px;
}

.c-avatar:not(.c-avatar--xs).is-active:after{
  content:attr(data-badge);
}

@-webkit-keyframes zd-avatar__badge-scale{
  0%{
    -webkit-transform:scale(0);
            transform:scale(0);
  }

  66%{
    -webkit-transform:scale(1.4);
            transform:scale(1.4);
    opacity:1;
  }
}

@keyframes zd-avatar__badge-scale{
  0%{
    -webkit-transform:scale(0);
            transform:scale(0);
  }

  66%{
    -webkit-transform:scale(1.4);
            transform:scale(1.4);
    opacity:1;
  }
}
