/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-chk{
  position:relative;
  margin:0;
  border:0;
  padding:0;
}

.c-chk__input{
  position:absolute;
  clip:rect(1px, 1px, 1px, 1px);
}

.c-chk__label{
  display:inline-block;
  position:relative;
  cursor:pointer;
  padding-left:24px;
  vertical-align:middle;
  line-height:1.42857;
  white-space:normal;
  color:#2f3941;
  font-size:14px;
  font-weight:600;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}

.c-chk__label:before{
  position:absolute;
  top:10px;
  left:0;
  -webkit-transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,background-image .25s ease-in-out,color .25s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,background-color .25s ease-in-out,background-image .25s ease-in-out,color .25s ease-in-out;
  margin-top:-8px;
  border:1px solid #d8dcde;
  border-radius:4px;
  background-color:#fff;
  background-repeat:no-repeat;
  background-position:50%;
  background-size:12px;
  width:16px;
  height:16px;
  box-sizing:border-box;
  color:inherit;
  content:"";
}

.c-chk__label--regular{
  font-weight:400;
}

.c-chk__hint{
  padding-left:24px;
  line-height:1.42857;
  color:#68737d;
  font-size:14px;
}

.c-chk__message{
  display:inline-block;
  padding-left:24px;
  vertical-align:middle;
  line-height:1.33333;
  color:#49545c;
  font-size:12px;
}

.c-chk__message--error,.c-chk__message--success,.c-chk__message--warning{
  background-repeat:no-repeat;
  background-position:0;
}

.c-chk__message--error{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23cc3340'%3E%3Cg fill='none' stroke='currentColor'%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3Cpath stroke-linecap='round' d='M7.5 4.5V9'/%3E%3C/g%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#cc3340;
}

.c-chk__message--success{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23038153'%3E%3Cg fill='none' stroke='currentColor'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4 9l2.5 2.5 5-5'/%3E%3Ccircle cx='7.5' cy='8.5' r='7'/%3E%3C/g%3E%3C/svg%3E");
  color:#038153;
}

.c-chk__message--warning{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23ad5918'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' d='M.88 13.77L7.06 1.86c.19-.36.7-.36.89 0l6.18 11.91c.17.33-.07.73-.44.73H1.32c-.37 0-.61-.4-.44-.73zM7.5 6v3.5'/%3E%3Ccircle cx='7.5' cy='12' r='1' fill='currentColor'/%3E%3C/svg%3E");
  color:#ad5918;
}

.c-chk__label.is-hidden{
  padding-left:16px;
  text-indent:-100%;
  font-size:0;
}

.c-chk__label.is-hidden:before{
  top:0;
}

.is-rtl.c-chk{
  direction:rtl;
}

.is-rtl.c-chk__label:before{
  right:0;
  left:auto;
}

.is-rtl.c-chk__hint,.is-rtl.c-chk__label,.is-rtl.c-chk__message{
  direction:rtl;
  padding-right:24px;
  padding-left:0;
}

.is-rtl.c-chk__message--error,.is-rtl.c-chk__message--success,.is-rtl.c-chk__message--warning{
  background-position:100%;
  padding-left:0;
}

.is-rtl.c-chk__label.is-hidden{
  padding-right:16px;
}

.c-chk__label+.c-chk__message{
  display:block;
  margin-top:4px;
}

.c-chk .c-chk__hint{
  display:block;
}

.c-chk__input:checked~.c-chk__label:before,.c-chk__label.is-checked:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23fff'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 6l2 2 4-4'/%3E%3C/svg%3E");
}

.c-chk__input:indeterminate~.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle):before,.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle).is-indeterminate:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23fff'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-width='2' d='M3 6h6'/%3E%3C/svg%3E");
}

.c-chk__input:checked:enabled~.c-chk__label:not(.is-disabled):before,.c-chk__input:enabled~.c-chk__label.is-checked:not(.is-disabled):before,.c-chk__input:enabled~.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle).is-indeterminate:not(.is-disabled):before,.c-chk__input:indeterminate:enabled~.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle):not(.is-disabled):before{
  border-color:#1f73b7;
  background-color:#1f73b7;
}

.c-chk__input:enabled~.c-chk__label.is-hovered:not(.is-disabled):before,.c-chk__input:enabled~.c-chk__label:not(.is-disabled):hover:before{
  border-color:#1f73b7;
}

.c-chk__input:enabled~.c-chk__label.is-focused:not(.is-disabled):before{
  outline:none;
  border-color:#1f73b7;
  box-shadow:0 0 0 3px rgba(31, 115, 183, .35);
}

.c-chk__input:enabled~.c-chk__label.is-active:not(.is-disabled):before,.c-chk__input:enabled~.c-chk__label:not(.is-disabled):active:before{
  -webkit-transition:border-color .1s ease-in-out,background-color .1s ease-in-out,background-image .1s ease-in-out,color .1s ease-in-out;
  transition:border-color .1s ease-in-out,background-color .1s ease-in-out,background-image .1s ease-in-out,color .1s ease-in-out;
  border-color:#1f73b7;
  background-color:#cee2f2;
}

.c-chk__input:enabled:checked~.c-chk__label.is-active:not(.is-disabled):before,.c-chk__input:enabled:checked~.c-chk__label:not(.is-disabled):active:before,.c-chk__input:enabled:indeterminate~.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle).is-active:not(.is-disabled):before,.c-chk__input:enabled:indeterminate~.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle):not(.is-disabled):active:before,.c-chk__input:enabled~.c-chk__label.is-checked.is-active:not(.is-disabled):before,.c-chk__input:enabled~.c-chk__label.is-checked:not(.is-disabled):active:before,.c-chk__input:enabled~.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle).is-indeterminate.is-active:not(.is-disabled):before,.c-chk__input:enabled~.c-chk__label:not(.c-chk__label--radio):not(.c-chk__label--toggle).is-indeterminate:not(.is-disabled):active:before{
  border-color:#144a75;
  background-color:#144a75;
}

.c-chk__input[disabled]~.c-chk__label,.c-chk__label.is-disabled{
  cursor:default;
}

.c-chk__input[disabled]~.c-chk__label:before,.c-chk__label.is-disabled:before{
  border-color:transparent;
  box-shadow:none;
  background-color:#e9ebed;
}

.c-chk__label--radio:before{
  border-radius:50%;
}

.c-chk__input:checked~.c-chk__label.c-chk__label--radio:before,.c-chk__label.is-checked.c-chk__label--radio:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23fff'%3E%3Ccircle cx='6' cy='6' r='2' fill='currentColor'/%3E%3C/svg%3E");
}

.c-chk__hint--toggle,.c-chk__label--toggle,.c-chk__message--toggle{
  padding-left:48px;
}

.c-chk__message--toggle{
  background-position:26px;
}

.c-chk__label--toggle:before{
  top:0;
  -webkit-transition:box-shadow .1s ease-in-out,background-color .15s ease-in-out,background-position .15s ease-in-out,color .25s ease-in-out;
  transition:box-shadow .1s ease-in-out,background-color .15s ease-in-out,background-position .15s ease-in-out,color .25s ease-in-out;
  margin-top:0;
  border:none;
  border-radius:100px;
  background-color:#87929d;
  background-position:10%;
  background-size:14px;
  width:40px;
  height:20px;
}

.c-chk__input:checked~.c-chk__label.c-chk__label--toggle:before,.c-chk__label--toggle:before,.c-chk__label.is-checked.c-chk__label--toggle:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%23fff'%3E%3Ccircle cx='8' cy='8' r='7' fill='currentColor'/%3E%3C/svg%3E");
}

.c-chk__input:checked~.c-chk__label.c-chk__label--toggle:before,.c-chk__label.is-checked.c-chk__label--toggle:before{
  background-position:90%;
}

.c-chk__input:enabled~.c-chk__label.is-active:not(.is-disabled).c-chk__label--toggle:before,.c-chk__input:enabled~.c-chk__label:not(.is-disabled):active.c-chk__label--toggle:before{
  background-color:#68737d;
}

.c-chk__input:enabled:checked~.c-chk__label.is-active:not(.is-disabled).c-chk__label--toggle:before,.c-chk__input:enabled:checked~.c-chk__label:not(.is-disabled):active.c-chk__label--toggle:before,.c-chk__input:enabled~.c-chk__label.is-checked.is-active:not(.is-disabled).c-chk__label--toggle:before,.c-chk__input:enabled~.c-chk__label.is-checked:not(.is-disabled):active.c-chk__label--toggle:before{
  background-color:#144a75;
}

.c-chk__input[disabled]~.c-chk__label.c-chk__label--toggle:before,.c-chk__label.is-disabled.c-chk__label--toggle:before{
  background-color:#e9ebed;
}

.c-chk__label--toggle.is-hidden{
  padding-left:40px;
  vertical-align:top;
}

.is-rtl.c-chk__hint--toggle,.is-rtl.c-chk__label--toggle,.is-rtl.c-chk__message--toggle{
  padding-right:48px;
  padding-left:0;
}

.is-rtl.c-chk__message--toggle{
  background-position:calc(100% - 26px);
}

.is-rtl.c-chk__label--toggle.is-hidden{
  padding-right:40px;
}

.is-rtl.c-chk__label--toggle:before{
  background-position:90%;
}

.c-chk__input:checked~.c-chk__label.is-rtl.c-chk__label--toggle:before,.c-chk__label.is-checked.is-rtl.c-chk__label--toggle:before{
  background-position:10%;
}
