@import '@zendeskgarden/css-variables';

:root {
  --zd-pagination--dark__page-color: var(--zd-color-submarine);
  --zd-pagination--dark__page-active-background-color: var(--zd-color-sherpa-blue);
  --zd-pagination--dark__page-current-background-color: var(--zd-pagination--dark__page-hovered-background-color);
  --zd-pagination--dark__page-current-color: color(var(--zd-pagination--dark__page-color) lightness(+10%));
  --zd-pagination--dark__page-hovered-background-color: var(--zd-color-algae);
  --zd-pagination--dark__page--next-background-image: svg-load('14-next.svg', color: var(--zd-color-submarine));
  --zd-pagination--dark__page--previous-background-image: svg-load('14-previous.svg', color: var(--zd-color-submarine));
  --zd-pagination--dark__page--next-hovered-background-image: svg-load('14-next.svg', color: var(--zd-color-white));
  --zd-pagination--dark__page--previous-hovered-background-image: svg-load('14-previous.svg', color: var(--zd-color-white));
}

.c-pagination--dark .c-pagination__page {
  color: var(--zd-pagination--dark__page-color);
}

.c-pagination--dark .c-pagination__page--gap,
.c-pagination--dark .c-pagination__page--next,
.c-pagination--dark .c-pagination__page--previous {
  color: transparent;
}

.c-pagination--dark .c-pagination__page--gap::before {
  color: var(--zd-pagination--dark__page-color);
}

/* stylelint-disable no-descending-specificity */
.c-pagination--dark .c-pagination__page--next,
.c-pagination--dark.is-rtl .c-pagination__page--previous {
  background-image: var(--zd-pagination--dark__page--next-background-image);
}

.c-pagination--dark .c-pagination__page--previous,
.c-pagination--dark.is-rtl .c-pagination__page--next {
  background-image: var(--zd-pagination--dark__page--previous-background-image);
}

.c-pagination--dark .c-pagination__page:--page-hovered {
  background-color: var(--zd-pagination--dark__page-hovered-background-color);
}

.c-pagination--dark .c-pagination__page:--page-active {
  background-color: var(--zd-pagination--dark__page-active-background-color);
}

.c-pagination--dark .c-pagination__page:--page-current {
  background-color: var(--zd-pagination--dark__page-current-background-color);
  color: var(--zd-pagination--dark__page-current-color);
}

.c-pagination--dark .c-pagination__page--gap:--page-hovered,
.c-pagination--dark .c-pagination__page--gap:--page-active,
.c-pagination--dark .c-pagination__page--next:--page-hovered,
.c-pagination--dark .c-pagination__page--next:--page-active,
.c-pagination--dark .c-pagination__page--previous:--page-active,
.c-pagination--dark .c-pagination__page--previous:--page-hovered {
  background-color: transparent;
}

/* stylelint-disable selector-max-specificity */
.c-pagination--dark .c-pagination__page--next:--page-hovered,
.c-pagination--dark .c-pagination__page--next:--page-active,
.c-pagination--dark.is-rtl .c-pagination__page--previous:--page-hovered,
.c-pagination--dark.is-rtl .c-pagination__page--previous:--page-active {
  background-image: var(--zd-pagination--dark__page--next-hovered-background-image);
}

.c-pagination--dark .c-pagination__page--previous:--page-hovered,
.c-pagination--dark .c-pagination__page--previous:--page-active,
.c-pagination--dark.is-rtl .c-pagination__page--next:--page-hovered,
.c-pagination--dark.is-rtl .c-pagination__page--next:--page-active {
  background-image: var(--zd-pagination--dark__page--previous-hovered-background-image);
}
/* stylelint-enable no-descending-specificity, selector-max-specificity */
