/* stylelint-disable at-rule-empty-line-before */

@custom-selector :--page-hovered
  .is-hovered,
  :hover;

@custom-selector :--page-focused
  .is-focused;

@custom-selector :--page-active
  .is-active,
  :active;

@custom-selector :--page-current
  .is-current,
  [aria-current='true'];

@custom-selector :--page-hidden
  .is-hidden,
  [aria-hidden='true'];

/* stylelint-enable at-rule-empty-line-before */
