/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendesk/garden-css-variables';
@import '_selectors';

:root {
  --zd-pagination--custom-accent-color: var(--zd-color-mandy);
  --zd-pagination--custom__page-focused-box-shadow:
    inset 0 0 0 3px
    color(var(--zd-pagination--custom-accent-color) alpha(40%));
}

.c-pagination--custom .c-pagination__page:--page-focused {
  box-shadow: var(--zd-pagination--custom__page-focused-box-shadow);
}
