@import '@zendeskgarden/css-variables';

:root {
  --zd-breadcrumb__item-font-size: 14px;
}

/* 1. <ol> reset. */

.c-breadcrumb {
  display: flex; /* [1] */
  margin: 0; /* [1] */
  padding: 0; /* [1] */
  list-style: none; /* [1] */
  font-size: var(--zd-breadcrumb__item-font-size);
}

.c-breadcrumb.is-rtl {
  direction: rtl;
}
