@import '@zendeskgarden/css-variables';

:root {
  --zd-breadcrumb__item-background:
    no-repeat center / 1em
    var(--zd-breadcrumb__item-background-image);
  --zd-breadcrumb__item-background-image: svg-load('14/next.svg', color: var(--zd-color-grey-400));
  --zd-breadcrumb__item-background-margin: 0 calc(8 / 14 * 1em);
  --zd-breadcrumb__item-background-size: 1em;
  --zd-breadcrumb__item-line-height: calc(20 / 14);
}

.c-breadcrumb__item {
  line-height: var(--zd-breadcrumb__item-line-height);
  white-space: nowrap;
  font-size: inherit;
}

.c-breadcrumb__item + .c-breadcrumb__item::before {
  display: inline-block;
  margin: var(--zd-breadcrumb__item-background-margin);
  background: var(--zd-breadcrumb__item-background);
  width: var(--zd-breadcrumb__item-background-size);
  height: var(--zd-breadcrumb__item-background-size);
  vertical-align: middle;
  content: '';
}

.c-breadcrumb.is-rtl .c-breadcrumb__item::before {
  transform: rotate(180deg);
}
