@import '@zendeskgarden/css-variables';

:root {
  --zd-breadcrumb__item--current-color: var(--zd-color-grey-600);
}

.c-breadcrumb__item.is-current {
  color: var(--zd-breadcrumb__item--current-color);
}

/* stylelint-disable selector-max-specificity */
.c-breadcrumb__item.is-current > :any-link,
.c-breadcrumb__item.is-current > :any-link:hover,
.c-breadcrumb__item.is-current > :any-link:focus {
  color: inherit;
}
/* stylelint-enable selector-max-specificity */
