@import '@zendeskgarden/css-variables';

:root {
  --zd-breadcrumb__item--current-color: var(--zd-color-grey-600);
}

@custom-selector :--breadcrumb-current
  .is-current,
  [aria-current='true'];

.c-breadcrumb__item:--breadcrumb-current {
  color: var(--zd-breadcrumb__item--current-color);
}
