/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-table--custom .c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-hovered,.c-table--custom .c-table__row:not(.c-table__row--header):not(.c-table__row--group):hover{
  background-color:rgba(235, 73, 98, .15);
}

.c-table--custom .c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-focused .c-table__row__cell:first-of-type,.c-table--custom .c-table__row:not(.c-table__row--header):not(.c-table__row--group):focus .c-table__row__cell:first-of-type{
  box-shadow:inset 3px 0 0 0 #eb4962;
}

.c-table--custom .c-table__row:not(.c-table__row--header).is-selected,.c-table--custom .c-table__row:not(.c-table__row--header)[aria-selected]{
  border-bottom-color:rgba(235, 73, 98, .5);
  background-color:rgba(235, 73, 98, .35);
}

.c-table--custom .c-table__row__cell__sortable:after{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23eb4962' fill='%23eb4962'%3E%3Cpath fill='currentColor' d='M10 5H2a.5.5 0 01-.46-.31.47.47 0 01.11-.54L5.29.5A1 1 0 016.7.5l3.65 3.65a.49.49 0 01.11.54A.51.51 0 0110 5z'/%3E%3Cpath d='M2 7a.5.5 0 00-.46.31.47.47 0 00.11.54L5.3 11.5a1 1 0 001.41 0l3.65-3.65a.49.49 0 00.11-.54A.53.53 0 0010 7z'/%3E%3C/svg%3E");
}

.c-table--custom .c-table__row__cell__sortable.is-focused,.c-table--custom .c-table__row__cell__sortable.is-hovered,.c-table--custom .c-table__row__cell__sortable:focus,.c-table--custom .c-table__row__cell__sortable:hover{
  color:#eb4962;
}

.c-table--custom .c-table__row__cell__sortable.is-ascending:after{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='%23eb4962' fill='rgba(235, 73, 98, 0.35)'%3E%3Cpath fill='currentColor' d='M10 5H2a.5.5 0 01-.46-.31.47.47 0 01.11-.54L5.29.5A1 1 0 016.7.5l3.65 3.65a.49.49 0 01.11.54A.51.51 0 0110 5z'/%3E%3Cpath d='M2 7a.5.5 0 00-.46.31.47.47 0 00.11.54L5.3 11.5a1 1 0 001.41 0l3.65-3.65a.49.49 0 00.11-.54A.53.53 0 0010 7z'/%3E%3C/svg%3E");
}

.c-table--custom .c-table__row__cell__sortable.is-descending:after{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' color='rgba(235, 73, 98, 0.35)' fill='%23eb4962'%3E%3Cpath fill='currentColor' d='M10 5H2a.5.5 0 01-.46-.31.47.47 0 01.11-.54L5.29.5A1 1 0 016.7.5l3.65 3.65a.49.49 0 01.11.54A.51.51 0 0110 5z'/%3E%3Cpath d='M2 7a.5.5 0 00-.46.31.47.47 0 00.11.54L5.3 11.5a1 1 0 001.41 0l3.65-3.65a.49.49 0 00.11-.54A.53.53 0 0010 7z'/%3E%3C/svg%3E");
}

.c-table--custom.is-rtl .c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-focused .c-table__row__cell:first-of-type,.c-table--custom.is-rtl .c-table__row:not(.c-table__row--header):not(.c-table__row--group):focus .c-table__row__cell:first-of-type{
  box-shadow:inset -3px 0 0 0 #eb4962;
}
