/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-table{
  display:table;
  border:none;
  width:100%;
  table-layout:fixed;
  border-collapse:collapse;
  border-spacing:0;
  line-height:1.42857;
  color:#2f3941;
  font-size:14px;
}

.c-table__caption{
  display:table-caption;
  text-align:left;
}

.c-table__row{
  display:table-row;
  -webkit-transition:background-color .1s ease-in-out;
  transition:background-color .1s ease-in-out;
  border-bottom:1px solid #e9ebed;
  height:40px;
  vertical-align:top;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.c-table__row--group{
  height:32px;
  line-height:1.66667;
  font-size:12px;
}

.c-table__row--header{
  border-bottom-color:#d8dcde;
  height:48px;
  vertical-align:bottom;
  font-weight:600;
}

.c-table__row--group,.c-table__row--stripe{
  background-color:#f8f9f9;
}

.c-table__row__cell{
  display:table-cell;
  -webkit-transition:border-color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:border-color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out;
  transition:border-color .25s ease-in-out,box-shadow .1s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  padding:10px 12px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

.c-table__row__cell--min{
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  padding-right:0;
  width:1em;
}

.c-table__row__cell--truncate{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.c-table__row--group .c-table__row__cell{
  padding:6px 10px;
}

.c-table__row--header .c-table__row__cell:not(.c-table__row__cell--overflow){
  padding-top:14px;
  padding-bottom:14px;
  text-align:left;
}

.c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-hovered,.c-table__row:not(.c-table__row--header):not(.c-table__row--group):hover{
  background-color:#edf7ff;
}

.c-table__row:focus{
  outline:none;
}

.c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-focused .c-table__row__cell:first-of-type,.c-table__row:not(.c-table__row--header):not(.c-table__row--group):focus .c-table__row__cell:first-of-type{
  -webkit-box-shadow:inset 3px 0 0 0 #1f73b7;
          box-shadow:inset 3px 0 0 0 #1f73b7;
}

.c-table__row:not(.c-table__row--header).is-selected,.c-table__row:not(.c-table__row--header)[aria-selected]{
  border-bottom-color:#adcce4;
  background-color:#cee2f2;
}

.c-table__row__cell--overflow{
  padding:0;
  width:2em;
  height:inherit;
}

.c-table__row__cell__overflow{
  display:block;
  position:relative;
  z-index:0;
  border:none;
  background-color:transparent;
  cursor:pointer;
  padding:0;
  height:100%;
  text-decoration:none;
  font-size:inherit;
}

.c-table__row__cell__overflow,.c-table__row__cell__overflow:after,.c-table__row__cell__overflow:before{
  -webkit-transition:opacity .25s ease-in-out,background-color .1s ease-in-out;
  transition:opacity .25s ease-in-out,background-color .1s ease-in-out;
}

.c-table__row__cell__overflow:after,.c-table__row__cell__overflow:before{
  position:absolute;
  top:calc(20px - 1em);
  right:0;
  left:0;
  -webkit-transform:rotate(90deg);
          transform:rotate(90deg);
  border-radius:50%;
  background-repeat:no-repeat;
  background-position:50%;
  width:2em;
  height:2em;
  content:"";
}

.c-table__row__cell__overflow:before{
  opacity:1;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' color='%2368737D'%3E%3Cg fill='currentColor'%3E%3Ccircle cx='7' cy='13' r='2'/%3E%3Ccircle cx='13' cy='13' r='2'/%3E%3Ccircle cx='19' cy='13' r='2'/%3E%3C/g%3E%3C/svg%3E");
}

.c-table__row__cell__overflow:after{
  opacity:0;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' color='%232F3941'%3E%3Cg fill='currentColor'%3E%3Ccircle cx='7' cy='13' r='2'/%3E%3Ccircle cx='13' cy='13' r='2'/%3E%3Ccircle cx='19' cy='13' r='2'/%3E%3C/g%3E%3C/svg%3E");
}

.c-table__row--header .c-table__row__cell__overflow:after,.c-table__row--header .c-table__row__cell__overflow:before{
  top:calc(24px - 1em);
}

.c-table--lg .c-table__row__cell__overflow:after,.c-table--lg .c-table__row__cell__overflow:before{
  top:calc(32px - 1em);
}

.c-table--sm .c-table__row__cell__overflow:after,.c-table--sm .c-table__row__cell__overflow:before{
  top:calc(16px - 1em);
}

.c-table__row__cell__overflow.is-active:before,.c-table__row__cell__overflow.is-focused:before,.c-table__row__cell__overflow.is-hovered:before,.c-table__row__cell__overflow:hover:before{
  opacity:0;
}

.c-table__row__cell__overflow.is-active:after,.c-table__row__cell__overflow.is-focused:after,.c-table__row__cell__overflow.is-hovered:after,.c-table__row__cell__overflow:hover:after{
  opacity:1;
}

.c-table__row__cell__overflow:focus{
  outline:none;
}

.c-table__row__cell__overflow.is-focused:after,.c-table__row__cell__overflow.is-focused:before{
  background-color:hsla(209,9%,45%,.15);
}

.c-table__row__cell__overflow.is-active{
  z-index:1;
}

.c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-focused .c-table__row__cell__overflow,.c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-hovered .c-table__row__cell__overflow,.c-table__row:not(.c-table__row--header):not(.c-table__row--group):focus .c-table__row__cell__overflow,.c-table__row:not(.c-table__row--header):not(.c-table__row--group):hover .c-table__row__cell__overflow,.c-table__row__cell__overflow.is-active{
  opacity:1;
}

.c-table__row:not(.c-table__row--header) .c-table__row__cell__overflow{
  opacity:0;
}

.c-table--lg .c-table__row--header .c-table__row__cell__overflow:after,.c-table--lg .c-table__row--header .c-table__row__cell__overflow:before{
  top:calc(36px - 1em);
}

.c-table--sm .c-table__row--header .c-table__row__cell__overflow:after,.c-table--sm .c-table__row--header .c-table__row__cell__overflow:before{
  top:calc(20px - 1em);
}

.c-table__row__cell--overflow .c-menu{
  top:calc(21px + 1em);
  right:calc(100% - 2em);
}

.c-table__row--header .c-table__row__cell--overflow .c-menu{
  top:calc(25px + 1em);
}

.c-table--lg .c-table__row__cell--overflow .c-menu{
  top:calc(33px + 1em);
}

.c-table--sm .c-table__row__cell--overflow .c-menu{
  top:calc(17px + 1em);
}

.c-table--lg .c-table__row--header .c-table__row__cell--overflow .c-menu{
  top:calc(37px + 1em);
}

.c-table--sm .c-table__row--header .c-table__row__cell--overflow .c-menu{
  top:calc(21px + 1em);
}

.c-table__row__cell__sortable{
  position:relative;
  border:none;
  background-color:transparent;
  cursor:pointer;
  padding:0;
  padding-right:17px;
  text-decoration:none;
  color:inherit;
  font-family:inherit;
  font-size:inherit;
  font-weight:600;
}

.c-table__row__cell__sortable:before{
  position:absolute;
  top:0;
  right:0;
  -webkit-transition:opacity .25s ease-in-out;
  transition:opacity .25s ease-in-out;
  opacity:0;
  background-repeat:no-repeat;
  background-position:50%;
  width:14px;
  height:100%;
  content:"";
}

.c-table__row__cell__sortable.is-ascending:before{
  opacity:1;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2368737D' fill='%2387929D'%3E%3Cpath fill='currentColor' d='M3.65 5.188l2.96-3.7a.5.5 0 0 1 .78 0l2.96 3.7A.5.5 0 0 1 9.96 6H4.04a.5.5 0 0 1-.39-.812z'/%3E%3Cpath d='M3.65 8.812l2.96 3.7a.5.5 0 0 0 .78 0l2.96-3.7A.5.5 0 0 0 9.96 8H4.04a.5.5 0 0 0-.39.812z'/%3E%3C/svg%3E");
}

.c-table__row__cell__sortable.is-descending:before{
  opacity:1;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2387929D' fill='%2368737D'%3E%3Cpath fill='currentColor' d='M3.65 5.188l2.96-3.7a.5.5 0 0 1 .78 0l2.96 3.7A.5.5 0 0 1 9.96 6H4.04a.5.5 0 0 1-.39-.812z'/%3E%3Cpath d='M3.65 8.812l2.96 3.7a.5.5 0 0 0 .78 0l2.96-3.7A.5.5 0 0 0 9.96 8H4.04a.5.5 0 0 0-.39.812z'/%3E%3C/svg%3E");
}

.c-table__row__cell--truncate .c-table__row__cell__sortable{
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
}

.c-table__row__cell__sortable.is-hovered,.c-table__row__cell__sortable:hover{
  text-decoration:none;
}

.c-table .c-table__row__cell__sortable.is-focused,.c-table .c-table__row__cell__sortable.is-hovered,.c-table .c-table__row__cell__sortable:focus,.c-table .c-table__row__cell__sortable:hover{
  color:#1f73b7;
}

.c-table__row__cell__sortable.is-focused:before,.c-table__row__cell__sortable.is-hovered:before,.c-table__row__cell__sortable:focus:before,.c-table__row__cell__sortable:hover:before{
  opacity:1;
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23337FBD' fill='%23337FBD'%3E%3Cpath fill='currentColor' d='M3.65 5.188l2.96-3.7a.5.5 0 0 1 .78 0l2.96 3.7A.5.5 0 0 1 9.96 6H4.04a.5.5 0 0 1-.39-.812z'/%3E%3Cpath d='M3.65 8.812l2.96 3.7a.5.5 0 0 0 .78 0l2.96-3.7A.5.5 0 0 0 9.96 8H4.04a.5.5 0 0 0-.39.812z'/%3E%3C/svg%3E");
}

.c-table__row__cell__sortable.is-ascending.is-focused:before,.c-table__row__cell__sortable.is-ascending.is-hovered:before,.c-table__row__cell__sortable.is-ascending:focus:before,.c-table__row__cell__sortable.is-ascending:hover:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%231F73B7' fill='rgba(31, 115, 183, 0.5)'%3E%3Cpath fill='currentColor' d='M3.65 5.188l2.96-3.7a.5.5 0 0 1 .78 0l2.96 3.7A.5.5 0 0 1 9.96 6H4.04a.5.5 0 0 1-.39-.812z'/%3E%3Cpath d='M3.65 8.812l2.96 3.7a.5.5 0 0 0 .78 0l2.96-3.7A.5.5 0 0 0 9.96 8H4.04a.5.5 0 0 0-.39.812z'/%3E%3C/svg%3E");
}

.c-table__row__cell__sortable.is-descending.is-focused:before,.c-table__row__cell__sortable.is-descending.is-hovered:before,.c-table__row__cell__sortable.is-descending:focus:before,.c-table__row__cell__sortable.is-descending:hover:before{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='rgba(31, 115, 183, 0.5)' fill='%231F73B7'%3E%3Cpath fill='currentColor' d='M3.65 5.188l2.96-3.7a.5.5 0 0 1 .78 0l2.96 3.7A.5.5 0 0 1 9.96 6H4.04a.5.5 0 0 1-.39-.812z'/%3E%3Cpath d='M3.65 8.812l2.96 3.7a.5.5 0 0 0 .78 0l2.96-3.7A.5.5 0 0 0 9.96 8H4.04a.5.5 0 0 0-.39.812z'/%3E%3C/svg%3E");
}

.c-table__row__cell__sortable:focus{
  outline:none;
  text-decoration:none;
}

.c-table__row__cell__sortable.is-focused{
  text-decoration:underline;
}

.c-table--lg .c-table__row--header{
  height:72px;
}

.c-table--lg .c-table__row--header .c-table__row__cell:not(.c-table__row__cell--overflow){
  padding-top:26px;
  padding-bottom:26px;
}

.c-table--sm .c-table__row--header{
  height:40px;
}

.c-table--sm .c-table__row--header .c-table__row__cell:not(.c-table__row__cell--overflow){
  padding-top:10px;
  padding-bottom:10px;
}

.c-table--lg .c-table__row:not(.c-table__row--header):not(.c-table__row--group){
  height:64px;
}

.c-table--lg .c-table__row:not(.c-table__row--header):not(.c-table__row--group) .c-table__row__cell:not(.c-table__row__cell--overflow){
  padding-top:22px;
  padding-bottom:22px;
}

.c-table--sm .c-table__row:not(.c-table__row--header):not(.c-table__row--group){
  height:32px;
}

.c-table--sm .c-table__row:not(.c-table__row--header):not(.c-table__row--group) .c-table__row__cell:not(.c-table__row__cell--overflow){
  padding-top:6px;
  padding-bottom:6px;
}

.c-table.is-rtl{
  direction:rtl;
}

.c-table.is-rtl .c-table__caption{
  text-align:right;
}

.c-table.is-rtl .c-table__row__cell--min{
  padding-right:12px;
  padding-left:0;
}

.c-table.is-rtl .c-table__row--header .c-table__row__cell:not(.c-table__row__cell--overflow){
  text-align:right;
}

.c-table.is-rtl .c-table__row__cell__sortable{
  padding-right:0;
  padding-left:17px;
}

.c-table.is-rtl .c-table__row__cell__sortable:before{
  right:auto;
  left:0;
}

.c-table.is-rtl .c-table__row__cell__overflow .c-menu{
  right:auto;
  left:calc(100% - 2em);
}

.c-table.is-rtl .c-table__row:not(.c-table__row--header):not(.c-table__row--group).is-focused .c-table__row__cell:first-of-type,.c-table.is-rtl .c-table__row:not(.c-table__row--header):not(.c-table__row--group):focus .c-table__row__cell:first-of-type{
  -webkit-box-shadow:inset -3px 0 0 0 #1f73b7;
          box-shadow:inset -3px 0 0 0 #1f73b7;
}
