@import 'zd-css-variables';

:root {
  --zd-label--error-background-color: var(--zd-color-flamingo);
  --zd-label--error-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-label--error-background-color) alpha(40%));
  --zd-label--success-background-color: var(--zd-color-chateau-green);
  --zd-label--success-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-label--success-background-color) alpha(40%));
  --zd-label--warning-background-color: var(--zd-color-marigold);
  --zd-label--warning-focused-box-shadow:
    0 0 0 2px
    color(var(--zd-label--warning-background-color) alpha(40%));
}

.c-label--error {
  background-color: var(--zd-label--error-background-color);
}

.c-label--error:--label-focused {
  box-shadow: var(--zd-label--error-focused-box-shadow);
}

.c-label--success {
  background-color: var(--zd-label--success-background-color);
}

.c-label--success:--label-focused {
  box-shadow: var(--zd-label--success-focused-box-shadow);
}

.c-label--warning {
  background-color: var(--zd-label--warning-background-color);
}

.c-label--warning:--label-focused {
  box-shadow: var(--zd-label--warning-focused-box-shadow);
}
