/* stylelint-disable no-unsupported-browser-features */
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-label__remove-background-image: svg-load('14-remove.svg', color: var(--zd-label-color));
  --zd-label__remove-background:
    no-repeat
    center
    var(--zd-label__remove-background-image)
    transparent; /* [1] */
  --zd-label__remove-margin: calc(var(--zd-spacing-sm) * -1);
  --zd-label__remove-opacity: .7;
  --zd-label__remove-size: var(--zd-spacing);
  --zd-label__remove-transition: opacity .25s ease-in-out;
  --zd-label--lg__remove-background-size: var(--zd-font-size-delta);
  --zd-label--lg__remove-size: var(--zd-spacing-lg);
  --zd-label--sm__remove-background-size: var(--zd-font-size-zeta);
  --zd-label--sm__remove-margin: calc(var(--zd-label__remove-margin) / 2);
  --zd-label--sm__remove-size: 15px;
  /* stylelint-enable max-line-length */
}

/* 1. Reset for <button> element.
 * 2. Reset for text content. */

.c-label__remove {
  display: inline-block;
  transition: var(--zd-label__remove-transition);
  float: right;
  opacity: var(--zd-label__remove-opacity);
  margin-right: var(--zd-label__remove-margin);
  border: 0; /* [1] */
  border-radius: var(--zd-label-border-radius);
  background: var(--zd-label__remove-background);
  cursor: pointer;
  padding: 0; /* [1] */
  width: var(--zd-label__remove-size);
  height: var(--zd-label__remove-size);
  vertical-align: middle;
  font-size: 0; /* [2] */
}

@custom-selector :--label-hovered
  .is-hovered,
  :hover;

.c-label__remove:--label-hovered {
  opacity: 1;
}

.c-label__remove:focus {
  outline: none;
}

.c-label--lg .c-label__remove {
  background-size: var(--zd-label--lg__remove-background-size);
  width: var(--zd-label--lg__remove-size);
  height: var(--zd-label--lg__remove-size);
}

.c-label--sm .c-label__remove {
  margin-right: var(--zd-label--sm__remove-margin);
  background-size: var(--zd-label--sm__remove-background-size);
  width: var(--zd-label--sm__remove-size);
  height: var(--zd-label--sm__remove-size);
}

.c-label--pill .c-label__remove {
  border-radius: 50%;
}

.c-label--round .c-label__remove {
  display: none;
}

.c-label.is-rtl .c-label__remove {
  float: left;
  margin-right: 0;
  margin-left: var(--zd-label__remove-margin);
}

.c-label--sm.is-rtl .c-label__remove {
  margin-left: var(--zd-label--sm__remove-margin);
}
/* stylelint-enable no-unsupported-browser-features */
