@import 'zd-css-variables';

:root {
  --zd-label--round-min-width: 20px;
}

.c-label--pill {
  border-radius: 100px;
}

.c-label--round {
  border-radius: 50%;
  padding: 0;
  min-width: var(--zd-label--round-min-width);
  text-align: center;
}
