.o-loader--dots {
  height: .9em;
}

.o-loader--dots circle {
  transform: translateZ(0); /* trigger GPU acceleration */
  animation-duration: 1250ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* stylelint-disable no-unknown-animations */
.o-loader--dots circle:nth-child(1) {
  animation-name: zd-loader--dots__one;
}

.o-loader--dots circle:nth-child(2) {
  animation-name: zd-loader--dots__two;
}

.o-loader--dots circle:nth-child(3) {
  animation-name: zd-loader--dots__three;
}
/* stylelint-enable no-unknown-animations */
