/* stylelint-disable rule-empty-line-before */
@keyframes zd-loader--dots__one {
  0% { transform: translate(0, 5px); }
  3% { transform: translate(1px, -5px); }
  6% { transform: translate(3px, -15px); }
  8% { transform: translate(5px, -18px); }
  9% { transform: translate(7px, -21px); }
  11% { transform: translate(8px, -22px); }
  13% { transform: translate(9px, -23px); }
  16% { transform: translate(12px, -25px); }
  18% { transform: translate(13px, -26px); }
  23% { transform: translate(18px, -26px); }
  24% { transform: translate(19px, -25px); }
  28% { transform: translate(22px, -23px); }
  31% { transform: translate(24px, -21px); }
  33% { transform: translate(26px, -18px); }
  34% { transform: translate(28px, -14px); }
  36% { transform: translate(29px, -12px); }
  38% { transform: translate(30px, -5px); }
  39% { transform: translate(31px, 5px); }
  54% { transform: translate(31px, 3px); }
  59% { transform: translate(33px); }
  61% { transform: translate(43px); }
  63% { transform: translate(48px); }
  64% { transform: translate(51px); }
  66% { transform: translate(53px); }
  68% { transform: translate(55px); }
  69% { transform: translate(57px); }
  76% { transform: translate(60px); }
  81% { transform: translate(61px); }
  83% { transform: translate(62px); }
  100% { transform: translate(62px); }
}

@keyframes zd-loader--dots__two {
  4% { transform: translate(0); }
  6% { transform: translate(-1px); }
  8% { transform: translate(-2px); }
  9% { transform: translate(-5px); }
  11% { transform: translate(-7px); }
  13% { transform: translate(-12px); }
  14% { transform: translate(-17px); }
  16% { transform: translate(-19px); }
  18% { transform: translate(-22px); }
  19% { transform: translate(-25px); }
  21% { transform: translate(-26px); }
  23% { transform: translate(-27px); }
  24% { transform: translate(-28px); }
  26% { transform: translate(-29px); }
  29% { transform: translate(-30px); }
  33% { transform: translate(-31px); }
  89% { transform: translate(-31px); }
  91% { transform: translate(-31px, 1px); }
  94% { transform: translate(-31px, 2px); }
  98% { transform: translate(-31px, 3px); }
  99% { transform: translate(-31px, 4px); }
  100% { transform: translate(-31px, 5px); }
}

@keyframes zd-loader--dots__three {
  39% { transform: translate(0); }
  44% { transform: translate(0, 1px); }
  46% { transform: translate(0, 2px); }
  48% { transform: translate(0, 3px); }
  49% { transform: translate(0, 4px); }
  51% { transform: translate(0, 5px); }
  53% { transform: translate(-1px, -6px); }
  54% { transform: translate(-2px, -13px); }
  56% { transform: translate(-3px, -15px); }
  58% { transform: translate(-5px, -19px); }
  59% { transform: translate(-7px, -21px); }
  61% { transform: translate(-8px, -22px); }
  63% { transform: translate(-9px, -24px); }
  64% { transform: translate(-11px, -25px); }
  66% { transform: translate(-12px, -26px); }
  74% { transform: translate(-19px, -26px); }
  76% { transform: translate(-20px, -25px); }
  78% { transform: translate(-22px, -24px); }
  81% { transform: translate(-24px, -21px); }
  83% { transform: translate(-26px, -19px); }
  84% { transform: translate(-28px, -15px); }
  86% { transform: translate(-29px, -13px); }
  88% { transform: translate(-30px, -6px); }
  89% { transform: translate(-31px, 5px); }
  91% { transform: translate(-31px, 4px); }
  93% { transform: translate(-31px, 3px); }
  94% { transform: translate(-31px, 2px); }
  98% { transform: translate(-31px, 1px); }
  100% { transform: translate(-31px); }
}

/* stylelint-disable declaration-block-single-line-max-declarations */
@keyframes zd-loader--spinner {
  0% { stroke-dasharray: 0 250; transform: rotate(-90deg); }
  1% { stroke-dasharray: 0 250; transform: rotate(-90deg); }
  3% { stroke-dasharray: 0 250; transform: rotate(-88deg); }
  8% { stroke-dasharray: 0 250; transform: rotate(-80deg); }
  9% { stroke-dasharray: 1 250; transform: rotate(-76deg); }
  11% { stroke-dasharray: 1 250; transform: rotate(-75deg); }
  13% { stroke-dasharray: 2 250; transform: rotate(-70deg); }
  14% { stroke-dasharray: 2 250; transform: rotate(-65deg); }
  16% { stroke-dasharray: 3 250; transform: rotate(-63deg); }
  18% { stroke-dasharray: 4 250; transform: rotate(-57deg); }
  19% { stroke-dasharray: 6 250; transform: rotate(-51deg); }
  21% { stroke-dasharray: 7 250; transform: rotate(-48deg); }
  23% { stroke-dasharray: 8 250; transform: rotate(-41deg); }
  24% { stroke-dasharray: 11 250; transform: rotate(-33deg); }
  26% { stroke-dasharray: 12 250; transform: rotate(-29deg); }
  28% { stroke-dasharray: 15 250; transform: rotate(-20deg); }
  29% { stroke-dasharray: 19 250; transform: rotate(-10deg); }
  31% { stroke-dasharray: 21 250; transform: rotate(-4deg); }
  33% { stroke-dasharray: 25 250; transform: rotate(8deg); }
  34% { stroke-dasharray: 30 250; transform: rotate(21deg); }
  36% { stroke-dasharray: 33 250; transform: rotate(28deg); }
  38% { stroke-dasharray: 39 250; transform: rotate(43deg); }
  39% { stroke-dasharray: 45 250; transform: rotate(59deg); }
  41% { stroke-dasharray: 49 250; transform: rotate(67deg); }
  43% { stroke-dasharray: 55 250; transform: rotate(84deg); }
  44% { stroke-dasharray: 61 250; transform: rotate(99deg); }
  46% { stroke-dasharray: 64 250; transform: rotate(106deg); }
  48% { stroke-dasharray: 69 250; transform: rotate(120deg); }
  49% { stroke-dasharray: 73 250; transform: rotate(133deg); }
  51% { stroke-dasharray: 74 250; transform: rotate(139deg); }
  53% { stroke-dasharray: 77 250; transform: rotate(150deg); }
  54% { stroke-dasharray: 79 250; transform: rotate(161deg); }
  59% { stroke-dasharray: 80 250; transform: rotate(165deg); }
  61% { stroke-dasharray: 81 250; transform: rotate(186deg); }
  63% { stroke-dasharray: 80 250; transform: rotate(193deg); }
  64% { stroke-dasharray: 79 250; transform: rotate(200deg); }
  66% { stroke-dasharray: 78 250; transform: rotate(203deg); }
  68% { stroke-dasharray: 75 250; transform: rotate(209deg); }
  69% { stroke-dasharray: 71 250; transform: rotate(215deg); }
  71% { stroke-dasharray: 69 250; transform: rotate(217deg); }
  73% { stroke-dasharray: 63 250; transform: rotate(222deg); }
  74% { stroke-dasharray: 56 250; transform: rotate(227deg); }
  76% { stroke-dasharray: 52 250; transform: rotate(229deg); }
  78% { stroke-dasharray: 42 250; transform: rotate(233deg); }
  79% { stroke-dasharray: 33 250; transform: rotate(238deg); }
  81% { stroke-dasharray: 28 250; transform: rotate(239deg); }
  83% { stroke-dasharray: 21 250; transform: rotate(243deg); }
  84% { stroke-dasharray: 15 250; transform: rotate(247deg); }
  86% { stroke-dasharray: 13 250; transform: rotate(248deg); }
  88% { stroke-dasharray: 9 250; transform: rotate(251deg); }
  89% { stroke-dasharray: 6 250; transform: rotate(255deg); }
  91% { stroke-dasharray: 5 250; transform: rotate(256deg); }
  93% { stroke-dasharray: 4 250; transform: rotate(259deg); }
  94% { stroke-dasharray: 2 250; transform: rotate(261deg); }
  96% { stroke-dasharray: 2 250; transform: rotate(263deg); }
  98% { stroke-dasharray: 1 250; transform: rotate(265deg); }
  100% { stroke-dasharray: 0 250; transform: rotate(270deg); }
}
/* stylelint-enable
    rule-empty-line-before,
    declaration-block-single-line-max-declarations */
