/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';
@import '_selectors';

:root {
  --zd-menu--custom-accent-color: var(--zd-color-mandy);
  --zd-menu--custom__item--add-color: var(--zd-menu--custom-accent-color);
  --zd-menu--custom__item--add-background-image: svg-load('16/plus-stroke.svg', color: var(--zd-menu--custom-accent-color));
  --zd-menu--custom__item--icon-background-image: svg-load('16/check-lg-stroke.svg', color: var(--zd-menu--custom-accent-color));
  --zd-menu--custom__item-hovered-background-color: color-mod(var(--zd-menu--custom-accent-color) alpha(15%));
}

.c-menu--custom .c-menu__item:--menu-checked::before {
  background-image: var(--zd-menu--custom__item--icon-background-image);
}

.c-menu--custom .c-menu__item--add:not(:--menu-disabled) {
  color: var(--zd-menu--custom__item--add-color);
}

.c-menu--custom .c-menu__item.c-menu__item--add::before {
  background-image: var(--zd-menu--custom__item--add-background-image);
}

.c-menu--custom .c-menu__item:--menu-hovered,
.c-menu--custom .c-menu__item:--menu-focused {
  background-color: var(--zd-menu--custom__item-hovered-background-color);
}
