/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

@import '@zendeskgarden/css-variables';
@import '_selectors';

:root {
  --zd-menu--custom-accent-color: var(--zd-color-mandy);
  --zd-menu--custom__item--add-color: var(--zd-menu--custom-accent-color);
  --zd-menu--custom__item--add-background-image: svg-load('14/plus.svg', color: var(--zd-menu--custom-accent-color));
  --zd-menu--custom__item--icon-background-image: svg-load('14/checkmark-lg.svg', color: var(--zd-menu--custom-accent-color));
  --zd-menu--custom__item--next-background-image: svg-load('14/next.svg', color: var(--zd-menu--custom-accent-color));
  --zd-menu--custom__item--previous-background-image: svg-load('14/previous.svg', color: var(--zd-menu--custom-accent-color));
  --zd-menu--custom__item-focused-box-shadow-color: color(var(--zd-menu--custom-accent-color) alpha(35%));
  --zd-menu--custom__item-focused-box-shadow:
    inset 0 3px 0 var(--zd-menu--custom__item-focused-box-shadow-color),
    inset 0 -3px 0 var(--zd-menu--custom__item-focused-box-shadow-color);
  --zd-menu--custom__item-hovered-background-color: color(var(--zd-menu--custom-accent-color) alpha(15%));
}

.c-menu--custom .c-menu__item::before {
  background-image: var(--zd-menu--custom__item--icon-background-image);
}

.c-menu--custom .c-menu__item.c-menu__item--add {
  color: var(--zd-menu--custom__item--add-color);
}

.c-menu--custom .c-menu__item.c-menu__item--add::before {
  background-image: var(--zd-menu--custom__item--add-background-image);
}

.c-menu--custom .c-menu__item.c-menu__item--next::before {
  background-image: var(--zd-menu--custom__item--next-background-image);
}

.c-menu--custom .c-menu__item.c-menu__item--previous::before {
  background-image: var(--zd-menu--custom__item--previous-background-image);
}

.c-menu--custom .c-menu__item:--menu-hovered,
.c-menu--custom .c-menu__item:--menu-focused {
  background-color: var(--zd-menu--custom__item-hovered-background-color);
}

.c-menu--custom .c-menu__item:--menu-focused {
  box-shadow: var(--zd-menu--custom__item-focused-box-shadow);
}
