.c-tag{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -ms-flex-wrap:nowrap;
      flex-wrap:nowrap;
  -webkit-transition:-webkit-box-shadow .1s ease-in-out;
  transition:-webkit-box-shadow .1s ease-in-out;
  transition:box-shadow .1s ease-in-out;
  transition:box-shadow .1s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  border:0;
  border-radius:2px;
  background-color:#30aabc;
  padding:0 .83333em;
  max-width:100%;
  height:20px;
  overflow:hidden;
  text-decoration:none;
  line-height:1.66667;
  font-size:12px;
  font-weight:400;
}
.c-tag,.c-tag:hover{
  color:#fff;
}
.c-tag.is-focused,.c-tag:focus{
  outline:0;
  -webkit-box-shadow:0 0 0 2px rgba(48,170,188,.4);
          box-shadow:0 0 0 2px rgba(48,170,188,.4);
  text-decoration:none;
}
.c-tag.is-rtl{
  direction:rtl;
}
.c-tag>*{
  min-width:2em;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.c-tag.c-tag--light{
  background-color:#f3f3f3;
  color:#777;
  font-weight:600;
}
.c-tag.c-tag--light:hover{
  color:#777;
}
.c-tag.c-tag--light.is-focused,.c-tag.c-tag--light:focus{
  -webkit-box-shadow:0 0 0 2px hsla(0,0%,73%,.4);
          box-shadow:0 0 0 2px hsla(0,0%,73%,.4);
}
.c-tag.c-tag--dark{
  background-color:#03363d;
}
.c-tag.c-tag--dark.is-focused,.c-tag.c-tag--dark:focus{
  -webkit-box-shadow:0 0 0 2px rgba(86,119,122,.4);
          box-shadow:0 0 0 2px rgba(86,119,122,.4);
}
.c-tag.c-tag--error{
  background-color:#eb6651;
}
.c-tag.c-tag--error.is-focused,.c-tag.c-tag--error:focus{
  -webkit-box-shadow:0 0 0 2px hsla(8,79%,62%,.4);
          box-shadow:0 0 0 2px hsla(8,79%,62%,.4);
}
.c-tag.c-tag--success{
  background-color:#16ba52;
}
.c-tag.c-tag--success.is-focused,.c-tag.c-tag--success:focus{
  -webkit-box-shadow:0 0 0 2px rgba(22,186,82,.4);
          box-shadow:0 0 0 2px rgba(22,186,82,.4);
}
.c-tag.c-tag--warning{
  background-color:#ffc800;
}
.c-tag.c-tag--warning.is-focused,.c-tag.c-tag--warning:focus{
  -webkit-box-shadow:0 0 0 2px rgba(255,200,0,.4);
          box-shadow:0 0 0 2px rgba(255,200,0,.4);
}
.c-tag--lg{
  border-radius:4px;
  height:30px;
  line-height:2.5;
}
.c-tag--sm{
  padding:0 .6em;
  height:15px;
  line-height:1.5;
  font-size:10px;
}
.c-tag--round.c-tag--sm,.c-tag--round.c-tag--sm>*{
  min-width:15px;
}
.c-tag--round.c-tag--lg,.c-tag--round.c-tag--lg>*{
  min-width:30px;
}
.c-tag--pill{
  border-radius:100px;
}
.c-tag--round{
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  border-radius:50%;
  padding:0;
  min-width:20px;
}
.c-tag--round>*{
  min-width:20px;
  text-align:center;
}
.c-tag__remove{
  display:inline-block;
  -ms-flex-negative:0;
      flex-shrink:0;
  -webkit-transition:opacity .25s ease-in-out;
  transition:opacity .25s ease-in-out;
  opacity:.7;
  margin-right:-10px;
  border:0;
  border-radius:2px;
  background:no-repeat 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23FFF'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M4 10l6-6M4 4l6 6'/%3E%3C/svg%3E") transparent;
  cursor:pointer;
  padding:0;
  width:20px;
  height:20px;
  vertical-align:middle;
  font-size:0;
}
.c-tag__remove.is-hovered,.c-tag__remove:hover{
  opacity:1;
}
.c-tag__remove:focus{
  outline:none;
}
.c-tag--light .c-tag__remove{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23777'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M4 10l6-6M4 4l6 6'/%3E%3C/svg%3E");
}
.c-tag--lg .c-tag__remove{
  background-size:16px;
  width:30px;
  height:30px;
}
.c-tag--sm .c-tag__remove{
  margin-right:-5px;
  background-size:11px;
  width:15px;
  height:15px;
}
.c-tag--pill .c-tag__remove{
  border-radius:50%;
}
.c-tag--round .c-tag__remove{
  display:none;
}
.c-tag.is-rtl .c-tag__remove{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
          flex-direction:row-reverse;
  margin-right:0;
  margin-left:-10px;
}
.c-tag--sm.is-rtl .c-tag__remove{
  margin-left:-5px;
}
.c-tag__avatar{
  display:inline-block;
  -ms-flex-negative:0;
      flex-shrink:0;
  margin:2px 5px 2px -7.9px;
  border-radius:2px;
  width:16px;
  min-width:16px;
  height:16px;
  vertical-align:middle;
  font-size:0;
}
.c-tag--lg .c-tag__avatar{
  margin:3px 10px 3px -6.9px;
  border-radius:3px;
  width:24px;
  min-width:24px;
  height:24px;
}
.c-tag--pill .c-tag__avatar{
  border-radius:50%;
}
.c-tag--round .c-tag__avatar,.c-tag--sm .c-tag__avatar{
  display:none;
}
.c-tag.is-rtl .c-tag__avatar{
  margin-right:-7.9px;
  margin-left:5px;
}
.c-tag--lg.is-rtl .c-tag__avatar{
  margin-right:-6.9px;
  margin-left:10px;
}
