/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-tag{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  -ms-flex-wrap:nowrap;
      flex-wrap:nowrap;
  -webkit-transition:-webkit-box-shadow .1s ease-in-out;
  transition:-webkit-box-shadow .1s ease-in-out;
  transition:box-shadow .1s ease-in-out;
  transition:box-shadow .1s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  border:0;
  border-radius:2px;
  background-color:#e9ebed;
  padding:0 .66667em;
  max-width:100%;
  height:20px;
  overflow:hidden;
  line-height:1.66667;
  font-size:12px;
  font-weight:600;
}

.c-tag,.c-tag:hover{
  text-decoration:none;
  color:#49545c;
}

.c-tag:hover{
  cursor:default;
}

.c-tag.is-focused,.c-tag:focus{
  outline:0;
  -webkit-box-shadow:0 0 0 2px hsla(209,9%,45%,.35);
          box-shadow:0 0 0 2px hsla(209,9%,45%,.35);
  text-decoration:none;
  color:#49545c;
}

.c-tag.is-rtl{
  direction:rtl;
}

.c-tag>*{
  min-width:2em;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.c-tag.c-tag--blue{
  background-color:#1f73b7;
  color:#fff;
}

.c-tag.c-tag--green{
  background-color:#038153;
  color:#fff;
}

.c-tag.c-tag--grey{
  background-color:#68737d;
  color:#fff;
}

.c-tag.c-tag--kale{
  background-color:#04444d;
  color:#fff;
}

.c-tag.c-tag--red{
  background-color:#cc3340;
  color:#fff;
}

.c-tag.c-tag--yellow{
  background-color:#ffb648;
  color:#703b15;
}

.c-tag.c-tag--blue.is-focused,.c-tag.c-tag--blue:focus{
  -webkit-box-shadow:0 0 0 2px rgba(31,115,183,.35);
          box-shadow:0 0 0 2px rgba(31,115,183,.35);
}

.c-tag.c-tag--green.is-focused,.c-tag.c-tag--green:focus{
  -webkit-box-shadow:0 0 0 2px rgba(3,129,83,.35);
          box-shadow:0 0 0 2px rgba(3,129,83,.35);
}

.c-tag.c-tag--grey.is-focused,.c-tag.c-tag--grey:focus{
  -webkit-box-shadow:0 0 0 2px hsla(209,9%,45%,.35);
          box-shadow:0 0 0 2px hsla(209,9%,45%,.35);
}

.c-tag.c-tag--kale.is-focused,.c-tag.c-tag--kale:focus{
  -webkit-box-shadow:0 0 0 2px rgba(4,68,77,.35);
          box-shadow:0 0 0 2px rgba(4,68,77,.35);
}

.c-tag.c-tag--red.is-focused,.c-tag.c-tag--red:focus{
  -webkit-box-shadow:0 0 0 2px rgba(204,51,64,.35);
          box-shadow:0 0 0 2px rgba(204,51,64,.35);
}

.c-tag.c-tag--yellow.is-focused,.c-tag.c-tag--yellow:focus{
  -webkit-box-shadow:0 0 0 2px rgba(255,182,72,.35);
          box-shadow:0 0 0 2px rgba(255,182,72,.35);
}

.c-tag.c-tag--yellow.is-focused,.c-tag.c-tag--yellow:focus,.c-tag.c-tag--yellow:hover{
  color:#703b15;
}

.c-tag--lg{
  border-radius:4px;
  padding:0 1em;
  height:30px;
  line-height:2.5;
}

.c-tag--sm{
  padding:0 .4em;
  height:15px;
  line-height:1.5;
  font-size:10px;
}

.c-tag--round.c-tag--sm,.c-tag--round.c-tag--sm>*{
  min-width:15px;
}

.c-tag--round.c-tag--lg,.c-tag--round.c-tag--lg>*{
  min-width:30px;
}

.c-tag--pill{
  border-radius:100px;
}

.c-tag--round{
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  border-radius:50%;
  padding:0;
  min-width:20px;
}

.c-tag--round>*{
  min-width:20px;
  text-align:center;
}

.c-tag__remove{
  display:inline-block;
  -ms-flex-negative:0;
      flex-shrink:0;
  -webkit-transition:opacity .25s ease-in-out;
  transition:opacity .25s ease-in-out;
  opacity:.8;
  margin-right:-10px;
  border:0;
  border-radius:2px;
  background:no-repeat 50% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2349545C'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M4 10l6-6M4 4l6 6'/%3E%3C/svg%3E") transparent;
  cursor:pointer;
  padding:0;
  width:20px;
  height:20px;
  vertical-align:middle;
  font-size:0;
}

.c-tag__remove.is-hovered,.c-tag__remove:hover{
  opacity:.9;
}

.c-tag__remove:focus{
  outline:none;
}

.c-tag--lg .c-tag__remove{
  background-size:16px;
  width:30px;
  height:30px;
}

.c-tag--sm .c-tag__remove{
  margin-right:-5px;
  background-size:11px;
  width:15px;
  height:15px;
}

.c-tag--pill .c-tag__remove{
  border-radius:50%;
}

.c-tag--round .c-tag__remove{
  display:none;
}

.c-tag.c-tag--blue .c-tag--remove,.c-tag.c-tag--green .c-tag--remove,.c-tag.c-tag--grey .c-tag--remove,.c-tag.c-tag--kale .c-tag--remove,.c-tag.c-tag--red .c-tag--remove{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23FFF'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M4 10l6-6M4 4l6 6'/%3E%3C/svg%3E");
}

.c-tag.c-tag--yellow .c-tag__remove{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%23703B15'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M4 10l6-6M4 4l6 6'/%3E%3C/svg%3E");
}

.c-tag.is-rtl .c-tag__remove{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
          flex-direction:row-reverse;
  margin-right:0;
  margin-left:-10px;
}

.c-tag--sm.is-rtl .c-tag__remove{
  margin-left:-5px;
}

.c-tag__avatar{
  display:inline-block;
  -ms-flex-negative:0;
      flex-shrink:0;
  margin:2px 5px 2px -7.9px;
  border-radius:2px;
  width:16px;
  min-width:16px;
  height:16px;
  vertical-align:middle;
  font-size:0;
}

.c-tag--lg .c-tag__avatar{
  margin:3px 10px 3px -6.9px;
  border-radius:3px;
  width:24px;
  min-width:24px;
  height:24px;
}

.c-tag--pill .c-tag__avatar{
  border-radius:50%;
}

.c-tag--round .c-tag__avatar,.c-tag--sm .c-tag__avatar{
  display:none;
}

.c-tag.is-rtl .c-tag__avatar{
  margin-right:-7.9px;
  margin-left:5px;
}

.c-tag--lg.is-rtl .c-tag__avatar{
  margin-right:-6.9px;
  margin-left:10px;
}
