svg path,
svg circle {
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

svg circle:nth-child(1) {
  animation-name: zd-yellow;
}

svg :nth-child(2) {
  animation-name: zd-red;
}

svg path:nth-child(3) {
  animation-name: zd-blue;
}

@keyframes zd-blue {
  40% { transform: translate(0) }
  43% { transform: translate(0, 25px) }
  50% { transform: translate(-25px, -100px) }
  55% { transform: translate(-45px, -125px) }
  60% { transform: translate(-70px, -142px) }
  65% { transform: translate(-95px, -150px) }
  70% { transform: translate(-120px, -140px) }
  75% { transform: translate(-142px, -115px) }
  80% { transform: translate(-165px, -65px) }
  85% { transform: translate(-173px, 20px) }
  90% { transform: translate(-175px) }
  100% { transform: translate(-175px) }
}

@keyframes zd-red {
  40% { transform: translate(-175px) }
  85% { transform: translate(-175px) }
  90% { transform: translate(-175px, 25px) }
  100% { transform: translate(-175px) }
}

@keyframes zd-yellow {
  0% { transform: translate(0, 25px) }
  5% { transform: translate(25px, -100px) }
  10% { transform: translate(45px, -125px) }
  15% { transform: translate(70px, -142px) }
  20% { transform: translate(95px, -150px) }
  25% { transform: translate(120px, -140px) }
  30% { transform: translate(142px, -115px) }
  35% { transform: translate(165px, -65px) }
  40% { transform: translate(173px, 20px) }
  50% { transform: translate(175px) }
  70% { transform: translate(330px) }
  80% { transform: translate(345px) }
  85% { transform: translate(350px) }
  100% { transform: translate(350px) }
}
