@import 'zd-css-variables';

:root {
  /* Override these variables with your product's accent values. */
  /* stylelint-disable max-line-length */
  --zd-range--accent-thumb-background-color: rgb(44, 177, 186);
  --zd-range--accent-thumb-border-color: var(--zd-range--accent-thumb-background-color);
  --zd-range--accent-track-background-image: linear-gradient(var(--zd-range--accent-thumb-background-color), var(--zd-range--accent-thumb-background-color));
  --zd-range--accent-lower-background-color: var(--zd-range--accent-thumb-background-color);
  --zd-range--accent-active-thumb-background-color: color(var(--zd-range--accent-thumb-background-color) blackness(+20%));
  --zd-range--accent-focused-box-shadow:
    0 0 0 var(--zd-range-focused-box-shadow-spread-radius)
    color(var(--zd-range--accent-thumb-background-color) alpha(20%));
  /* stylelint-enable max-line-length */
}

/* stylelint-disable selector-pseudo-element-no-unknown */

.c-range--accent .c-range__input::range-track {
  background-image: var(--zd-range--accent-track-background-image);
}

.c-range--accent .c-range__input::range-thumb {
  border-color: var(--zd-range--accent-thumb-border-color);
  background-color: var(--zd-range--accent-thumb-background-color);
}

.c-range--accent .c-range__input::range-lower {
  background-color: var(--zd-range--accent-lower-background-color);
}

.c-range--accent:--range-focused::range-thumb {
  box-shadow: var(--zd-range--accent-focused-box-shadow);
}

.c-range--accent:--range-active::range-thumb {
  background-color: var(--zd-range--accent-active-thumb-background-color);
}

/* stylelint-enable selector-pseudo-element-no-unknown */
