/* stylelint-disable no-unsupported-browser-features */
@import '@zendesk/garden-css-variables';

:root {
  --zd-range-margin: calc((var(--zd-range-thumb-size) - var(--zd-range-track-height)) / 2);
  --zd-range-thumb-background-color: var(--zd-color-pelorous);
  --zd-range-thumb-border: 3px solid var(--zd-range-thumb-background-color);
  --zd-range-thumb-border-radius: 100%;
  --zd-range-thumb-margin: calc(var(--zd-range-margin) * -1) 0;
  --zd-range-thumb-size: var(--zd-spacing);
  --zd-range-track-background-color: var(--zd-color-anti-flash-white);
  --zd-range-track-background-image: linear-gradient(var(--zd-range-thumb-background-color), var(--zd-range-thumb-background-color));
  --zd-range-track-border-radius: 5px;
  --zd-range-track-height: var(--zd-range-track-border-radius);
  --zd-range-track-margin: calc(var(--zd-range-margin) + var(--zd-range-focused-box-shadow-spread-radius)) 0;
  --zd-range-lower-background-color: var(--zd-range-thumb-background-color);
}

/* 1. Reset for <fieldset> element.
 * 2. Reset for WebKit & Firefox.
 * 3. Reset for IE.
 * 4. Fix for IE which cuts off the upper track's border radius.
 * 5. Provide means for styling lower range on Webkit.
 * 6. Remove dotted outline from Firefox on focus. */

.c-range {
  margin: 0; /* [1] */
  border: 0; /* [1] */
  padding: 0; /* [1] */
}

.c-range__input {
  appearance: none;
  margin: 0; /* [2] */
  outline: none;
  background-color: inherit;
  background-size: 0; /* [5] */
  cursor: pointer;
  padding: 0; /* [3] */
  width: 100%;
  vertical-align: middle;
}

/* stylelint-disable selector-pseudo-element-no-unknown */

.c-range__input::range-track {
  appearance: none;
  margin: var(--zd-range-track-margin);
  border-radius: var(--zd-range-track-border-radius);
  border-color: transparent; /* [3] */
  background-color: var(--zd-range-track-background-color);
  background-image: var(--zd-range-track-background-image); /* [5] */
  background-repeat: repeat-y;
  background-size: 0;
  width: 99.8%; /* [4] */
  height: var(--zd-range-track-height);
  color: transparent; /* [3] */
}

.c-range__input::range-thumb {
  appearance: none;
  margin: var(--zd-range-thumb-margin); /* [3] */
  border: var(--zd-range-thumb-border);
  border-radius: var(--zd-range-thumb-border-radius);
  background-color: var(--zd-range-thumb-background-color);
  width: var(--zd-range-thumb-size);
  height: var(--zd-range-thumb-size);
  box-sizing: border-box;
}

.c-range__input::range-lower {
  border-top-left-radius: var(--zd-range-track-border-radius);
  border-bottom-left-radius: var(--zd-range-track-border-radius);
  background-color: var(--zd-range-lower-background-color);
  height: var(--zd-range-track-height);
}

.c-range__input::-moz-focus-outer {
  border: 0; /* [6] */
}

.c-range__input::-ms-tooltip {
  display: none; /* [3] */
}

.c-range__input::-webkit-slider-container,
.c-range__input::-webkit-slider-runnable-track {
  background-size: inherit; /* [5] */
}

.c-range--inline {
  display: inline-block;
}

.c-range--inline .c-range__input {
  width: auto;
}

.c-range.is-rtl {
  direction: rtl;
}

.c-range.is-rtl .c-range__input::range-track {
  background-position: right bottom;
}

.c-range.is-rtl .c-range__input::range-lower {
  border-top-right-radius: var(--zd-range-track-border-radius);
  border-bottom-right-radius: var(--zd-range-track-border-radius);
}

/* stylelint-enable selector-pseudo-element-no-unknown */
/* stylelint-enable no-unsupported-browser-features */
