@import '@zendesk/garden-css-variables';

:root {
  --zd-range--dark-thumb-box-shadow:
    0 4px 8px 0
    color(var(--zd-color-black) alpha(15%));
  --zd-range--dark-track-background-color: var(--zd-color-algae);
  --zd-range--dark-active-track-background-color: var(--zd-color-sherpa-blue);
  --zd-range--dark-disabled-lower-background-color: var(--zd-color-sherpa-blue);
  --zd-range--dark-disabled-thumb-background-color: var(--zd-range--dark-disabled-lower-background-color);
  --zd-range--dark-disabled-thumb-border-color: var(--zd-range--dark-disabled-thumb-background-color);
  --zd-range--dark-disabled-track-background-color: var(--zd-range--dark-track-background-color);
  --zd-range--dark-disabled-track-background-image: linear-gradient(var(--zd-range--dark-disabled-thumb-background-color), var(--zd-range--dark-disabled-thumb-background-color));
}

/* stylelint-disable selector-pseudo-element-no-unknown */
.c-range--dark .c-range__input::range-track {
  background-color: var(--zd-range--dark-track-background-color);
}

.c-range--dark:--range-active::range-track {
  background-color: var(--zd-range--dark-active-track-background-color);
}

.c-range--dark .c-range__input::range-thumb {
  box-shadow: var(--zd-range--dark-thumb-box-shadow);
}

.c-range--dark:--range-disabled::range-track {
  background-color: var(--zd-range--dark-disabled-track-background-color);
  background-image: var(--zd-range--dark-disabled-track-background-image);
}

.c-range--dark:--range-disabled::range-thumb {
  border-color: var(--zd-range--dark-disabled-thumb-border-color);
  background-color: var(--zd-range--dark-disabled-thumb-background-color);
}

.c-range--dark:--range-disabled::range-lower {
  background-color: var(--zd-range--dark-disabled-lower-background-color);
}
/* stylelint-enable selector-pseudo-element-no-unknown */
