@import '@zendeskgarden/css-variables';
@import '../_variables';

:root {
  --zd-chk-background-color: var(--zd-color-white);
  --zd-chk-background-size: 12px;
  --zd-chk-border: 1px solid var(--zd-forms-border-color);
  --zd-chk-border-radius: 4px;
  --zd-chk-size: 16px;
  --zd-chk-transition:
    border-color .25s ease-in-out,
    box-shadow .1s ease-in-out,
    background-color .25s ease-in-out,
    background-image .25s ease-in-out,
    color .25s ease-in-out;
  --zd-chk__label-line-height: calc(20 / 14);
  --zd-chk__label-padding: calc(var(--zd-chk-size) + var(--zd-chk__label-spacing));
  --zd-chk__label-spacing: 8px;
  --zd-chk__label-top: 10px;
  --zd-chk__label--regular-font-weight: var(--zd-font-weight-regular);
  --zd-chk__hint-line-height: calc(20 / 14);
  --zd-chk__message-line-height: calc(16 / 12);
  --zd-chk__message-margin-top: 4px;
}

/* 1. Reset for <fieldset> element.
   2. Hide <input type="checkbox"> but retain accessibility.
   3. Vertical centering. */

.c-chk {
  position: relative;
  margin: 0; /* [1] */
  border: 0; /* [1] */
  padding: 0; /* [1] */
}

.c-chk__input {
  position: absolute; /* [2] */
  clip: rect(1px, 1px, 1px, 1px); /* [2] */
}

.c-chk__label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: var(--zd-chk__label-padding);
  vertical-align: middle;
  line-height: var(--zd-chk__label-line-height);
  white-space: normal;
  color: var(--zd-input__label-color);
  font-size: var(--zd-input__label-font-size);
  font-weight: var(--zd-input__label-font-weight);
  user-select: none;
}

.c-chk__label::before {
  position: absolute;
  top: var(--zd-chk__label-top); /* [3] */
  left: 0;
  transition: var(--zd-chk-transition);
  margin-top: calc(var(--zd-chk-size) / 2 * -1); /* [3] */
  border: var(--zd-chk-border);
  border-radius: var(--zd-chk-border-radius);
  background-color: var(--zd-chk-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--zd-chk-background-size);
  width: var(--zd-chk-size);
  height: var(--zd-chk-size);
  box-sizing: border-box;
  color: inherit;
  content: '';
}

.c-chk__label--regular {
  font-weight: var(--zd-chk__label--regular-font-weight);
}

.c-chk__hint {
  padding-left: var(--zd-chk__label-padding);
  line-height: var(--zd-chk__hint-line-height);
  color: var(--zd-input__hint-color);
  font-size: var(--zd-input__hint-font-size);
}

.c-chk__message {
  display: inline-block;
  padding-left: var(--zd-chk__label-padding);
  vertical-align: middle;
  line-height: var(--zd-chk__message-line-height);
  color: var(--zd-input__message-color);
  font-size: var(--zd-input__message-font-size);
}

.c-chk__message--error,
.c-chk__message--success,
.c-chk__message--warning {
  background-repeat: no-repeat;
  background-position: center left;
}

.c-chk__message--error {
  background-image: var(--zd-input__message--error-background-image);
  color: var(--zd-input__message--error-color);
}

.c-chk__message--success {
  background-image: var(--zd-input__message--success-background-image);
  color: var(--zd-input__message--success-color);
}

.c-chk__message--warning {
  background-image: var(--zd-input__message--warning-background-image);
  color: var(--zd-input__message--warning-color);
}

.c-chk__label.is-hidden {
  padding-left: var(--zd-chk-size);
  text-indent: -100%;
  font-size: 0;
}

.c-chk__label.is-hidden::before {
  top: 0;
}

.is-rtl.c-chk {
  direction: rtl;
}

.is-rtl.c-chk__label::before {
  right: 0;
  left: auto;
}

.is-rtl.c-chk__label,
.is-rtl.c-chk__hint,
.is-rtl.c-chk__message {
  direction: rtl;
  padding-right: var(--zd-chk__label-padding);
  padding-left: 0;
}

.is-rtl.c-chk__message--error,
.is-rtl.c-chk__message--success,
.is-rtl.c-chk__message--warning {
  background-position: center right;
  padding-left: 0;
}

.is-rtl.c-chk__label.is-hidden {
  padding-right: var(--zd-chk-size);
}

.c-chk__label + .c-chk__message {
  display: block;
  margin-top: var(--zd-chk__message-margin-top);
}

.c-chk .c-chk__hint {
  display: block;
}
