/* stylelint-disable */
@svg-load circle url('12/circle-fill.svg') {
  color: var(--zd-color-white);
  circle {
    r: 2;
  }
}
/* stylelint-enable */

:root {
  --zd-chk--radio-checked-background-image: svg-inline(circle);
}

.c-chk__label--radio::before {
  border-radius: 50%;
}

:--chk-checked.c-chk__label--radio::before {
  background-image: var(--zd-chk--radio-checked-background-image);
}
