@import '@zendeskgarden/css-variables';

:root {
  --zd-chk--toggle-background-color: var(--zd-color-grey-500);
  --zd-chk--toggle-background-image: svg-load('14/circle.svg', color: var(--zd-color-white));
  --zd-chk--toggle-active-background-color: var(--zd-color-grey-600);
  --zd-chk--toggle-checked-active-background-color: var(--zd-chk-checked-active-background-color);
  --zd-chk--toggle-disabled-background-color: var(--zd-chk-disabled-background-color);
  --zd-chk--toggle-height: var(--zd-spacing);
  --zd-chk--toggle-transition:
    box-shadow .1s ease-in-out,
    background-color .15s ease-in-out,
    background-position .15s ease-in-out,
    color .25s ease-in-out;
  --zd-chk--toggle-width: var(--zd-spacing-xl);
  --zd-chk--toggle__label-padding: calc(var(--zd-chk--toggle-width) + var(--zd-chk__label-spacing));
  --zd-chk--toggle__message-background-position: calc(var(--zd-chk--toggle-width) - var(--zd-font-size-epsilon));
}

.c-chk__label--toggle,
.c-chk__hint--toggle,
.c-chk__message--toggle {
  padding-left: var(--zd-chk--toggle__label-padding);
}

.c-chk__message--toggle {
  background-position: var(--zd-chk--toggle__message-background-position);
}

.c-chk__label--toggle::before {
  top: 0;
  transition: var(--zd-chk--toggle-transition);
  margin-top: 0;
  border: none;
  border-radius: 100px;
  background-color: var(--zd-chk--toggle-background-color);
  background-image: var(--zd-chk--toggle-background-image);
  background-position: 10%;
  background-size: auto;
  width: var(--zd-chk--toggle-width);
  height: var(--zd-chk--toggle-height);
}

:--chk-checked.c-chk__label--toggle::before {
  background-image: var(--zd-chk--toggle-background-image);
  background-position: 90%;
}

:--chk-active.c-chk__label--toggle::before {
  background-color: var(--zd-chk--toggle-active-background-color);
}

:--chk-checked-active.c-chk__label--toggle::before {
  background-color: var(--zd-chk--toggle-checked-active-background-color);
}

:--chk-disabled.c-chk__label--toggle::before {
  background-color: var(--zd-chk--toggle-disabled-background-color);
}

.c-chk__label--toggle.is-hidden {
  padding-left: var(--zd-chk--toggle-width);
  vertical-align: top;
}

.is-rtl.c-chk__label--toggle,
.is-rtl.c-chk__hint--toggle,
.is-rtl.c-chk__message--toggle {
  padding-right: var(--zd-chk--toggle__label-padding);
  padding-left: 0;
}

.is-rtl.c-chk__message--toggle {
  background-position: calc(100% - var(--zd-chk--toggle__message-background-position));
}

.is-rtl.c-chk__label--toggle.is-hidden {
  padding-right: var(--zd-chk--toggle-width);
}

.is-rtl.c-chk__label--toggle::before {
  background-position: 90%;
}

:--chk-checked.is-rtl.c-chk__label--toggle::before {
  background-position: 10%;
}
