/* 1. Ensure the page always fills at least the entire viewport height.
 * 2. Force visible scrollbars to prevent awkward jumps when navigating between
 * pages that do/don't have enough content to produce natural scrollbars. */
html {
  @apply bg-white;
  @apply min-h-full; /* [1] */
  @apply box-border;
  @apply overflow-y-scroll; /* [2] */
  @apply leading-md;
  @apply text-grey-900;
  font-feature-settings: 'kern';
  font-kerning: normal;
  @apply font-sans;
  @apply text-base;
}

* { font-weight: inherit; }

*,
*::before,
*::after { box-sizing: inherit; }

a { @apply text-blue-700; }

b { @apply font-semibold; }

button {
  @apply cursor-pointer;
  @apply p-0;
}

button,
input,
optgroup,
select,
textarea {
  @apply leading-[inherit];
  @apply font-[inherit];
}

code { @apply text-[.95em]; }

code,
kbd,
pre,
samp { @apply font-mono; }

em { font-style: inherit; }

fieldset,
iframe { @apply border-0; }

h1,
h2,
h3,
h4,
h5,
h6 { font-size: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
fieldset,
figure,
hr {
  @apply m-0;
  @apply p-0;
}

hr {
  @apply border-none;
  @apply border-t;
  @apply border-solid;
}

ins,
u { @apply no-underline; }

ol,
ul { @apply list-none; }

img { @apply max-w-full; }

strong { font-weight: inherit; }

svg { @apply max-h-full; }

/* stylelint-disable-next-line declaration-no-important */
[tabindex='-1']:focus { outline: none !important; }
