:root {
  --zd-txt__input--label-padding-horizontal: 8px;
  --zd-txt__input--label-padding: 2px var(--zd-txt__input--label-padding-horizontal);
  --zd-txt__input__label-margin: 2px;
}

.c-txt__input--label .c-label {
  margin: var(--zd-txt__input__label-margin);
}

.c-txt__input.c-txt__input--label {
  display: flex;
  flex-wrap: wrap;
  padding: var(--zd-txt__input--label-padding);
}

.c-txt__input--label.c-txt__input--select {
  padding-right: var(--zd-txt__input--select-padding-right);
}

/* stylelint-disable-next-line selector-max-specificity */
.is-rtl.c-txt__input.c-txt__input--label.c-txt__input--select {
  padding-right: var(--zd-txt__input--label-padding-horizontal);
  padding-left: var(--zd-txt__input--select-padding-right);
}
