/* stylelint-disable no-unsupported-browser-features */
@import '@zendeskgarden/css-variables';
@import '../../_variables';
@import '_selectors';

:root {
  --zd-txt__input--select-padding-unit: 48;
  --zd-txt__input--select-padding-right: calc(var(--zd-txt__input--select-padding-unit) / 14 * 1em);
  --zd-txt__input--select-transition:
    background-image .25s ease-in-out,
    transform .25s ease-in-out,
    var(--zd-txt__input-transition);
  --zd-txt__input--select__chevron-background-image: svg-load('14-chevron.svg', color: var(--zd-color-silver-sand));
  --zd-txt__input--select__chevron-background-position-x: calc((var(--zd-txt__input--select-padding-unit) / 2 - 8 + 1) / 14 * 1em);
  --zd-txt__input--select__chevron-background-position: right var(--zd-txt__input--select__chevron-background-position-x) center;
  --zd-txt__input--select__chevron-disabled-background-image: svg-load('14-chevron.svg', color: var(--zd-forms-disabled-color));
  --zd-txt__input--select__chevron-hovered-background-image: svg-load('14-chevron.svg', color: var(--zd-color-oil));
  --zd-txt__input--select__chevron-open-background-image: svg-load('14-chevron.svg', color: var(--zd-forms-accent-color));
  --zd-txt__input--select__chevron-width: calc(var(--zd-txt__input--select-padding-unit) * 1px);
  --zd-txt__input--select__chevron-transform:
    rotate(180deg)
    translateY(-1px);
  --zd-txt-rtl__input--select__chevron-background-position: left var(--zd-txt__input--select__chevron-background-position-x) center;
  --zd-txt-rtl__input--select__chevron-transform:
    rotate(-180deg)
    translateY(-1px);
}

/* 1. Select reset.
 * 2. Button reset. */

.c-txt__input--select {
  appearance: none; /* [1] */
  position: relative;
  cursor: pointer;
  padding-right: var(--zd-txt__input--select-padding-right);
  text-align: left; /* [2] */
}

.c-txt__input--select:not(select)::before {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--zd-txt__input--select__chevron-width);
  height: var(--zd-txt__input-height);
  content: '';
}

.c-txt__input--select:not(select)::before,
select.c-txt__input--select {
  transition: var(--zd-txt__input--select-transition);
  background-image: var(--zd-txt__input--select__chevron-background-image);
  background-repeat: no-repeat;
  background-position: var(--zd-txt__input--select__chevron-background-position);
}

select.c-txt__input--select::-ms-expand {
  display: none; /* [1] */
}

select.c-txt__input--select::-ms-value {
  background-color: transparent; /* [1] */
  color: inherit; /* [1] */
}

select.c-txt__input--select:-moz-focusring {
  transition: none;
  text-shadow: 0 0 0 var(--zd-txt__input-color); /* [1] */
  color: transparent; /* [1] */
}

:--txt-hovered.c-txt__input--select:not(select)::before,
:--txt-focused.c-txt__input--select:not(select)::before,
.c-txt.is-hovered select.c-txt__input--select,
.c-txt select.c-txt__input--select:hover,
.c-txt.is-focused select.c-txt__input--select,
.c-txt select.c-txt__input--select:focus {
  background-image: var(--zd-txt__input--select__chevron-hovered-background-image);
}

:--txt--select-open::before {
  transform: var(--zd-txt__input--select__chevron-transform);
  background-image: var(--zd-txt__input--select__chevron-open-background-image);
}

/* stylelint-disable selector-no-qualifying-type */
:--txt-disabled.c-txt__input--select:not(select)::before,
.c-txt.is-disabled select.c-txt__input--select,
.c-txt select.c-txt__input--select[disabled] {
  background-image: var(--zd-txt__input--select__chevron-disabled-background-image);
}
/* stylelint-enable selector-no-qualifying-type */

.c-txt.is-rtl .c-txt__input--select {
  padding-right: var(--zd-txt__input-padding-horizontal);
  padding-left: var(--zd-txt__input--select-padding-right);
  text-align: right;
}

.c-txt.is-rtl .c-txt__input--select:not(select)::before {
  right: auto;
  left: 0;
}

.c-txt.is-rtl .c-txt__input--select:not(select)::before,
.c-txt.is-rtl select.c-txt__input--select {
  background-position: var(--zd-txt-rtl__input--select__chevron-background-position);
}

/* stylelint-disable max-line-length */
.is-rtl:--txt--select-open::before {
  transform: var(--zd-txt-rtl__input--select__chevron-transform);
}
/* stylelint-enable max-line-length, no-unsupported-browser-features */
