@import '@zendesk/garden-css-variables';

:root {
  --zd-txt--error-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-input--error-color) alpha(40%));
  --zd-txt--success-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-input--success-color) alpha(40%));
  --zd-txt--warning-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-input--warning-color) alpha(40%));
}

/* stylelint-disable selector-max-specificity */
.has-error.c-txt:not(.is-disabled) .c-txt__input:not([disabled]) {
  border-color: var(--zd-input--error-color);
}

.has-error:--txt-focused {
  box-shadow: var(--zd-txt--error-focused-box-shadow);
}

.has-success.c-txt:not(.is-disabled) .c-txt__input:not([disabled]) {
  border-color: var(--zd-input--success-color);
}

.has-success:--txt-focused {
  box-shadow: var(--zd-txt--success-focused-box-shadow);
}

.has-warning.c-txt:not(.is-disabled) .c-txt__input:not([disabled]) {
  border-color: var(--zd-input--warning-color);
}

.has-warning:--txt-focused {
  box-shadow: var(--zd-txt--warning-focused-box-shadow);
}
/* stylelint-enable selector-max-specificity */
