@import '@zendesk/garden-css-variables';

:root {
  --zd-txt--error-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-input--error-color) alpha(40%));
  --zd-txt--success-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-input--success-color) alpha(40%));
  --zd-txt--warning-focused-box-shadow:
    0 0 0 3px
    color(var(--zd-input--warning-color) alpha(40%));
}

/* stylelint-disable selector-max-specificity */
.c-txt__input.c-txt__input--error:not(.is-disabled):not([disabled]) {
  border-color: var(--zd-input--error-color);
}

.c-txt__input--error:--txt-focused {
  box-shadow: var(--zd-txt--error-focused-box-shadow);
}

.c-txt__input.c-txt__input--success:not(.is-disabled):not([disabled]) {
  border-color: var(--zd-input--success-color);
}

.c-txt__input--success:--txt-focused {
  box-shadow: var(--zd-txt--success-focused-box-shadow);
}

.c-txt__input.c-txt__input--warning:not(.is-disabled):not([disabled]) {
  border-color: var(--zd-input--warning-color);
}

.c-txt__input--warning:--txt-focused {
  box-shadow: var(--zd-txt--warning-focused-box-shadow);
}
/* stylelint-enable selector-max-specificity */
