/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-pagination{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  margin-top:0;
  padding:0;
  white-space:nowrap;
}

.c-pagination__page{
  display:inline-block;
  -webkit-transition:background .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:background .25s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  transition:background .25s ease-in-out,box-shadow .1s ease-in-out,color .25s ease-in-out;
  transition:background .25s ease-in-out,box-shadow .1s ease-in-out,color .25s ease-in-out,-webkit-box-shadow .1s ease-in-out;
  margin-left:4px;
  border-radius:4px;
  cursor:pointer;
  padding:0 .35714em;
  min-width:32px;
  max-width:64px;
  height:32px;
  overflow:hidden;
  text-align:center;
  text-overflow:ellipsis;
  line-height:2.28571;
  color:#68737d;
  font-size:14px;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}

.c-pagination__page--gap,.c-pagination__page--next,.c-pagination__page--previous{
  width:32px;
  color:transparent;
}

.c-pagination__page--gap{
  position:relative;
  cursor:default;
}

.c-pagination__page--gap:before{
  position:absolute;
  left:0;
  margin-top:-2px;
  width:100%;
  color:#68737d;
  font-size:16px;
  content:"…";
}

.c-pagination__page--next,.c-pagination__page--previous{
  border-radius:50%;
  background-repeat:no-repeat;
  background-position:50%;
}

.c-pagination.is-rtl .c-pagination__page--previous,.c-pagination__page--next{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2387929D'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11l4-4-4-4'/%3E%3C/svg%3E");
}

.c-pagination.is-rtl .c-pagination__page--next,.c-pagination__page--previous{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%2387929D'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 11L5 7l4-4'/%3E%3C/svg%3E");
}

.c-pagination__page a{
  display:block;
  margin:0 -.35714em;
  padding:0 .35714em;
  max-width:64px;
  overflow:hidden;
  text-decoration:none;
  text-overflow:ellipsis;
  color:inherit;
}

.c-pagination.is-rtl{
  direction:rtl;
}

.c-pagination.is-rtl .c-pagination__page:last-of-type,.c-pagination:not(.is-rtl) .c-pagination__page:first-of-type{
  margin-left:0;
}

.c-pagination__page.is-hovered,.c-pagination__page:hover{
  background-color:hsla(209,9%,45%,.15);
  color:#2f3941;
}

.c-pagination__page a:hover{
  text-decoration:none;
}

.c-pagination__page.is-focused{
  outline:none;
  -webkit-box-shadow:inset 0 0 0 3px rgba(31,115,183,.35);
          box-shadow:inset 0 0 0 3px rgba(31,115,183,.35);
}

.c-pagination__page:focus,.c-pagination__page a:focus{
  outline:none;
  text-decoration:none;
}

.c-pagination__page.is-active,.c-pagination__page:active{
  -webkit-box-shadow:none;
          box-shadow:none;
  background-color:hsla(209,9%,45%,.25);
}

.c-pagination__page.is-current,.c-pagination__page[aria-current=true]{
  background-color:hsla(209,9%,45%,.15);
  color:#2f3941;
  font-weight:600;
}

.c-pagination__page.is-current,.c-pagination__page.is-current a,.c-pagination__page[aria-current=true],.c-pagination__page[aria-current=true] a{
  max-width:none;
}

.c-pagination__page.is-hidden,.c-pagination__page[aria-hidden=true]{
  visibility:hidden;
}

.c-pagination__page--next.is-focused,.c-pagination__page--previous.is-focused{
  -webkit-box-shadow:none;
          box-shadow:none;
  background-color:hsla(209,9%,45%,.15);
}

.c-pagination__page--gap.is-active,.c-pagination__page--gap.is-hovered,.c-pagination__page--gap:active,.c-pagination__page--gap:hover,.c-pagination__page--next.is-active,.c-pagination__page--next.is-hovered,.c-pagination__page--next:active,.c-pagination__page--next:hover,.c-pagination__page--previous.is-active,.c-pagination__page--previous.is-hovered,.c-pagination__page--previous:active,.c-pagination__page--previous:hover{
  background-color:transparent;
  color:transparent;
}

.c-pagination.is-rtl .c-pagination__page--previous.is-active,.c-pagination.is-rtl .c-pagination__page--previous.is-focused,.c-pagination.is-rtl .c-pagination__page--previous.is-hovered,.c-pagination.is-rtl .c-pagination__page--previous:active,.c-pagination.is-rtl .c-pagination__page--previous:hover,.c-pagination__page--next.is-active,.c-pagination__page--next.is-focused,.c-pagination__page--next.is-hovered,.c-pagination__page--next:active,.c-pagination__page--next:hover{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%232F3941'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11l4-4-4-4'/%3E%3C/svg%3E");
}

.c-pagination.is-rtl .c-pagination__page--next.is-active,.c-pagination.is-rtl .c-pagination__page--next.is-focused,.c-pagination.is-rtl .c-pagination__page--next.is-hovered,.c-pagination.is-rtl .c-pagination__page--next:active,.c-pagination.is-rtl .c-pagination__page--next:hover,.c-pagination__page--previous.is-active,.c-pagination__page--previous.is-focused,.c-pagination__page--previous.is-hovered,.c-pagination__page--previous:active,.c-pagination__page--previous:hover{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' color='%232F3941'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 11L5 7l4-4'/%3E%3C/svg%3E");
}
