/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0.
 */

.c-pagination{
  display:-webkit-box;
  display:flex;
  -webkit-box-pack:center;
          justify-content:center;
  margin-top:0;
  padding:0;
  white-space:nowrap;
}

.c-pagination__page{
  display:inline-block;
  -webkit-transition:background .25s ease-in-out,box-shadow .1s ease-in-out,color .25s ease-in-out;
  transition:background .25s ease-in-out,box-shadow .1s ease-in-out,color .25s ease-in-out;
  margin-left:4px;
  border-radius:4px;
  cursor:pointer;
  padding:0 .35714em;
  min-width:32px;
  max-width:64px;
  height:32px;
  overflow:hidden;
  text-align:center;
  text-overflow:ellipsis;
  line-height:2.28571;
  color:#68737d;
  font-size:14px;
  -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none;
          user-select:none;
}

.c-pagination__page--gap,.c-pagination__page--next,.c-pagination__page--previous{
  width:32px;
  color:transparent;
}

.c-pagination__page--gap{
  position:relative;
  cursor:default;
}

.c-pagination__page--gap:before{
  position:absolute;
  left:0;
  margin-top:-2px;
  width:100%;
  color:#68737d;
  font-size:16px;
  content:"…";
}

.c-pagination__page--next,.c-pagination__page--previous{
  border-radius:50%;
  background-repeat:no-repeat;
  background-position:50%;
}

.c-pagination.is-rtl .c-pagination__page--previous,.c-pagination__page--next{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%2368737d'%3E%3Cpath fill='currentColor' d='M5.61 3.312a.5.5 0 01.718-.69l.062.066 4 5a.5.5 0 01.054.542l-.054.082-4 5a.5.5 0 01-.83-.55l.05-.074L9.359 8l-3.75-4.688z'/%3E%3C/svg%3E");
}

.c-pagination.is-rtl .c-pagination__page--next,.c-pagination__page--previous{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%2368737d'%3E%3Cpath fill='currentColor' d='M10.39 12.688a.5.5 0 01-.718.69l-.062-.066-4-5a.5.5 0 01-.054-.542l.054-.082 4-5a.5.5 0 01.83.55l-.05.074L6.641 8l3.75 4.688z'/%3E%3C/svg%3E");
}

.c-pagination__page a{
  display:block;
  margin:0 -.35714em;
  padding:0 .35714em;
  max-width:64px;
  overflow:hidden;
  text-decoration:none;
  text-overflow:ellipsis;
  color:inherit;
}

.c-pagination.is-rtl{
  direction:rtl;
}

.c-pagination.is-rtl .c-pagination__page:last-of-type,.c-pagination:not(.is-rtl) .c-pagination__page:first-of-type{
  margin-left:0;
}

.c-pagination__page.is-hovered,.c-pagination__page:hover{
  background-color:rgba(104, 115, 125, .15);
  color:#2f3941;
}

.c-pagination__page a:hover{
  text-decoration:none;
}

.c-pagination__page.is-focused{
  outline:none;
  box-shadow:inset 0 0 0 3px rgba(31, 115, 183, .35);
}

.c-pagination__page:focus,.c-pagination__page a:focus{
  outline:none;
  text-decoration:none;
}

.c-pagination__page.is-active,.c-pagination__page:active{
  box-shadow:none;
  background-color:rgba(104, 115, 125, .25);
}

.c-pagination__page.is-current,.c-pagination__page[aria-current=true]{
  background-color:rgba(104, 115, 125, .15);
  color:#2f3941;
  font-weight:600;
}

.c-pagination__page.is-current,.c-pagination__page.is-current a,.c-pagination__page[aria-current=true],.c-pagination__page[aria-current=true] a{
  max-width:none;
}

.c-pagination__page.is-hidden,.c-pagination__page[aria-hidden=true]{
  visibility:hidden;
}

.c-pagination__page--next.is-focused,.c-pagination__page--previous.is-focused{
  box-shadow:none;
  background-color:rgba(104, 115, 125, .15);
}

.c-pagination__page--gap.is-active,.c-pagination__page--gap.is-hovered,.c-pagination__page--gap:active,.c-pagination__page--gap:hover,.c-pagination__page--next.is-active,.c-pagination__page--next.is-hovered,.c-pagination__page--next:active,.c-pagination__page--next:hover,.c-pagination__page--previous.is-active,.c-pagination__page--previous.is-hovered,.c-pagination__page--previous:active,.c-pagination__page--previous:hover{
  background-color:transparent;
  color:transparent;
}

.c-pagination.is-rtl .c-pagination__page--previous.is-active,.c-pagination.is-rtl .c-pagination__page--previous.is-focused,.c-pagination.is-rtl .c-pagination__page--previous.is-hovered,.c-pagination.is-rtl .c-pagination__page--previous:active,.c-pagination.is-rtl .c-pagination__page--previous:hover,.c-pagination__page--next.is-active,.c-pagination__page--next.is-focused,.c-pagination__page--next.is-hovered,.c-pagination__page--next:active,.c-pagination__page--next:hover{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%232f3941'%3E%3Cpath fill='currentColor' d='M5.61 3.312a.5.5 0 01.718-.69l.062.066 4 5a.5.5 0 01.054.542l-.054.082-4 5a.5.5 0 01-.83-.55l.05-.074L9.359 8l-3.75-4.688z'/%3E%3C/svg%3E");
}

.c-pagination.is-rtl .c-pagination__page--next.is-active,.c-pagination.is-rtl .c-pagination__page--next.is-focused,.c-pagination.is-rtl .c-pagination__page--next.is-hovered,.c-pagination.is-rtl .c-pagination__page--next:active,.c-pagination.is-rtl .c-pagination__page--next:hover,.c-pagination__page--previous.is-active,.c-pagination__page--previous.is-focused,.c-pagination__page--previous.is-hovered,.c-pagination__page--previous:active,.c-pagination__page--previous:hover{
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' color='%232f3941'%3E%3Cpath fill='currentColor' d='M10.39 12.688a.5.5 0 01-.718.69l-.062-.066-4-5a.5.5 0 01-.054-.542l.054-.082 4-5a.5.5 0 01.83.55l-.05.074L6.641 8l3.75 4.688z'/%3E%3C/svg%3E");
}
