@import '@zendesk/garden-css-variables';

:root {
  --zd-callout-background-color: var(--zd-color-white);
  --zd-callout-border: 1px solid var(--zd-color-gainsboro);
  --zd-callout-border-radius: 4px;
  --zd-callout-color: var(--zd-color-monsoon);
  --zd-callout-font-size: var(--zd-font-size-epsilon);
  --zd-callout-line-height: calc(20 / 14);
  --zd-callout-padding: var(--zd-spacing) var(--zd-spacing-xl);
  --zd-callout__paragraph-margin: var(--zd-spacing-sm) 0 0;
  --zd-callout__title-color: var(--zd-color-dark-gray);
  --zd-callout__title-font-weight: var(--zd-font-weight-semibold);
}

.c-callout {
  position: relative;
  border: var(--zd-callout-border);
  border-radius: var(--zd-callout-border-radius);
  background-color: var(--zd-callout-background-color);
  padding: var(--zd-callout-padding);
  line-height: var(--zd-callout-line-height);
  color: var(--zd-callout-color);
  font-size: var(--zd-callout-font-size);
}

/* 1. Reset for <h1>, etc. */

.c-callout__title {
  display: block;
  margin: 0; /* [1] */
  color: var(--zd-callout__title-color);
  font-weight: var(--zd-callout__title-font-weight);
}

.c-callout__paragraph {
  margin: var(--zd-callout__paragraph-margin);
}
