/* csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 * www.modularscale.com/?14&px&1.125 */

:root {
  /* Larger than H1 */
  --zd-font-size-giga: 36px;
  --zd-font-size-mega: 28px;
  --zd-font-size-kilo: 25px;

  /* H1-H6 */
  --zd-font-size-alpha: 22px;
  --zd-font-size-beta: 20px;
  --zd-font-size-gamma: 18px;
  --zd-font-size-delta: 16px;
  --zd-font-size-epsilon: 14px;
  --zd-font-size-zeta: 12px;

  /* Smaller than H6 */
  --zd-font-size-milli: 11px;
  --zd-font-size-micro: 10px;
  --zd-font-size-nano: 9px;
}
