@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-black-italic-cyrillic-woff: 8dc363ee317ad30331e2569a6143e25b.woff;
  --zd-proxima-nova-black-italic-cyrillic-woff2: 7bc39e8643c15819c23242bfd0a589c2.woff2;
  --zd-proxima-nova-black-italic-fallback-woff: 2ea616e3b8321f80240b6f4706a2dfe0.woff;
  --zd-proxima-nova-black-italic-fallback-woff2: 0c30dfc08ca8c86ac498277a27a86d09.woff2;
  --zd-proxima-nova-black-italic-greek-woff: 83e65ac6fec4f999848eb0d06ae68cba.woff;
  --zd-proxima-nova-black-italic-greek-woff2: e6534139ef6678ec3364a17a74a04154.woff2;
  --zd-proxima-nova-black-italic-latin-ext-woff: ddc7d4604e2152ca32448a888123d80c.woff;
  --zd-proxima-nova-black-italic-latin-ext-woff2: 54775a0b06e616f73d9db8783a1c3c3a.woff2;
  --zd-proxima-nova-black-italic-latin-woff: 03c73d25afc75f08548ffe147598b67d.woff;
  --zd-proxima-nova-black-italic-latin-woff2: 45b42cccdb4390251be2cc30d16a577a.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
