@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-black-cyrillic-woff: b0965257ce1e0b5f58f55dd31c24407f.woff;
  --zd-proxima-nova-black-cyrillic-woff2: ab57c1d9732d5fba8a65a64ad400464a.woff2;
  --zd-proxima-nova-black-fallback-woff: 3c6ce81d025f0e4ce3d60bf060aa6945.woff;
  --zd-proxima-nova-black-fallback-woff2: 87abb5b0890e1d91a57212d59e7f8feb.woff2;
  --zd-proxima-nova-black-greek-woff: 015844dc76738a23001a5e100cc17dae.woff;
  --zd-proxima-nova-black-greek-woff2: b07fe3e1145eca0611a2801f775424ff.woff2;
  --zd-proxima-nova-black-latin-ext-woff: 3c07183dc131fffa2c0801e4d15e3f42.woff;
  --zd-proxima-nova-black-latin-ext-woff2: 30de4189883a29644d68791f014c2bf6.woff2;
  --zd-proxima-nova-black-latin-woff: b94df5bec2b0e7a1a3a82d3775556d22.woff;
  --zd-proxima-nova-black-latin-woff2: f5c6b3997c06ca4fa7b44c173c3080ae.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-black-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-black);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
