@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-bold-italic-cyrillic-woff: 6a6d6937efcd41dc1207ef99109d7dcb.woff;
  --zd-proxima-nova-bold-italic-cyrillic-woff2: ca4ecfca639be95dc2c711ff68a234d6.woff2;
  --zd-proxima-nova-bold-italic-fallback-woff: f761b69bc9b9a013d0330f57ca2aa890.woff;
  --zd-proxima-nova-bold-italic-fallback-woff2: ed0ed39e1808e7c6290d94a0ba1e0c38.woff2;
  --zd-proxima-nova-bold-italic-greek-woff: fb4380b65d678806fca4bc772f38a8bd.woff;
  --zd-proxima-nova-bold-italic-greek-woff2: 31f25a206b426d5862bbaeddfb42342c.woff2;
  --zd-proxima-nova-bold-italic-latin-ext-woff: b6a5500aca8c47aac8a89b9c11723623.woff;
  --zd-proxima-nova-bold-italic-latin-ext-woff2: f025a19ef55795f42646177b18b6534c.woff2;
  --zd-proxima-nova-bold-italic-latin-woff: 933a1dead4a8dadf9619757c34993919.woff;
  --zd-proxima-nova-bold-italic-latin-woff2: f47b6dd2c759fe93c556f44d37133a67.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
