@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-bold-cyrillic-woff: cc854d3fe9ed2f385aaa4a53b4c2e87e.woff;
  --zd-proxima-nova-bold-cyrillic-woff2: c38933bcb703c9831d0514b5b70ce94b.woff2;
  --zd-proxima-nova-bold-fallback-woff: cc9fc9131b2055d1a4eefa173bfe250b.woff;
  --zd-proxima-nova-bold-fallback-woff2: 580b33df7837415aad0012d0ddbe32bd.woff2;
  --zd-proxima-nova-bold-greek-woff: 421f75d6661eb0637f6c4a76e89dda4b.woff;
  --zd-proxima-nova-bold-greek-woff2: 8bceaa57708d3b7f38bab5aac4046b48.woff2;
  --zd-proxima-nova-bold-latin-ext-woff: e909f97708b75007cba22316c8812c41.woff;
  --zd-proxima-nova-bold-latin-ext-woff2: 7c4b0086898b8492baad9cf336aff8fc.woff2;
  --zd-proxima-nova-bold-latin-woff: b45cd9a7acb5fae8991bbd610dfcb44b.woff;
  --zd-proxima-nova-bold-latin-woff2: 0f87bfac0f8d1ef93d2fec87d65b7b4d.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-bold-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-bold);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
