@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-extrabold-cyrillic-woff: 6f6f4633f2636c6e812454010f95e78c.woff;
  --zd-proxima-nova-extrabold-cyrillic-woff2: 1397ee470257c40dc3fe950bdf004f55.woff2;
  --zd-proxima-nova-extrabold-fallback-woff: be1222e535d96044bf0aa6385a7067a5.woff;
  --zd-proxima-nova-extrabold-fallback-woff2: aadfcf0cb75f57d896840b04d9475af2.woff2;
  --zd-proxima-nova-extrabold-greek-woff: 7c49d90e06938eb8e6021618bb97c723.woff;
  --zd-proxima-nova-extrabold-greek-woff2: 9d921c1548e130f67bed89d615536d0c.woff2;
  --zd-proxima-nova-extrabold-latin-ext-woff: 2df6d122a5ef2a420c212b18221dd1cb.woff;
  --zd-proxima-nova-extrabold-latin-ext-woff2: 700435835c06ec2180d8e4d180555408.woff2;
  --zd-proxima-nova-extrabold-latin-woff: 2ff21ad0f612f12dbc27e843d08009ab.woff;
  --zd-proxima-nova-extrabold-latin-woff2: 13daadd8635a1bc80191e1c96a04ffa4.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
