@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-extrabold-italic-cyrillic-woff: 93f8c7583bc76e06e61cf9ca5adaed96.woff;
  --zd-proxima-nova-extrabold-italic-cyrillic-woff2: 88d74f9ae52103350f401001fdb8b566.woff2;
  --zd-proxima-nova-extrabold-italic-fallback-woff: 5de1deeb65e0e412592ed6ed0ac65fcd.woff;
  --zd-proxima-nova-extrabold-italic-fallback-woff2: 40c82c221845f222457eeedc23dea80c.woff2;
  --zd-proxima-nova-extrabold-italic-greek-woff: 966df14f28a2a932c8aad93d073ddc1f.woff;
  --zd-proxima-nova-extrabold-italic-greek-woff2: 2cebff91922316191f80928590782d49.woff2;
  --zd-proxima-nova-extrabold-italic-latin-ext-woff: e7d64712ff398e5b7f4b735f1f29c11a.woff;
  --zd-proxima-nova-extrabold-italic-latin-ext-woff2: 6c2bcda67780d26521e8dc68918c0e89.woff2;
  --zd-proxima-nova-extrabold-italic-latin-woff: 37555a9d8ae1908f1151f0f6631175a9.woff;
  --zd-proxima-nova-extrabold-italic-latin-woff2: 6affe10982a4507b7c36e6009eec6eca.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
