@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-extrabold-cyrillic-woff: 79adba93d4379456551cec411327e957.woff;
  --zd-proxima-nova-extrabold-cyrillic-woff2: 33794f53e30375c24105ca2286f5c098.woff2;
  --zd-proxima-nova-extrabold-fallback-woff: 64a3a4404e9a1f89fa9f7a6dd21a3608.woff;
  --zd-proxima-nova-extrabold-fallback-woff2: 74a103d76aec78affba060bd6a21b816.woff2;
  --zd-proxima-nova-extrabold-greek-woff: 84d77563d8345032e4339b9e809d450c.woff;
  --zd-proxima-nova-extrabold-greek-woff2: 7d57c7e4abd8a82246c5856bbc8ad62b.woff2;
  --zd-proxima-nova-extrabold-latin-ext-woff: 60efdb9e1750f1b082a8fafa459b487a.woff;
  --zd-proxima-nova-extrabold-latin-ext-woff2: 9dd787cf5dd22ed9f8832e75c1d9bc3f.woff2;
  --zd-proxima-nova-extrabold-latin-woff: 686062318006ae4bba3b1065546b6c7f.woff;
  --zd-proxima-nova-extrabold-latin-woff2: 5d14b23219e5bb31db9626959ee0f1f8.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-extrabold-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-extrabold);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
