@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-light-cyrillic-woff: d7282de432899f2e54c0aab7b114b67c.woff;
  --zd-proxima-nova-light-cyrillic-woff2: 70d9f3a6f4e59e778a3efa6d61af4d5d.woff2;
  --zd-proxima-nova-light-fallback-woff: a7261e66c83cba195a6228071a023dda.woff;
  --zd-proxima-nova-light-fallback-woff2: c754829d482f0ad7413bfa58338dbd8f.woff2;
  --zd-proxima-nova-light-greek-woff: fc917cf078d23f4f3d869c62d5eb59cb.woff;
  --zd-proxima-nova-light-greek-woff2: f8c7426ecc752e9a00f855a5d3419af1.woff2;
  --zd-proxima-nova-light-latin-ext-woff: a0511cd61b33a958c7eb11543906f5d1.woff;
  --zd-proxima-nova-light-latin-ext-woff2: f612d76045fcfa7cee3d26a0e74175c8.woff2;
  --zd-proxima-nova-light-latin-woff: 704828d2a4ae7d3196fe05cb5b9cec06.woff;
  --zd-proxima-nova-light-latin-woff2: 160ce2ec29b54b2dbdd18c4ab10c3e5a.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
