@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-light-italic-cyrillic-woff: efd4c0a58e8357c5f2f0ff47fe2618bd.woff;
  --zd-proxima-nova-light-italic-cyrillic-woff2: 3b9ad5ba2db4ec524ef78784ca76e62b.woff2;
  --zd-proxima-nova-light-italic-fallback-woff: 832cf1df1d095de7f931838f40087fe3.woff;
  --zd-proxima-nova-light-italic-fallback-woff2: a834518d22578c9fbf75500e86f62648.woff2;
  --zd-proxima-nova-light-italic-greek-woff: 1367d4643ec57adda630c09a7ec8e553.woff;
  --zd-proxima-nova-light-italic-greek-woff2: a7667ce8e8688580d2168ced7e9d9e1a.woff2;
  --zd-proxima-nova-light-italic-latin-ext-woff: b0e4dcae6570d618e018fce7ba59e062.woff;
  --zd-proxima-nova-light-italic-latin-ext-woff2: 69f8acd3ceaac02f266e23c4ad3fb297.woff2;
  --zd-proxima-nova-light-italic-latin-woff: ad5d4de76e7976439f8b2e00d011428d.woff;
  --zd-proxima-nova-light-italic-latin-woff2: f20d143375a96133782bdb08a0bcac36.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-light-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-light);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
