@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-regular-italic-cyrillic-woff: 2c030fa2acc596ec4a1da2e73642fdea.woff;
  --zd-proxima-nova-regular-italic-cyrillic-woff2: 065b5335742e40062468b0073b0ece0e.woff2;
  --zd-proxima-nova-regular-italic-fallback-woff: da023bf58382eb4c5fb06e8128a0c01b.woff;
  --zd-proxima-nova-regular-italic-fallback-woff2: d694afd1e1e9ba215a4c7a5ce43b4630.woff2;
  --zd-proxima-nova-regular-italic-greek-woff: 56144faffe64692621f076f4d2838e4f.woff;
  --zd-proxima-nova-regular-italic-greek-woff2: 5f46c58bb753bb5b49aca67e733cad46.woff2;
  --zd-proxima-nova-regular-italic-latin-ext-woff: d899ee8b9c215461d2fef6d018766f70.woff;
  --zd-proxima-nova-regular-italic-latin-ext-woff2: ac0cc938b6f4bcc70c036168761eb9d7.woff2;
  --zd-proxima-nova-regular-italic-latin-woff: ab1bf8afb5698d8e2dfe2c1f210437d2.woff;
  --zd-proxima-nova-regular-italic-latin-woff2: e5efce13f0a24c62813c6b163d9da53f.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
