@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-regular-cyrillic-woff: 72f0e3e8919647383ef725fd523ca5ff.woff;
  --zd-proxima-nova-regular-cyrillic-woff2: 56f886fbb704db7cce8438b6f2f61a4c.woff2;
  --zd-proxima-nova-regular-fallback-woff: 14d201c209b8ba70e95e57aa95711bae.woff;
  --zd-proxima-nova-regular-fallback-woff2: 7657327d3ed4ea6019cb71ec8f63925e.woff2;
  --zd-proxima-nova-regular-greek-woff: 6a2db8af304fc7df0a3aa5dd62289c33.woff;
  --zd-proxima-nova-regular-greek-woff2: b6d892d0c68a6c42acc05f2d024b8d0d.woff2;
  --zd-proxima-nova-regular-latin-ext-woff: c9fb2bd3f637fff7ba841b86cf0fad79.woff;
  --zd-proxima-nova-regular-latin-ext-woff2: e1a6e54298674456d7ff7b3071ecc132.woff2;
  --zd-proxima-nova-regular-latin-woff: 43c3fabca82cb45331310a7ace6627bd.woff;
  --zd-proxima-nova-regular-latin-woff2: 024285dc0977da014627aa33f0537c60.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-regular-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-regular);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
