@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-semibold-cyrillic-woff: 407e38e0df899b02b40d7bd3bdf1300c.woff;
  --zd-proxima-nova-semibold-cyrillic-woff2: 61b2bc953c7547076a44a8a996049efe.woff2;
  --zd-proxima-nova-semibold-fallback-woff: bfb6d8bb016cabd199dc9a29c9974777.woff;
  --zd-proxima-nova-semibold-fallback-woff2: 0df3e000b8ae4f7780c778ffa7f0eee2.woff2;
  --zd-proxima-nova-semibold-greek-woff: 465044f9f7464e07b3763106135729f1.woff;
  --zd-proxima-nova-semibold-greek-woff2: ed2b3bddbb16e7c513aa5f66654545f8.woff2;
  --zd-proxima-nova-semibold-latin-ext-woff: a36f85953016bf54197778002a3d17f1.woff;
  --zd-proxima-nova-semibold-latin-ext-woff2: cf2f64901bd11fc78e501805599c0ab5.woff2;
  --zd-proxima-nova-semibold-latin-woff: a9db05180829a231b34cd1eb8f97a089.woff;
  --zd-proxima-nova-semibold-latin-woff2: 208d5e47ef38820da86658565adbac90.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
