@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-semibold-italic-cyrillic-woff: 9bfc630b63b230a025a1441242f4a74b.woff;
  --zd-proxima-nova-semibold-italic-cyrillic-woff2: ef9fb3ba6401a954acc420cdf5f073c3.woff2;
  --zd-proxima-nova-semibold-italic-fallback-woff: e04e3be0838abb428a47412a40cab993.woff;
  --zd-proxima-nova-semibold-italic-fallback-woff2: 1069337c18ef8787df2e581854c6315d.woff2;
  --zd-proxima-nova-semibold-italic-greek-woff: e52642be57c6e97d37606d94bb8d5830.woff;
  --zd-proxima-nova-semibold-italic-greek-woff2: b3c30ce04e2ff35610c08e277b812255.woff2;
  --zd-proxima-nova-semibold-italic-latin-ext-woff: 8d6afbd5cf972a7590c01c09396fb5a1.woff;
  --zd-proxima-nova-semibold-italic-latin-ext-woff2: 30b60dbff6250b2916c6cae4a075915c.woff2;
  --zd-proxima-nova-semibold-italic-latin-woff: 50e482b886833bec90d760170e027ef2.woff;
  --zd-proxima-nova-semibold-italic-latin-woff2: 289caee6f88e9916aa65aa571fddee27.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-semibold-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-semibold);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
