@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-thin-italic-cyrillic-woff: 7a5e426fbb8ecfd6d571d37f4fa82092.woff;
  --zd-proxima-nova-thin-italic-cyrillic-woff2: d4544ab16ff2de8f9c1aa435b14d77c9.woff2;
  --zd-proxima-nova-thin-italic-fallback-woff: 4147dff1e10f2ece25976795653f9fd2.woff;
  --zd-proxima-nova-thin-italic-fallback-woff2: 875f056e6fe54a1c83e41b848fa527e4.woff2;
  --zd-proxima-nova-thin-italic-greek-woff: 90a7ab9d9387f9602e860d7fe099493a.woff;
  --zd-proxima-nova-thin-italic-greek-woff2: 912553c4f50973dc4ad8b61b12195ea0.woff2;
  --zd-proxima-nova-thin-italic-latin-ext-woff: 1be8c6d718865b2a0ac73692eb38eedb.woff;
  --zd-proxima-nova-thin-italic-latin-ext-woff2: db01f8c694a5ce87041ca7611e470c60.woff2;
  --zd-proxima-nova-thin-italic-latin-woff: ed7feada48892b5f5d20537b7c78ba7f.woff;
  --zd-proxima-nova-thin-italic-latin-woff2: 0feea330f830ae358b49e7c600127d28.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-greek);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-cyrillic);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-latin-ext);
  font-style: italic;
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-italic-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-latin);
  font-style: italic;
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
