@import '../variables';
@import 'zd-css-variables';

:root {
  /* stylelint-disable max-line-length */
  --zd-proxima-nova-thin-cyrillic-woff: 4a387b1d1822d78140cff8938701d508.woff;
  --zd-proxima-nova-thin-cyrillic-woff2: 63a80de45cb14190ac8c4bae7f9973c4.woff2;
  --zd-proxima-nova-thin-fallback-woff: b554036306f24ed3d9318045cfaa6aa9.woff;
  --zd-proxima-nova-thin-fallback-woff2: cfabfabb2f999f967043d67a4de3f0e1.woff2;
  --zd-proxima-nova-thin-greek-woff: 7fbbfa9945c50b3d5730e499871f775c.woff;
  --zd-proxima-nova-thin-greek-woff2: d52dbc9b85d54b6616fe189b75fda343.woff2;
  --zd-proxima-nova-thin-latin-ext-woff: 19698a7cbb503b5ff4f3a12997df623b.woff;
  --zd-proxima-nova-thin-latin-ext-woff2: 597834d83fbd67e3a05a843369cc2c7a.woff2;
  --zd-proxima-nova-thin-latin-woff: a4996343ba918b86bdeed60c0508e96a.woff;
  --zd-proxima-nova-thin-latin-woff2: ae3a4266bebfc4d6950f7fa601fab790.woff2;
  /* stylelint-enable max-line-length */
}

/* stylelint-disable function-url-quotes, function-whitespace-after */
@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-fallback-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-fallback-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-greek-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-greek-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-greek);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-cyrillic-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-cyrillic-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-cyrillic);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-latin-ext-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-latin-ext-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-latin-ext);
}

@font-face {
  font-family: var(--zd-font-family-proxima-nova);
  src:
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-latin-woff2)) format('woff2'),
    url(var(--zd-font-source-path)/var(--zd-proxima-nova-thin-latin-woff)) format('woff');
  font-weight: var(--zd-font-weight-thin);
  unicode-range: var(--zd-unicode-range-latin);
}
/* stylelint-enable function-url-quotes, function-whitespace-after */
