@import '@zendeskgarden/css-variables';
@import '../_variables';

:root {
  --zd-range__label-line-height: calc(30 / 14);
  --zd-range__label--regular-font-weight: var(--zd-font-weight-regular);
  --zd-range__label--sm-line-height: calc(28 / 14);
  --zd-range__hint-line-height: calc(20 / 14);
  --zd-range__hint-margin-top: 8px;
  --zd-range__hint--sm-margin-top: 4px;
  --zd-range__message-line-height: calc(16 / 12);
  --zd-range__message-margin-top: 8px;
  --zd-range__message-padding: var(--zd-spacing);
}

.c-range__label {
  vertical-align: middle;
  line-height: var(--zd-range__label-line-height);
  color: var(--zd-input__label-color);
  font-size: var(--zd-input__label-font-size);
  font-weight: var(--zd-input__label-font-weight);
}

.c-range__label--regular {
  font-weight: var(--zd-range__label--regular-font-weight);
}

.c-range__label--sm {
  line-height: var(--zd-range__label--sm-line-height);
}

.c-range__hint {
  line-height: var(--zd-range__hint-line-height);
  color: var(--zd-input__hint-color);
  font-size: var(--zd-input__hint-font-size);
}

.c-range__message {
  display: inline-block;
  vertical-align: middle;
  line-height: var(--zd-range__message-line-height);
  color: var(--zd-input__message-color);
  font-size: var(--zd-input__message-font-size);
}

.c-range__message--error,
.c-range__message--success,
.c-range__message--warning {
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: var(--zd-range__message-padding);
}

.c-range__message--error {
  background-image: var(--zd-input__message--error-background-image);
  color: var(--zd-input__message--error-color);
}

.c-range__message--success {
  background-image: var(--zd-input__message--success-background-image);
  color: var(--zd-input__message--success-color);
}

.c-range__message--warning {
  background-image: var(--zd-input__message--warning-background-image);
  color: var(--zd-input__message--warning-color);
}

.is-rtl.c-range__message--error,
.is-rtl.c-range__message--success,
.is-rtl.c-range__message--warning {
  background-position: center right;
  padding-right: var(--zd-range__message-padding);
  padding-left: 0;
}

.c-range__hint + .c-range__input,
.c-range__hint + .c-range__slider,
.c-range__input + .c-range__hint,
.c-range__slider + .c-range__hint {
  margin-top: var(--zd-range__hint-margin-top);
}

.c-range__hint--sm + .c-range__input--sm,
.c-range__hint--sm + .c-range__slider--sm,
.c-range__input--sm + .c-range__hint--sm,
.c-range__slider--sm + .c-range__hint--sm {
  margin-top: var(--zd-range__hint--sm-margin-top);
}

.c-range__label + .c-range__hint {
  margin-top: calc(var(--zd-range__hint-margin-top) / 2 * -1);
}

.c-range__input + .c-range__message,
.c-range__slider + .c-range__message {
  margin-top: var(--zd-range__message-margin-top);
}

.c-range .c-range__hint {
  display: block;
}

.c-range--inline .c-range__input + .c-range__message,
.c-range--inline .c-range__slider + .c-range__message {
  margin-top: 0;
}
