@import '../_variables';

:root {
  --zd-range__slider-height: calc(calc(var(--zd-range-track-margin-y) * 2) + var(--zd-range-track-height));
  --zd-range__slider__track-margin-top: calc(var(--zd-range-track-height) / 2 * -1);
  --zd-range__slider__track-padding: 0 calc(var(--zd-range-thumb-size) / 2);
  --zd-range__slider__track__rail-margin: 0 calc(var(--zd-range-thumb-size) / 2) 0 calc(var(--zd-range-thumb-size) / 2 * -1);
  --zd-range__slider__track__rail-margin-rtl: 0 calc(var(--zd-range-thumb-size) / 2 * -1) 0 calc(var(--zd-range-thumb-size) / 2);
  --zd-range--inline__slider-inline-size: 129px; /* match Chrome default */
}

.c-range__slider {
  display: block;
  position: relative;
  z-index: 0;
  cursor: pointer;
  height: var(--zd-range__slider-height);
}

.c-range__slider__track {
  position: absolute;
  top: 50%;
  margin-top: var(--zd-range__slider__track-margin-top);
  border-radius: var(--zd-range-track-border-radius);
  background-color: var(--zd-range-track-background-color);
  background-origin: content-box;
  background-image: var(--zd-range-track-background-image);
  background-repeat: repeat-y;
  padding: var(--zd-range__slider__track-padding);
  width: 100%;
}

.c-range__slider__track__rail {
  position: relative;
  margin: var(--zd-range__slider__track__rail-margin);
  height: var(--zd-range-track-height);
}

.c-range__slider__track__rail__thumb {
  appearance: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin-top: calc(var(--zd-range-thumb-size) / 2 * -1);
  border: var(--zd-range-thumb-border);
  border-radius: var(--zd-range-thumb-border-radius);
  box-shadow: var(--zd-range-thumb-box-shadow);
  background-color: var(--zd-range-thumb-background-color);
  cursor: inherit;
  width: var(--zd-range-thumb-size);
  height: var(--zd-range-thumb-size);
  box-sizing: border-box;
  font-size: 0;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
.c-range__slider__track__rail__thumb::range-track,
.c-range__slider__track__rail__thumb::range-thumb {
  appearance: none;
}
/* stylelint-enable selector-pseudo-element-no-unknown */

.c-range__slider__track__rail__thumb::-ms-tooltip {
  display: none;
}

.c-range__slider__track__rail__thumb:first-of-type {
  left: 0;
}

.c-range__slider__track__rail__thumb:last-of-type {
  left: 100%;
}

/* stylelint-disable selector-max-specificity, no-descending-specificity */
.c-range__slider__track__rail__thumb:focus {
  outline: none;
}

.c-range__slider__track__rail__thumb.is-focused {
  box-shadow: var(--zd-forms-focused-box-shadow);
}

.c-range__slider:not(.is-disabled) .c-range__slider__track__rail__thumb:active,
.c-range__slider.is-active .c-range__slider__track__rail__thumb:first-of-type {
  background-color: var(--zd-range-active-thumb-background-color);
}

.c-range__slider__track__rail__thumb.is-focused:active {
  box-shadow: none;
}

.c-range__slider.is-disabled {
  cursor: default;
}

.c-range__slider.is-disabled .c-range__slider__track {
  background-color: var(--zd-range-disabled-track-background-color);
  background-image: var(--zd-range-disabled-track-background-image);
}

.c-range__slider.is-disabled .c-range__slider__track__rail__thumb {
  border-color: var(--zd-range-disabled-thumb-border-color);
  box-shadow: none;
  background-color: var(--zd-range-disabled-thumb-background-color);
}

.c-range--inline .c-range__slider {
  display: inline-block;
  vertical-align: middle;
  inline-size: var(--zd-range--inline__slider-inline-size);
}
/* stylelint-enable selector-max-specificity, no-descending-specificity */

.c-range__slider.is-rtl .c-range__slider__track__rail {
  margin: var(--zd-range__slider__track__rail-margin-rtl);
}
